(function( $ ) {

  // Includes a random The Artificial logo
  //
  // Usage: $('.logo').artificialLogo();
  //
  // Options:
  //   image: selector (default: 'a')
  //     contents will be replaced with logo SVG
  //   attribution: selector (default: 'div')
  //     contents will be replaced with link to logo author's page

  $.fn.artificialLogo = function( options ) {
 <%
  people = [
    { name: 'Shannon E. Thomas',  username: 'shannon' },
    { name: 'Hans Gerwitz',       username: 'hans' },
    { name: 'Jo Szczpanska',      username: 'jo' },
    { name: 'Carol Liao',         username: 'carol' },
    { name: 'Susana Passinhas',   username: 'susana' },
    { name: 'Ariane Garoff',      username: 'ariane' },
    { name: 'Natalia Bourges',    username: 'natalia' },
    { name: 'Katinka Berghuis',   username: 'katinka' }
  ]

  people.each do |person|
    path = "images/logo-#{person[:username]}.svg"
    if resource = sitemap.find_resource_by_path(path)
      file = File.open(resource.source_file, 'r')
      person[:svg] = file.read
    end

    person[:url] = "//theartificial.nl/people/#{person[:username]}.html"
  end

  people.reject!{|p| p[:svg].nil?}
%>
    var settings = $.extend({
      image: "a",
      attribution: "div"
    }, options );

    var logos = <%= JSON.generate(people) %>;

    var imageElement = this.find(settings.image);
    var attributionElement = this.find(settings.attribution);

    var i = Math.floor( Math.random() * logos.length );

    if (imageElement.length && logos.length) {
      var svg = logos[i].svg;
      imageElement.html(svg);
    } else {
      console.warn('artificialLogo: cannot find image element ' + imageSelector);
    }

    if (attributionElement.length) {
      var link = '<a class="small-copy" href="' + logos[i].url + '">logo by ' + logos[i].name + '</a>';
      attributionElement.html(link);
    } else {
      console.log('artificialLogo: cannot find attribution element ' + attributionSelector);
    }
  };

}( jQuery ));
