---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<div class="bleed tulip">
		<div class="flexcontainer">
			<div class="col-8 title">
				<div class="padded center">
					<h1>Our Mission</h1>
					<p>We believe in leaving everything better than we found it.</p>
				</div>
			</div>
		</div>
	
		<div class="flexcontainer">
			<div class="col-8">
				<div class="padded center">
					<h1>01</h1>
					<h4>We are a digital product design agency.</h4>
					<p>We believe in making over talking and convey our ideas through sketches, pixels, and prototypes. We're excited to learn new techniques and technologies, especially if it means creating a better product.</p>
					
					<h1>02</h1>
					<h4>Collaboration is at the core of what we do, and we know that we are better together than as individuals.</h4>
					
					<h1>03</h1>
					<h4>Our work is based in logic, but enlivened by emotion.</h4>
					<p>We are all generalists—artists who work in code and technologists with business strategy expertise. We approach problems from the perspectives of business, design, tecchnology, and behavior to find solutions in unexpected places.</p>
					
					<h1>04</h1>	
					<h4>We are insatiably curious and fearless in the face of the new.</h4> 
					<p>We're always looking for like-minded explorers to share our adventures, so if you're feeling courageous, drop us a line. Anything could happen!</p>
				</div>
			</div>
		</div>		
	</div>
</section>
