---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<div class="bleed padded-bottom tulip">
		<div class="flexcontainer">
			<div class="col-8 title">
				<div class="padded center">
					<h1>Our Mission</h1>
					<p>We believe in leaving everything better than we found it.</p>
				</div>
			</div>
		</div>
	
		<div class="flexcontainer">
			<div class="col-10">
				<div class="padded">
					<h3>what?</h3>
					<h4>We are a digital product design agency.</h4>
					<p>We believe in making over talking and convey our ideas through sketches, pixels, and prototypes. We're excited to learn new techniques and technologies, especially if it means creating a better product.</p>
					
					<h3>who?</h3>
					<h4>Collaboration is at the core of what we do, and we know that we are better together than as individuals.</h4>
					<p>We've studied (academically and professionally) psychology, computer science, painting, printmaking, advertising, computer arts, graphic and digital design, and industrial design. We love color, typography, generative systems, and interactive media. The combination of our diverse backgrounds helps us find unique solutions.
					
					<h3>how?</h3>
					<h4>Our work is based in logic, but enlivened by emotion.</h4>
					<p>We understand all stages of business and software development and can integrate throughout the product lifestyle. We know how to support business and development stakeholders, and where to challenge convention to deliver user experiences that delight customers.</p>
					
					<h3>why?</h3>	
					<h4>We are insatiably curious and fearless in the face of the new.</h4> 
					<p>We strive to understand the world around us. We learn by making, and are always looking for new ways to explore new techniques and emerging technologies.</p>
				</div>
			</div>
		</div>		
	</div>
</section>
