<div class="bleed cool-grey-80">
  <div class="flex container project-nav">
    <div class="col-12">
      <div class="padded">
        <h2>Things</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="padded">
        <h3 class="heading">Health</h3>
        <ul>
          <li>Apple Watch</li>
          <li>Sonicare DiamondClean</li>
          <li>Spire</li>
          <li>Withings Aura</li>
          <li>Nokia Withings Thermo</li>
          <li>VanMoof Electrified S</li>
          <li>Fitbit Flex</li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="padded">
        <h3 class="heading">Home</h3>
        <ul>
          <li>Amazon Echo Dot</li>
          <li>Amazon Echo Show</li>
          <li>Hue</li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="padded">
        <h3 class="heading">Media</h3>
        <ul>
          <li>Amazon Kindle</li>
          <li>Polaroid Cube Plus</li>
          <li>Olympus EM10</li>
          <li>Apple TV</li>
          <li>BOSE Soundlink II</li>
          <li>UE Mini Boom</li>
          <li>Apple Air Pods </li>
        </ul>
      </div>
    </div>
    <div class="col-3">
      <div class="padded">
        <h3 class="heading">Other</h3>
        <ul>
          <li>Apple Pencil</li>
          <li>Beasts of Balance</li>
          <li>Pokémon Go Plus</li>
          <li>Foldio</li>
        </ul>
      </div>
    </div>
  </div>
</div>
