<div class="bleed cool-grey-70">

  <div id="intro" class="flex container">
    <div class="col-8 left-2 right-2">
      <h1 class="title">Connecting Things</h1>
      <p>To design magical connection experiences that seem smooth and effortless to users, it's imperative that designers understand not only the best practices in design, but also in technology.</p>
    </div>
  </div>

  <div class="container extra-bottom packery">
    <div class="col-3 packed">
      <a href="pokemon-go-plus.html">
        <div class="card">
          <div class="padded">
            <img src="images/pokemongoplus/thing.png">
            <h3 class="preview-link">Pokémon Go Plus</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-3 packed">
      <div class="card">
        <div class="padded">
          <img src="images/applewatch/thing.png">
          <h3 class="preview-link">Apple Watch</h3>
        </div>
      </div>
    </div>
    <div class="col-3 packed">
      <div class="card">
        <div class="padded">
          <img src="images/spire/thing.png">
          <h3 class="preview-link">Spire</h3>
        </div>
      </div>
    </div>
    <div class="col-3 packed">
      <div class="card">
        <div class="padded">
          <img src="images/fitbitflex/thing.png">
          <h3 class="preview-link">Fitbit Flex</h3>
        </div>
      </div>
    </div>
    <div class="col-3 packed">
      <div class="card">
        <div class="padded">
          <img src="images/pokemongoplus/thing.png">
          <h3 class="preview-link">Pokémon Go Plus</h3>
        </div>
      </div>
    </div>
    <div class="col-3 packed">
      <div class="card">
        <div class="padded">
          <img src="images/applewatch/thing.png">
          <h3 class="preview-link">Apple Watch</h3>
        </div>
      </div>
    </div>
    <div class="col-3 packed">
      <div class="card">
        <div class="padded">
          <img src="images/spire/thing.png">
          <h3 class="preview-link">Spire</h3>
        </div>
      </div>
    </div>
    <div class="col-3 packed">
      <div class="card">
        <div class="padded">
          <img src="images/fitbitflex/thing.png">
          <h3 class="preview-link">Fitbit Flex</h3>
        </div>
      </div>
    </div>
  </div>

   <%= partial 'things_footer' %>

</div>
