<div class="navigation">
    <button id="prevButton">Prev</button>
    <button id="nextButton">Next</button>
</div>

<script>

function navi() {
  var nextButton = document.getElementById('nextButton');
  nextButton.addEventListener('click', function(){
      console.log("Youpi");
    })
  }
</script>
