
<div class="bleed walkthrough">
  <div class="flex container">
    <div class="col-4 thing-space">
      <div class="padded">
        <img src="images/pokemongoplus/thing.png">
      </div>
    </div>
    <div class="col-4 flow-space">
      <div class="padded">
        <img height="360px" src="images/pokemongoplus/flow/Thing-OS_pairs.gif">
      </div>
    </div>
    <div class="col-4 screen-space">
      <div class="padded">
        <img src="images/pokemongoplus/screen.png">
      </div>
    </div>
  </div>
</div>

<div class="bleed cool-grey-80">
  <div class="flex container walkthrough-controls">
    <div class="col-2">
      <div class="padded">
        <a class="previous-button" href="pokemon-go-plus3.html">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 width="20px" height="20px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
          <path class="arrow" d="M17,9H4.414l6.293-6.293c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-8,8c0,0,0,0-0.001,0.001
          	L0.586,10l0.707,0.707c0,0,0,0,0.001,0.001l8,8C9.488,18.902,9.744,19,10,19s0.512-0.098,0.707-0.293
          	c0.391-0.391,0.391-1.023,0-1.414L4.414,11H17c0.552,0,1-0.448,1-1S17.552,9,17,9z"/>
          </svg>
          <p>Previous</p>
        </a>
      </div>
    </div>
    <div class="col-8">
      <div class="padded">
        <p class="current-step">4/6 Pokémon Go Plus and OS pair.</p>
      </div>
    </div>
    <div class="col-2">
      <div class="padded">
        <a class="next-button" href="pokemon-go-plus5.html">
          <?xml version="1.0" encoding="utf-8"?>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="20px" height="20px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
          <path class="arrow" d="M18.708,10.706L19.414,10l-0.706-0.706c-0.001-0.001-0.001-0.001-0.002-0.002l-7.999-7.999
            c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L15.586,9H3c-0.553,0-1,0.448-1,1s0.447,1,1,1h12.586l-6.293,6.293
            c-0.391,0.391-0.391,1.023,0,1.414C9.488,18.902,9.744,19,10,19s0.512-0.098,0.707-0.293l7.999-7.999
            C18.707,10.707,18.707,10.707,18.708,10.706z"/>
          </svg>
          <p>next</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bleed cool-grey-10">
  <div class="flex container extra-bottom">
    <div class="col-12">
      <div class="padded">
        <h1 class="title">Pokémon Go Plus</h1>
        <h3 class="step-count">6 Steps</h3>
      </div>
    </div>

    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h2 class="subtitle"><span class="sentence">The connection process is </span>easy</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        <h2 class="subtitle"><span class="sentence">The security is </span>more than enough</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        <h2 class="subtitle"><span class="sentence">The resiliance is </span>terrible</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
      </div>
    </div>
  </div>
</div>

<%= partial 'things_footer' %>
