---
layout: projects/connecting-things/_thing_layout
title: Apple TV
preview: thing/top.png
date: 2018-02-27
published: false
---
<p>
Apple TV streams movies, TV shows, and other media to most television that have an HDMI port. Its interface is compatible with a variety of services such as Netflix, or Apple music. It works with a remote peripheral.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>a little long
</h2>
<p>
First things first, the black box of the Apple TV has to be plugged into power. Then it can be connected to the internet using an Ethernet cable, or Wi-Fi. In a third time, Apple TV should be plugged into a television via HDMI. The Apple TV setup screen should then appear on the television display. After choosing a language, the Apple TV can be configured using an iPhone or another Apple device. Using a spare device for the setup simplifies the transfer of settings from the iOS device to the Apple TV, including login information for Apple products and Wi-Fi credentials.
</p>

<!-- <h2 class="subtitle">
  <span class="sentence">The security is </span>reassuring
</h2>
<p>
Any connection using a physical cable feels more secure because there is no room for mistaking a connected product with another product. The iOS device facilitating the setup of the TV is using a verified Bluetooth connection both at the protocol and at the software layers. Because both the Apple TV and the iOS device are connected to the same verified Wi-Fi network, they can exchange information securely. Plus Apple tracks the product and the device proximity.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>okay
</h2>
<p>
To set up the Apple TV with another iOS device, the two items should be extremely close to each other. Otherwise, the Apple TV won’t detect the device supposed to help to set it up. Once set up, the TV function either with Wi-Fi or with Ethernet that makes a backup solution if one or the other connection is not working.
</p> -->

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/thing.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  }
]
</script>
