---
title: Services
nofeed: true
---
<% content_for :javascript_tags do %>
	<%= javascript_include_tag 'jquery.color-2.1.2' %>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.js'></script>
<% end %>

<% content_for :stylesheet_tags do %>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.css' rel='stylesheet' />
<% end %>
<section id="content">

<!-- page content -->
	<div class="bleed service-bg">
		<div class="flex container">
			<div class="col-10 left-1 right-1 section-title">
				<div class="padded center">
					<h1 class="title">Our Process</h1>
				</div>
				<div class="padded center">
					<h2 class="subtitle">To create exceptional work, we start with exceptional people.</h2>
					<p class="large-body">The Artificial was founded in the hope of allowing talented, curious designers to flourish. Through the years, this orientation has produced a team that works a little differently than others, with some key benefits for our clients.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bleed cool-grey-80">
		<div class="flex container">
			<div class="col-3">
				<div class="padded">
					<div id="svg-holistic">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="124px" height="124px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;" xml:space="preserve">
							<g>
								<circle class="svg-transparent hol-01" cx="62" cy="38" r="36"/>
								<circle class="svg-transparent hol-04" cx="62" cy="86" r="36"/>
								<circle class="svg-transparent hol-02" cx="41.215" cy="50" r="36"/>
								<circle class="svg-transparent hol-05" cx="82.785" cy="74" r="36"/>
								<circle class="svg-transparent hol-03" cx="41.215" cy="74" r="36"/>
								<circle class="svg-transparent hol-06" cx="82.785" cy="50" r="36"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div class="padded">
					<h2 class="subtitle">Holistic</h2>
					<p class="large-body">No individual artificer has a narrowly scoped role like "visual designer" or "interaction designer". We recognize that our skills vary and collaborate accordingly while avoiding rigid roles. This keeps our perspective broad and means "how it works" and "how it feels" are both everyone's concern, so stay in harmony.</p>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<div id="svg-integrated">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="124px" height="124px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;" xml:space="preserve">
							<g>
								<circle class="svg-transparent int-01" cx="62" cy="7" r="5"/>
								<circle class="svg-transparent int-02" cx="62" cy="117" r="5"/>
								<circle class="svg-transparent int-03" cx="34.5" cy="14.369" r="5"/>
								<circle class="svg-transparent int-04" cx="89.5" cy="109.631" r="5"/>
								<circle class="svg-transparent int-05" cx="14.369" cy="34.5" r="5"/>
								<circle class="svg-transparent int-06" cx="109.631" cy="89.5" r="5"/>
								<circle class="svg-transparent int-07" cx="7" cy="62" r="5"/>
								<circle class="svg-transparent int-08" cx="117" cy="62" r="5"/>
								<circle class="svg-transparent int-09" cx="14.369" cy="89.5" r="5"/>
								<circle class="svg-transparent int-10" cx="109.631" cy="34.5" r="5"/>
								<circle class="svg-transparent int-11" cx="34.5" cy="109.631" r="5"/>
								<circle class="svg-transparent int-12" cx="89.5" cy="14.369" r="5"/>
								<line class="svg-transparent int-01" x1="62" y1="12" x2="62" y2="42"/>
								<line class="svg-transparent int-02" x1="62" y1="82.679" x2="62" y2="112.679"/>
								<line class="svg-transparent int-03" x1="36.83" y1="18.744" x2="51.83" y2="44.725"/>
								<line class="svg-transparent int-04" x1="72.17" y1="79.954" x2="87.17" y2="105.935"/>
								<line class="svg-transparent int-05" x1="18.405" y1="37.17" x2="44.386" y2="52.17"/>
								<line class="svg-transparent int-06" x1="79.614" y1="72.509" x2="105.595" y2="87.509"/>
								<line class="svg-transparent int-07" x1="11.661" y1="62.339" x2="41.661" y2="62.339"/>
								<line class="svg-transparent int-08" x1="82.339" y1="62.339" x2="112.339" y2="62.339"/>
								<line class="svg-transparent int-09" x1="18.405" y1="87.509" x2="44.386" y2="72.509"/>
								<line class="svg-transparent int-10" x1="79.614" y1="52.17" x2="105.595" y2="37.17"/>
								<line class="svg-transparent int-11" x1="36.83" y1="105.935" x2="51.83" y2="79.954"/>
								<line class="svg-transparent int-12" x1="72.17" y1="44.725" x2="87.17" y2="18.744"/>
								<circle class="svg-opaque" cx="62" cy="62" r="20"/>
							</g>
						</svg>
					</div>
				</div>
			</div>

			<div class="col-9">
				<div class="padded">
					<h2 class="subtitle">Integrated</h2>
					<p class="large-body">As a boutique, we cannot pretend to bring 100% of the knowledge and skills needed for end-to-end product development. It's important that our clients and partners contribute to our work so we can learn together. Our value derives from our skills, experience, and approach, not from magic, so there is no need to hide the process.</p>
					<p class="large-body">It can be a challenge to mesh design processes with lean businesses, agile software teams, or careful scaling and risk reducing bureaucracies. We enjoy taking on these challenges to show how design can contribute to everyone's success.</p>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<div id="svg-focused">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="140px" height="140px" viewBox="0 0 140 140" style="enable-background:new 0 0 140 140;" xml:space="preserve">
							<g>
								<circle class="svg-opaque" cx="70" cy="70" r="10"/>
								<circle class="svg-transparent foc-01" cx="70" cy="70" r="20"/>
								<circle class="svg-transparent foc-02" cx="70" cy="70" r="30"/>
								<circle class="svg-transparent foc-03" cx="70" cy="70" r="40"/>
								<circle class="svg-transparent foc-04" cx="70" cy="70" r="50"/>
								<circle class="svg-transparent foc-05" cx="70" cy="70" r="60"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div class="padded">
					<h2 class="subtitle">Focused</h2>
					<p class="large-body">To really design a system with purpose, a level of obsession is needed. Working for only a few hours and then shifting context to another project or a meeting costs much more than time spent. We strive to keep every team member focused on one product each day, so when we are riding a bike to work we can collect our thoughts about it.</p>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<div id="svg-generative">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="140px" height="140px" viewBox="0 0 140 140" style="enable-background:new 0 0 140 140;" xml:space="preserve">
							<g>
								<circle class="svg-opaque gen-01" cx="100" cy="70" r="5"/>
								<circle class="svg-opaque gen-02" cx="70" cy="70" r="5"/>
								<circle class="svg-opaque gen-03" cx="40" cy="70" r="5"/>
								<circle class="svg-opaque gen-04" cx="10" cy="70" r="5"/>
								<circle class="svg-opaque gen-05" cx="100" cy="100" r="5"/>
								<circle class="svg-opaque gen-06" cx="70" cy="100" r="5"/>
								<circle class="svg-opaque gen-07" cx="70" cy="130" r="5"/>
								<circle class="svg-opaque gen-08" cx="70" cy="10" r="5"/>
								<circle class="svg-opaque gen-09" cx="40" cy="100" r="5"/>
								<circle class="svg-opaque gen-10" cx="100" cy="40" r="5"/>
								<circle class="svg-opaque gen-11" cx="70" cy="40" r="5"/>
								<circle class="svg-opaque gen-12" cx="40" cy="40" r="5"/>
								<circle class="svg-opaque gen-13" cx="130" cy="70" r="5"/>
								<circle class="svg-opaque gen-14" cx="85" cy="55" r="5"/>
								<circle class="svg-opaque gen-15" cx="55" cy="55" r="5"/>
								<circle class="svg-opaque gen-16" cx="85" cy="25" r="5"/>
								<circle class="svg-opaque gen-17" cx="55" cy="25" r="5"/>
								<circle class="svg-opaque gen-18" cx="85" cy="115" r="5"/>
								<circle class="svg-opaque gen-19" cx="55" cy="115" r="5"/>
								<circle class="svg-opaque gen-20" cx="25" cy="55" r="5"/>
								<circle class="svg-opaque gen-21" cx="115" cy="55" r="5"/>
								<circle class="svg-opaque gen-22" cx="85" cy="85" r="5"/>
								<circle class="svg-opaque gen-23" cx="55" cy="85" r="5"/>
								<circle class="svg-opaque gen-24" cx="25" cy="85" r="5"/>
								<circle class="svg-opaque gen-25" cx="115" cy="85" r="5"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div class="padded">
					<h2 class="subtitle">Generative and Reductive</h2>
					<p class="large-body">Everybody knows that design is a process of generating new solutions, synthesizing for direction, learning, and repeating it all. "Design thinking" has become very popular to say but is rarely performed. We believe in this process at large and small scales.</p>
					<p class="large-body">It sounds simple, but means quickly generating many solutions of useful fidelity and embracing that finding the right one means "throwing away" others. Only with our holistic approach have we seen the efficiency needed to do this affordably, and it requires a broad perspective to move fearlessly forward.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bleed sapphire-palegrape">
		<div class="flex container">
			<div class="col-4">
				<div class="padded center">
					<h2 class="subtitle">Define</h2>
					<p class="large-body">We begin projects by understanding the context we’re designing for. We seek to discover the desires of the business, the needs of our users, the constraints of the technologies we’re working with.</p>
				</div>
			</div>
				<div class="col-4">
					<div class="padded center">
						<h2 class="subtitle">Design</h2>
						<p class="large-body">Design synthesizes the finding from the design phase into designs that can be seen and understood. We begin at low fidelity sketches and moodboards, and move into full-fledged comps, videos, and motion studies.</p>
					</div>
				</div>
					<div class="col-4">
						<div class="padded center">
							<h2 class="subtitle">Refine</h2>
							<p class="large-body">The refine phase of work focuses on details, communication, and validation. This phase of work is typically the longest, extending through implementation and product or service iterations.</p>
						</div>
					</div>
			</div>
		</div>

		<div class="bleed cool-grey-90">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded center">
						<h3 class="subtitle">Our services are not one-size-fits-all. We work closely with our clients to find the approach that works best.</h3>
					</div>
				</div>
				<div class="col-3">
					<div class="card center">
						<div class="padded service-box">
							<div id="svg-strategy">
								<svg version="1.1" id="content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="120px" height="120px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
		 							<circle class="svg-opaque str-01" cx="30" cy="60" r="10"/>
									<circle class="svg-opaque str-02" cx="50" cy="60" r="10"/>
									<circle class="svg-opaque str-03" cx="70" cy="60" r="10"/>
									<circle class="svg-opaque str-04" cx="90" cy="60" r="10"/>
								</svg>
							</div>
							<h2 class="small-subtitle">Design <br/> Strategy</h2>
							<p class="small-body">To make a thing, you must first understand its context.</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card center">
						<div class="padded service-box">
							<div id="svg-brand">
								<svg version="1.1" id="content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="120px" height="120px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
									<circle class="svg-opaque bra-01" cx="30" cy="30" r="5"/>
									<circle class="svg-opaque bra-02" cx="70" cy="30" r="5"/>
									<circle class="svg-opaque bra-03" cx="50" cy="50" r="5"/>
									<circle class="svg-opaque bra-04" cx="90" cy="50" r="5"/>
									<circle class="svg-opaque bra-05" cx="30" cy="70" r="5"/>
									<circle class="svg-opaque bra-06" cx="70" cy="70" r="5"/>
									<circle class="svg-opaque bra-07" cx="50" cy="90" r="5"/>
									<circle class="svg-opaque bra-08" cx="90" cy="90" r="5"/>
									<circle class="svg-opaque bra-09" cx="50" cy="30" r="5"/>
									<circle class="svg-opaque bra-10" cx="90" cy="30" r="5"/>
									<circle class="svg-opaque bra-11" cx="30" cy="50" r="5"/>
									<circle class="svg-opaque bra-12" cx="70" cy="50" r="5"/>
									<circle class="svg-opaque bra-13" cx="50" cy="70" r="5"/>
									<circle class="svg-opaque bra-14" cx="90" cy="70" r="5"/>
									<circle class="svg-opaque bra-15" cx="30" cy="90" r="5"/>
									<circle class="svg-opaque bra-16" cx="70" cy="90" r="5"/>
								</svg>
							</div>
							<h2 class="small-subtitle">Brand <br/> Experience</h2>
							<p class="small-body">A brand is as meaningful as the experience it provides.</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card center">
						<div class="padded service-box">
							<div id="svg-org">
								<svg version="1.1" id="content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="120px" height="120px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
									<circle class="svg-opaque org-01" cx="50" cy="30" r="6"/>
									<circle class="svg-opaque org-02" cx="90" cy="30" r="6"/>
									<circle class="svg-opaque org-03" cx="30" cy="50" r="6"/>
									<circle class="svg-opaque org-04" cx="70" cy="50" r="6"/>
									<circle class="svg-opaque org-05" cx="50" cy="70" r="6"/>
									<circle class="svg-opaque org-06" cx="90" cy="70" r="6"/>
									<circle class="svg-opaque org-07" cx="30" cy="90" r="6"/>
									<circle class="svg-opaque org-08" cx="70" cy="90" r="6"/>
								</svg>
							</div>
							<h2 class="small-subtitle">Organizational <br/> Change</h2>
							<p class="small-body">Experiences reflect the organizations they are born from.</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card center">
						<div class="padded service-box">
							<div id="svg-ux">
								<svg version="1.1" id="content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="120px" height="120px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
									<circle class="svg-opaque ux-01" cx="18" cy="60" r="6"/>
									<circle class="svg-opaque ux-04" cx="60" cy="60" r="6"/>
									<circle class="svg-opaque ux-03" cx="46" cy="60" r="6"/>
									<circle class="svg-opaque ux-02" cx="32" cy="60" r="6"/>
									<circle class="svg-opaque ux-05" cx="74" cy="60" r="6"/>
									<circle class="svg-opaque ux-06" cx="88" cy="60" r="6"/>
									<circle class="svg-opaque ux-07" cx="102" cy="60" r="6"/>
								</svg>
							</div>
							<h2 class="small-subtitle">User <br/> Experience</h2>
							<p class="small-body">Innovation is nothing without humanity.</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card center">
						<div class="padded service-box">
							<div id="svg-research">
								<svg version="1.1" id="content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="120px" height="120px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
		 							<circle class="svg-opaque res-01" cx="60" cy="60" r="5"/>
									<circle class="svg-transparent res-02" cx="60" cy="20" r="2"/>
									<circle class="svg-transparent res-03" cx="88.284" cy="31.716" r="2"/>
									<circle class="svg-transparent res-04" cx="100" cy="60" r="2"/>
									<circle class="svg-transparent res-05" cx="88.284" cy="88.284" r="2"/>
									<circle class="svg-transparent res-06" cx="60" cy="100" r="2"/>
									<circle class="svg-transparent res-07" cx="31.716" cy="88.284" r="2"/>
									<circle class="svg-transparent res-08" cx="20" cy="60" r="2"/>
									<circle class="svg-transparent res-09" cx="31.716" cy="31.716" r="2"/>
								</svg>
							</div>
							<h2 class="small-subtitle">User Research & Validation</h2>
							<p class="small-body">Involve actual users early and often.</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card center">
						<div class="padded service-box">
							<div id="svg-product">
								<svg version="1.1" id="content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="120px" height="120px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
									 <g class="ps-rotate">
										 <circle class="svg-opaque" cx="90" cy="90" r="2"/>
										 <circle class="svg-opaque" cx="30" cy="90" r="2"/>
										 <circle class="svg-opaque" cx="70" cy="70" r="2"/>
										 <circle class="svg-opaque" cx="50" cy="70" r="2"/>
										 <circle class="svg-opaque" cx="50" cy="50" r="2"/>
										 <circle class="svg-opaque" cx="30" cy="30" r="2"/>
										 <circle class="svg-opaque" cx="90" cy="30" r="2"/>
										 <circle class="svg-opaque" cx="70" cy="50" r="2"/>
										 <line class="svg-opaque" x1="31.333" y1="31.333" x2="48.625" y2="48.625"/>
										 <line class="svg-opaque" x1="88.833" y1="31.167" x2="71.583" y2="48.417"/>
										 <line class="svg-opaque" x1="48.542" y1="71.458" x2="31.458" y2="88.542"/>
										 <line class="svg-opaque" x1="71.333" y1="71.333" x2="88.625" y2="88.625"/>
									</g>
									<circle class="svg-transparent ps-01" cx="30" cy="60" r="5"/>
									<circle class="svg-transparent ps-01" cx="90" cy="60" r="5"/>
		 						 <circle class="svg-transparent ps-01" cx="60" cy="30" r="5"/>
		 						 <circle class="svg-transparent ps-01" cx="60" cy="90" r="5"/>
								 <circle class="svg-transparent ps-02" cx="38.787" cy="38.787" r="5"/>
								 <circle class="svg-transparent ps-02" cx="81.213" cy="81.213" r="5"/>
								 <circle class="svg-transparent ps-02" cx="38.787" cy="81.213" r="5"/>
								 <circle class="svg-transparent ps-02" cx="81.213" cy="38.787" r="5"/>
								</svg>
							</div>
							<h2 class="small-subtitle">Product & Service Design</h2>
							<p class="small-body">Balance business, behavior, beauty, and technology.</p>
					</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card center">
						<div class="padded service-box">
							<div id="svg-system">
								<svg version="1.1" id="content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="120px" height="120px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
									<circle class="svg-transparent sys-01" cx="50" cy="30" r="5"/>
		 							<line class="svg-transparent sys-02" x1="45" y1="30" x2="35" y2="30"/>
		 							<circle class="svg-transparent sys-03" cx="30" cy="30" r="5"/>
		 							<line class="svg-transparent sys-04" x1="30" y1="35" x2="30" y2="45"/>
		 							<circle class="svg-transparent sys-05" cx="30" cy="50" r="5"/>
		 							<line class="svg-transparent sys-06" x1="35" y1="50" x2="45" y2="50"/>
		 							<circle class="svg-transparent sys-07" cx="50" cy="50" r="5"/>
		 							<line class="svg-transparent sys-08" x1="50" y1="65" x2="50" y2="55"/>
		 							<circle class="svg-transparent sys-09" cx="50" cy="70" r="5"/>
		 							<line class="svg-transparent sys-10" x1="55" y1="70" x2="65" y2="70"/>
		 							<circle class="svg-transparent sys-11" cx="70" cy="70" r="5"/>
		 							<line class="svg-transparent sys-12" x1="75" y1="70" x2="85" y2="70"/>
		 							<circle class="svg-transparent sys-13" cx="90" cy="70" r="5"/>
		 							<line class="svg-transparent sys-14" x1="90" y1="75" x2="90" y2="85"/>
		 							<circle class="svg-transparent sys-15" cx="90" cy="90" r="5"/>
									<line class="svg-transparent" x1="70" y1="85" x2="70" y2="75"/>
									<line class="svg-transparent" x1="30" y1="75" x2="30" y2="85"/>
									<line class="svg-transparent" x1="45" y1="70" x2="35" y2="70"/>
									<line class="svg-transparent" x1="65" y1="50" x2="55" y2="50"/>
									<line class="svg-transparent" x1="85" y1="50" x2="75" y2="50"/>
									<line class="svg-transparent" x1="90" y1="35" x2="90" y2="45"/>
									<line class="svg-transparent" x1="90" y1="55" x2="90" y2="65"/>
									<circle class="svg-transparent" cx="70" cy="90" r="5"/>
									<circle class="svg-transparent" cx="30" cy="90" r="5"/>
									<circle class="svg-transparent" cx="90" cy="50" r="5"/>
									<circle class="svg-transparent" cx="30" cy="70" r="5"/>
									<circle class="svg-transparent" cx="90" cy="30" r="5"/>
									<circle class="svg-transparent" cx="70" cy="50" r="5"/>
								</svg>
							</div>
							<h2 class="small-subtitle">System <br/> Design</h2>
							<p class="small-body">Systems don't happen by accident.</p>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="card center">
						<div class="padded service-box">
							<div id="svg-launch">
								<svg version="1.1" id="content" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 width="120px" height="120px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
		 							<circle class="svg-opaque ls-01" cx="50" cy="50" r="16"/>
		 							<circle class="svg-opaque ls-02" cx="50" cy="70" r="16"/>
									<circle class="svg-opaque ls-03" cx="70" cy="50" r="16"/>
									<circle class="svg-opaque ls-04" cx="70" cy="70" r="16"/>
								</svg>
							</div>
							<h2 class="small-subtitle">Launch and Support Scaling</h2>
							<p class="small-body">Making experiences real takes more than great design.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bleed cool-grey-80">
			<div class="flex container">
				<div class="col-10 left-1 right-1">
					<div class="padded center">
						<h2 class="subtitle">You can count on us to bring expertise in design. We also have deep knowledge about the following industries:</h2>
					</div>
				</div>
				<div class="col-2">
					<div class="padded">
					</div>
				</div>
				<div class="col-10">
					<div class="padded">
						<h2 class="small-subtitle">IOT</h2>
						<p class="large-body">We pair a passion for technology with a love for exceptional UX to connect real-world products and services with digital experiences. From laser sintering machines to bicycles, we’ve created digital interfaces that improve experiences, not just complicate them.</p>
					</div>
			</div>
			<div class="col-2">
				<div class="padded">
				</div>
			</div>
			<div class="col-10">
				<div class="padded">
					<h2 class="small-subtitle">Consumer Lifestyle</h2>
					<p class="large-body">From onboarding experiences to long-term engagement, we work with brands to meaningfully engage consumers in their everyday lives. We’ve designed experiences that encourage confidence, that inspire adventure, and sometimes that just get out of the way so the user can enjoy life.</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
				</div>
			</div>
			<div class="col-10">
				<div class="padded">
					<h2 class="small-subtitle">Social Causes</h2>
					<p class="large-body">We work with social causes to bring thoughtful experiences to the people that need it most. Most recently, we worked with Corrio to design a brand and messaging strategy that reaches inmates and helps lower recidivism by providing connection with the outside world.</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
				</div>
			</div>
			<div class="col-10">
				<div class="padded">
					<h2 class="small-subtitle">Emerging Technologies</h2>
					<p class="large-body">Designing intuitive interfaces for new technologies poses an exciting challenge. We’ve created experiences to make 3D printing and scanning more accessible to consumers and to replace human services with self-guided robotic tools.</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
				</div>
			</div>
			<div class="col-10">
				<div class="padded">
					<h2 class="small-subtitle">Health Care</h2>
					<p class="large-body">We’ve worked with partners to bring to life health care solutions in both personal and professional contexts. We’ve designed systems that ensure the healthy development of babies, that encourage the maintenance of good oral health, and that improve the efficiency of operating rooms.</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
				</div>
			</div>
			<div class="col-10">
				<div class="padded">
					<h2 class="small-subtitle">Retail</h2>
					<p class="large-body">We pair a passion for technology with a love for exceptional UX to connect real-world products and services with digital experiences. From laser sintering machines to bicycles, we’ve created digital interfaces that improve experiences, not just complicate them.</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
				</div>
			</div>
			<div class="col-10">
				<div class="padded">
					<h2 class="small-subtitle">IOT</h2>
					<p class="large-body">We’ve designed experiences that bring rich data and artificial intelligence to brick and mortar stores, and others that bring the rich feel of the dressing room into the user’s living room.</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
				</div>
			</div>
			<div class="col-10">
				<div class="padded">
					<h2 class="small-subtitle">Smart Home</h2>
					<p class="large-body">We’ve worked large corporates and small startups to improve the places we live and work. Beyond the typical automations, deploying sensors helps users track and understand their environmental conditions. Precise but simple air quality optimization makes the home more comfortable, without making it feel more high-tech.</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
				</div>
			</div>
			<div class="col-10">
				<div class="padded">
					<h2 class="small-subtitle">Business Solutions</h2>
					<p class="large-body">We’ve worked large corporates and small startups to improve the places we live and work. Beyond the typical automations, deploying sensors helps users track and understand their environmental conditions. Precise but simple air quality optimization makes the home more comfortable, without making it feel more high-tech.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bleed turquoise-palegrass">
		<div class="flex container">
			<div class="col-10 left-1 right-1">
				<div class="padded center">
					<h2 class="subtitle">Have a project or an idea you'd like to collaborate with us on? Interested in what we can do for you?</h2>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<a class="emaillink" href="mailto:collaborate@theartificial.nl">
						<p class="services-button">Get in Touch</p>
					</a>
				</div>
			</div>


</section>
