---
title: Services
nofeed: true
---
<% content_for :javascript_tags do %>
	<%= javascript_include_tag 'jquery.color-2.1.2' %>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.js'></script>
<% end %>

<% content_for :stylesheet_tags do %>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.css' rel='stylesheet' />
<% end %>
<section id="content">

<!-- page content -->
	<div class="bleed service-bg">
		<div class="flex container">
			<div class="col-10 left-1 right-1 section-title">
				<div class="padded center">
					<h1 class="title">Our Process</h1>
				</div>
				<div class="padded center">
					<p class="subtitle">To create exceptional work, we start with exceptional people.</p>
					<p class="large-body">The Artificial was founded in the hope of allowing talented, curious designers to flourish. Through the years, this orientation has produced a team that works a little differently than others, with some key benefits for our clients.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bleed cool-grey-90">
		<div class="flex container">
			<div class="col-3">
				<div class="padded">
					<div id="svg-holistic">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="124px" height="124px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;" xml:space="preserve">
							<style type="text/css">
								.st0{fill:none;stroke:#757F7E;stroke-miterlimit:10;}
								.st1{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
							</style>
							<g>
								<circle class="st0" cx="62" cy="38" r="36"/>
								<circle class="st0" cx="62" cy="86" r="36"/>
								<circle class="st0" cx="41.215" cy="50" r="36"/>
								<circle class="st0" cx="82.785" cy="74" r="36"/>
								<circle class="st0" cx="41.215" cy="74" r="36"/>
								<circle class="st0" cx="82.785" cy="50" r="36"/>
								<path class="st1" d="M75.152,62c-0.725-2.044-1.636-4.054-2.76-6c-1.123-1.946-2.409-3.739-3.816-5.39
									C66.443,50.216,64.247,50,62,50c-2.247,0-4.443,0.216-6.576,0.61c-1.408,1.65-2.693,3.444-3.816,5.39
									c-1.124,1.946-2.034,3.956-2.76,6c0.725,2.044,1.636,4.054,2.76,6c1.123,1.946,2.409,3.739,3.816,5.39
									C57.557,73.784,59.753,74,62,74c2.247,0,4.443-0.216,6.576-0.61c1.408-1.65,2.693-3.444,3.816-5.39
									C73.516,66.054,74.427,64.044,75.152,62z"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div class="padded">
					<h2 class="sub-title">Holistic</h2>
					<p class="large-body">No individual artificer has a narrowly scoped role like "visual designer" or "interaction designer". We recognize that our skills vary and collaborate accordingly while avoiding rigid roles. This keeps our perspective broad and means "how it works" and "how it feels" are both everyone's concern, so stay in harmony.</p>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<div id="svg-integrated">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 width="124px" height="124px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;" xml:space="preserve">
							<style type="text/css">
								.st0{fill:none;stroke:#757F7E;stroke-miterlimit:10;}
								.st1{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
							</style>
							<g>
								<circle class="st0 first" cx="62" cy="7" r="5"/>
								<circle class="st0 first" cx="62" cy="117" r="5"/>
								<circle class="st0 second" cx="34.5" cy="14.369" r="5"/>
								<circle class="st0 second" cx="89.5" cy="109.631" r="5"/>
								<circle class="st0 third" cx="14.369" cy="34.5" r="5"/>
								<circle class="st0 third" cx="109.631" cy="89.5" r="5"/>
								<circle class="st0 fourth" cx="7" cy="62" r="5"/>
								<circle class="st0 fourth" cx="117" cy="62" r="5"/>
								<circle class="st0 fifth" cx="14.369" cy="89.5" r="5"/>
								<circle class="st0 fifth" cx="109.631" cy="34.5" r="5"/>
								<circle class="st0 sixth" cx="34.5" cy="109.631" r="5"/>
								<circle class="st0 sixth" cx="89.5" cy="14.369" r="5"/>
								<line class="st0 first" x1="62" y1="12" x2="62" y2="42"/>
								<line class="st0 first" x1="62" y1="82.679" x2="62" y2="112.679"/>
								<line class="st0 second" x1="36.83" y1="18.744" x2="51.83" y2="44.725"/>
								<line class="st0 second" x1="72.17" y1="79.954" x2="87.17" y2="105.935"/>
								<line class="st0 third" x1="18.405" y1="37.17" x2="44.386" y2="52.17"/>
								<line class="st0 third" x1="79.614" y1="72.509" x2="105.595" y2="87.509"/>
								<line class="st0 fourth" x1="11.661" y1="62.339" x2="41.661" y2="62.339"/>
								<line class="st0 fourth" x1="82.339" y1="62.339" x2="112.339" y2="62.339"/>
								<line class="st0 fifth" x1="18.405" y1="87.509" x2="44.386" y2="72.509"/>
								<line class="st0 fifth" x1="79.614" y1="52.17" x2="105.595" y2="37.17"/>
								<line class="st0 sixth" x1="36.83" y1="105.935" x2="51.83" y2="79.954"/>
								<line class="st0 sixth" x1="72.17" y1="44.725" x2="87.17" y2="18.744"/>
								<circle class="st1" cx="62" cy="62" r="20"/>
							</g>
						</svg>
					</div>
				</div>
			</div>

			<div class="col-9">
				<div class="padded">
					<h2 class="sub-title">Integrated</h2>
					<p class="large-body">As a boutique, we cannot pretend to bring 100% of the knowledge and skills needed for end-to-end product development. It's important that our clients and partners contribute to our work so we can learn together. Our value derives from our skills, experience, and approach, not from magic, so there is no need to hide the process.</p>
					<p class="large-body">It can be a challenge to mesh design processes with lean businesses, agile software teams, or careful scaling and risk reducing bureaucracies. We enjoy taking on these challenges to show how design can contribute to everyone's success.</p>
				</div>
			</div>
			<div class="left-3 col-9">
				<div class="padded">
					<h2 class="sub-title">Focused</h2>
					<p class="large-body">To really design a system with purpose, a level of obsession is needed. Working for only a few hours and then shifting context to another project or a meeting costs much more than time spent. We strive to keep every team member focused on one product each day, so when we are riding a bike to work we can collect our thoughts about it.</p>
				</div>
			</div>
			<div class="left-3 col-9">
				<div class="padded">
					<h2 class="sub-title">Generative and Reductive</h2>
					<p class="large-body">Everybody knows that design is a process of generating new solutions, synthesizing for direction, learning, and repeating it all. "Design thinking" has become very popular to say but is rarely performed. We believe in this process at large and small scales.</p>
					<p class="large-body">It sounds simple, but means quickly generating many solutions of useful fidelity and embracing that finding the right one means "throwing away" others. Only with our holistic approach have we seen the efficiency needed to do this affordably, and it requires a broad perspective to move fearlessly forward.</p>
				</div>
			</div>
		</div>
	</div>

</section>
