<%
  this_date = current_page.data.date
  this_name = current_page.data.name
  project_folder = current_page.metadata[:project]
  drink_resources = sitemap.resources.select{ |r| r.path[/#{project_folder}\/([^\/]*)/] && r.data.date }
  older_drinks = drink_resources.select{ |r| (r.data.date <= this_date) && (r.data.date == this_date ? r.data.name < this_name : true) }
  next_drink = older_drinks.max_by{ |r| [r.data.date, r.data.name] }
  younger_drinks = drink_resources.select{ |r| (r.data.date >= this_date) && (r.data.date == this_date ? r.data.name > this_name : true) }
  prev_drink = younger_drinks.min_by{ |r| [r.data.date, r.data.name] }
%>

<div class="flex container local-nav">
  <div class="col-4 left">
    <% if prev_drink %>
    <div class="padded">
      <% link_to prev_drink do %>
        <h4>Newer cocktail</h4>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="col-4">
    <div class="padded">
      <a href=".">
        <h4>Overview</h4>
      </a>
    </div>
  </div>
  <div class="col-4 right">
    <% if next_drink %>
    <div class="padded">
      <% link_to next_drink do %>
        <h4>Older cocktail</h4>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
