<div class="flex container">
  <div class="col-10 left-1 right-1 center name">
    <div class="padded">
      <h3><%= current_page.data.date.strftime('%B %e, %Y') %></h3>
      <h1><%= current_page.data.name %></h1>
    </div>
  </div>
</div>
