---
name: Aperol Spritz
date: 2016-04-29
glass: nederlandseoranje
contents: champagnemisc_wine
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Aperol Spritz" class="drink" src="images/combined/nederlandseoranje.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/susana.html">
        <h3>Mixed by Susana Passinhas</h3>
      </a>

      <img class="rating" src="images/rating3.png">

      <p>Last Tuesday, we threw a big King’s night party to kick off King Willem-Alexander’s birthday. Of course, this means orange drinks, orange snacks, and even more orange drinks. Were we sick of the color orange? Most definitely. But that didn’t stop us from more Aperol Spritz’s today!</p>
      <p>2 parts Aperol<br>
      3 parts prosecco<br>
      sliced orange</p><br>
      <p>Pour Aperol over a half-full glass of chilled prosecco. Garnish with some slices of fresh orange.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
