<div class="flex container cocktails" id="content">
<div class="flex container">
    <div class="col-10 left-1 right-1 center name">
        <div class="padded">
            <h3>April 29, 2016</h3>
            <h1>Aperol Spritz</h1>
        </div>
    </div>
</div>
name: Aperol Spritz
date: 2016-04-29
glass: nederlandseoranje
contents: champagnemisc_wine
---
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Aperol Spritz"
        class="drink" src="images/combined/nederlandseoranje.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/susana.html">Mixed by Susana Passinhas</a></h3><img class="rating" src=
            "images/rating3.png">
            <p>Last Tuesday, we threw a big King’s night party to kick off King Willem-Alexander’s birthday. Of course, this means orange drinks, orange snacks, and even more orange drinks. Were we sick of the color orange? Most definitely. But that didn’t stop us from more Aperol Spritz’s today!</p>
            <p>2 parts Aperol<br>
            3 parts prosecco<br>
            sliced orange</p><br>
            <p>Pour Aperol over a half-full glass of chilled prosecco. Garnish with some slices of fresh orange.</p>
        </div>
    </div>
</div>
<div class="flex container">
    <div class="col-4">
        <div class="padded">
            <a href="nutellamartini.html">
            <h4>Newer cocktail</h4></a>
        </div>
    </div>
    <div class="col-4 middle">
        <div class="padded">
            <a href="index.html">
            <h4>Overview</h4></a>
        </div>
    </div>
    <div class="col-4 right">
        <div class="padded">
            <a href="w&g.html">
            <h4>Older cocktail</h4></a>
        </div>
    </div>
