---
name: Baltimore Bang
date: 2017-03-10
glass: baltimorebang
contents: miscwhiskey_martini
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Baltimore Bang" class="drink" src="images/combined/baltimorebang.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating3.png">
      <p>xxx</p>
      <ul>
        <li>1 part bourbon whiskey</li>
        <li>1 part apricot brandy</li>
        <li>.5 parts lemon juice</li>
        <li>lemon or orange twist for garnish</li>
      </ul>
      <p>Pour ingredients into a cocktail shaker and shake with ice. Pour into chilled glass and serve with a citrus twist.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
