---
name: Basil Smash
date: 2016-11-18
glass: basilsmash
contents: gin_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Basil Smash" class="drink" src="images/combined/basilsmash.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/carol.html">
        <h3>Mixed by Carol Liao</h3>
      </a>

      <img class="rating" src="images/rating5.png">
      
      <p>The Basil Smash will be sure to get you smashed. It's strong and yet way too easy to drink. Add more ice if you want it to dilute a bit!</p>
      <ul>
        <li>2 parts gin</li>
        <li>1.5 parts lemon juice</li>
        <li>1 part agave syrup</li>
        <li>fresh basil</li>
      </ul>
      <p>Muddle basil with gin, lemon juice, and agave syrup until leaves are well crushed. Pour into a shaker and filled with ice. Shake vigorously and strain into a glass with ice. Garnish with extra fresh basil.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
