<div id="content" class="cocktails">
<div class="container">

  <div class="flexcontainer padded">
      <div class="col-10 left-1 right-1 center name">
       <h3>January 22, 2016</h3>
       <h1>Bee's Knees</h1>
      </div>
  </div>

  <div class="recipe flexcontainer padded">
      <div class="col-4 right-2">
          <img src="images/combined/beesknees.gif" alt="Bee's Knees">
      </div>

      <div class="col-6">
          <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E Thomas</a></h3>
            <img class="rating" src="images/rating4.png">
            <p>
            A birthday drink for the birthday founder! Today we learned that it’s totally okay for your bee’s knees to be really strong as long as you’ve got plenty of macaroons to chase it down with. Gefeliciteerd!</p>
            <p>2 parts gin<br> 1 part fresh lemon juice<br> 1 long drizzle of honey</p><br><p>
            Add all ingredients to a shaker and fill with ice. Shake, and strain into a chilled cocktail glass. Garnish with a lemon twist.</p>
        </div>
      </div>
  </div>

  <div class="flexcontainer padded">
      <div class="col-10 left-1 right-1 center">
        <a href="index.html"><h4>Overview</h4></a>
      </div>
  </div>

</div>
</div>