<div class="flex container cocktails" id="content">
<div class="flex container">
    <div class="col-10 left-1 right-1 center name">
        <div class="padded">
            <h3>January 22, 2016</h3>
            <h1>Bee's Knees</h1>
        </div>
    </div>
</div>
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Bee's Knees"
        class="drink" src="images/combined/beesknees.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E
            Thomas</a></h3><img class="rating" src=
            "images/rating4.png">
            <p>A birthday drink for the birthday founder! Today we learned that it’s totally okay for your bee’s knees to be really strong as long as you’ve got <a href="https://www.instagram.com/p/BA2UXUEj2xt/?taken-by=shannonethomas"
            target="blank">plenty of macaroons</a> to chase it down with. For those hesitant about our ratio, we recommend ice in the glass. Gefeliciteerd!</p>
            <p>2 parts gin<br>
            1 part fresh lemon juice<br>
            1 long drizzle of honey</p><br>
            <p>Add all ingredients to a shaker and fill with ice. Shake, and strain into a chilled cocktail glass. Garnish with a lemon twist.</p>
        </div>
    </div>
</div>
<div class="flex container padded-bottom">
    <div class="col-4">
        <div class="padded">
            <a href="index.html">
            <h4>Previous cocktail</h4></a>
        </div>
    </div>
    <div class="col-4 middle">
        <div class="padded">
            <a href="index.html">
            <h4>Overview</h4></a>
        </div>
    </div>
    <div class="col-4 right">
        <div class="padded">
            <a href="index.html">
            <h4>Next cocktail</h4></a>
        </div>
    </div>
</div>