<div id="content" class="cocktails">
<div class="container">

  <div class="recipe flexcontainer">
      <div class="col-4 left-1 right-1">
          <img src="images/combined/beesknees.gif" alt="Bee's Knees">
      </div>

      <div class="col-6">
          <div class="padded topsm">
            <h3>01.22.2016</h3>
            <h2>Bee's Knees</h2>
            <img class="rating" src="images/rating4.png">
            <p>2 parts Gin<br> 1 part fresh lemon juice<br> 1 long drizzle of honey</p><br><p>
            Combine all ingredients in a shaker with ice.<br>Shake and strain into a chilled glass and garnish with lemon.</p>
        </div>
      </div>
  </div>

  <div class="flexcontainer">
      <div class="col-10 left-1 right-1 center">
        <a href="sweetmidnight.html"><h1>You might also like Sweet Midnight</h1></a><a href="index.html"><h3>Return to all recipes</h3></a>
      </div>
  </div>

</div>
</div>