---
name: Blossom 开花 (Kāihuā)
date: 2016-02-12
glass: blossom
contents: miscvodka_coupe
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Blossom 开花 (Kāihuā)"
        class="drink" src="images/combined/blossom.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/ariane.html">Mixed by Ariane Garoff</a></h3><img class="rating" src=
            "images/rating5.png">
            <p>To celebrate the recent Chinese New Year, we decided to do an Asian inspired drink. Yes, sake is actually Japanese, but we don't discriminate alcohol origins.<br> For the pear vodka, we left sliced pears in vodka for four days, though most suggest a week or two for optimal flavor. This is our first Artificial alcohol infusion and we definitely plan to do this more often. </p>
            <p>1.5 parts pear infused vodka<br>
            1 part sake<br>
            1 part lychee juice from canned lychees nuts</p><br>
            <p>Pour contents in a shaker with ice. Pour into chilled glasses and garnish with a slice of vodka soaked pear. Eating the pear is advised only for the brave.</p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>