---
name: Bright and Strong
date: 2017-01-20
glass: brightandstrong
contents: whiskey_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Bright and Strong" class="drink" src="images/combined/brightandstrong.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating4.png">
      <p>Pre-birthday party drinks at The Artificial! Perhaps starting this strong this early isn't the best idea before heading to a bar, but who can resist a great whiskey cocktail?</p>
      <ul>
        <li>1 part limoncello</li>
        <li>2 parts whiskey</li>
        <li>1 generous squeeze of lemon</li>
        <li>a splash of ginger beer</li>
      </ul>
      <p>Combine limoncello, whiskey, lemon juice, and ice in a shaker. Shake well, then pour in a glass and top with a splash of ginger beer.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
