---
name: Campari Orange
date: 2017-02-10
glass: campariorange
contents: miscvodka_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Campari Orange" class="drink" src="images/combined/campariorange.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>

      <img class="rating" src="images/rating4.png">
      <p>A perfect balance of bitter and sweet. More importantly, a great excuse to use up our orange infused vodka to make room for our next infusion.</p>
      <ul>
        <li>1 part orange infused vodka</li>
        <li>1 part Campari</li>
        <li>1 part Grand Marnier</li>
        <li>1 part fresh orange juice</li>
        <li>Orange slices</li>
      </ul>
      <p>Pour ingredients in a shaker with ice. Shake vigorously and strain into a glass. Garnish with a fresh orange slice before serving.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
