---
name: Creature of the Mist
date: 2017-03-24
glass: creatureofthemist
contents: miscvodka_coupe2
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Creature of the Mist" class="drink" src="images/combined/creatureofthemist.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>

      <img class="rating" src="images/rating5.png">
      
      <p>Creature of the Mist is named after <a href="https://www.instagram.com/p/BSBPcuJjMIX/?taken-by=gerwitz" target="blank">this adorable Nebelung kitten</a>, which directly translated from German means creature of the mist.</p>
      <ul>
        <li>2 parts sake</li>
        <li>1 part vodka</li>
        <li>.5 parts elderflower cordial</li>
        <li>a squeeze of lime</li>
        <li>a squeeze of honey</li>
      </ul>
      <p>Pour all ingredients into a shaker with ice and serve immediately.</p>
  </div>
</div>

<%= partial 'drink_footer' %>
