---
name: DT Ginger
date: 2017-04-07
glass: dtginger
contents: rum_goblet
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="DT Ginger" class="drink" src="images/combined/dtginger.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/natalia.html">
        <h3>Mixed by Natalia Bourges</h3>
      </a>
      <img class="rating" src="images/rating3.png">
      <p>A sweet orange drink with a smokey herby finish. We named this one as a celebration of Natalia's 'fabulous' new apartment! Can you guess why?</p>
      <ul>
        <li>2 parts rum</li>
        <li>1 part mandarin juice</li>
        <li>sugar</li>
        <li>mandarines halved crosswise</li>     
        <li>rosemary springs for garnish</li>
      </ul>
      <p>Pour some sugar on a plate and dip the cut sides of the mandarines. Scatter the rosemary springs on a heated pan and add the mandarines, cut side down. Cook until sugar caramelizes. Place mandarines in a shaker, add sugar and muddle. Add rum ice and juice, shake and pour in glasses with ice. Garnish with rosemary and serve.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
