---
name: Dutch and Stormy
date: 2016-06-24
glass: dutchandstormy
contents: rum_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Dutch and Stormy" class="drink" src="images/combined/dutchandstormy.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating4.png">
      <p>Part one of today's weather drinking game. A sgroppino for those rare but loved sunny moments, and a Dutch twist on the Dark and stormy cocktail for the rest. </p>
      <ul>
        <li>1 part dark rum</li>
        <li>2 parts ginger beer</li>
        <li>1 dash of cherry bitters</li>
      </ul>
      <p>Stir dark rum and ginger beer in a glass and add a dash of cherry bitters.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
