---
name: Fuzzy Smash
date: 2017-02-03
glass: fuzzysmash
contents: gin_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Fuzzy Smash" class="drink" src="images/combined/fuzzysmash.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/carol.html">
        <h3>Mixed by Carol Liao</h3>
      </a>

      <img class="rating" src="images/rating4.png">
      
      <p>After the success of our last gin smash, we decided to try a different variation. The star of this drink is the fancy candied garnish, but the drink is definitely good enough to hold its own.</p>
      <ul>
        <li>2 parts gin</li>
        <li>.5 parts lemon juice</li>
        <li>.5 parts agave syrup</li>
        <li>a few blackberries</li>
        <li>fresh sage</li>
        <li>sugar</li>
        <li>a splash of club soda</li>
      </ul>
      <p>Muddle the sage and blackberries in gin. Pour into a shaker with icee, lemon juice, and agave syrup. Shake well and pour into a glass with ice and top with club soda. To candy the sage, soak in simple syrup then toss in sugar. Put the candied sage and halved blackberries on a toothpick to serve on top of the cocktail.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
