---
name: Grapefruit Torpedo
date: 2016-03-24
glass: grapefruittorpedo
contents: miscchampagne_champagne
---
<%= partial 'drink_header' %>


<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Grapefruit Torpedo"
        class="drink" src="images/combined/grapefruittorpedo.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/carol.html">Mixed by Carol Liao</a></h3><img class="rating" src=
            "images/rating4.png">
            <p>A Thursday drink? Why not? To kick-off our five day Easter weekend, we're doing a bubbly spring mimosa. </p>
            <p>2 parts prosecco<br>
            1 part fresh grapefruit juice<br>
            .5 parts Grand Marnier<br>
            raspberries<br>
            mint leaves</p><br>
            <p>Squeeze grapefruit juice into a cup and muddle a few raspberries with it. Pour into a champagne flute and top with prosecco or champagne. Add a splash of Grand Marnier and garnish with fresh mint leaves.</p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>
