<div class="flex container cocktails" id="content">
<div class="flex container">
    <div class="col-10 left-1 right-1 center name">
        <div class="padded">
            <h3>March 4, 2016</h3>
            <h1>Hot Ananas Love</h1>
        </div>
    </div>
</div>
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Hot Ananas Love"
        class="drink" src="images/combined/hotananaslove.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E Thomas</a></h3><img class="rating" src=
            "images/rating4.png">
            <p>A bit of sweet, a bit of sour, and a kick of spice. This shockingly alocoholic drink is dangerously delicious. Warning: don't let the sweetness decieve you. Remember this drink is 2/3rd straight vodka!</p>
            <p>2 parts pineapple infused vodka<br>
            1 part orange juice<br>
            Sliced chili peppers</p><br>
            <p>Combine all ingredients in a shaker with ice. Strain and garnish with a cocktail umbrella. Serve with chunks of the vodka soaked pinapple for extra fun.</p>
        </div>
    </div>
</div>
<div class="flex container">
    <div class="col-4">
        <div class="padded">
            <a href="index.html">
            <h4>Previous cocktail</h4></a>
        </div>
    </div>
    <div class="col-4 middle">
        <div class="padded">
            <a href="index.html">
            <h4>Overview</h4></a>
        </div>
    </div>
    <div class="col-4 right">
        <div class="padded">
            <a href="index.html">
            <h4>Next cocktail</h4></a>
        </div>
    </div>
</div>