---
name: Hot Ananas Love
date: 2016-03-04
glass: hotananaslove
contents: vodka_hurricane
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Hot Ananas Love"
        class="drink" src="images/combined/hotananaslove.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E. Thomas</a></h3><img class="rating" src=
            "images/rating4.png">
            <p>A bit of sweet, a bit of sour, and a kick of spice. This shockingly alcoholic drink is dangerously delicious. Warning: don't let the sweetness deceive you. Remember this drink is 2/3rds straight vodka!</p>
            <p>2 parts pineapple infused vodka<br>
            1 part orange juice<br>
            sliced chili peppers</p><br>
            <p>Combine all ingredients in a shaker with ice. Strain and garnish with a cocktail umbrella. Serve with chunks of the vodka soaked pineapple for extra fun.</p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>
