    <div class="flex container cocktails" id="content">
        <div class="flex container padded">
            <div class="col-10 right-2 left-2 introduction center">
                <h1>Friday Cocktails</h1>

                <p>On Fridays, we welcome any excuse to practice our mixology
                skills. Here's a collection of our successes, trials, and
                errors.</p>

                <p>Cheers, proost, and enjoy!</p>
            </div>
        </div>

        <div class="container packery">

             <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Manhattan" src=
                        "images/png/manhattan.png"> <a class=
                        "flex container overlaybox" href=
                        "manhattan.html"><img src=
                        "images/gif/miscwhiskey_martini.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>March 11, 2016</h3>
                        <a href="manhattan.html">
                        <h2>Manhattan</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Hot Ananas Love" src=
                        "images/png/hotananaslove.png"> <a class=
                        "flex container overlaybox" href=
                        "hotananaslove.html"><img src=
                        "images/gif/vodka_hurricane.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>March 4, 2016</h3>
                        <a href="hotananaslove.html">
                        <h2>Hot Ananas Love</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Just Peachy" src=
                        "images/png/justpeachy.png"> <a class=
                        "flex container overlaybox" href=
                        "justpeachy.html"><img src=
                        "images/gif/whiskey_snifter.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>February 26, 2016</h3>
                        <a href="justpeachy.html">
                        <h2>Just Peachy</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Milky Sticks" src=
                        "images/png/milkysticks.png"> <a class=
                        "flex container overlaybox" href=
                        "milkysticks.html"><img src=
                        "images/gif/miscrum_lowball.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>February 19, 2016</h3>
                        <a href="milkysticks.html">
                        <h2>Milky Sticks</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Blossom 开花 (Kāihuā)" src=
                        "images/png/blossom.png"> <a class=
                        "flex container overlaybox" href=
                        "blossom.html"><img src=
                        "images/gif/miscvodka_coupe.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>February 12, 2016</h3>
                        <a href="blossom.html">
                        <h2>Blossom 开花 (Kāihuā)</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Moscow Mule" src=
                        "images/png/moscowmule.png"> <a class=
                        "flex container overlaybox" href=
                        "moscowmule.html"><img src=
                        "images/gif/vodka_mug.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>February 5, 2016</h3>
                        <a href="moscowmule.html">
                        <h2>Moscow Mule</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Nederlandse Oranje" src=
                        "images/png/nederlandseoranje.png"> <a class=
                        "flex container overlaybox" href=
                        "nederlandseoranje.html"><img src=
                        "images/gif/champagne_wine.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>January 29, 2016</h3>
                        <a href="nederlandseoranje.html">
                        <h2>Nederlandse Oranje</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Bee's Knees" src="images/png/beesknees.png">
                        <a class="flex container overlaybox" href=
                        "beesknees.html"><img src=
                        "images/gif/gin_coupe.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>January 22, 2016</h3>
                        <a href="beesknees.html">
                        <h2>Bee's Knees</h2></a>
                    </div>
                </div>
            </div>

            <div class="col-4 packed">
                <div class="center cardcontainer">
                    <div class="card">
                        <img alt="Sweet Midnight" src=
                        "images/png/sweetmidnight.png"> <a class=
                        "flex container overlaybox" href=
                        "sweetmidnight.html"><img src=
                        "images/gif/gin_goblet.gif"></a>
                    </div>

                    <div class="details padded">
                        <h3>January 8, 2016</h3>
                        <a href="sweetmidnight.html">
                        <h2>Sweet Midnight</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
