<div id="content" class="cocktails">

	<div class="flexcontainer">
		<div class="col-10 left-1 right-1 center introduction">
			<h1>Fridays at The Artificial is a collection of our drink recipes. <br>We’re not claiming that all our conconctions are neither perfect nor original, but we can hope that trail and error will eventually lead to the official cocktail of The Artificial.</h1><h1>It’s a vigorous and thorough process, but you can count on our love of cocktails to prevail. Proost!</h1>
		</div>
	</div>

<div class="container packery">
		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/glass-01.png"></a>
				<a class="overlaybox">
					<img src="images/pattern-01.gif">
				</a>
				<div class="padded">
					<a href="sonicare-sims.html"><h3>Date</h3></a>
					<h2>Drink name</h2>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/glass-02.png"></a>
				<div class="padded">
					<a href="sonicare-sims.html"><h3>Date</h3></a>
					<h2>Drink name</h2>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/glass-03.png"></a>
				<div class="padded">
					<a href="sonicare-sims.html"><h3>Date</h3></a>
					<h2>Drink name</h2>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/glass-02.png"></a>
				<div class="padded">
					<a href="sonicare-sims.html"><h3>Date</h3></a>
					<h2>Drink name</h2>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/glass-01.png"></a>
				<a class="overlaybox">
					<img src="images/pattern-01.gif">
				</a>
				<div class="padded">
					<a href="sonicare-sims.html"><h3>Date</h3></a>
					<h2>Drink name</h2>
				</div>

			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/glass-03.png"></a>
				<div class="padded">
					<a href="sonicare-sims.html"><h3>Date</h3></a>
					<h2>Drink name</h2>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/glass-02.png"></a>
				<div class="padded">
					<a href="sonicare-sims.html"><h3>Date</h3></a>
					<h2>Drink name</h2>
				</div>
			</div>
		</div>
</div>
