<div id="content" class="cocktails">

	<div class="flexcontainer">
		<div class="col-10 left-1 right-1 center introduction">
			<h1>Welcome to The Artificial's library of cocktail concoctions. We’re not claiming that our drinks are neither perfect nor original, but we can hope that trial and error will eventually lead to the official cocktail of The Artificial. It’s a vigorous and thorough process, but you can count on our love of cocktails to prevail.</h1><h1>Cheers, proost, and enjoy!</h1>
		</div>
	</div>

<div class="container packery">
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/png/moscowmule.png" alt="Moscow Mule">
				<a class="overlaybox" href="moscowmule.html">
					<img src="images/gif/vodka_highball.gif">
				</a>
				<div class="padded">
					<a href="moscowmule.html"><h3>02.05.2016</h3>
					<h2>Moscow Mule</h2></a>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<img src="images/png/nederlandseoranje.png" alt="Nederlandse Oranje">
				<a class="overlaybox" href="nederlandseoranje.html">
					<img src="images/gif/champagne_wine.gif">
				</a>
				<div class="padded">
					<a href="nederlandseoranje.html"><h3>01.29.2016</h3>
					<h2>Nederlandse Oranje</h2></a>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<img src="images/png/beesknees.png" alt="Bee's Knees">
				<a class="overlaybox" href="beesknees.html">
					<img src="images/gif/gin_coupe.gif">
				</a>
				<div class="padded">
					<a href="beesknees.html"><h3>01.22.2016</h3>
					<h2>Bee's Knees</h2></a>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<img src="images/png/sweetmidnight.png" alt="Sweet Midnight">
				<a class="overlaybox" href="sweetmidnight.html">
					<img src="images/gif/gin_goblet.gif">
				</a>
				<div class="padded">
					<a href="sweetmidnight.html"><h3>01.08.2016</h3>
					<h2>Sweet Midnight</h2></a>
				</div>
			</div>
		</div>
</div>
