<div id="content" class="cocktails">

	<div class="flexcontainer">
		<div class="col-10 left-1 right-1 center introduction">
			<h1>Welcome to The Artificial's library of cocktail concoctions. <br>We’re not claiming that our drinks are neither perfect nor original, but we can hope that trial and error will eventually lead to the official cocktail of The Artificial.</h1><h1>It’s a vigorous and thorough process, but you can count on our love of cocktails to prevail.</h1><h1>Cheers, proost, and enjoy!</h1>
		</div>
	</div>

<div class="container packery">
		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/beesknees.png" alt="Bee's Knees"></a>
				<a class="overlaybox" href="#">
					<img src="images/gin_coupe.gif">
				</a>
				<div class="padded">
					<a href="#"><h3>01.22.2016</h3></a>
					<h2>Bee's Knees</h2>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="#"><img src="images/sweetmidnight.png" alt="Sweet Midnight"></a>
				<a class="overlaybox" href="#">
					<img src="images/gin_goblet.gif">
				</a>
				<div class="padded">
					<a href="#"><h3>01.08.2016</h3></a>
					<h2>Sweet Midnight</h2>
				</div>
			</div>
		</div>
</div>
