<div class="flex container cocktails" id="content">
<div class="flex container">
    <div class="col-10 left-1 right-1 center name">
        <div class="padded">
            <h3>February 26, 2016</h3>
            <h1>Just Peachy</h1>
        </div>
    </div>
</div>
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Just Peachy"
        class="drink" src="images/combined/justpeachy.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/carol.html">Mixed by Carol Liao</a></h3><img class="rating" src=
            "images/rating3.png">
            <p>A bit too peachy for my taste. Unfortunately the rosemary simple syrup didn't shine through the ginger beer as much as I had hoped. Perhaps we'll try it with more rosemary and less ginger beer next time!</p>
            <p>1 part whiskey<br>
            1 part peach juice<br>
            .5 parts rosemary simple syrup<br>
            1 part ginger beer<br>
            rosemary</p><br>
            <p>To make the rosemary simple syrup, boil equal parts water and sugar. Add rosemary leaves and simmer for 15 minutes. Leave to cool and strain. Combine whiskey, peach juice, and cooled simple syrup in a shaker with ice. Pour into a glass, top with ginger beer, and garnish with fresh rosemary.</p>
        </div>
    </div>
</div>
<div class="flex container">
    <div class="col-4">
        <div class="padded">
            <a href="hotananaslove.html">
            <h4>Newer cocktail</h4></a>
        </div>
    </div>
    <div class="col-4 middle">
        <div class="padded">
            <a href="index.html">
            <h4>Overview</h4></a>
        </div>
    </div>
    <div class="col-4 right">
        <div class="padded">
            <a href="milkysticks.html">
            <h4>Older cocktail</h4></a>
        </div>
    </div>
</div>