---
name: Komkomer Tonic
date: 2016-07-08
glass: komkomertonic
contents: vodka_tonic-tall
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Komkomer Tonic" class="drink" src="images/combined/komkomertonic.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating3.png">
      <p>The infusion experiments continue! We found that the lime here is key to brightening up this refreshing drink.</p>
      <ul>
        <li>1 part cucumber infused vodka</li>
        <li>2 parts tonic</li>
        <li>.5 parts lime juice</li>
        <li>Basil for garnish</li>
      </ul>
      <p>Infuse sliced cucumbers in vodka for 2 weeks. Strain and mix with ice, tonic, and lime juice. Garnish with fresh basil and serve!</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
