---
name: Konnings Spritz
date: 2017-04-26
glass: konningsspritz
contents: champagnemiscwhiskey_tonic
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Konnings Spritz" class="drink" src="images/combined/konningsspritz.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>

      <img class="rating" src="images/rating4.png">

      <p>It's that time of year where the streets and our glasses flood with orange. Hope you enjoyed your Konningsdag as much as we did!</p>
      <ul>
        <li>2 parts rosemary infused Aperol</li>
        <li>1.5 parts prosecco</li>
        <li>1.5 parts seltzer</li>
        <li>1 part bourbon</li>
        <li>.5 parts honey syrup</li>
        <li>grapefruit slices</li>
        <li>rosemary sprigs</li>

      </ul>
      <p>Infuse Aperol with fresh rosemary for at least 3 hours. Strain and add honey syrup, mixing well.  Add bourbon, sparkling wine, and seltzer, and garnish with grapefruit slices and rosemary sprigs. Add ice and serve.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
