---
name: Mandarin Mule
date: 2016-11-25
glass: mandarinmule
contents: vodka_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Mandarin Mule" class="drink" src="images/combined/mandarinmule.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>

      <img class="rating" src="images/rating4.png">
      
      <p>This drink was born of two desires: to have something light after a day of indulging on Thanksgiving leftovers and to light something on fire. What originally aimed to be a very autumny drink turned out to be very fruity and refreshing. This drink would be perfect for a spring or summer night on the terrace. For different variations, try lighting different herbs on fire. We found that a burning thyme shrub also worked quite nicely.</p>
      <ul>
        <li>2 parts orange-infused vodka</li>
        <li>1 part orange juice</li>
        <li>1 part ginger beer</li>
        <li>cinnamon stick</li>
        <li>mandarin orange for garnish</li>
      </ul>
      <p>Pour orange-infused vodka, orange juice, ginger beer over ice. Garnish with a mandarin segment and a cinnamon stick. Light the stick on fire.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
