<div class="flex container cocktails" id="content">
<div class="flex container">
    <div class="col-10 left-1 right-1 center name">
        <div class="padded">
            <h3>March 11, 2016</h3>
            <h1>Manhattan</h1>
        </div>
    </div>
</div>
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Manhattan"
        class="drink" src="images/combined/manhattan.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/hans.html">Mixed by Hans Gerwitz</a></h3><img class="rating" src=
            "images/rating4.png">
            <p>We're going back to the classics. A strong Manhattan with an orange twist for garnish to end our busy week.</p>
            <p>2 parts whiskey<br>
            1 part vermouth<br>
            A splash of angostura bitters<br>
            Orange peel</p><br>
            <p>Combine all ingredients and stir with ice. Pour into a chilled glass a serve with an orange twist.</p>
        </div>
    </div>
</div>
<div class="flex container">
    <div class="col-4">
        <div class="padded">
            <a href="mouthwash.html">
            <h4>Newer cocktail</h4></a>
        </div>
    </div>
    <div class="col-4 middle">
        <div class="padded">
            <a href="index.html">
            <h4>Overview</h4></a>
        </div>
    </div>
    <div class="col-4 right">
        <div class="padded">
            <a href="hotananaslove.html">
            <h4>Older cocktail</h4></a>
        </div>
    </div>
</div>