---
name: Manhattan
date: 2016-03-11
glass: manhattan
contents: miscwhiskey_martini
---
<%= partial 'drink_header' %>
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Manhattan"
        class="drink" src="images/combined/manhattan.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/hans.html">Mixed by Hans Gerwitz</a></h3><img class="rating" src=
            "images/rating4.png">
            <p>We're going back to the classics. A strong Manhattan with an orange twist for garnish to end our busy week.</p>
            <p>2 parts whiskey<br>
            1 part vermouth<br>
            a splash of angostura bitters<br>
            orange peel</p><br>
            <p>Combine all ingredients and stir with ice. Pour into a chilled glass a serve with an orange twist.</p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>
