---
name: Mezcal Old-Fashioned
date: 2017-01-27
glass: mezcaloldfashioned
contents: misctequillawhiskey_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Mezcal Old-Fashioned" class="drink" src="images/combined/mezcaloldfashioned.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/natalia.html">
        <h3>Mixed by Natalia Bourges</h3>
      </a>
      <img class="rating" src="images/rating3.png">
      <p>January is Mezcal month at The Artificial. Our resident mezcal expert brings it into her own version of the Old Fashioned.</p>
      <ul>
        <li>1 part mezcal</li>
        <li>1 part whiskey</li>
        <li>.5 parts Aperol</li>
        <li>Lemon wedge for garnish</li>
      </ul>
      <p>Stir all ingredients in a glass and pour over ice. Garnish with a lemon wedge.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
