---
name: Milky Sticks 
date: 2016-02-19
glass: milkysticks
contents: miscrum_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Milky Sticks"
        class="drink" src="images/combined/milkysticks.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/susana.html">Mixed by Susana Passinhas</a></h3><img class="rating" src=
            "images/rating3.png">
            <p>Susana is our resident sugar fanatic, so of course her first cocktail is creamy sugary goodness. We added an extra zip of chestnut liqueur, but the hazelnut is delicious enough on its own if you're in a pinch. Definitely recommend as an after dinner dessert drink!</p>
            <p>1 part hazelnut liqueur <br>
            1 part chestnut liqueur<br>
            .5 parts rum<br>
            1 part half & half<br>
            2 Pocky sticks</p><br>
            <p>Pour all contents in a chilled glass and stir. We use chocolate <a href="http://www.pocky.com/" alt="Pocky sticks">Pocky sticks</a> as a stir and garnish.</p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>
