---
name: Moscow Mule
date: 2016-02-05
glass: moscowmule
contents: vodka_mug
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Moscow Mule"
        class="drink" src="images/combined/moscowmule.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E.
            Thomas</a></h3><img class="rating" src=
            "images/rating5.png">
            <p>The Moscow mule is one of our favorite drinks to sip in the summer on our beautiful roof deck. We love this drink so much that we've decided we can't wait for Holland weather to cooperate, so we've decided to embrace the cold and freshen our minds with this classic. </p>
            <p>1 part vodka<br>
            2 parts ginger beer<br> 
            1 splash simple syrup<br> 
            1 squeeze fresh lime juice</p><br>
            <p>Squeeze lime juice into a copper glass and drop in the shell. Add ice and vodka then top with ginger beer. Serve it up with an animated gif of <a href="http://giphy.com/gifs/dance-awesome-russian-zjhH1lh3bDRug" target="blank">dancing Russians.</a></p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>
