<div id="content" class="cocktails">
<div class="container">

  <div class="flex container padded">
      <div class="col-10 left-1 right-1 center name">
       <h3>February 5, 2016</h3>
       <h1>Moscow Mule</h1>
      </div>
  </div>

  <div class="recipe flex container padded">
      <div class="drinkcontainer col-4 right-2">
          <img class="drink" src="images/combined/moscowmule.gif" alt="Moscow Mule">
      </div>

      <div class="col-6">
          <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E Thomas</a></h3>
            <img class="rating" src="images/rating4.png">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce odio ipsum, efficitur ac mi mollis, aliquet vulputate nisl. Etiam cursus lorem enim, nec placerat justo interdum et. Fusce ac mauris nec diam eleifend volutpat. Etiam lobortis commodo nisi, et suscipit ipsum sollicitudin quis. Suspendisse cursus felis mollis velit mattis, at pharetra nibh posuere. Mauris eget odio turpis.</p>
            <p>1 part vodka<br> 2 parts ginger beer<br> 1 splash simple syrup<br> 1 squeeze fresh lime juice</p><br><p>
            Squeeze lime juice into a copper glass and drop in the shell. Add ice and vodka then top with ginger beer. Serve it up with an animated gif of <a href="http://giphy.com/gifs/dance-awesome-russian-zjhH1lh3bDRug" target="blank">dancing Russians.</a></p>
        </div>
      </div>
  </div>

  <div class="flex container padded">
      <div class="col-4">
        <a href="index.html"><h4>Previous cocktail</h4></a>
      </div>
      <div class="col-4 center">
        <a href="index.html"><h4>Overview</h4></a>
      </div>
      <div class="col-4 right">
        <a href="index.html"><h4>Next cocktail</h4></a>
      </div>
  </div>

</div>
</div>