<div id="content" class="cocktails">
<div class="container">

  <div class="recipe flexcontainer">
      <div class="col-4 left-1 right-1">
          <img src="images/combined/moscowmule.gif" alt="Moscow Mule">
      </div>

      <div class="col-6">
          <div class="padded toplg">
            <h3>02.05.2016</h3>
            <h2>Moscow Mule</h2>
            <img class="rating" src="images/rating5.png">
            <p>1 part vodka<br> 2 parts ginger beer<br> 1 splash simple syrup<br> 1 squeeze fresh lime juice</p><br><p>
            Squeeze lime juice into a tall glass and drop in the shell. Add ice and vodka then top with ginger beer. Serve with an animated gif of <a href="http://giphy.com/gifs/dance-awesome-russian-zjhH1lh3bDRug" target="blank">dancing Russians.</a></p>
        </div>
      </div>
  </div>

  <div class="flexcontainer">
      <div class="col-10 left-1 right-1 center">
        <a href="beesknees.html"><h1>You might also like Bee's Knees</h1></a><a href="index.html"><h3>Return to all recipes</h3></a>
      </div>
  </div>

</div>
</div>