<div id="content" class="cocktails">
<div class="container">

  <div class="flexcontainer padded">
      <div class="col-10 left-1 right-1 center name">
       <h3>January 29, 2016</h3>
       <h1>Nederlandse Oranje</h1>
      </div>
  </div>

  <div class="recipe flexcontainer padded">
      <div class="col-4 right-2">
          <img src="images/combined/nederlandseoranje.gif" alt="Nederlandse Oranje">
      </div>

      <div class="col-6">
          <div class="padded">
            <h3>Mixed by Roos de Bildt</h3>
            <img class="rating" src="images/rating3.png">
            <p>
            To bid farewell to our token Dutch Artificial, we celebrated with some Nederlandse borrel en drankjes (Dutch snacks and drinks). Similar to an Aperol Spritz, this bubbly drink is typically only consumed on Kings (or Queens) Day. This is a slight twist on the traditional recipe, but just as orange all the same. Good luck to Roos on her next adventure!</p>
            <p>2 parts champagne<br> 1 part oranje bitters</p><br><p>
            Pour chilled champagne and oranje bitters into a stemmed glass. Garnish with a slice of orange and say proost to Dutch weather.</p>
        </div>
      </div>
  </div>

  <div class="flexcontainer padded">
      <div class="col-4">
        <a href="index.html"><h4>Previous cocktail</h4></a>
      </div>
      <div class="col-4 center">
        <a href="index.html"><h4>Overview</h4></a>
      </div>
      <div class="col-4 right">
        <a href="index.html"><h4>Next cocktail</h4></a>
      </div>
  </div>

</div>
</div>