<div id="content" class="cocktails">
<div class="container">

  <div class="recipe flexcontainer">
      <div class="col-4 left-1 right-1">
          <img src="images/combined/nederlandseoranje.gif" alt="Nederlandse Oranje">
      </div>

      <div class="col-6">
          <div class="padded topmd">
            <h3>01.29.2016</h3>
            <h2>Nederlandse Oranje</h2>
            <img class="rating" src="images/rating3.png">
            <p>2 parts Champagne<br> 1 part Oranje Bitters</p><br><p>
            Pour chilled champagne and oranje bitters into a stemmed glass. Garnish with a slice of orange and say proost to Dutch weather.</p>
        </div>
      </div>
  </div>

  <div class="flexcontainer">
      <div class="col-10 left-1 right-1 center">
        <a href="moscowmule.html"><h1>You might also like Moscow Mule</h1></a><a href="index.html"><h3>Return to all recipes</h3></a>
      </div>
  </div>

</div>
</div>