  <div class="flex container">
    <div class="col-10 left-1 right-1 center name">
      <div class="padded">
        <h3>May 20, 2016</h3>
        <h1>Nutella Martini</h1>
      </div>
    </div>
  </div>

  <div class="flex container padded-bottom recipe">
    <div class="col-6">
      <div class="padded drinkcontainer">
        <img alt="nutellamartini" class="drink" src="images/combined/nutellamartini.gif">
      </div>
    </div>

    <div class="col-6">
      <div class="padded">
        <a href="/people/shannon.html">
          <h3>Mixed by Shannon E. Thomas</h3>
        </a>

        <img class="rating" src="images/rating4.png">

        <p>It was a cold day and we needed some comfort-drink. And what's more comforting than Nutella? A Nutella cocktail of course! For extra comfort, lose the ice and serve warm.</p>
        <p>.5 parts Nutella<br>
        1 part Frangelico<br>
        2 parts Baileys<br></p>
        <p>Heat the Nutella and Frangelico in a small saucepan. Stir until blended. <br>Combine the Nutella-Frangelico mixture with the Baileys and shake with ice.<br>Pour. Enjoy. Mix. Repeat.</p>
      </div>
    </div>
  </div>

  <div class="flex container">
    <div class="col-4">
      <div class="padded">
<%#        <a href="index.html">
          <h4>Newer cocktail</h4>
        </a> %>
      </div>
    </div>
    <div class="col-4 middle">
      <div class="padded">
        <a href="index.html">
          <h4>Overview</h4>
        </a>
      </div>
    </div>
    <div class="col-4 right">
      <div class="padded">
        <a href="aperolspritz.html">
          <h4>Older cocktail</h4>
        </a>
      </div>
    </div>
  </div>
