---
name: Paras
date: 2016-09-30
glass: paras
contents: vodka_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Paras" class="drink" src="images/combined/paras.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>

      <img class="rating" src="images/rating4.png">

      <p>To celebrate the launch of our Pokémon icons, we've created a Paras inspired cocktail. Cute, orange, and bubbly, this drink features two orange "Paras claws" that perch on the rim of the glass.</p>
      <ul>
        <li>1 part orange infused vodka</li>
        <li>1 part sprite</li>
        <li>mandarin oranges for garnish</li>
      </ul>
      <p>Infuse sliced oranges in vodka for two weeks. Pour over ice, top with sprite and stir.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
