---
name: Pink Paradise
date: 2016-04-01
glass: pinkparadise
contents: vodka_tonic
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Pink Paradise"
        class="drink" src="images/combined/pinkparadise.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/susana.html">Mixed by Susana Passinhas</a></h3><img class="rating" src=
            "images/rating3.png">
            <p>A quiet day at the office calls for a loud drink! This spontaneous mixture was made to celebrate our first roof deck outing of the year. If the weather doesn’t warm your soul, maybe the booze will?</p>
            <p>1 part vodka<br>
            2 parts tonic<br>
            .5 parts raspberry lemon cordial<br>
            blueberries</p><br>
            <p>Pour ingredients in a glass with ice and stir. Drop a few blueberries in for extra pizazz.</p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>
