<div class="flex container cocktails" id="content">
<div class="flex container">
    <div class="col-10 left-1 right-1 center name">
        <div class="padded">
            <h3>April 1, 2016</h3>
            <h1>Pink Paradise</h1>
        </div>
    </div>
</div>
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Pink Paradise"
        class="drink" src="images/combined/pinkparadise.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/susana.html">Mixed by Susana Passinhas</a></h3><img class="rating" src=
            "images/rating3.png">
            <p>A quiet day at the office calls for a loud drink! This spontaneous mixture was made to celebrate our first roof deck outing of the year. If the weather doesn’t warm your soul, maybe the booze will?</p>
            <p>1 part vodka<br>
            2 parts tonic<br>
            .5 parts raspberry lemon cordial<br>
            blueberries</p><br>
            <p>Pour ingredients in a glass with ice and stir. Drop a few blueberries in for extra pizazz.</p>
        </div>
    </div>
</div>
<div class="flex container">
    <div class="col-4">
        <div class="padded">
            <a href="w&g.html">
            <h4>Newer cocktail</h4></a>
        </div>
    </div>
    <div class="col-4 middle">
        <div class="padded">
            <a href="index.html">
            <h4>Overview</h4></a>
        </div>
    </div>
    <div class="col-4 right">
        <div class="padded">
            <a href="grapefruittorpedo.html">
            <h4>Older cocktail</h4></a>
        </div>
    </div>
</div>