---
name: Sazerac
date: 2016-09-23
glass: sazerac
contents: whiskey_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Sazerac" class="drink" src="images/combined/sazerac.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/hans.html">
        <h3>Mixed by Hans Gerwitz</h3>
      </a>

      <img class="rating" src="images/rating3.png">

      <p>This classic drink is originally from New Orleans and uses bitters from one of our favorite companies – Scrappy's bitters.</p>
      <ul>
        <li>1 part rye whiskey</li>
        <li>a dash of simple syrup</li>
        <li>3 dashes Scrappy's Orleans Bitters</li>
        <li>lemon for garnish</li>
        <li>absinthe for glass rinse</li>
      </ul>
      <p>Rinse glass with absinthe for aroma. Stir and strain contents into the glass and garnish with a lemon peel.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
