---
name: Sgroppino
date: 2016-06-24
glass: sgroppino
contents: miscchampagne_margarita
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Sgroppino" class="drink" src="images/combined/sgroppino.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating4.png">
      <p>Part two of today's weather drinking game. A sgroppino for those rare but loved sunny moments, and a Dutch twist on the Dark and stormy cocktail for the rest.</p>
      <ul>
        <li>2 parts prosecco</li>
        <li>1 part Limoncello</li>
        <li>1 scoop lemon sorbet</li>
      </ul>
      <p>Pour prosecco and limoncello in a wide glass and stir. Drop a generous scoop of lemon sorbet on top and wait for sun!</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
