---
name: Smoke and Spritz
date: 2016-12-05
glass: smokeandspritz
contents: misc_tonic
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Smoke and Spritz" class="drink" src="images/combined/smokeandspritz.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/natalia.html">
        <h3>Mixed by Natalia Bourges</h3>
      </a>

      <img class="rating" src="images/rating4.png">
      <p>This deliciously smokey drink is nicely balanced with the taste of Aperol. A great way to kick off a cold weekend!</p>
      <ul>
        <li>1 part mezcal</li>
        <li>1 part Aperol</li>
        <li>.5 parts of lemon or lime juice</li>
        <li>a dash of Angostura bitters</li>
        <li>2 parts of club soda</li>
        <li>lemon peel for garnish</li>
      </ul>
      <p>Pour mezcal, aperol, and lemon or lime juice into a shaker with ice. Shake well then pour into a wide glass. Top with club soda, a dash of Angostura bitters, and garnish with a lemon peel.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
