---
name: Sweet Midnight
date: 2016-01-08
glass: sweetmidnight
contents: gin_goblet
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Sweet Midnight"
        class="drink" src="images/combined/sweetmidnight.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E.
            Thomas</a></h3><img class="rating" src=
            "images/rating3.png">
            <p>It's our first drink of the new year together, so we decided to start off with an experiment. This dark and sweet drink inspired many gory names (some insisted bloody was the best adjective), but we decided to keep it clean and so we present to you, Sweet Midnight.</p>
            <p>1 part gin<br> 
               1 part blueberry blackcurrant cordial<br> 
               1 splash simple syrup<br> 
               1 dash cinnamon</p><br>
            <p>Combine all ingredients in a shaker and pour over ice.<br> Garnish with berries.</p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>
