<div id="content" class="cocktails">
<div class="container">

  <div class="recipe flexcontainer">
      <div class="col-4 left-1 right-1">
          <img src="images/combined/sweetmidnight.gif" alt="Sweet Midnight">
      </div>

      <div class="col-6">
          <div class="padded">
            <h3>01.08.2016</h3>
            <h2>Sweet Midnight</h2>
            <img class="rating" src="images/rating4.png">
            <p>1 part Gin<br> 1 part Blueberry Blackcurrant Cordial<br> 1 splash simple syrup<br> 1 dash cinnamon</p><br><p>
            Combine all ingredients in a shaker and pour over ice.<br> Garnish with berries.</p>
        </div>
      </div>
  </div>

  <div class="flexcontainer">
      <div class="col-10 left-1 right-1 center">
        <a href="beesknees.html"><h1>You might also like Bee's Knees</h1></a><a href="index.html"><h3>Return to all recipes</h3></a>
      </div>
  </div>

</div>
</div>