<div id="content" class="cocktails">
<div class="container">

  <div class="flexcontainer padded">
      <div class="col-10 left-1 right-1 center name">
       <h3>January 8, 2016</h3>
       <h1>Sweet Midnight</h1>
      </div>
  </div>

  <div class="recipe flexcontainer padded">
      <div class="col-4 right-2">
          <img src="images/combined/sweetmidnight.gif" alt="Sweet Midnight">
      </div>

      <div class="col-6">
          <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E Thomas</a></h3>
            <img class="rating" src="images/rating3.png">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce odio ipsum, efficitur ac mi mollis, aliquet vulputate nisl. Etiam cursus lorem enim, nec placerat justo interdum et. Fusce ac mauris nec diam eleifend volutpat. Etiam lobortis commodo nisi, et suscipit ipsum sollicitudin quis. Suspendisse cursus felis mollis velit mattis, at pharetra nibh posuere. Mauris eget odio turpis.</p>
            <p>1 part gin<br> 1 part blueberry blackcurrant cordial<br> 1 splash simple syrup<br> 1 dash cinnamon</p><br><p>
            Combine all ingredients in a shaker and pour over ice.<br> Garnish with berries.</p>
        </div>
      </div>
  </div>

  <div class="flexcontainer padded">
      <div class="col-10 left-1 right-1 center">
        <a href="index.html"><h4>Overview</h4></a>
      </div>
  </div>

</div>
</div>