<div class="flex container cocktails" id="content">
<div class="flex container">
    <div class="col-10 left-1 right-1 center name">
        <div class="padded">
            <h3>January 8, 2016</h3>
            <h1>Sweet Midnight</h1>
        </div>
    </div>
</div>
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Sweet Midnight"
        class="drink" src="images/combined/sweetmidnight.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/shannon.html">Mixed by Shannon E
            Thomas</a></h3><img class="rating" src=
            "images/rating3.png">
            <p>It's our first drink of the new year together, so we decided to start off with an experiment. This dark and sweet drink inspired many gory names (some insisted bloody was the best adjective), but we decided to keep it clean and so we present to you, Sweet Midnight.</p>
            <p>1 part gin<br> 1 part blueberry blackcurrant cordial<br> 1 splash simple syrup<br> 1 dash cinnamon</p><br>
            <p>Combine all ingredients in a shaker and pour over ice.<br> Garnish with berries.</p>
        </div>
    </div>
</div>
<div class="flex container padded-bottom">
    <div class="col-4">
        <div class="padded">
            <a href="index.html">
            <h4>Previous cocktail</h4></a>
        </div>
    </div>
    <div class="col-4 middle">
        <div class="padded">
            <a href="index.html">
            <h4>Overview</h4></a>
        </div>
    </div>
    <div class="col-4 right">
        <div class="padded">
            <a href="index.html">
            <h4>Next cocktail</h4></a>
        </div>
    </div>
</div>