---
name: The Natalia
date: 2016-10-13
glass: thenatalia
contents: misc_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Natalia" class="drink" src="images/combined/thenatalia.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/natalia.html">
        <h3>Mixed by Natalia Bourges</h3>
      </a>

      <img class="rating" src="images/rating5.png">

      <p></p>
      <ul>
        <li>1 part mezcal </li>
        <li>1 part ginger ale</li>
        <li>.5 parts agave syrup</li>
        <li>a slice of grilled pineapple</li>
        <li>a dash of lime juice
        <li>jalapeño pepper </li>
        <li>cilantro or mint</li>
      </ul>
      <p>Grill the pineapple on a pan flipping once, until charred on both sides. Remove from pan and let cool. <br><br>
      Place the grilled pineapple, jalapeño, and cilantro in a pitcher and using a muddler, crush fruit and herbs until broken down. <br><br>
      Add mezcal, lime juice, and syrup. Stir well and pour into glasses filled with ice, to serve.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
