---
name: The Susana
date: 2016-07-21
glass: thesusana
contents: misc_short
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Susana" class="drink" src="images/combined/thesusana.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/susana.html">
        <h3>Mixed by Susana Passinhas</h3>
      </a>
      <img class="rating" src="images/rating5.png">
      <p>What started as a brandy based drink only became more delicious with a switch to amaretto. A typical Susana drink will always make you wonder if it’s a cocktail or really just dessert. Cheers!</p>
      <ul>
        <li>2 parts amaretto</li>
        <li>1 part Bailey’s chocolat luxe</li>
        <li>1 part cream</li>
        <li>Pocky stick for garnish</li>
      </ul>
      <p>Combine amaretto, Bailey’s, and cream. Shake with ice. Pour over ice and garnish with a Pocky stick. Infuse amaretto with vanilla beans for extra flavor.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
