---
name: The Shannon
date: 2016-07-01
glass: theshannon
contents: miscwhiskey_martini
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Shannon" class="drink" src="images/combined/theshannon.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating5.png">
      <p>This week we're testing three out of five mixology self portraits for our July summer party. Stay tuned for Susana and Ariane's comming up in a few weeks!</p>
      <ul>
        <li>2 parts scotch whiskey</li>
        <li>1 part marashino liquor</li>
        <li>1 dash of angostura bitters</li>
        <li>cherry for garnish</li>
      </ul>
      <p>Combine all ingredients in a chilled glass. garnish with a fresh cherry before serving.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
