---
name: Tipsy and Tangy
date: 2017-06-02
glass: tipsyandtangy
contents: miscgin_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Tipsy and Tangy" class="drink" src="images/combined/tipsyandtangy.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating5.png">
      <p>We tried an amazing drink at the Pulitzer bar yesterday that got us inspired. Disguised as a light, refreshing drink, this one got us all pretty tipsy with just one (or half) cocktail!</p>
      <ul>
        <li>1 part Tanqueray Gin</li>
        <li>1 part triple sec</li>
        <li>2 parts soda water</li>
        <li>orange slices</li>
        <li>a fresh sprig of mint</li>
      </ul>
      <p>Pour gin, triple sec, and soda water over ice. Squeeze in some fresh orange juice and stir with mint.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
