---
name: Vitamin C
date: 2016-09-16
glass: vitaminC
contents: whiskey_snifter
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Vitamin C" class="drink" src="images/combined/vitaminC.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/ariane.html">
        <h3>Mixed by Ariane Garoff</h3>
      </a>

      <img class="rating" src="images/rating4.png">

      <p>Medication and doctor visits couldn't cure Ariane of her untimely summer cold, but maybe whiskey and citrus juices will!</p>
      <ul>
        <li>2 parts bourbon whiskey</li>
        <li>1 part lemon lime juice</li>
        <li>1.5 parts orange juice</li>
        <li>.5 parts tangerine juice</li>
      </ul>
      <p>Shake all ingredients together with ice. Strain and pour into a wide glass and garnish with a citrus slice.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
