<div class="flex container cocktails" id="content">
<div class="flex container">
    <div class="col-10 left-1 right-1 center name">
        <div class="padded">
            <h3>April 8, 2016</h3>
            <h1>W&G</h1>
        </div>
    </div>
</div>
<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="W&G"
        class="drink" src="images/combined/w&g.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3><a href="../people/carol.html">Mixed by Carol Liao</a></h3><img class="rating" src=
            "images/rating3.png">
            <p>A simple whiskey and ginger ale, with a dash of honey chamomile bitters from my lovely Dram Apothecary bitters set. Yes, I know, mixing whiskey and ginger ale is blasphemy in the cocktail making world, but it will always have a special place in my heart (stomach).</p>
            <p>1 part whiskey<br>
            2 parts ginger ale<br>
            a dash of honey chamomile bitters</p><br>
            <p>Pour ingredients in a glass with ice and stir. A couple drops of honey chamomile bitters gives the drink a slightly herby taste.</p>
        </div>
    </div>
</div>
<div class="flex container">
    <div class="col-4">
        <div class="padded">
            <a href="aperolspritz.html">
            <h4>Newer cocktail</h4></a>
        </div>
    </div>
    <div class="col-4 middle">
        <div class="padded">
            <a href="index.html">
            <h4>Overview</h4></a>
        </div>
    </div>
    <div class="col-4 right">
        <div class="padded">
            <a href="pinkparadise.html">
            <h4>Older cocktail</h4></a>
        </div>
    </div>
</div>