---
name: W&amp;G
date: 2016-04-08
glass: wg
contents: whiskey_snifter
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="W&amp;G" class="drink" src="images/combined/wg.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/Carol.html">
        <h3>Mixed by Carol Liao</h3>
      </a>

      <img class="rating" src="images/rating3.png">

      <p>A simple whiskey and ginger ale, with a dash of honey chamomile bitters from my lovely Dram Apothecary bitters set. Yes, I know, mixing whiskey and ginger ale is blasphemy in the cocktail making world, but it will always have a special place in my heart (stomach).</p>
      <ul>
        <li>1 part whiskey</li>
        <li>2 parts ginger ale</li>
        <li>a dash of honey chamomile bitters</li>
      </ul>
      <p>Pour ingredients in a glass with ice and stir. A couple drops of honey chamomile bitters gives the drink a slightly herby taste.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
