<!-- page content -->
<script src="/pokemonicons/js/svg4everybody.js"></script>
<script>$('document').ready(function(){svg4everybody();});</script>

<div class="pokemonicons-content">

  <div class="bleed bg">
    <div class="flex container pokeball">
      <div class="col-8 left-2 right-2 center introduction">
        <h1>Pokémon icons</h1>
        <p>Frustrated that we hadn’t yet caught all 151 Pokemon in Pokemon Go, we decided to illustrate those cute little monsters instead.</p>
        <p>All of our icons are licensed <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a>. This means they're free to use if you give us credit.</p>
      </div>
      <div class="col-12 center button">
        <a class="download transition" href="downloads/pokémon-icons.zip">Catch 'em all</a>
      </div>
    </div>
  </div>

  <div id="alltheicons" class="flex container">

    <div class="col-8 left-2 right-2 center">
      <h2>151 pixel-perfect vector Pokémon</h2>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#001-bulbasaur"></use>
        </svg>
        <figcaption>
          <div class="number">001</div>
          <div class="name">Bulbasaur</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#002-ivysaur"></use>
        </svg>
        <figcaption>
          <div class="number">002</div>
          <div class="name">Ivysaur</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#003-venusaur"></use>
        </svg>
        <figcaption>
          <div class="number">003</div>
          <div class="name">Venusaur</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#004-charmander"></use>
        </svg>
        <figcaption>
          <div class="number">004</div>
          <div class="name">Charmander</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#005-charmeleon"></use>
        </svg>
        <figcaption>
          <div class="number">005</div>
          <div class="name">Charmeleon</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#006-charizard"></use>
        </svg>
        <figcaption>
          <div class="number">006</div>
          <div class="name">Charizard</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#007-squirtle"></use>
        </svg>
        <figcaption>
          <div class="number">007</div>
          <div class="name">Squirtle</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#008-wartortle"></use>
        </svg>
        <figcaption>
          <div class="number">008</div>
          <div class="name">Wartortle</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#009-blastoise"></use>
        </svg>
        <figcaption>
          <div class="number">009</div>
          <div class="name">Blastoise</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#010-caterpie"></use>
        </svg>
        <figcaption>
          <div class="number">010</div>
          <div class="name">Caterpie</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#011-metapod"></use>
        </svg>
        <figcaption>
          <div class="number">011</div>
          <div class="name">Metapod</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#012-butterfree"></use>
        </svg>
        <figcaption>
          <div class="number">012</div>
          <div class="name">Butterfree</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#013-weedle"></use>
        </svg>
        <figcaption>
          <div class="number">013</div>
          <div class="name">Weedle</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#014-kakuna"></use>
        </svg>
        <figcaption>
          <div class="number">014</div>
          <div class="name">Kakuna</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#015-beedrill"></use>
        </svg>
        <figcaption>
          <div class="number">015</div>
          <div class="name">Beedrill</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#016-pidgey"></use>
        </svg>
        <figcaption>
          <div class="number">016</div>
          <div class="name">Pidgey</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#017-pidgeotto"></use>
        </svg>
        <figcaption>
          <div class="number">017</div>
          <div class="name">Pidgeotto</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#018-pidgeot"></use>
        </svg>
        <figcaption>
          <div class="number">018</div>
          <div class="name">Pidgeot</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#019-rattata"></use>
        </svg>
        <figcaption>
          <div class="number">019</div>
          <div class="name">Rattata</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#020-raticate"></use>
        </svg>
        <figcaption>
          <div class="number">020</div>
          <div class="name">Raticate</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#021-spearow"></use>
        </svg>
        <figcaption>
          <div class="number">021</div>
          <div class="name">Spearow</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#022-fearow"></use>
        </svg>
        <figcaption>
          <div class="number">022</div>
          <div class="name">Fearow</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#023-ekans"></use>
        </svg>
        <figcaption>
          <div class="number">023</div>
          <div class="name">Ekans</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#024-arbok"></use>
        </svg>
        <figcaption>
          <div class="number">024</div>
          <div class="name">Arbok</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#025-pikachu"></use>
        </svg>
        <figcaption>
          <div class="number">025</div>
          <div class="name">Pikachu</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#026-raichu"></use>
        </svg>
        <figcaption>
          <div class="number">026</div>
          <div class="name">Raichu</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#027-sandshrew"></use>
        </svg>
        <figcaption>
          <div class="number">027</div>
          <div class="name">Sandshrew</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#028-sandslash"></use>
        </svg>
        <figcaption>
          <div class="number">028</div>
          <div class="name">Sandslash</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#029-nidoran-f"></use>
        </svg>
        <figcaption>
          <div class="number">029</div>
          <div class="name">Nidoran &#9792;</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#030-nidorina"></use>
        </svg>
        <figcaption>
          <div class="number">030</div>
          <div class="name">Nidorina</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#031-nidoqueen"></use>
        </svg>
        <figcaption>
          <div class="number">031</div>
          <div class="name">Nidoqueen</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#032-nidoran-m"></use>
        </svg>
        <figcaption>
          <div class="number">032</div>
          <div class="name">Nidoran &#9794;</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#033-nidorino"></use>
        </svg>
        <figcaption>
          <div class="number">033</div>
          <div class="name">Nidorino</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#034-nidoking"></use>
        </svg>
        <figcaption>
          <div class="number">034</div>
          <div class="name">Nidoking</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#035-clefairy"></use>
        </svg>
        <figcaption>
          <div class="number">035</div>
          <div class="name">Clefairy</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#036-clefable"></use>
        </svg>
        <figcaption>
          <div class="number">036</div>
          <div class="name">Clefable</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#037-vulpix"></use>
        </svg>
        <figcaption>
          <div class="number">037</div>
          <div class="name">Vulpix</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#038-ninetales"></use>
        </svg>
        <figcaption>
          <div class="number">038</div>
          <div class="name">Ninetales</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#039-jigglypuff"></use>
        </svg>
        <figcaption>
          <div class="number">039</div>
          <div class="name">Jigglypuff</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#040-wigglytuff"></use>
        </svg>
        <figcaption>
          <div class="number">040</div>
          <div class="name">Wigglytuff</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#041-zubat"></use>
        </svg>
        <figcaption>
          <div class="number">041</div>
          <div class="name">Zubat</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#042-golbat"></use>
        </svg>
        <figcaption>
          <div class="number">042</div>
          <div class="name">Golbat</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#043-oddish"></use>
        </svg>
        <figcaption>
          <div class="number">043</div>
          <div class="name">Oddish</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#044-gloom"></use>
        </svg>
        <figcaption>
          <div class="number">044</div>
          <div class="name">Gloom</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#045-vileplume"></use>
        </svg>
        <figcaption>
          <div class="number">045</div>
          <div class="name">Vileplume</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#046-paras"></use>
        </svg>
        <figcaption>
          <div class="number">046</div>
          <div class="name">Paras</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#047-parasect"></use>
        </svg>
        <figcaption>
          <div class="number">047</div>
          <div class="name">Parasect</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#048-venonat"></use>
        </svg>
        <figcaption>
          <div class="number">048</div>
          <div class="name">Venonat</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#049-venomoth"></use>
        </svg>
        <figcaption>
          <div class="number">049</div>
          <div class="name">Venomoth</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#050-diglett"></use>
        </svg>
        <figcaption>
          <div class="number">050</div>
          <div class="name">Diglett</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#051-dugtrio"></use>
        </svg>
        <figcaption>
          <div class="number">051</div>
          <div class="name">Dugtrio</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#052-meowth"></use>
        </svg>
        <figcaption>
          <div class="number">052</div>
          <div class="name">Meowth</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#053-persian"></use>
        </svg>
        <figcaption>
          <div class="number">053</div>
          <div class="name">Persian</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#054-psyduck"></use>
        </svg>
        <figcaption>
          <div class="number">054</div>
          <div class="name">Psyduck</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#055-golduck"></use>
        </svg>
        <figcaption>
          <div class="number">055</div>
          <div class="name">Golduck</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#056-mankey"></use>
        </svg>
        <figcaption>
          <div class="number">056</div>
          <div class="name">Mankey</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#057-primeape"></use>
        </svg>
        <figcaption>
          <div class="number">057</div>
          <div class="name">Primeape</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#058-growlithe"></use>
        </svg>
        <figcaption>
          <div class="number">058</div>
          <div class="name">Growlithe</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#059-arcanine"></use>
        </svg>
        <figcaption>
          <div class="number">059</div>
          <div class="name">Arcanine</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#060-poliwag"></use>
        </svg>
        <figcaption>
          <div class="number">060</div>
          <div class="name">Poliwag</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#061-poliwhirl"></use>
        </svg>
        <figcaption>
          <div class="number">061</div>
          <div class="name">Poliwhirl</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#062-poliwrath"></use>
        </svg>
        <figcaption>
          <div class="number">062</div>
          <div class="name">Poliwrath</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#063-abra"></use>
        </svg>
        <figcaption>
          <div class="number">063</div>
          <div class="name">Abra</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#064-kadabra"></use>
        </svg>
        <figcaption>
          <div class="number">064</div>
          <div class="name">Kadabra</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#065-alakazam"></use>
        </svg>
        <figcaption>
          <div class="number">065</div>
          <div class="name">Alakazam</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#066-machop"></use>
        </svg>
        <figcaption>
          <div class="number">066</div>
          <div class="name">Machop</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#067-machoke"></use>
        </svg>
        <figcaption>
          <div class="number">067</div>
          <div class="name">Machoke</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#068-machamp"></use>
        </svg>
        <figcaption>
          <div class="number">068</div>
          <div class="name">Machamp</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#069-bellsprout"></use>
        </svg>
        <figcaption>
          <div class="number">069</div>
          <div class="name">Bellsprout</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#070-weepinbell"></use>
        </svg>
        <figcaption>
          <div class="number">070</div>
          <div class="name">Weepinbell</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#071-victreebel"></use>
        </svg>
        <figcaption>
          <div class="number">071</div>
          <div class="name">Victreebel</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#072-tentacool"></use>
        </svg>
        <figcaption>
          <div class="number">072</div>
          <div class="name">Tentacool</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#073-tentacruel"></use>
        </svg>
        <figcaption>
          <div class="number">073</div>
          <div class="name">Tentacruel</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#074-geodude"></use>
        </svg>
        <figcaption>
          <div class="number">074</div>
          <div class="name">Geodude</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#075-graveler"></use>
        </svg>
        <figcaption>
          <div class="number">075</div>
          <div class="name">Graveler</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#076-golem"></use>
        </svg>
        <figcaption>
          <div class="number">076</div>
          <div class="name">Golem</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#077-ponyta"></use>
        </svg>
        <figcaption>
          <div class="number">077</div>
          <div class="name">Ponyta</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#078-rapidash"></use>
        </svg>
        <figcaption>
          <div class="number">078</div>
          <div class="name">Rapidash</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#079-slowpoke"></use>
        </svg>
        <figcaption>
          <div class="number">079</div>
          <div class="name">Slowpoke</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#080-slowbro"></use>
        </svg>
        <figcaption>
          <div class="number">080</div>
          <div class="name">Slowbro</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#081-magnemite"></use>
        </svg>
        <figcaption>
          <div class="number">081</div>
          <div class="name">Magnemite</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#082-magneton"></use>
        </svg>
        <figcaption>
          <div class="number">082</div>
          <div class="name">Magneton</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#083-farfetchd"></use>
        </svg>
        <figcaption>
          <div class="number">083</div>
          <div class="name">Farfetch'd</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#084-doduo"></use>
        </svg>
        <figcaption>
          <div class="number">084</div>
          <div class="name">Doduo</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#085-dodrio"></use>
        </svg>
        <figcaption>
          <div class="number">085</div>
          <div class="name">Dodrio</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#086-seel"></use>
        </svg>
        <figcaption>
          <div class="number">086</div>
          <div class="name">Seel</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#087-dewgong"></use>
        </svg>
        <figcaption>
          <div class="number">087</div>
          <div class="name">Dewgong</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#088-grimer"></use>
        </svg>
        <figcaption>
          <div class="number">088</div>
          <div class="name">Grimer</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#089-muk"></use>
        </svg>
        <figcaption>
          <div class="number">089</div>
          <div class="name">Muk</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#090-shellder"></use>
        </svg>
        <figcaption>
          <div class="number">090</div>
          <div class="name">Shellder</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#091-cloyster"></use>
        </svg>
        <figcaption>
          <div class="number">091</div>
          <div class="name">Cloyster</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#092-gastly"></use>
        </svg>
        <figcaption>
          <div class="number">092</div>
          <div class="name">Gastly</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#093-haunter"></use>
        </svg>
        <figcaption>
          <div class="number">093</div>
          <div class="name">Haunter</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#094-gengar"></use>
        </svg>
        <figcaption>
          <div class="number">094</div>
          <div class="name">Gengar</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#095-onix"></use>
        </svg>
        <figcaption>
          <div class="number">095</div>
          <div class="name">Onix</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#096-drowzee"></use>
        </svg>
        <figcaption>
          <div class="number">096</div>
          <div class="name">Drowzee</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#097-hypno"></use>
        </svg>
        <figcaption>
          <div class="number">097</div>
          <div class="name">Hypno</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#098-krabby"></use>
        </svg>
        <figcaption>
          <div class="number">098</div>
          <div class="name">Krabby</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#099-kingler"></use>
        </svg>
        <figcaption>
          <div class="number">099</div>
          <div class="name">Kingler</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#100-voltorb"></use>
        </svg>
        <figcaption>
          <div class="number">100</div>
          <div class="name">Voltorb</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#101-electrode"></use>
        </svg>
        <figcaption>
          <div class="number">101</div>
          <div class="name">Electrode</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#102-exeggcute"></use>
        </svg>
        <figcaption>
          <div class="number">102</div>
          <div class="name">Exeggcute</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#103-exeggutor"></use>
        </svg>
        <figcaption>
          <div class="number">103</div>
          <div class="name">Exeggutor</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#104-cubone"></use>
        </svg>
        <figcaption>
          <div class="number">104</div>
          <div class="name">Cubone</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#105-marowak"></use>
        </svg>
        <figcaption>
          <div class="number">105</div>
          <div class="name">Marowak</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#106-hitmonlee"></use>
        </svg>
        <figcaption>
          <div class="number">106</div>
          <div class="name">Hitmonlee</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#107-hitmonchan"></use>
        </svg>
        <figcaption>
          <div class="number">107</div>
          <div class="name">Hitmonchan</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#108-lickitung"></use>
        </svg>
        <figcaption>
          <div class="number">108</div>
          <div class="name">Lickitung</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#109-koffing"></use>
        </svg>
        <figcaption>
          <div class="number">109</div>
          <div class="name">Koffing</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#110-weezing"></use>
        </svg>
        <figcaption>
          <div class="number">110</div>
          <div class="name">Weezing</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#111-rhyhorn"></use>
        </svg>
        <figcaption>
          <div class="number">111</div>
          <div class="name">Rhyhorn</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#112-rhydon"></use>
        </svg>
        <figcaption>
          <div class="number">112</div>
          <div class="name">Rhydon</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#113-chansey"></use>
        </svg>
        <figcaption>
          <div class="number">113</div>
          <div class="name">Chansey</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#114-tangela"></use>
        </svg>
        <figcaption>
          <div class="number">114</div>
          <div class="name">Tangela</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#115-kangaskhan"></use>
        </svg>
        <figcaption>
          <div class="number">115</div>
          <div class="name">Kangaskhan</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#116-horsea"></use>
        </svg>
        <figcaption>
          <div class="number">116</div>
          <div class="name">Horsea</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#117-seadra"></use>
        </svg>
        <figcaption>
          <div class="number">117</div>
          <div class="name">Seadra</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#118-goldeen"></use>
        </svg>
        <figcaption>
          <div class="number">118</div>
          <div class="name">Goldeen</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#119-seaking"></use>
        </svg>
        <figcaption>
          <div class="number">119</div>
          <div class="name">Seaking</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#120-staryu"></use>
        </svg>
        <figcaption>
          <div class="number">120</div>
          <div class="name">Staryu</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#121-starmie"></use>
        </svg>
        <figcaption>
          <div class="number">121</div>
          <div class="name">Starmie</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#122-mrmime"></use>
        </svg>
        <figcaption>
          <div class="number">122</div>
          <div class="name">Mr. Mime</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#123-scyther"></use>
        </svg>
        <figcaption>
          <div class="number">123</div>
          <div class="name">Scyther</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#124-jynx"></use>
        </svg>
        <figcaption>
          <div class="number">124</div>
          <div class="name">Jynx</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#125-electabuzz"></use>
        </svg>
        <figcaption>
          <div class="number">125</div>
          <div class="name">Electabuzz</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#126-magmar"></use>
        </svg>
        <figcaption>
          <div class="number">126</div>
          <div class="name">Magmar</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#127-pinsir"></use>
        </svg>
        <figcaption>
          <div class="number">127</div>
          <div class="name">Pinsir</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#128-tauros"></use>
        </svg>
        <figcaption>
          <div class="number">128</div>
          <div class="name">Tauros</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#129-magikarp"></use>
        </svg>
        <figcaption>
          <div class="number">129</div>
          <div class="name">Magikarp</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#130-gyarados"></use>
        </svg>
        <figcaption>
          <div class="number">130</div>
          <div class="name">Gyarados</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#131-lapras"></use>
        </svg>
        <figcaption>
          <div class="number">131</div>
          <div class="name">Lapras</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#132-ditto"></use>
        </svg>
        <figcaption>
          <div class="number">132</div>
          <div class="name">Ditto</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#133-eevee"></use>
        </svg>
        <figcaption>
          <div class="number">133</div>
          <div class="name">Eevee</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#134-vaporeon"></use>
        </svg>
        <figcaption>
          <div class="number">134</div>
          <div class="name">Vaporeon</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#135-jolteon"></use>
        </svg>
        <figcaption>
          <div class="number">135</div>
          <div class="name">Jolteon</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#136-flareon"></use>
        </svg>
        <figcaption>
          <div class="number">136</div>
          <div class="name">Flareon</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#137-porygon"></use>
        </svg>
        <figcaption>
          <div class="number">137</div>
          <div class="name">Porygon</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#138-omanyte"></use>
        </svg>
        <figcaption>
          <div class="number">138</div>
          <div class="name">Omanyte</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#139-omastar"></use>
        </svg>
        <figcaption>
          <div class="number">139</div>
          <div class="name">Omastar</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#140-kabuto"></use>
        </svg>
        <figcaption>
          <div class="number">140</div>
          <div class="name">Kabuto</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#141-kabutops"></use>
        </svg>
        <figcaption>
          <div class="number">141</div>
          <div class="name">Kabutops</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#142-aerodactyl"></use>
        </svg>
        <figcaption>
          <div class="number">142</div>
          <div class="name">Aerodactyl</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#143-snorlax"></use>
        </svg>
        <figcaption>
          <div class="number">143</div>
          <div class="name">Snorlax</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#144-articuno"></use>
        </svg>
        <figcaption>
          <div class="number">144</div>
          <div class="name">Articuno</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#145-zapdos"></use>
        </svg>
        <figcaption>
          <div class="number">145</div>
          <div class="name">Zapdos</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#146-moltres"></use>
        </svg>
        <figcaption>
          <div class="number">146</div>
          <div class="name">Moltres</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#147-dratini"></use>
        </svg>
        <figcaption>
          <div class="number">147</div>
          <div class="name">Dratini</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#148-dragonair"></use>
        </svg>
        <figcaption>
          <div class="number">148</div>
          <div class="name">Dragonair</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#149-dragonite"></use>
        </svg>
        <figcaption>
          <div class="number">149</div>
          <div class="name">Dragonite</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#150-mewtwo"></use>
        </svg>
        <figcaption>
          <div class="number">150</div>
          <div class="name">Mewtwo</div>
        </figcaption>
      </figure>
    </div>

    <div class="col-2 center">
      <figure>
        <svg>
          <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#151-mew"></use>
        </svg>
        <figcaption>
          <div class="number">151</div>
          <div class="name">Mew</div>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="bleed bg top">
    <div class="flex container">
      <div class="col-8 left-2 right-2 center conclusion">
        <p>All our icons are free to download and use under the <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY licence</a>. <br>Using them for your next project? <a href="http://twitter.com/veryartificial">Show us</a> how you've used them!</p>
      </div>
      <div class="col-12 center button">
        <a class="download transition" href="downloads/pokémon-icons.zip">Catch 'em all</a>
      </div>
    </div>
  </div>
</div>
