<!-- page content -->
<script src="/pokemonicons/js/svg4everybody.legacy.min.js"></script>
<script>$('document').ready(function(){svg4everybody();});</script>

<div class="pokemonicons-content">
  <div class="bleed bg">
    <div class="flex container pokeball">
      <div class="col-8 left-2 right-2 center introduction">
        <h1>Pokémon icons</h1>

        <h2>Frustrated that we hadn’t yet caught all 151 Pokemon in Pokemon Go, we decided to illustrate those cute little monsters instead.</h2>
        <h2>All our icons are free to download and use under the <a href="https://creativecommons.org/licenses/by/3.0/" target="blank">CC-BY licence</a>.</h2>
      </div>
        <a class="download transition" href="">
          <p>Catch 'em all</p>
        </a>

    </div>
  </div>


  <div id="casesummary">
    <div class="flex container">
      <div class="col-8 center">
        <h2>151 pixel-perfect vector Pokémon</h2>
      </div>
    </div>

    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#001-bulbasaur"></use>
        </svg>
        <h6>001</h6>
        <p>Bulbasaur</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#002-ivysaur"></use>
        </svg>
        <h6>002</h6>
        <p>Ivysaur</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#003-venusaur"></use>
        </svg>
        <h6>003</h6>
        <p>Venusaur</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#004-charmander"></use>
        </svg>
        <h6>004</h6>
        <p>Charmander</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#005-charmeleon"></use>
        </svg>
        <h6>005</h6>
        <p>Charmeleon</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#006-charizard"></use>
        </svg>
        <h6>006</h6>
        <p>Charizard</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#007-squirtle"></use>
        </svg>
        <h6>007</h6>
        <p>Squirtle</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#008-wartortle"></use>
        </svg>
        <h6>008</h6>
        <p>Wartortle</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#009-blastoise"></use>
        </svg>
        <h6>009</h6>
        <p>Blastoise</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#010-caterpie"></use>
        </svg>
        <h6>010</h6>
        <p>Caterpie</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#011-metapod"></use>
        </svg>
        <h6>011</h6>
        <p>Metapod</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#012-butterfree"></use>
        </svg>
        <h6>012</h6>
        <p>Butterfree</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#013-weedle"></use>
        </svg>
        <h6>013</h6>
        <p>Weedle</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#014-kakuna"></use>
        </svg>
        <h6>014</h6>
        <p>Kakuna</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#015-beedrill"></use>
        </svg>
        <h6>015</h6>
        <p>Beedrill</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#016-pidgey"></use>
        </svg>
        <h6>016</h6>
        <p>Pidgey</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#017-pidgeotto"></use>
        </svg>
        <h6>017</h6>
        <p>Pidgeotto</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#018-pidgeot"></use>
        </svg>
        <h6>018</h6>
        <p>Pidgeot</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#019-rattata"></use>
        </svg>
        <h6>019</h6>
        <p>Rattata</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#020-raticate"></use>
        </svg>
        <h6>020</h6>
        <p>Raticate</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#021-spearow"></use>
        </svg>
        <h6>021</h6>
        <p>Spearow</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#022-fearow"></use>
        </svg>
        <h6>022</h6>
        <p>Fearow</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#023-ekans"></use>
        </svg>
        <h6>023</h6>
        <p>Ekans</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#024-arbok"></use>
        </svg>
        <h6>024</h6>
        <p>Arbok</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#019-rattata"></use>
        </svg>
        <h6>019</h6>
        <p>Rattata</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#020-raticate"></use>
        </svg>
        <h6>020</h6>
        <p>Raticate</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#021-spearow"></use>
        </svg>
        <h6>021</h6>
        <p>Spearow</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#022-fearow"></use>
        </svg>
        <h6>022</h6>
        <p>Fearow</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#023-ekans"></use>
        </svg>
        <h6>023</h6>
        <p>Ekans</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#024-arbok"></use>
        </svg>
        <h6>024</h6>
        <p>Arbok</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#025-pikachu"></use>
        </svg>
        <h6>025</h6>
        <p>Pikachu</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#026-raichu"></use>
        </svg>
        <h6>026</h6>
        <p>Raichu</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#027-sandshrew"></use>
        </svg>
        <h6>027</h6>
        <p>Sandshrew</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#028-sandslash"></use>
        </svg>
        <h6>028</h6>
        <p>Sandslash</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#029-nidoran-f"></use>
        </svg>
        <h6>029</h6>
        <p>Nidoran ♀</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#030-nidorina"></use>
        </svg>
        <h6>030</h6>
        <p>Nidorina</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#031-nidoqueen"></use>
        </svg>
        <h6>031</h6>
        <p>Nidoqueen</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#032-nidoran-m"></use>
        </svg>
        <h6>032</h6>
        <p>Nidoran ♂</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#033-nidorino"></use>
        </svg>
        <h6>033</h6>
        <p>Nidorino</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#034-nidoking"></use>
        </svg>
        <h6>034</h6>
        <p>Nidoking</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#035-clefairy"></use>
        </svg>
        <h6>035</h6>
        <p>Clefairy</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#036-clefable"></use>
        </svg>
        <h6>036</h6>
        <p>Clefable</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#037-vulpix"></use>
        </svg>
        <h6>037</h6>
        <p>Vulpix</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#038-ninetales"></use>
        </svg>
        <h6>038</h6>
        <p>Ninetales</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#039-jigglypuff"></use>
        </svg>
        <h6>039</h6>
        <p>Jigglypuff</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#040-wigglytuff"></use>
        </svg>
        <h6>040</h6>
        <p>Wigglytuff</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#041-zubat"></use>
        </svg>
        <h6>041</h6>
        <p>Zubat</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#042-golbat"></use>
        </svg>
        <h6>042</h6>
        <p>Golbat</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#043-oddish"></use>
        </svg>
        <h6>043</h6>
        <p>Oddish</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#044-gloom"></use>
        </svg>
        <h6>044</h6>
        <p>Gloom</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#045-vileplume"></use>
        </svg>
        <h6>045</h6>
        <p>Vileplume</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#046-paras"></use>
        </svg>
        <h6>046</h6>
        <p>Paras</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#047-parasect"></use>
        </svg>
        <h6>047</h6>
        <p>Parasect</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#048-venonat"></use>
        </svg>
        <h6>048</h6>
        <p>Venonat</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#049-venomoth"></use>
        </svg>
        <h6>049</h6>
        <p>Venomoth</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#050-diglett"></use>
        </svg>
        <h6>050</h6>
        <p>Diglett</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#051-dugtrio"></use>
        </svg>
        <h6>051</h6>
        <p>Dugtrio</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#052-meowth"></use>
        </svg>
        <h6>052</h6>
        <p>Meowth</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#053-persian"></use>
        </svg>
        <h6>053</h6>
        <p>Persian</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#054-psyduck"></use>
        </svg>
        <h6>054</h6>
        <p>Psyduck</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#055-golduck"></use>
        </svg>
        <h6>055</h6>
        <p>Golduck</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#056-mankey"></use>
        </svg>
        <h6>056</h6>
        <p>Mankey</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#057-primeape"></use>
        </svg>
        <h6>057</h6>
        <p>Primeape</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#058-growlithe"></use>
        </svg>
        <h6>058</h6>
        <p>Growlithe</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#059-arcanine"></use>
        </svg>
        <h6>059</h6>
        <p>Arcanine</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#060-poliwag"></use>
        </svg>
        <h6>060</h6>
        <p>Poliwag</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#061-poliwhirl"></use>
        </svg>
        <h6>061</h6>
        <p>Poliwhirl</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#062-poliwrath"></use>
        </svg>
        <h6>062</h6>
        <p>Poliwrath</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#063-abra"></use>
        </svg>
        <h6>063</h6>
        <p>Abra</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#064-kadabra"></use>
        </svg>
        <h6>064</h6>
        <p>Kadabra</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#065-alakazam"></use>
        </svg>
        <h6>065</h6>
        <p>Alakazam</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#066-machop"></use>
        </svg>
        <h6>066</h6>
        <p>Machop</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#067-machoke"></use>
        </svg>
        <h6>067</h6>
        <p>Machoke</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#068-machamp"></use>
        </svg>
        <h6>068</h6>
        <p>Machamp</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#069-bellsprout"></use>
        </svg>
        <h6>069</h6>
        <p>Bellsprout</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#070-weepinbell"></use>
        </svg>
        <h6>070</h6>
        <p>Weepinbell</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#071-victreebel"></use>
        </svg>
        <h6>071</h6>
        <p>Victreebel</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#072-tentacool"></use>
        </svg>
        <h6>072</h6>
        <p>Tentacool</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#067-machoke"></use>
        </svg>
        <h6>067</h6>
        <p>Machoke</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#068-machamp"></use>
        </svg>
        <h6>068</h6>
        <p>Machamp</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#069-bellsprout"></use>
        </svg>
        <h6>069</h6>
        <p>Bellsprout</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#070-weepinbell"></use>
        </svg>
        <h6>070</h6>
        <p>Weepinbell</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#071-victreebel"></use>
        </svg>
        <h6>071</h6>
        <p>Victreebel</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#072-tentacool"></use>
        </svg>
        <h6>072</h6>
        <p>Tentacool</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#073-tentacruel"></use>
        </svg>
        <h6>073</h6>
        <p>Tentacruel</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#074-geodude"></use>
        </svg>
        <h6>074</h6>
        <p>Geodude</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#075-graveler"></use>
        </svg>
        <h6>075</h6>
        <p>Graveler</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#076-golem"></use>
        </svg>
        <h6>076</h6>
        <p>Golem</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#077-ponyta"></use>
        </svg>
        <h6>077</h6>
        <p>Ponyta</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#078-rapidash"></use>
        </svg>
        <h6>078</h6>
        <p>Rapidash</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#079-slowpoke"></use>
        </svg>
        <h6>079</h6>
        <p>Slowpoke</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#080-slowbro"></use>
        </svg>
        <h6>080</h6>
        <p>Slowbro</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#081-magnemite"></use>
        </svg>
        <h6>081</h6>
        <p>Magnemite</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#082-magneton"></use>
        </svg>
        <h6>082</h6>
        <p>Magneton</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#083-farfetchd"></use>
        </svg>
        <h6>083</h6>
        <p>Farfetch'd</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#084-doduo"></use>
        </svg>
        <h6>084</h6>
        <p>Doduo</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#085-dodrio"></use>
        </svg>
        <h6>085</h6>
        <p>Dodrio</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#086-seel"></use>
        </svg>
        <h6>086</h6>
        <p>Seel</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#087-dewgong"></use>
        </svg>
        <h6>087</h6>
        <p>Dewgong</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#088-grimer"></use>
        </svg>
        <h6>088</h6>
        <p>Grimer</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#089-muk"></use>
        </svg>
        <h6>089</h6>
        <p>Muk</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#090-shellder"></use>
        </svg>
        <h6>090</h6>
        <p>Shellder</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#091-cloyster"></use>
        </svg>
        <h6>091</h6>
        <p>Cloyster</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#092-gastly"></use>
        </svg>
        <h6>092</h6>
        <p>Gastly</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#093-haunter"></use>
        </svg>
        <h6>093</h6>
        <p>Haunter</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#094-gengar"></use>
        </svg>
        <h6>094</h6>
        <p>Gengar</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#095-onix"></use>
        </svg>
        <h6>095</h6>
        <p>Onix</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#096-drowzee"></use>
        </svg>
        <h6>096</h6>
        <p>Drowzee</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#097-hypno"></use>
        </svg>
        <h6>097</h6>
        <p>Hypno</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#098-krabby"></use>
        </svg>
        <h6>098</h6>
        <p>Krabby</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#099-kingler"></use>
        </svg>
        <h6>099</h6>
        <p>Kingler</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#100-voltorb"></use>
        </svg>
        <h6>100</h6>
        <p>Voltorb</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#101-electrode"></use>
        </svg>
        <h6>101</h6>
        <p>Electrode</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#102-exeggcute"></use>
        </svg>
        <h6>102</h6>
        <p>Exeggcute</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#103-exeggutor"></use>
        </svg>
        <h6>103</h6>
        <p>Exeggutor</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#104-cubone"></use>
        </svg>
        <h6>104</h6>
        <p>Cubone</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#105-marowak"></use>
        </svg>
        <h6>105</h6>
        <p>Marowak</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#106-hitmonlee"></use>
        </svg>
        <h6>106</h6>
        <p>Hitmonlee</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#107-hitmonchan"></use>
        </svg>
        <h6>107</h6>
        <p>Hitmonchan</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#108-lickitung"></use>
        </svg>
        <h6>108</h6>
        <p>Lickitung</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#109-koffing"></use>
        </svg>
        <h6>109</h6>
        <p>Koffing</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#110-weezing"></use>
        </svg>
        <h6>110</h6>
        <p>Weezing</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#111-rhyhorn"></use>
        </svg>
        <h6>111</h6>
        <p>Rhyhorn</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#112-rhydon"></use>
        </svg>
        <h6>112</h6>
        <p>Rhydon</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#113-chansey"></use>
        </svg>
        <h6>113</h6>
        <p>Chansey</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#114-tangela"></use>
        </svg>
        <h6>114</h6>
        <p>Tangela</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#115-kangaskhan"></use>
        </svg>
        <h6>115</h6>
        <p>Kangaskhan</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#116-horsea"></use>
        </svg>
        <h6>116</h6>
        <p>Horsea</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#117-seadra"></use>
        </svg>
        <h6>117</h6>
        <p>Seadra</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#118-goldeen"></use>
        </svg>
        <h6>118</h6>
        <p>Goldeen</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#119-seaking"></use>
        </svg>
        <h6>119</h6>
        <p>Seaking</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#120-staryu"></use>
        </svg>
        <h6>120</h6>
        <p>Staryu</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#121-starmie"></use>
        </svg>
        <h6>121</h6>
        <p>Starmie</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#122-mrmime"></use>
        </svg>
        <h6>122</h6>
        <p>Mr. Mime</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#123-scyther"></use>
        </svg>
        <h6>123</h6>
        <p>Scyther</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#124-jynx"></use>
        </svg>
        <h6>124</h6>
        <p>Jynx</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#125-electabuzz"></use>
        </svg>
        <h6>125</h6>
        <p>Electabuzz</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#126-magmar"></use>
        </svg>
        <h6>126</h6>
        <p>Magmar</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#127-pinsir"></use>
        </svg>
        <h6>127</h6>
        <p>Pinsir</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#128-tauros"></use>
        </svg>
        <h6>128</h6>
        <p>Tauros</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#129-magikarp"></use>
        </svg>
        <h6>129</h6>
        <p>Magikarp</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#130-gyarados"></use>
        </svg>
        <h6>130</h6>
        <p>Gyarados</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#131-lapras"></use>
        </svg>
        <h6>131</h6>
        <p>Lapras</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#132-ditto"></use>
        </svg>
        <h6>132</h6>
        <p>Ditto</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#133-eevee"></use>
        </svg>
        <h6>133</h6>
        <p>Eevee</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#134-vaporeon"></use>
        </svg>
        <h6>134</h6>
        <p>Vaporeon</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#135-jolteon"></use>
        </svg>
        <h6>135</h6>
        <p>Jolteon</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#136-flareon"></use>
        </svg>
        <h6>136</h6>
        <p>Flareon</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#137-porygon"></use>
        </svg>
        <h6>137</h6>
        <p>Porygon</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#138-omanyte"></use>
        </svg>
        <h6>138</h6>
        <p>Omanyte</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#139-omastar"></use>
        </svg>
        <h6>139</h6>
        <p>Omastar</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#140-kabuto"></use>
        </svg>
        <h6>140</h6>
        <p>Kabuto</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#141-kabutops"></use>
        </svg>
        <h6>141</h6>
        <p>Kabutops</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#142-aerodactyl"></use>
        </svg>
        <h6>142</h6>
        <p>Aerodactyl</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#143-snorlax"></use>
        </svg>
        <h6>143</h6>
        <p>Snorlax</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#144-articuno"></use>
        </svg>
        <h6>144</h6>
        <p>Articuno</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#145-zapdos"></use>
        </svg>
        <h6>145</h6>
        <p>Zapdos</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#146-moltres"></use>
        </svg>
        <h6>146</h6>
        <p>Moltres</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#147-dratini"></use>
        </svg>
        <h6>147</h6>
        <p>Dratini</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#148-dragonair"></use>
        </svg>
        <h6>148</h6>
        <p>Dragonair</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#149-dragonite"></use>
        </svg>
        <h6>149</h6>
        <p>Dragonite</p>
      </div>
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#150-mewtwo"></use>
        </svg>
        <h6>150</h6>
        <p>Mewtwo</p>
      </div>
    </div>
<!-- end row -->
    <div class="flex container">
      <div class="col-2 center">
        <svg>
          <use xlink:href="/pokemonicons/images/sheet.svg#151-mew"></use>
        </svg>
        <h6>151</h6>
        <p>Mew</p>
      </div>
    </div>
<!-- end row -->

  <div class="bleed bg top">
    <div class="flex container">
      <div class="col-8 left-2 right-2 center introduction">
        <h2>All our icons are free to download and use under the <a href="https://creativecommons.org/licenses/by/3.0/" target="blank">CC-BY licence</a>. <br>Using them for your next project? <a href="http://twitter.com/veryartificial" target="blank">Show us</a> how you've used them!</h2>
      </div>

        <a class="download transition" href="">
          <p>Download full series</p>
        </a>

    </div>
  </div>
</div>
