<!-- page content -->
<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<script src="/js/svg4everybody.legacy.min.js"></script>
	<script>svg4everybody(); // run it now or whenever you are ready</script>
</head>


<div class="pokemonicons-content">
	<div class="bleed bg">
		<div class="flex container pokeball">
			<div class="col-8 left-2 right-2 center introduction">
				<h1>Pokémon icons</h1>

				<h2>Frustrated that we hadn’t yet caught all 151 Pokemon in Pokemon Go, we decided to illustrate those cute little monsters instead.</h2>
				<h2>All our icons are free to download and use under the <a href="https://creativecommons.org/licenses/by/3.0/" target="blank">CC-BY licence</a>.</h2>
			</div>
				<a class="download transition" href="">
					<p>Catch 'em all</p>
				</a>

		</div>
	</div>


	<div id="casesummary">
		<div class="flex container">
			<div class="col-8 center">
				<h2>151 pixel-perfect vector Pokémon</h2>
			</div>
		</div>

		<div class="flex container">
			<div class="col-2 center">
				<svg>
					<use xlink:href="/pokemonicons/images/sheet.svg#1-bulbasaur"></use>
				</svg>
				<h6>001</h6>
				<p>Bulbasaur</p>
			</div>
			<div class="col-2 center">
				<svg>
					<use xlink:href="/pokemonicons/images/sheet.svg#2-ivysaur"></use>
				</svg>
				<h6>002</h6>
				<p>Ivysaur</p>
			</div>
			<div class="col-2 center">
				<svg>
					<use xlink:href="/pokemonicons/images/sheet.svg#3-venusaur"></use>
				</svg>
				<h6>003</h6>
				<p>Venusaur</p>
			</div>
			<div class="col-2 center">
				<svg>
					<use xlink:href="/pokemonicons/images/sheet.svg#4-charmander"></use>
				</svg>
				<h6>004</h6>
				<p>Charmander</p>
			</div>
			<div class="col-2 center">
				<svg>
					<use xlink:href="/pokemonicons/images/sheet.svg#5-charmeleon"></use>
				</svg>
				<h6>005</h6>
				<p>Charmeleon</p>
			</div>
			<div class="col-2 center">
				<svg>
					<use xlink:href="/pokemonicons/images/sheet.svg#6-charizard"></use>
				</svg>
				<h6>006</h6>
				<p>Charizard</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/squirtle.png" alt="Squirtle icon">
				<h6>007</h6>
				<p>Squirtle</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/wartortle.png" alt="Wartortle icon">
				<h6>008</h6>
				<p>Wartortle</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/blastoise.png" alt="Blastoise icon">
				<h6>009</h6>
				<p>Blastoise</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/caterpie.png" alt="Caterpie icon">
				<h6>010</h6>
				<p>Caterpie</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/metapod.png" alt="Metapod icon">
				<h6>011</h6>
				<p>Metapod</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/butterfree.png" alt="Butterfree icon">
				<h6>012</h6>
				<p>Butterfree</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/weedle.png" alt="Weedle icon">
				<h6>013</h6>
				<p>Weedle</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/kakuna.png" alt="Kakuna icon">
				<h6>014</h6>
				<p>Kakuna</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/beedrill.png" alt="Beedrill icon">
				<h6>015</h6>
				<p>Beedrill</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/pidgey.png" alt="Pidgey icon">
				<h6>016</h6>
				<p>Pidgey</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/pidgeotto.png" alt="Pidgeotto icon">
				<h6>017</h6>
				<p>Pidgeotto</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/pidgeot.png" alt="Pidgeot icon">
				<h6>018</h6>
				<p>Pidgeot</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/rattata.png" alt="Rattata icon">
				<h6>019</h6>
				<p>Rattata</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/raticate.png" alt="Raticate icon">
				<h6>020</h6>
				<p>Raticate</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/spearow.png" alt="Spearow icon">
				<h6>021</h6>
				<p>Spearow</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/fearow.png" alt="Fearow icon">
				<h6>022</h6>
				<p>Fearow</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/ekans.png" alt="Ekans icon">
				<h6>023</h6>
				<p>Ekans</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/arbok.png" alt="Arbok icon">
				<h6>024</h6>
				<p>Arbok</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/rattata.png" alt="Rattata icon">
				<h6>019</h6>
				<p>Rattata</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/raticate.png" alt="Raticate icon">
				<h6>020</h6>
				<p>Raticate</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/spearow.png" alt="Spearow icon">
				<h6>021</h6>
				<p>Spearow</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/fearow.png" alt="Fearow icon">
				<h6>022</h6>
				<p>Fearow</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/ekans.png" alt="Ekans icon">
				<h6>023</h6>
				<p>Ekans</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/arbok.png" alt="Arbok icon">
				<h6>024</h6>
				<p>Arbok</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/pikachu.png" alt="Pikachu icon">
				<h6>025</h6>
				<p>Pikachu</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/raichu.png" alt="Raichu icon">
				<h6>026</h6>
				<p>Raichu</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/sandshrew.png" alt="Sandshrew icon">
				<h6>027</h6>
				<p>Sandshrew</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/sandslash.png" alt="Sandslash icon">
				<h6>028</h6>
				<p>Sandslash</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/nidoran-f.png" alt="Nidoran icon">
				<h6>029</h6>
				<p>Nidoran ♀</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/nidorina.png" alt="Nidorina icon">
				<h6>030</h6>
				<p>Nidorina</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/nidoqueen.png" alt="Nidoqueen icon">
				<h6>031</h6>
				<p>Nidoqueen</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/nidoran-m.png" alt="Nidoran icon">
				<h6>032</h6>
				<p>Nidoran ♂</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/nidorino.png" alt="Nidorino icon">
				<h6>033</h6>
				<p>Nidorino</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/nidoking.png" alt="Nidoking icon">
				<h6>034</h6>
				<p>Nidoking</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/clefairy.png" alt="Clefairy icon">
				<h6>035</h6>
				<p>Clefairy</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/clefable.png" alt="Clefable icon">
				<h6>036</h6>
				<p>Clefable</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/vulpix.png" alt="Vulpix icon">
				<h6>037</h6>
				<p>Vulpix</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/ninetales.png" alt="Ninetales icon">
				<h6>038</h6>
				<p>Ninetales</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/jigglypuff.png" alt="Jigglypuff icon">
				<h6>039</h6>
				<p>Jigglypuff</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/wigglytuff.png" alt="Wigglytuff icon">
				<h6>040</h6>
				<p>Wigglytuff</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/zubat.png" alt="Zubat icon">
				<h6>041</h6>
				<p>Zubat</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/golbat.png" alt="Golbat icon">
				<h6>042</h6>
				<p>Golbat</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/oddish.png" alt="Oddish icon">
				<h6>043</h6>
				<p>Oddish</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/gloom.png" alt="Gloom icon">
				<h6>044</h6>
				<p>Gloom</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/vileplume.png" alt="Vileplume icon">
				<h6>045</h6>
				<p>Vileplume</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/paras.png" alt="Paras icon">
				<h6>046</h6>
				<p>Paras</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/parasect.png" alt="Parasect icon">
				<h6>047</h6>
				<p>Parasect</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/venonat.png" alt="Venonat icon">
				<h6>048</h6>
				<p>Venonat</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/venomoth.png" alt="Venomoth icon">
				<h6>049</h6>
				<p>Venomoth</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/diglett.png" alt="Diglett icon">
				<h6>050</h6>
				<p>Diglett</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/dugtrio.png" alt="Dugtrio icon">
				<h6>051</h6>
				<p>Dugtrio</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/meowth.png" alt="Meowth icon">
				<h6>052</h6>
				<p>Meowth</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/persian.png" alt="Persian icon">
				<h6>053</h6>
				<p>Persian</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/psyduck.png" alt="Psyduck icon">
				<h6>054</h6>
				<p>Psyduck</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/golduck.png" alt="Golduck icon">
				<h6>055</h6>
				<p>Golduck</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/mankey.png" alt="Mankey icon">
				<h6>056</h6>
				<p>Mankey</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/primeape.png" alt="Primeape icon">
				<h6>057</h6>
				<p>Primeape</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/growlithe.png" alt="Growlithe icon">
				<h6>058</h6>
				<p>Growlithe</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/arcanine.png" alt="Arcanine icon">
				<h6>059</h6>
				<p>Arcanine</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/poliwag.png" alt="Poliwag icon">
				<h6>060</h6>
				<p>Poliwag</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/poliwhirl.png" alt="Poliwhirl icon">
				<h6>061</h6>
				<p>Poliwhirl</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/poliwrath.png" alt="Poliwrath icon">
				<h6>062</h6>
				<p>Poliwrath</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/abra.png" alt="Abra icon">
				<h6>063</h6>
				<p>Abra</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/kadabra.png" alt="Kadabra icon">
				<h6>064</h6>
				<p>Kadabra</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/alakazam.png" alt="Alakazam icon">
				<h6>065</h6>
				<p>Alakazam</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/machop.png" alt="Machop icon">
				<h6>066</h6>
				<p>Machop</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/machoke.png" alt="Machoke icon">
				<h6>067</h6>
				<p>Machoke</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/machamp.png" alt="Machamp icon">
				<h6>068</h6>
				<p>Machamp</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/bellsprout.png" alt="Bellsprout icon">
				<h6>069</h6>
				<p>Bellsprout</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/weepinbell.png" alt="Weepinbell icon">
				<h6>070</h6>
				<p>Weepinbell</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/victreebel.png" alt="Victreebel icon">
				<h6>071</h6>
				<p>Victreebel</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/tentacool.png" alt="Tentacool icon">
				<h6>072</h6>
				<p>Tentacool</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/machoke.png" alt="Machoke icon">
				<h6>067</h6>
				<p>Machoke</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/machamp.png" alt="Machamp icon">
				<h6>068</h6>
				<p>Machamp</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/bellsprout.png" alt="Bellsprout icon">
				<h6>069</h6>
				<p>Bellsprout</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/weepinbell.png" alt="Weepinbell icon">
				<h6>070</h6>
				<p>Weepinbell</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/victreebel.png" alt="Victreebel icon">
				<h6>071</h6>
				<p>Victreebel</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/tentacool.png" alt="Tentacool icon">
				<h6>072</h6>
				<p>Tentacool</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/tentacruel.png" alt="Tentacruel icon">
				<h6>073</h6>
				<p>Tentacruel</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/geodude.png" alt="Geodude icon">
				<h6>074</h6>
				<p>Geodude</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/graveler.png" alt="Graveler icon">
				<h6>075</h6>
				<p>Graveler</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/golem.png" alt="Golem icon">
				<h6>076</h6>
				<p>Golem</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/ponyta.png" alt="Ponyta icon">
				<h6>077</h6>
				<p>Ponyta</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/rapidash.png" alt="Rapidash icon">
				<h6>078</h6>
				<p>Rapidash</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/slowpoke.png" alt="Slowpoke icon">
				<h6>079</h6>
				<p>Slowpoke</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/slowbro.png" alt="Slowbro icon">
				<h6>080</h6>
				<p>Slowbro</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/magnemite.png" alt="Magnemite icon">
				<h6>081</h6>
				<p>Magnemite</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/magneton.png" alt="Magneton icon">
				<h6>082</h6>
				<p>Magneton</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/farfetchd.png" alt="Farfetch'd icon">
				<h6>083</h6>
				<p>Farfetch'd</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/doduo.png" alt="Doduo icon">
				<h6>084</h6>
				<p>Doduo</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/dodrio.png" alt="Dodrio icon">
				<h6>085</h6>
				<p>Dodrio</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/seel.png" alt="Seel icon">
				<h6>086</h6>
				<p>Seel</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/dewgong.png" alt="Dewgong icon">
				<h6>087</h6>
				<p>Dewgong</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/grimer.png" alt="Grimer icon">
				<h6>088</h6>
				<p>Grimer</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/muk.png" alt="Muk icon">
				<h6>089</h6>
				<p>Muk</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/shellder.png" alt="Shellder icon">
				<h6>090</h6>
				<p>Shellder</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/cloyster.png" alt="Cloyster icon">
				<h6>091</h6>
				<p>Cloyster</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/gastly.png" alt="Gastly icon">
				<h6>092</h6>
				<p>Gastly</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/haunter.png" alt="Haunter icon">
				<h6>093</h6>
				<p>Haunter</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/gengar.png" alt="Gengar icon">
				<h6>094</h6>
				<p>Gengar</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/onix.png" alt="Onix icon">
				<h6>095</h6>
				<p>Onix</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/drowzee.png" alt="Drowzee icon">
				<h6>096</h6>
				<p>Drowzee</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/hypno.png" alt="Hypno icon">
				<h6>097</h6>
				<p>Hypno</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/krabby.png" alt="Krabby icon">
				<h6>098</h6>
				<p>Krabby</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/kingler.png" alt="Kingler icon">
				<h6>099</h6>
				<p>Kingler</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/voltorb.png" alt="Voltorb icon">
				<h6>100</h6>
				<p>Voltorb</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/electrode.png" alt="Electrode icon">
				<h6>101</h6>
				<p>Electrode</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/exeggcute.png" alt="Exeggcute icon">
				<h6>102</h6>
				<p>Exeggcute</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/exeggutor.png" alt="Exeggutor icon">
				<h6>103</h6>
				<p>Exeggutor</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/cubone.png" alt="Cubone icon">
				<h6>104</h6>
				<p>Cubone</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/marowak.png" alt="Marowak icon">
				<h6>105</h6>
				<p>Marowak</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/hitmonlee.png" alt="Hitmonlee icon">
				<h6>106</h6>
				<p>Hitmonlee</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/hitmonchan.png" alt="Hitmonchan icon">
				<h6>107</h6>
				<p>Hitmonchan</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/lickitung.png" alt="Lickitung icon">
				<h6>108</h6>
				<p>Lickitung</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/koffing.png" alt="Koffing icon">
				<h6>109</h6>
				<p>Koffing</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/weezing.png" alt="Weezing icon">
				<h6>110</h6>
				<p>Weezing</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/rhyhorn.png" alt="Rhyhorn icon">
				<h6>111</h6>
				<p>Rhyhorn</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/rhydon.png" alt="Rhydon icon">
				<h6>112</h6>
				<p>Rhydon</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/chansey.png" alt="Chansey icon">
				<h6>113</h6>
				<p>Chansey</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/tangela.png" alt="Tangela icon">
				<h6>114</h6>
				<p>Tangela</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/kangaskhan.png" alt="Kangaskhan icon">
				<h6>115</h6>
				<p>Kangaskhan</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/horsea.png" alt="Horsea icon">
				<h6>116</h6>
				<p>Horsea</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/seadra.png" alt="Seadra icon">
				<h6>117</h6>
				<p>Seadra</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/goldeen.png" alt="Goldeen icon">
				<h6>118</h6>
				<p>Goldeen</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/seaking.png" alt="Seaking icon">
				<h6>119</h6>
				<p>Seaking</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/staryu.png" alt="Staryu icon">
				<h6>120</h6>
				<p>Staryu</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/starmie.png" alt="Starmie icon">
				<h6>121</h6>
				<p>Starmie</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/mrmime.png" alt="Mr. Mime icon">
				<h6>122</h6>
				<p>Mr. Mime</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/scyther.png" alt="Scyther icon">
				<h6>123</h6>
				<p>Scyther</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/jynx.png" alt="Jynx icon">
				<h6>124</h6>
				<p>Jynx</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/electabuzz.png" alt="Electabuzz icon">
				<h6>125</h6>
				<p>Electabuzz</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/magmar.png" alt="Magmar icon">
				<h6>126</h6>
				<p>Magmar</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/pinsir.png" alt="Pinsir icon">
				<h6>127</h6>
				<p>Pinsir</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/tauros.png" alt="Tauros icon">
				<h6>128</h6>
				<p>Tauros</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/magikarp.png" alt="Magikarp icon">
				<h6>129</h6>
				<p>Magikarp</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/gyarados.png" alt="Gyarados icon">
				<h6>130</h6>
				<p>Gyarados</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/lapras.png" alt="Lapras icon">
				<h6>131</h6>
				<p>Lapras</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/ditto.png" alt="Ditto icon">
				<h6>132</h6>
				<p>Ditto</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/eevee.png" alt="Eevee icon">
				<h6>133</h6>
				<p>Eevee</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/vaporeon.png" alt="Vaporeon icon">
				<h6>134</h6>
				<p>Vaporeon</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/jolteon.png" alt="Jolteon icon">
				<h6>135</h6>
				<p>Jolteon</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/flareon.png" alt="Flareon icon">
				<h6>136</h6>
				<p>Flareon</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/porygon.png" alt="Porygon icon">
				<h6>137</h6>
				<p>Porygon</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/omanyte.png" alt="Omanyte icon">
				<h6>138</h6>
				<p>Omanyte</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/omastar.png" alt="Omastar icon">
				<h6>139</h6>
				<p>Omastar</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/kabuto.png" alt="Kabuto icon">
				<h6>140</h6>
				<p>Kabuto</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/kabutops.png" alt="Kabutops icon">
				<h6>141</h6>
				<p>Kabutops</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/aerodactyl.png" alt="Aerodactyl icon">
				<h6>142</h6>
				<p>Aerodactyl</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/snorlax.png" alt="Snorlax icon">
				<h6>143</h6>
				<p>Snorlax</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/articuno.png" alt="Articuno icon">
				<h6>144</h6>
				<p>Articuno</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/zapdos.png" alt="Zapdos icon">
				<h6>145</h6>
				<p>Zapdos</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/moltres.png" alt="Moltres icon">
				<h6>146</h6>
				<p>Moltres</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/dratini.png" alt="Dratini icon">
				<h6>147</h6>
				<p>Dratini</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/dragonair.png" alt="Dragonair icon">
				<h6>148</h6>
				<p>Dragonair</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/dragonite.png" alt="Dragonite icon">
				<h6>149</h6>
				<p>Dragonite</p>
			</div>
			<div class="col-2 center">
				<img class="padded" src="images/mewtwo.png" alt="Mewtwo icon">
				<h6>150</h6>
				<p>Mewtwo</p>
			</div>
		</div>
<!-- end row -->
		<div class="flex container">
			<div class="col-2 center">
				<img class="padded" src="images/mew.png" alt="Mew icon">
				<h6>151</h6>
				<p>Mew</p>
			</div>
		</div>
<!-- end row -->

	<div class="bleed bg top">
		<div class="flex container">
			<div class="col-8 left-2 right-2 center introduction">
				<h2>All our icons are free to download and use under the <a href="https://creativecommons.org/licenses/by/3.0/" target="blank">CC-BY licence</a>. <br>Using them for your next project? <a href="http://twitter.com/veryartificial" target="blank">Show us</a> how you've used them!</h2>
			</div>

				<a class="download transition" href="">
					<p>Download full series</p>
				</a>

		</div>
	</div>
</div>
