---
layout: projects/connecting-things/_thing_layout
title: Apple Watch
preview: thing/long_off.png
date: 2018-03-28
---

<p>
  Apple Watch is a part of the smart wearable series designed by Apple. Along with improving the experience of iPhone apps, users may track their activity, measure their workouts, and monitor their health. We analyzed the Series 3 model with LTE connectivity that released in 2017.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is</span> a little long but celebratory
</h2>
<p>
  After prompting the user to select a language, a new Watch immediately broadcasts a pairing request. Because it is a privileged member of the iOS system, a nearby iPhone will pop up an instruction screen guiding the user to continue the setup from the iPhone. As the user progresses, the Watch displays a particle animation and the iPhone switches to a camera mode allowing the user to scan this animation (as with a QR code). When this optical recognition verifies the Watch, it is paired.
</p><p>
  An alternative method of manually entering a 6-digit code to verify pairing is also available.
</p><p>
  The iPhone shares the user's iCloud credentials so the Watch can connect directly. The user is then asked either to restore the Watch from a backup or to set up a new watch. What follows is a number of screens to adjust the watch to the user's preferences.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is</span> exemplary
</h2>
<p>
  The Apple Watch uses a verified Bluetooth protocol connection and also authenticates at the software layer. The iCloud registration adds even another layer of protection, and the one-to-one pairing model means even if hijacking became possible it would be quickly noticed by the user. Even with full physical access, using someone else's Watch requires a full reset, preventing leakage of personal data.
</p><p>
  The inner workings of watchOS and iOS and the Secure Enclave features of modern Apple processors are beyond the scope of this analysis, but they appear to be best of class.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is</span> complicated
</h2>
<p>
  This is a product with many functions, many of which do not require a connection at all or deal gracefully with unreliable connections while others might depend on the iPhone in ways not clear to the user. There are other UX problems around media services, such as the storage location or streaming flow of music.
</p><p>
  Generally, though, the inclusion of both Wi-Fi and LTE to augment the Watch's reliance on the iPhone mean the user experiences a highly connection-resilient device. The use of iCloud Keychain so the Watch can securely learn how to connect directly to known Wi-Fi networks is helpful.
</p>

<script>
var flowSteps = [
  {
    // Thing is off - OS logs in to account on Cloud - OS logs in to user account
    caption: "User is logged into iCloud account on iPhone",
    thingImg: "thing/00_off.png",
    networkAnimations: ["actors/noWifi.json", "AppCloud.json"],
    screenImg: "screens/00_os-settings.png",
  },
  {
    // User turns Thing on - OS is logged in to account on Cloud - OS shows home
    caption: "User turns Watch on",
    thingImg: "thing/01_on.png",
    networkAnimations: ["actors/noWifi.json", "stills/AppCloud.json"],
    screenImg: "screens/00_home.png",
  },
  {
    // User chooses language on Thing - OS is logged in to account on Cloud - OS shows home
    caption: "Watch prompts for language selection",
    thingImg: "thing/02_languagea.png",
  },
  {
    // User chooses region on Thing - OS is logged in to account on Cloud - OS shows home
    caption: "Watch prompts for region selection",
    thingImg: "thing/02_languageb.png",
  },
  {
    // User confirms language on Thing - OS is logged in to account on Cloud - OS shows home
    caption: "User confirms language choice",
    thingImg: "thing/02_languagec.png",
  },
  {
    // Thing sets up language - OS is logged in to account on Cloud - OS shows home
    caption: "Watch commits language choice",
    thingImg: "thing/02_languaged.png",
  },
  {
    // Thing asks user to bring near a phone - Thing broadcasts Bluetooth - OS shows home
    caption: "Watch prompts user to bring iPhone nearby, begins broadcasting for Bluetooth discovery",
    thingImg: "thing/03_near.png",
    networkAnimations: ["actors/noWifi.json", "Thing_broadcasts.json", "stills/AppCloud.json"],
  },
  {
    // Thing asks user to bring an iPhone near - OS listens for Bluetooth - User taps continue in OS overlay
    caption: "iPhone discovers Watch, user confirms",
    networkAnimations: ["actors/noWifi.json", "ThingOS_dscovery.json", "stills/AppCloud.json"],
    screenImg: "screens/00_home-overlay.png",
  },
  {
    // Thing asks user to bring near a phone - Thing and OS are in discovery mode - User taps start pairing in App
    caption: "iPhone launches Watch app, user initiates pairing process",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_discovery.json", "stills/AppCloud.json"],
    screenImg: "screens/01.png"
  },
  {
    // Thing shows animation - Thing and OS are in discovery mode - User scans Thing animation from App
    caption: "Watch shows animation, app guides while user performs optical verification with iPhone camera",
    thingImg: "thing/04_animation.png",
    networkAnimations: ["actors/noWifi.json", "ThingOS_pair.json", "stills/AppCloud.json"],
    screenImg: "screens/02.png"
  },
  {
    // Thing shows visualization - Thing and OS pair with Bluetooth - User taps Set Up as New Apple Watch in App
    caption: "Watch and iPhone are paired, Watch changes to static visual, while user chooses to set up new watch in the app",
    thingImg: "thing/05_visualization.png",
    networkAnimations: ["actors/noWifi.json", "ThingOS_verified.json", "stills/AppCloud.json"],
    screenImg: "screens/03.png"
  },
  {
    // Thing shows visualization - Thing and OS connect with Bluetooth - User selects Wrist Preference in App
    caption: "User selects wrist preference in app, app opens data connection with Watch",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_verified.json", "stills/AppCloud.json"],
    screenImg: "screens/04.png"
  },
  {
    // Thing shows visualization - Thing and App connect - App shows indeterminate progress indicator
    caption: "Watch and app verify data connection",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_verified.json", "stills/AppCloud.json", "ThingApp_verified.json"],
    screenImg: "screens/05.png"
  },
  {
    // Thing shows visualization - Thing and App are connected - User agrees to terms in App
    caption: "App presents terms for user acceptance",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_verified.json", "stills/AppCloud.json", "stills/ThingApp_verified.json"],
    screenImg: "screens/06.png"
  },
  {
    // Thing shows visualization - Thing and App are connected - User double confirms agreement to terms in OS pop up
    caption: "App confirms user acceptance of terms",
    screenImg: "screens/07.png"
  },
  {
    // Thing shows visualization - Thing and account connect - App shows indeterminate progress indicator
    caption: "Watch authenticates with iCloud",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_verified.json", "stills/AppCloud.json", "stills/ThingApp_verified.json", "ThingCloud_user.json"],
    screenImg: "screens/08.png"
  },
  {
    // hing shows visualization - Thing and account are connected - User chooses Watch Analytics preference in App
    caption: "App prompts for analytics preference",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_verified.json", "stills/AppCloud.json", "stills/ThingApp_verified.json", "stills/ThingCloud_user.json"],
    screenImg: "screens/09.png"
  },
  {
    // Thing shows visualization - Thing and account are connected - User chooses Shared Settings preference in App
    caption: "App informs user of shared settings",
    screenImg: "screens/10.png"
  },
  {
    // Thing shows visualization - Thing and account are connected - User taps Create a Passcode in App
    caption: "App instructs user to choose a passcode",
    screenImg: "screens/11.png"
  },
  {
    // User creates a passcode on Thing - Thing and account are connected - App instructs user to create a passcode on Thing
    caption: "Watch prompts for new passcode",
    thingImg: "thing/06_code.png",
    screenImg: "screens/12.png"
  },
  {
    // User chooses Unlock preference on the Thing - Thing and account are connected - App instructs user on unlocking Thing with iPhone
    caption: "Watch prompts for unlock preference, app provides additional guidance",
    thingImg: "thing/07_unlock.png",
    screenImg: "screens/13.png"
  },
  {
    // Thing shows visualization - Thing and account are connected - App instructs user on how to use in case of Emergency
    caption: "Watch returns to static visual, app instructs user on Emergency SOS",
    thingImg: "thing/05_visualization.png",
    screenImg: "screens/14.png"
  },
  {
    // Thing shows visualization - Thing and account are connected - User taps Install All Apps on Thing on App
    caption: "App prompts for Watch app installation",
    screenImg: "screens/15.png"
  },
  {
    // Thing shows progress indicator - Thing and App are syncing - App instructs user that Thing is syncing
    caption: "Watch shows progress indicator, app provides explanation",
    thingImg: "thing/08_syncing.png",
    screenImg: "screens/16.png"
  },
  {
    // Thing shows home - Thing and App are connected - App instructs user that Thing is set up
    caption: "Watch shows home screen, app displays final guidance",
    thingImg: "thing/09_home.png",
    screenImg: "screens/17.png"
  },
  {
    // Thing shows home - Thing and App are connected - App Settings shows new Thing
    caption: "App shows Watch is paired",
    screenImg: "screens/18.png"
  }
]
</script>
