---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed">
		<img src="images/death_rooftops.jpg" alt="3D Systems product and service roadmap">
	</div>

	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 right-2" >
				<div class="padded">
					<h1>The Future of Death</h1>
					<h3>Prompted by besignboom's Design for Death competition, we spent a week exploring ideas for how we might treat death in the future.</h3>
				</div>
				<div class="padded">
					<h4>Anticipating future problems</h4>
					<p>To create designs meant to live in the future, we must first imagine the humans and their problems from that future. With a focus on architecture, we focused our futures on the scarcity of land and the abundance of digital information left behind as remains.</div>
				<div class="padded">
					<h4>Memorial hubs</h4>
					<p>Cut from the bedrock beneath urban centers, Memorial Hubs are a global network of bereavement centres that provide mourners with uniquely personal commemorative experience. Unlike conventional burial sites, Memorial Hubs do not contain remains. Rather, each hub provides a memorial service that is personalised through the use of remembrance crystals. Infused with ashes of the deceased and encoded with data relating to their life, these crystals provide the griever with family albums, personal photographs, favorite albums/playlists, videos, emails, quotes, letters, and more.</p>
				</div>
				<div class="padded">
					<h4>Cloud of souls</h4>
					<p>The Cloud of Souls is comprised of rooftop gardens and parks devoted to connecting to the digital remains of loved ones passed. Upon entering the rooftop park, the living can summon the dead's avatar from a small kiosk. The deceased's avatar is rear-projected on a blimp that meets with the living to talk or sit quietly. After use, the blimp returns to the ceiling of the enclosure to recharge using solar energy.</p>
				</div>
			</div>
		</div>

		<div class="flexcontainer">
			<div class="col-4">
				<div class="padded">
					<img src="images/death_cave.jpg" alt="range of products">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<img src="images/death_crystal.jpg" alt="range of products">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<img src="images/death_faceblimp.jpg" alt="range of products">
				</div>
			</div>
		</div>
	</div>

</section>
