<!-- page content -->
<section id="content">

	<div class="bleed grass-paleturquoise">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/futureofcake_cover.png" alt="The Future of Cake">
				</div>
			</div>
		</div>
	</div>

	<div id="casesummary">
		<div class="flex container padded-bottom">
			<div class="col-12">
				<div class="extra-padded">
					<p class="small-statement">Frustrated with the all-too-common design fictions predicting self-driving offices and the like, we decided to create our own tongue-and-cheek (and quite delicious) response: the future of cake.</p>
				</div>
				<div class="padded">
					<p>It’s easy to get serious when talking about the future, almost as easy as it is to invent far-fetched fictions that ignore the constraints of reality. We took on the future of cake so that we could play with bogus executions while also exploring some of the technologies we find most interesting.</p>
					<p>As we discover new techologies, we add to the list of tasty futures. Want to know more? <a href="http://www.futureofcake.com">Visit the future of cake.</a></p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/cake_cakepopvine.jpg" alt="cake pop vine">
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/cake_aidcake.jpg" alt="aid cakes">
				</div>
			</div>
		</div>
	</div>


</section>
