<!-- page content -->
<section id="content">

	<div class="bleed animal-party">
	</div>

	<div class="flex container">
		<div class="col-8 section-title">
			<div class="padded center">
				<h1>The Laboratory</h1>
				<p>this is where we play and learn</p>
			</div>
		</div>
	</div>

	<div class="container packery padded-bottom">

		<div class="col-4 packed">
			<a href="/cocktails/">
				<div class="card experiment center">
					<div class="padded">
						<div class="periodic">Fc</div>
						<h2>Friday Cocktails</h2>
						<p>a collection of our mixology experiments</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/makingtime/">
				<div class="card experiment center">
					<div class="padded">
						<div class="periodic">Mt</div>
						<h2>Making Time</h2>
						<p>mashing up time management with our favorite apps</p>
					</div>
				</div>
			</a>
		</div>

	<%#	<div class="col-4 packed">
			<div class="card center">
				<a href="http://www.toicon.com/series/feather"><img src="images/toicon_feather.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<a href="/huddle/">
				<div class="card experiment center">
					<div class="padded">
						<div class="periodic">H</div>
						<h2>Huddle</h2>
						<p>a conference app for the creative community</p>
					</div>
				</div>
			</a>
		</div>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
				<a href="http://www.toicon.com/series/avocado"><img src="images/toicon_avocado.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<a href="/twisted/">
				<div class="card experiment center">
					<div class="padded">
						<div class="periodic">Tt</div>
						<h2>Twelve Twists</h2>
						<p>copy, twist, and work it</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/blog/2015/09/03/openingparty.html">
				<div class="card experiment center">
					<div class="padded">
						<div class="periodic">Ow</div>
						<h2>Office warming party</h2>
						<p>a classy affair or a fabulous night</p>
					</div>
				</div>
			</a>
		</div>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
				<a href="http://www.toicon.com/series/afiado"><img src="images/toicon_afiado.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/fandom"><img src="images/toicon_fandom.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<a href="futureofcake.html">
				<div class="card experiment center">
					<div class="padded">
						<div class="periodic">C</div>
						<h2>The Future of Cake</h2>
						<p>explorations of a delicious future</p>
					</div>
				</div>
			</a>
		</div>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/flat-shadows"><img src="images/toicon_flatshadows.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/isometric"><img src="images/toicon_isometric.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/blueprint"><img src="images/toicon_blueprint.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/duotone"><img src="images/toicon_duotone.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/bent-blocks"><img src="images/toicon_bentblocks.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/pictogram"><img src="images/toicon_pictogram.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<a href="futureofdeath.html">
				<div class="card experiment center">
					<div class="padded">
						<div class="periodic">D</div>
						<h2>The Future of Death</h2>
						<p>explorations of the post-death experience</p>
					</div>
				</div>
			</a>
		</div>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/sharp-corners"><img src="images/toicon_sharpcorners.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/lines-and-angles"><img src="images/toicon_linesandangles.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card experiment center">
					<a href="http://www.toicon.com/series/puchi-puchi"><img src="images/toicon_puchipuchi.png"></a>
			</div>
		</div> %>


		<div class="col-4 packed">
			<a href="/offf/">
				<div class="card experiment center">
					<div class="padded">
						<div class="periodic">O</div>
						<h2>OFFF visualisation</h2>
						<p>an exploration of data visualization for OFFF</p>
					</div>
				</div>
			</a>
		</div>


	</div>

</section>
