---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<!-- cards -->
	<div class="flexcontainer">
		<div class="col-8 section-title">
			<div class="padded center">
				<h1>The Laboratory</h1>
				<p>This is where we play and learn.</p>
			</div>
		</div>
	</div>

	<div class="container packery padded-bottom">

		<div class="col-4 packed">
			<div class="card center">
				<a href="/makingtime/"><img src="images/makingtime_thumb.png"></a>
				<div class="padded">
					<a href="/makingtime/"><h2>Making Time</h2></a>
					<p>We spent two weeks mashing up time management with our favorite apps and applications.</p>
				</div>
			</div>
		</div>

	<%#	<div class="col-4 packed">
			<div class="card center">
				<a href="http://www.toicon.com/series/feather"><img src="images/toicon_feather.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<div class="card center">
				<a href="/huddle/"><img src="images/huddle_overview.png"></a>
				<div class="padded">
					<a href="/huddle/"><h2>Huddle</h2></a>
					<p>A conference app for the creative community.</p>
				</div>
			</div>
		</div>

<%#	<div class="col-4 packed">
			<div class="card center">
				<a href="http://www.toicon.com/series/avocado"><img src="images/toicon_avocado.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<div class="card center">
				<a href="/blog/2015/09/03/openingparty.html"><img src="images/party_overview.png"></a>
				<div class="padded">
					<a href="/blog/2015/09/03/openingparty.html"><h2>Office warming party</h2></a>
					<p>A Classy affair or a Fabulous night.</p>
				</div>
			</div>
		</div>

<%#	<div class="col-4 packed">
			<div class="card center">
				<a href="http://www.toicon.com/series/afiado"><img src="images/toicon_afiado.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<div class="card center">
				<a href="/twisted/"><img src="images/twists_overview.jpg"></a>
				<div class="padded">
					<a href="/twisted/"><h2>Twelve Twists</h2></a>
					<p>Copy, twist, and work it</p>
				</div>
			</div>
		</div>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/fandom"><img src="images/toicon_fandom.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<div class="card center">
				<a href="http://www.futureofcake.com"><img src="images/cake_overview.jpg"></a>
				<div class="padded">
					<a href="http://www.futureofcake.com"><h2>The Future of Cake</h2></a>
					<p>The future is almost here, and it's delicious!</p>
				</div>
			</div>
		</div>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/flat-shadows"><img src="images/toicon_flatshadows.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/isometric"><img src="images/toicon_isometric.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/blueprint"><img src="images/toicon_blueprint.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/duotone"><img src="images/toicon_duotone.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/bent-blocks"><img src="images/toicon_bentblocks.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/pictogram"><img src="images/toicon_pictogram.png"></a>
			</div>
		</div> %>

		<div class="col-4 packed">
			<div class="card center">
				<a href="futureofdeath.html"><img src="images/death_faceblimp.jpg"></a>
				<div class="padded">
					<a href="futureofdeath.html"><h2>The Future of Death</h2></a>
					<p>Prompted by designboom's Design for Death competition, we spent a week exploring ideas for how we might treat death in the future.</p>
				</div>
			</div>
		</div>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/sharp-corners"><img src="images/toicon_sharpcorners.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/lines-and-angles"><img src="images/toicon_linesandangles.png"></a>
			</div>
		</div> %>

<%#	<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/puchi-puchi"><img src="images/toicon_puchipuchi.png"></a>
			</div>
		</div> %>

	</div>

</section>
