---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<!-- cards -->
	<div class="flexcontainer">
		<div class="col-8 title">
			<div class="padded center">
				<h1>The Laboratory</h1>
				<p>This is where we play and learn.</p>
			</div>
		</div>
	</div>
	
	<div class="container packery">

		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/fandom"><img src="images/toicon_fandom.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/cake_overview.jpg">
				<div class="padded">
					<h1>The Future of Cake</h1>
					<p>The future is almost here, and it's delicious!</p>
					<a href="http://www.futureofcake.com">Taste the future</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/flat-shadows"><img src="images/toicon_flatshadows.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/isometric"><img src="images/toicon_isometric.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/blueprint"><img src="images/toicon_blueprint.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/duotone"><img src="images/toicon_duotone.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/bent-blocks"><img src="images/toicon_bentblocks.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/pictogram"><img src="images/toicon_pictogram.png"></a>
			</div>
		</div>
					
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/death_faceblimp.jpg">
				<div class="padded">
					<h4>The Future of Death</h4>
					<p>Prompted by Design Boom's Design for Death competition, we spent a week exploring ideas for how we might treat death in the future.</p>
					<a href="futureofdeath.html">See what we came up with</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/sharp-corners"><img src="images/toicon_sharpcorners.png"></a>
			</div>
		</div>
				
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/puchi-puchi"><img src="images/toicon_puchipuchi.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/lines-and-angles"><img src="images/toicon_linesandangles.png"></a>
			</div>
		</div>
			
	</div>
		
</section>
