<!-- page content -->
<section id="content">

	<div class="bleed animal-party">
	</div>

	<div class="flex container">
		<div class="col-12 section-title">
			<div class="padded center">
				<h1 class="title">The Laboratory</h1>
				<div class="small-copy">This is where we play and learn</div>
			</div>
		</div>
	</div>

	<div class="container packery padded-bottom">

		<div class="col-4 packed">
			<a href="/travelguide/">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">Tg</div>
						<h3 class="small-subtitle">An Artificial Travel Guide</h3>
						<p>Great adventures start here</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/ftfy/">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">F</div>
						<h3 class="small-subtitle">Fixed That For You</h3>
						<p>it was broken, so we made it better</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/cocktails/">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">Fc</div>
						<h3 class="small-subtitle">Friday Cocktails</h3>
						<p>a collection of our mixology experiments</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/pokemonicons/">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">P</div>
						<h3 class="small-subtitle">Pok&eacute;mon icons</h3>
						<p>original, pixel-perfect icons for hundreds of Pok&eacute;mon</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/offf/">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">O</div>
						<h3 class="small-subtitle">OFFF Visualization</h3>
						<p>an exploration of data visualization for OFFF</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/makingtime/">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">Mt</div>
						<h3 class="small-subtitle">Making Time</h3>
						<p>mashing up time management with our favorite apps</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/huddle/">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">H</div>
						<h3 class="small-subtitle">Huddle</h3>
						<p>a conference app for the creative community</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="/twisted/">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">Tt</div>
						<h3 class="small-subtitle">Twelve Twists</h3>
						<p>copy, twist, and work it</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="http://www.futureofcake.com">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">C</div>
						<h3 class="small-subtitle">The Future of Cake</h3>
						<p>explorations of a delicious future</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col-4 packed">
			<a href="futureofdeath.html">
				<div class="card experiment center">
					<div class="padded">
						<div class="letters">D</div>
						<h3 class="small-subtitle">The Future of Death</h3>
						<p>explorations of the post-death experience</p>
					</div>
				</div>
			</a>
		</div>

	</div>

</section>
