@import "../../../stylesheets/_artificial-colors.scss";

.cityguide {
  @media only screen and (min-device-width: 320px) {
    h1, h2, h3 { text-transform: uppercase; }

    h1 {
      padding-top: 64px;
      padding-bottom: 8px;

      line-height: 1.2em;
      font-size: 2em;
      letter-spacing: .2em;
    }

    h2 {
      font-size: 1.5em;
      letter-spacing: .2em;
      padding-bottom: 20px;
    }

    h3 {
      font-size: 1.0em;
      padding-bottom: 10px;
    }

    .summary p {
      font-size: 1.2em;
      line-height: 1.2em;
    }

    .cover { height: 200px; }
    .feature { height: 200px; }
  }

  @media only screen and (min-device-width: 768px) {

    h1, h2, h3 { text-transform: uppercase; }

    h1 {
      padding-top: 120px;
      padding-bottom: 20px;

      line-height: 1.2em;
      font-size: 4em;
      letter-spacing: .5em;
    }

    h2 {
      font-size: 2.4em;
      letter-spacing: .5em;
      padding-bottom: 20px;
    }

    h3 {
      font-size: 1.0em;
      padding-bottom: 10px;
    }

    .summary p {
      font-size: 1.2em;
      line-height: 1.2em;
    }

    .cover { height: 400px; }
    .feature { height: 600px; }
  }
}

.bleed.illustrations {
  background-image: url("../images/intro_bg.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.gidtroduction {
  padding-top: 40px;
  padding-bottom: 40px;

  p {
    font-size: 1.0em;
    font-weight: 500;
  }
}

.toc {
  padding-top: 40px;
  padding-bottom: 80px;

  .citytoc {
    text-align: center;

    h2 {
      font-size: 1.2em;
      letter-spacing: 0em;
      padding-bottom: 0px;
    }

    .name {
      padding-top: 10px;
    }

    a { color: $cool-grey-90; }
    a:hover { color: $turquoise; }
  }
}

#subnav {
  background-color: $cool-grey-80;
  overflow: auto;

  .container {
    ul {
      padding: 0;

      li {
        float: left;
        margin-right: 24px;
        padding-bottom: 16px;
        text-transform: uppercase;

        a { color: $white; }
        a:hover { color: $cool-grey-20 }

      }
    }
  }
}

#neighborhood, #seedo, #onething, #fooddrink {
  padding-top: 40px;
  padding-bottom: 40px;
}

#explainer, #foursquare {
  padding-top: 20px;
  padding-bottom: 20px;

  p { font-size: 1.0em; }

  a {
  text-align: center;
  color: $white;
  }

  a:hover { color: $cool-grey-20; }
}

#explainer {
  a {
    text-decoration: underline;
  }
}

.cityguide_amsterdam {
  .bleed.cover {
    background-image: url("../images/amsterdam_cover.png");
    h1, h3 { color: $darkest-turquoise; }
  }
  .bleed.feature { background-image: url("../images/amsterdam_feature.png"); }
}

.cityguide_gdansk {
  .bleed.cover {
    background-image: url("../images/gdansk_cover.png");
    h1, h3 { color: $dark-sapphire; }
  }
  .bleed.feature { background-image: url("../images/gdansk_feature.png"); }
}

.cityguide_losangeles {
  .bleed.cover {
    background-image: url("../images/la_cover.png");
    h1, h3 { color: $lime; }
  }
  .bleed.feature { background-image: url("../images/la_feature.png"); }
}

.cityguide_mexicocity {
  .bleed.cover {
    background-image: url("../images/mexicocity_cover.png");
    h1, h3 { color: $dark-tulip; }
  }
  .bleed.feature { background-image: url("../images/mexicocity_feature.png"); }
}

.cityguide_mumbai {
  .bleed.cover {
    background-image: url("../images/mumbai_cover.png");
    h1, h3 { color: $palest-dandelion; }
  }
  .bleed.feature { background-image: url("../images/mumbai_feature.png"); }
}

.cityguide_saintlouis {
  .bleed.cover {
    background-image: url("../images/stlouis_cover.png");
    h1, h3 { color: $pumpkin; }
  }
  .bleed.feature { background-image: url("../images/stlouis_feature.png"); }
}

.cityguide_seattle {
  .bleed.cover {
    background-image: url("../images/seattle_cover.png");
    h1, h3 { color: $darkest-grape; }
  }
  .bleed.feature { background-image: url("../images/seattle_feature.png"); }
}

.cityguide_shanghai {
  .bleed.cover {
    background-image: url("../images/shanghai_cover.png");
    h1, h3 { color: $darkest-grass; }
  }
  .bleed.feature { background-image: url("../images/shanghai_feature.png"); }
}

h2.turquoise-text { color: $turquoise; }
h2.grass-text { color: $grass; }
h2.pumpkin-text { color: $pumpkin; }
h2.tulip-text { color: $tulip; }
h2.sapphire-text { color: $sapphire; }
