---
layout: projects/connecting-things/_thing_layout
title: Fitbit Flex 2
preview: thing/off.png
date: 2018-02-27
---

<p>
  Flex 2 is a waterproof activity and sleep tracker launched by Fitbit in 2016. It measures step, distance, calories burnt, and time. Flex 2 can also notify a user has received a call or a text and remind to keep active. The tracker is equipped with LEDs to provide feedback. It is fairly small and therefore can be worn within customizable and interchangeable accessories such as wristband, pendants, clips… It works with Fitbit app.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>a little long but celebratory
</h2>
<p>
Once the user has downloaded the Fitbit app, completed their profile, logged in or created a user account, and accepted the terms and condition, the app asks which Fitbit tracker to set up. The user selects a model. The app starts searching for a nearby tracker. If the tracker is found, the LEDs perform a colorful dance and the app asks the user to double tap on the tracker to confirm the pairing. After the pairing is established, the app shows a walk-through to learn the basics about the Flex 2.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>worrying
</h2>
<p>
The connection at the OS level is verified because the user confirms the right tracker is connecting. However, at the software level, the connection is unverified. The user needs to log in to connect the tracker and to visualize its data, however, Flex 2 is not registered to the user’s account. This practice unveils a risk. The Flex 2 bracelet can connect to a stranger account without asking for any password or de-registering the initial owner. To make this more alarming, if another user connects to someone’s Fitbit, the previous owner is not even notified.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>thought-through
</h2>
<p>
Every time the user opens Fitbit app, if the tracker is paired and the device is connected to the Internet, the data collected by the tracker is transferred to the account via Bluetooth. For heavy users, there’s also an 'all-day sync' option to sync data periodically through the day. Syncing can also be done manually by the user. Flex 2 and all other Fitbit trackers have the ability to store up to 7 days of minute-by-minute data. If a user waits for longer than 7 days before syncing data with a device, they may lose some data and only see the most recent week’s detailed data. However, summary data, including calories, distance, steps, floors, and heart rate for equipped trackers is stored for 30 days.
</p>

<script>
var flowSteps = [
  {
    caption: "User launches App",
    thingImg: "thing/off.png",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/01_join.png"
  },
  {
    caption: "User logs in App",
    networkAnimations: ["Actors.json","AppCloud.json"],
    screenImg: "screens/02_login.png"
  },
  {
    caption: "User is logged in App",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/03_home.png"
  },
  {
    caption: "User adds a new Thing",
    screenImg: "screens/04_add.png"
  },
  {
    caption: "Thing begins broadcasting Bluetooth",
    thingImg: "thing/blue.png",
    networkAnimations: ["Actors.json", "Thing_broadcasts.json"],
    screenImg: "screens/05_trackers.png"
  },
  {
    caption: "User selects Thing model",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/06_flex2.png"
  },
  {
    caption: "User agrees to terms",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/07_terms.png"
  },
  {
    caption: "User discovers items in the box",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/08_meet.png"
  },
  {
    caption: "User charges Flex 2",
    thingImg: "thing/white.png",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/09_power.png"
  },
  {
    caption: "User insert Flex 2 in wristband",
    thingImg: "thing/blue.png",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/10_insert.png"
  },
  {
    caption: "User puts on wristband",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/11_on.png"
  },
  {
    caption: "OS listens for Bluetooth",
    networkAnimations: ["Actors.json", "OS_listens.json"],
    screenImg: "screens/12_searching.png"
  },
  {
    caption: "User taps trackers",
    thingImg: "thing/pair.png",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/13_taptracker.png"
  },
  {
    caption: "Thing and OS pair with Bluetooth",
    networkAnimations: ["Actors.json", "ThingOS_pairs.json"],
    screenImg: "screens/14_howto.png"
  },
  {
    caption: "Thing and OS connect; User sees walkthrough",
    thingImg: "thing/blue.png",
    networkAnimations: ["Actors.json", "ThingOS_verified.json"],
    screenImg: "screens/15_basics.png"
  },
  {
    caption: "App and Thing open software connection; User sees walkthrough",
    thingImg: "thing/blue.png",
    networkAnimations: ["Actors.json", "ThingApp_unverified.json"],
    screenImg: "screens/16_progress.png"
  },
  {
    caption: "User sees walkthrough",
    thingImg: "thing/off.png",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/17_calls.png"
  },
  {
    caption: "User sees walkthrough",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/18_sleep.png"
  },
  {
    caption: "User sees walkthrough",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/19_notifications.png"
  },
  {
    caption: "User sees walkthrough",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/20_exercice.png"
  },
  {
    caption: "User sees walkthrough",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/21_customize.png"
  },
  {
    caption: "User sees walkthrough",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/22_care.png"
  },
  {
    caption: "Thing and App are all set",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/23_set.png"
  },
  {
    caption: "Thing and App function",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/26_connected.png"
  },
]
</script>
