---
layout: projects/connecting-things/_thing_layout
title: Polaroid Cube Plus
preview: thing/front.png
date: 2018-03-15
---
<p>
Polaroid Cube+ is a splash-resistant and shockproof cubic camera. The small camera connects via ad hoc Wi-Fi. It has a wide-angle lens and HD video. Its battery last about an hour and a half. Photos and videos are stored in a micro SD card. The Cube+ can be mounted on a stand or a helmet, or clipped thanks to a pendant case. It functions in pair with the Polaroid Cube Plus app.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>clear
</h2>
<p>
The Polaroid Cube+ connects to the Polaroid app, which is available for both iOS and Android users. The app walks the user through a guided tour, giving highlights on how to connect the camera to the app. There are two buttons on the camera, one to switch the camera on and off as well as for capturing photos and videos, and the other to initiate ad hoc Wi-Fi broadcasting. The user needs to switch on the camera, and then press and hold the Wi-Fi button, for the camera to broadcast its network. The app gives the user Wi-Fi credentials and asks the user to connect via their device’s Wi-Fi settings app. Once the user has selected and connected to the ad hoc network, they need to navigate back to the Polaroid app, where they have to select the ‘Connect' button on the smartphone screen. Success. The camera is all set and the camera viewfinder is visible from the app.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>low
</h2>
<p>
Even though the ad hoc network powered by the camera uses a password to establish a verified connection with a device, ad hoc connections in general, suffer from having less security against unwanted incoming connections compared to a secure Wi-Fi infrastructure connection. If a hacker gets within the signal range of the camera, there is little difficulty to connect to its ad-hoc.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>okay
</h2>
<p>
The camera and the device need to be in close proximity to each other for the connection to work well.
</p>

<script>
var flowSteps = [
  {
    caption: "Thing is off - No connection is established - User launches App",
    thingImg: "thing/off.png",
    networkAnimations: ["Actors_noCloud_noWifi.json"],
    screenImg: "screens/01_hello.png"
  },
  {
    caption: "User turns Thing on - No connection is established - App instructs to press power button",
    thingImg: "thing/on.png",
    networkAnimations: ["Actors_noCloud_noWifi.json"],
    screenImg: "screens/02_on.png"
  },
  {
    caption: "User presses Wi-Fi button on Thing - Thing starts ad hoc Wi-Fi connection - App instructs to press connection button",
    thingImg: "thing/wifi-fast.gif",
    networkAnimations: ["Actors_noCloud_noWifi.json", "Thing_broadcastsAdHoc.json"],
    screenImg: "screens/03_wifi.png"
  },
  {
    caption: "Thing emits ad hoc Wi-Fi connection  - Thing emits ad hoc Wi-Fi connection - App instructs to visit OS settings",
    networkAnimations: ["Actors_noCloud_noWifi.json", "stills/Thing_broadcastsAdHoc.json"],
    screenImg: "screens/04_gotosettings.png"
  },
  {
    caption: "Thing emits ad hoc Wi-Fi connection - OS searches for Wi-Fi networks - User selects Thing's network in OS settings",
    networkAnimations: ["Actors_noCloud_noWifi.json", "OS_listensAdHoc.json"],
    screenImg: "screens/05_settings-choose.png"
  },
  {
    caption: "Thing emits ad hoc Wi-Fi connection - OS and Thing are in discovery mode - OS is connecting to Thing's network",
    networkAnimations: ["Actors_noCloud_noWifi.json", "stills/ThingOS_discoveryAdHoc.json"],
    screenImg: "screens/05_settings-progress.png"
  },
  {
    caption: "Thing emits ad hoc Wi-Fi connection - OS and Thing are in discovery mode - User enters Thing's network password",
    networkAnimations: ["Actors_noCloud_noWifi.json", "stills/ThingOS_discoveryAdHoc.json"],
    screenImg: "screens/06_settings-password.png"
  },
  {
    caption: "Thing emits ad hoc Wi-Fi connection - Thing and OS are connecting - Thing and OS are connecting in OS Settings",
    networkAnimations: ["Actors_noCloud_noWifi.json", "ThingOS_verifiedAdHoc.json"],
    screenImg: "screens/07_settings.gif"
  },
  {
    caption: "Thing emits ad hoc Wi-Fi connection - Thing and App connect - App shows all is set",
    networkAnimations: ["Actors_noCloud_noWifi.json", "stills/ThingOS_verifiedAdHoc.json", "ThingApp_verified.json"],
    screenImg: "screens/09_allset.png"
  },
  {
    caption: "Thing emits ad hoc Wi-Fi connection - Thing and App are connected - User swipes to reveal camera view",
    thingImg: "thing/wifi-slow.gif",
    networkAnimations: ["Actors_noCloud_noWifi.json", "stills/ThingOS_verifiedAdHoc.json", "stills/ThingApp_verified.json"],
    screenImg: "screens/10_done.png"
  }
]
</script>
