#carousel {
  width: 100%;
  min-width: 960px;
  height: 480px;

  position: relative;  

  .scrolling {
    position: relative;
    width: 100%;
    height: 480px;

    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
  .scrolling::-webkit-scrollbar { 
    display: none; 
  }

  .scrolling-wrapper {
    list-style-type: none;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;

  }

  .slide {
    position: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 480px;

    display: inline-block;
    z-index: 0;
  }

  #overlay-background {
    height: 380px; /* + padding-top */
    width: 100%;
    padding-top: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    pointer-events: none;

    background: url('../images/bg-overlayangle.svg') no-repeat center;
  }
  #overlay-background .pale {
    position: relative;
  }
  .overlay {
    height: 150px;
    width: 200px;
    padding-right: 100px;
    padding-top: 180px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;


    color: #FFFFFF;
    line-height: 1.2em;

    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .overlay.preview {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }

  .overlay a {
    display: block;
    width: 200px;
    height: 150px;
    
    text-decoration: none;
    color: $white;
  }
  .overlay.preview a {
    pointer-events: auto;
  }
  .overlay.preview a:hover {
    color: $lightestgrey;
  }


  #prev, #next {
    width: 80px;
    z-index: 10;

    padding-top: (480px / 2) - (40px);

    text-align: center;
    font-weight: bold;

    cursor: pointer;
  }
  #prev {
    height: (40px);

    position: absolute;
    top: 0;
    left: 0;
  }
  #prev:before {
    display: block;
    height: 40px;
    width: 40px;
    
    margin: 0 auto;

    content: ' ';
    @include icon-sprite(0 -40px);
  }
  #next {
    height: (480px / 2) + (40px);

    position: absolute;
    top: 0;
    right: 0;
  }
  #next:before {
    display: block;
    height: 40px;
    width: 40px;

    margin: 0 auto;

    content: ' ';
    @include icon-sprite(-40px -40px);
  }  
}
