#header {
  position: fixed;
  top: 0px;
  
  height: 70px;
  width: 100%;

  background-image: url("/images/header-bg.png");

  font-size: 1.4em;
  
  z-index: 100;
}

#header-spacer {
  top: 0px;

  display: block;
  height: 60px;
  width: 100%;
}

#header .casestudies {
  float: left;

  height: 50px;
  margin: 10px 5px 10px 5px;
}

#header .casestudies li {
  float: left;
  margin: 0 5px 0 5px;
  height: 70px;
  display: block;
  list-style-type: none;   
}

.preview {
  background-image: url("/images/preview.png");
  background-repeat: no-repeat;
}

#header .casestudies li a {
  height: 40px;
  width: 40px;
  
  border-radius: 2px;
}

.nav-blog a {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  height: 20px;
  padding: 10px;
  border-radius: 2px;
  color: $white;
  
  font-family: "nimbus-sans-condensed", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.nav-blog a:hover {
  background-color: $grey;
}
  
.nav-blog a.current {
  background-color: $mint;
}

.logo {
  float: left;

  height: 20px;
  margin-right: 372px;
  margin-top: 20px;
  
  border-radius: 2px;
  display: block;
  
  font-family: "Georgia", Times, Serif;
  font-style: italic;
  text-align: center;  
  color: $white;
  font-weight: 700;
  font-size: 1.4em;
  
  a {
    color: $lightestgrey;
  }
  
  a:hover {
    color: $white;
  }
}

#header .casestudies li a {
  background-color: $darkestgrey;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#header .casestudies li a:hover {
  background-color: $grey;
}

#header .casestudies li .current {
  background-color: $mint;
}

#DDD {
  @include icon-sprite(0 0);
  display: block;
}

#startups {
  @include icon-sprite(-40px 0);
  display: block;
}

#death {
  @include icon-sprite(-120px 0);
  display: block;
}

#icon {
  @include icon-sprite(-160px 0);
  display: block;
}

#pilogs {
  @include icon-sprite(-80px 0);
  display: block;
}

#capabilities {
  @include icon-sprite(-200px 0);
  display: block;
}

#team {
  @include icon-sprite(-240px 0);
  display: block;
}

.line {
  width: 2px;
  height: 40px;
  margin: 10px;
  display: block;
  background-color: $lightestgrey;
}

#artblog.current {
}