@import "colors";
@import "_mixins";

body {
  background: $darkestgrey;
  background-position: center;
  color: $darkestgrey;
  font-family: "museo-sans", Helvetica, Arial, Sans-Serif;
  font-size: 1em;
  min-height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
/*    padding-top: 60px;*/
}

a {
  text-decoration: none;
  color: $turquoise;
}

a:hover {
  text-decoration: none;
  color: $lightturquoise;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: $white;
  font-family: "Georgia", Times, Serif;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0px;
}

h4 {
  margin-bottom: 4px;
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

h5{
  color: $white;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0px;
}

h6, h6 a{
	color: $darkestgrey;
	font-size: 1.2em;
}

h6 a:hover {
	text-decoration: none;
}

ul {
	margin: auto;
}

li{
}

img{
}

p{
	margin-top: 10px;
	font-size: .9em;
}

.line {
    background-color: $white;
    border-radius:1px;
    display: block;
    float: left;
    height: 40px;
    margin-left: 10px;
    width: 2px;
}

/* content */

.content {
//	margin-top: 60px;
    width: 100%;
}

.pale {
  width: 960px;
  margin: 0 auto;
}

.column {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0px auto;
}


#story, #blog, #blog-article, #person  {
  width: 100%;
  background-color: $lightestgrey;
  padding-bottom: 60px;
  margin-bottom: 360px;
}

.row {
  clear: both;
  height: 400px;
}



#carousel {
  background-color: $turquoise;
  height: 480px;
  width: 100%;
}

.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 100%;
}
.slides-navigation a {
    height: 100%;
    position: absolute;
    display: block;
    padding: 290px 50px;
}
.slides-navigation a.prev {
    left: 0;
}
.slides-navigation a.next {
    right: 0;
}
.slides-navigation a.prev:before {
    display: block;
    height: 40px;
    width: 40px;
    content: ' ';
    @include icon-sprite(0 -40px);
}
.slides-navigation a.next:before {
    display: block;
    height: 40px;
    width: 40px;
    content: ' ';
    @include icon-sprite(-40px -40px);
}
