@import "_mixins";

body {
	background: #191516;
	background-position: center;
	color: #191617;
	font-family: "Museo Sans", Helvetica, Arial, Sans-Serif;
	font-size: 1em;
    min-height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.4em;
/*    padding-top: 60px;*/
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
    text-decoration: none;
	color: #149873;
}

h1 {
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 40px;
	text-align: center;
}

h2 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-family: "Georgia", Times, Serif;
	font-size: 1em;
	font-weight: bold;
    margin-bottom: 0px;
}

h4 {
    font-size: .8em;
    text-transform: uppercase;
}

h5{
	color: #FFFFFF;
	font-family: "Georgia", Times, Serif;
	font-size: 1.6em;
    font-style: italic;
    line-height: 1.2em;
	margin: 0px;
}

h6, h6 a{
	color: #352E30;
	font-size: 1.2em;
}

h6 a:hover {
	text-decoration: none;
}

ul {
	margin: auto;
}

li{
}

img{
}

p{
	margin-top: 10px;
	font-size: .9em;
}

.line {
    background-color: #FFFFFF;
    border-radius:1px;
    display: block;
    float: left;
    height: 40px;
    margin-left: 10px;
    width: 2px;
}

/* content */

.content {
//	margin-top: 60px;
    width: 100%;
}

#carousel {
    height: 600px;
    width: 100%;
}

.column {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0px auto;
}
