@import "_mixins";

body {
	background: #191516;
	background-position: center;
	color: #FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-size: .8em;
    min-height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.4em;
/*    padding-top: 60px;*/
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
    text-decoration: none;
	color: #149873;
}

h1 {
	color: #352E30;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 40px;
	text-align: center;
}

h2 {
	color: #352E30;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

h3 {
	color: #FFFFFF;
	font-family: "Georgia", Times, Serif;
	font-size: 1em;
	font-weight: bold;
    margin-bottom: 0px;
}

h4 {
    font-size: .8em;
    text-transform: uppercase;
}

h5{
	color: #FFFFFF;
	font-family: "Georgia", Times, Serif;
	font-size: 1.6em;
    font-style: italic;
    line-height: 1.2em;
	margin: 0px;
}

h6, h6 a{
	color: #352E30;
	font-size: 1.2em;
}

h6 a:hover {
	text-decoration: none;
}

ul {
	margin: auto;
}

li{
}

img{
}

p{
	margin-top: 10px;
	font-size: .9em;
}

/* navigation */

#header {
    height: 60px;
    width: 100%;
	position: fixed;
	top: 0px;
	z-index: 100;
    background-color: #191617;
}

#header-spacer {
    display: block;
    top: 0;
    height: 60px;
    width: 100%;
}

#header .nav {
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-size: 0.9em;
	height: 50px;
	margin: 10px;
}

#header .nav li {
	float: left;
	list-style-type: none;
    margin-left: 10px;
}

#header .nav li a {
    border-radius: 2px;
    height: 40px;
    width: 40px;
}

#header .logoBox .logo a {
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    float: left;
	font-weight: bold;
    height: 28px;
    margin: 10px;
	padding-top: 12px;
	text-align: center;
    width: 120px;
}

#header .logoBox .logo a, #header .nav li a {
    background-color: #352E30;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
#header .logoBox .logo a:hover, #header .nav li a:hover {
    background-color: #666062;
}
#header .logoBox .logo a.current, #header .nav li .current {
    background-color: #01a59d;
}
#DDD {
    @include icon-sprite(0 0);
    display: block;
}
#learning {
    @include icon-sprite(-40px 0);
    display: block;
}
#death {
    @include icon-sprite(-120px 0);
    display: block;
}
#icon {
    @include icon-sprite(-160px 0);
    display: block;
}
#pilogs {
    @include icon-sprite(-80px 0);
    display: block;
}
#capabilities {
    @include icon-sprite(-200px 0);
    display: block;
}
#team {
    @include icon-sprite(-240px 0);
    display: block;
}
.line {
    background-color: #FFFFFF;
    border-radius:1px;
    display: block;
    float: left;
    height: 40px;
    margin-left: 10px;
    width: 2px;
}

/* content */

.content {
//	margin-top: 60px;
    width: 100%;
}

.slide {
    height: 600px;
    min-height: 300px;
    width: 100%;
}

.caption-top-left, .caption-top-right, .caption-bottom-left, .caption-bottom-right, .caption-error {
    background-color: #191516;
    border-radius: 2px;
    position: absolute;
    width: 320px;
	padding: 20px;
}

.caption-top-left {
	top: 20px;
    left: 10px;
}
.caption-top-right {
	top: 20px;
    right: 10px;
}
.caption-bottom-left {
	bottom: 20px;
    left: 20px;
}
.caption-bottom-right {
	bottom: 20px;
    right: 20px;
}

.caption-error {
    bottom: 240px;
    right: 39px;
}

.column {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0px auto;
}

#carousel {
    height: 600px;
    width: 100%;
}


/* footer */
#footer {
    height: 360px;
    margin: 0 auto;
    width: 960px;
}

#location {
    float: left;
    margin-top: 40px;
    width: 400px;
}

#map {
    background-color: #01A59D;
    background-image: url(../images/map.svg);
    background-size: 360px 212px;
    border-radius: 2px;
    display: block;
    height: 212px;
    margin-top: 20px;
    width: 360px;
}

#contact {
    float: left;
    margin-left: 60px;
    margin-top: 40px;
    width: 200px;
}

ul.social {
    float: left;
    list-style-type: none;
    margin-top: 40px;
    width: 200px;
}

li.socialLink a {
    border-radius: 2px;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
}

.button a{
    background-color: #01A59D;
    border-radius: 2px;
    display: block;
    font-family: "Georgia", Times, Serif;
    font-size: 1.2em;
    height: 28px;
    padding-top: 12px;
    text-align: center;
    width: 140px;
}

.button a:hover {
    background-color: #0c6666;
    color: #FFFFFF;
}

#twitter {
    @include icon-sprite(0 -80px);
}

#facebook {
    @include icon-sprite(-40px -80px);
}

#tumblr {
    @include icon-sprite(-80px -80px);
}

#dribbble {
    @include icon-sprite(-160px -80px);
}
