@import "colors";

#blog {
  margin-top: 0;
  overflow: auto;
}

.allposts {
  background-image: url(../images/carousel-artificial.png);
}

@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {         
  .allposts {
    background:url('../images/carousel-artificial@2x.png') no-repeat center center;
    background-size: 1600px 600px;
  }
}

.titlespace, {
  overflow: hidden;
  
  height: 320px;
  width: 100%;
  display: block;

  h1 {
    padding-top: 120px;
    
    color: $white;
    text-transform: uppercase;
    font-family: "nimbus-sans-condensed", Helvetica, Arial, Sans-serif;
  }
}

#masthead {
  .about {
    
    width: 960px;
    margin: 0 auto;
    
    text-align: left;
    color: $white;
    
    h1, a {
      text-align: left;
      color: $white;
    }
  }
}

.overlay {
  height: inherit;
  background: -webkit-linear-gradient(rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.6) 100%)
}

.imgpreview {
  float: left;
}


.textpreview {
  float: left;
  width: 280px;
  height: 320px;
  padding: 40px;
  background: $white;
  
  text-align: center;

  
  h2 {
    text-transform: uppercase;
    font-family: "nimbus-sans-condensed", Helvetica, Arial, Sans-serif;
    line-height: .9em;
  }
  
  .summary {
    font-size: .8em;
    line-height: 1.2em;
  }

  .date, .author {
    padding: 0;
    font-size: .7em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1em;
  }
  
  .author {
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid $darkestgrey;
  }
}

#blog-article {
  .pale {
    width: 800px;
    padding: 40px 80px 40px 80px;

    background-color: $white;
    overflow: auto;
  }
}
