$white:             #FFFFFF;
$lightestgrey:      #E5E3E3;
$lightgrey:         #CCC9CA;
$grey:              #666062;
$darkgrey:          #352E30;
$darkestgrey:       #191617;
$turquoise:         #01A59D;
$lightturquoise:    #61C6C8;
$tulip:             #CC1E4B;
$mint:              #6BC5AC;
$daffodil:          #FDDA25;
