@import "_mixins";

#footer {
    height: 360px;
    margin: 0 auto;
    width: 960px;
}

#location {
    float: left;
    margin-top: 40px;
    width: 400px;
}

#map {
    background-color: #01A59D;
    background-image: url(../images/map.svg);
    background-size: 360px 212px;
    border-radius: 2px;
    display: block;
    height: 212px;
    margin-top: 20px;
    width: 360px;
}

#contact {
    float: left;
    margin-left: 60px;
    margin-top: 40px;
    width: 200px;
}

ul.social {
    float: left;
    list-style-type: none;
    margin-top: 40px;
    width: 200px;
}

li.socialLink a {
    border-radius: 2px;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
}

.button a{
    background-color: #01A59D;
    border-radius: 2px;
    display: block;
    font-family: "Georgia", Times, Serif;
    font-size: 1.2em;
    height: 28px;
    padding-top: 12px;
    text-align: center;
    width: 140px;
}

.button a:hover {
    background-color: #0c6666;
    color: #FFFFFF;
}

#twitter {
    @include icon-sprite(0 -80px);
}

#facebook {
    @include icon-sprite(-40px -80px);
}

#tumblr {
    @include icon-sprite(-80px -80px);
}

#dribbble {
    @include icon-sprite(-160px -80px);
}
