@import "colors";
@import "_mixins";

#footer {
  position: fixed;
  bottom: 0;
  
  height: 360px;
  width: 100%;
  display: block;
  
  z-index: -1;
  
  p {
    color: #FFFFFF;
    font-size: .8em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  a {
    color: $mint;
    font-weight: 800;
  }
  a:hover {
    color: $turquoise;
  }
}

.emaillink {
  font-size: .8em;
}

.quarter {
  float: left;
  margin-top: 40px;
  margin-right: 40px;
  width: 200px;
}

ul.social {
  float: left;
  list-style-type: none;
  margin-top: 40px;
  width: 200px;
}

li.socialLink a {
  border-radius: 2px;
  display: block;
  float: left;
  height: 40px;
  width: 40px;
}

.button a{
  padding-top: 8px;
  width: 140px;
  height: 30px;
  display: block;
  
  background-color: $turquoise;
  border-radius: 2px;
  
  font-family: "Georgia", Times, Serif;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: $white;
}

.button a:hover {
  background-color: $lightturquoise;
}

#twitter {
  @include icon-sprite(0 -80px);
}

#facebook {
  @include icon-sprite(-40px -80px);
}

#tumblr {
  @include icon-sprite(-80px -80px);
}

#dribbble {
  @include icon-sprite(-160px -80px);
}
