@import "colors";
@import "_mixins";

#header {
  position: fixed;
  top: 0px;
  
  height: 60px;
  width: 100%;

  background-color: $darkestgrey;

  font-size: 1.4em;
  
  z-index: 100;
}

#header-spacer {
  top: 0;

  display: block;
  height: 60px;
  width: 100%;
}

#header .casestudies {
  float: left;

  height: 50px;
  margin: 10px;
}

#header .casestudies li {
  float: left;
  margin-left: 10px;
  list-style-type: none;    
}

#header .casestudies li a {
  height: 40px;
  width: 40px;
  
  border-radius: 2px;
}

.logo {
  float: left;

  height: 28px;
  margin-right: 332px;
  
  border-radius: 2px;
  display: block;
  
  text-align: center;  
  color: $white;
  font-weight: 500;
  
  a {
    color: $lightestgrey;
  }
  
  a:hover {
    color: $white;
  }
}

.textlink {
  float: left;
  margin-top: 20px;
   
  a {
    color: $lightestgrey;
  }
  
  a:hover {
    color: $white;
  }
}

.label {
  float: left;
  margin: 10px;
  color: $white;
}

.blog {
  float: left;
  color: $white;
}

#header .casestudies li a {
  background-color: $darkgrey;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#header .casestudies li a:hover {
  background-color: #666062;
}

#header .casestudies li .current {
  background-color: $turquoise;
}

#DDD {
  @include icon-sprite(0 0);
  display: block;
}

#startups {
  @include icon-sprite(-40px 0);
  display: block;
}

#death {
  @include icon-sprite(-120px 0);
  display: block;
}

#icon {
  @include icon-sprite(-160px 0);
  display: block;
}

#pilogs {
  @include icon-sprite(-80px 0);
  display: block;
}

#capabilities {
  @include icon-sprite(-200px 0);
  display: block;
}

#team {
  @include icon-sprite(-240px 0);
  display: block;
}

.line {
  width: 2px;
  height: 40px;
  margin: 10px;
  display: block;
  background-color: $lightestgrey;
}