@import "_mixins";

#slides {
    position: relative;
}
#slides .slides-container {
    display: none;
}

.slide {
    height: 600px;
    min-height: 300px;
    width: 100%;
}

.caption-top-left, .caption-top-right, .caption-bottom-left, .caption-bottom-right, .caption-error {
    background-color: #191516;
    border-radius: 2px;
    position: absolute;
    width: 320px;
	padding: 20px;
}

.caption-top-left {
	top: 20px;
    left: 10px;
}
.caption-top-right {
	top: 20px;
    right: 10px;
}
.caption-bottom-left {
	bottom: 20px;
    left: 20px;
}
.caption-bottom-right {
	bottom: 20px;
    right: 20px;
}

.caption-error {
    bottom: 240px;
    right: 39px;
}


.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 100%;
}
.slides-navigation a {
    height: 100%;
    position: absolute;
    display: block;
    padding: 290px 50px;
}
.slides-navigation a.prev {
    left: 0;
}
.slides-navigation a.next {
    right: 0;
}
.slides-navigation a.prev:before {
    display: block;
    height: 40px;
    width: 40px;
    content: ' ';
    @include icon-sprite(0 -40px);
}
.slides-navigation a.next:before {
    display: block;
    height: 40px;
    width: 40px;
    content: ' ';
    @include icon-sprite(-40px -40px);
}
.slides-pagination {
    position: absolute;
    bottom: 4px;
    left: 50%;
    height: 30px;
    z-index: 3;
}
.slides-pagination div {
    background: #352f31;
    border: 2px solid #352f31;
    border-radius: 16px;
    left: -50%;
    position: relative;
}
.slides-pagination a {
    background: #191617;
    border: 2px solid #191617;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 3px;
    opacity: 1;
    overflow: hidden;
    text-indent: -999px;
}
.slides-pagination a.current {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
}
