#slides {
    position: relative;
}
#slides .slides-container {
    display: none;
}

.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 100%;
}
.slides-navigation a {
    height: 100%;
    position: absolute;
    display: block;
    padding: 290px 50px;
}
.slides-navigation a.prev {
    left: 0;
}
.slides-navigation a.next {
    right: 0;
}
.slides-navigation a.prev:before {
    display: block;
    height: 40px;
    width: 40px;
    content: ' ';
    @include icon-sprite(0 -40px);
}
.slides-navigation a.next:before {
    display: block;
    height: 40px;
    width: 40px;
    content: ' ';
    @include icon-sprite(-40px -40px);
}
.slides-pagination {
    position: absolute;
    bottom: 4px;
    left: 50%;
    height: 30px;
    background: blue;
    z-index: 3;
}
.slides-pagination div {
    background: #352f31;
    border: 2px solid #352f31;
    border-radius: 16px;
    left: -50%;
    position: relative;
    opacity: .8;
}
.slides-pagination a {
    background: #191617;
    border: 2px solid #191617;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 2px;
    opacity: 1;
    overflow: hidden;
    text-indent: -999px;
}
.slides-pagination a.current {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
}
