
@import "_artificial-colors.scss";

#svg-holistic, #svg-integrated, #svg-focused, #svg-generative {
	.st0 {
		fill:none;stroke: $cool-grey-50;
		stroke-miterlimit:10;
	}
	.st1 {
		fill:none;stroke: $white;
		stroke-miterlimit:10;
	}
}

#svg-holistic {
	margin: 0 auto;
	position: relative;

	svg {

		animation-name: holistic;
	  animation-duration: 12s;
		animation-iteration-count: infinite;
		transform-origin: 50% 50%;
		animation-timing-function: linear;

			g * {
				animation-name: holistic;
				animation-duration: 12s;
				animation-iteration-count: infinite;
				transform-origin: 50% 50%;
				animation-timing-function: linear;
			}
		}
	.hol-01 { animation-name: hol-01; }
	.hol-02 { animation-name: hol-02; }
	.hol-03 { animation-name: hol-03; }
	.hol-04 { animation-name: hol-04; }
	.hol-05 { animation-name: hol-05; }
	.hol-06 { animation-name: hol-06; }
	.hol-07 { animation-name: hol-07; }
}

@keyframes holistic {
	0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes hol-01 {
	0% { opacity: 0.0; }
	10% { opacity: 1.0; }
	90% { opacity: 1.0; }
	100% {opacity: 0.0; }
}

@keyframes hol-02 {
	0% { opacity: 0.0; }
	10% { opacity: 0.0; }
	20% { opacity: 1.0; }
	90% { opacity: 1.0; }
	100% {opacity: 0.0; }
}

@keyframes hol-03 {
	0% { opacity: 0.0; }
	20% { opacity: 0.0; }
	30% { opacity: 1.0; }
	90% { opacity: 1.0; }
	100% {opacity: 0.0; }
}

@keyframes hol-04 {
	0% { opacity: 0.0; }
	30% { opacity: 0.0; }
	40% { opacity: 1.0; }
	90% { opacity: 1.0; }
	100% {opacity: 0.0; }
}

@keyframes hol-05 {
	0% { opacity: 0.0; }
	40% { opacity: 0.0; }
	50% { opacity: 1.0; }
	90% { opacity: 1.0; }
	100% {opacity: 0.0; }
}

@keyframes hol-06 {
	0% { opacity: 0.0; }
	50% { opacity: 0.0; }
	60% { opacity: 1.0; }
	90% { opacity: 1.0; }
	100% {opacity: 0.0; }
}

@keyframes hol-07 {
	0% { opacity: 0.0; }
	60% { opacity: 0.0; }
	70% { opacity: 1.0; }
	90% { opacity: 1.0; }
	100% {opacity: 0.0; }
}

#svg-integrated {
	margin: 0 auto;
	position: relative;

	svg {
		g * {
			animation-duration: 12s;
			animation-iteration-count: infinite;
			transform-origin: 50% 50%;
			animation-timing-function: linear;
		}
		.int-01 { animation-name: int-01; }
		.int-02 { animation-name: int-02; }
		.int-03 {animation-name: int-03; }
		.int04 {animation-name: int-04; }
		.int-05 {animation-name: int-05; }
		.int-06 {animation-name: int-06; }
	}
}

@keyframes int-01 {
	0% { opacity: 0.0; }
	16% { opacity: 0.0; }
  24% { opacity: 1.0; }
	88% { opacity: 1.0; }
	96% { opacity: 0.0 }
	100% { opacity: 0.0; }
}

@keyframes int-02 {
	0% { opacity: 1.0; }
	8% { opacity: 1.0; }
	16% { opacity: 0.0 }
	32% { opacity: 0.0; }
  40% { opacity: 1.0; }
	100% { opacity: 1.0; }
}

@keyframes int-03 {
	0% { opacity: 1.0; }
	24% { opacity: 1.0; }
	32% { opacity: 0.0 }
	48% { opacity: 0.0; }
	56% { opacity: 1.0; }
	100% {opacity: 1.0; }
}

@keyframes int-04 {
	0% { opacity: 1.0; }
	40% { opacity: 1.0; }
	48% { opacity: 0.0 }
	64% { opacity: 0.0; }
	72% { opacity: 1.0; }
	100% {opacity: 1.0; }
}

@keyframes int-05 {
	0% { opacity: 1.0; }
	56% { opacity: 1.0; }
	64% { opacity: 0.0 }
	80% { opacity: 0.0; }
	88% { opacity: 1.0; }
	100% {opacity: 1.0; }
}

@keyframes int-06 {
	0% { opacity: 1.0; }
	8% { opacity: 1.0; }
	72% { opacity: 1.0; }
	80% { opacity: 0.0 }
	96% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

#svg-focused {
	margin: 0 auto;
	position: relative;

	svg {
		g * {
			animation-duration: 12s;
			animation-iteration-count: infinite;
			transform-origin: 50% 50%;
			animation-timing-function: linear;
		}
		.foc-01 { animation-name: foc-01; }
		.foc-02 { animation-name: foc-02; }
		.foc-03 {animation-name: foc-03; }
		.foc-04 {animation-name: foc-04; }
		.foc-05 {animation-name: foc-05; }
	}
}

@keyframes foc-01 {
	0% { transform: scale(1.0); }
  5% { transform: scale(1.25); }
  80% { transform: scale(1.0); }
	100% { transform: scale(1.0); }
}

@keyframes foc-02 {
	0% { transform: scale(1.0); }
	5% { transform: scale(1.0); }
	10% { transform: scale(1.2); }
  85% { transform: scale(1.0); }
	100% { transform: scale(1.0); }
}

@keyframes foc-03 {
	0% { transform: scale(1.0); }
	10% { transform: scale(1.0); }
  15% { transform: scale(1.15); }
  90% { transform: scale(1.0); }
	100% { transform: scale(1.0); }
}

@keyframes foc-04 {
	0% { transform: scale(1.0); }
	15% { transform: scale(1.0); }
  20% { transform: scale(1.1); }
  95% { transform: scale(1.0); }
	100% { transform: scale(1.0); }
}

@keyframes foc-05 {
	0% { transform: scale(1.0); }
	20% { transform: scale(1.0); }
  25% { transform: scale(1.05); }
  100% { transform: scale(1.0); }
	100% { transform: scale(1.0); }
}

#svg-generative {
	margin: 0 auto;
	position: relative;

	svg {
		g * {
			animation-duration: 12s;
			animation-iteration-count: infinite;
			transform-origin: 50% 50%;
			animation-timing-function: linear;
		}
		.gen-01 { animation-name: gen-01; }
		.gen-02 { animation-name: gen-02; }
		.gen-03 { animation-name: gen-03; }
		.gen-04 { animation-name: gen-04; }
		.gen-05 { animation-name: gen-05; }
		.gen-06 { animation-name: gen-06; }
		.gen-07 { animation-name: gen-07; }
		.gen-08 { animation-name: gen-08; }
		.gen-09 { animation-name: gen-09; }
		.gen-10 { animation-name: gen-10; }
		.gen-11 { animation-name: gen-11; }
		.gen-12 { animation-name: gen-12; }
		.gen-13 { animation-name: gen-13; }
		.gen-14 { animation-name: gen-14; }
		.gen-15 { animation-name: gen-15; }
		.gen-16 { animation-name: gen-16; }
		.gen-17 { animation-name: gen-17; }
		.gen-18 { animation-name: gen-18; }
		.gen-19 { animation-name: gen-19; }
		.gen-20 { animation-name: gen-20; }
		.gen-21 { animation-name: gen-21; }
		.gen-22 { animation-name: gen-22; }
		.gen-23 { animation-name: gen-23; }
		.gen-24 { animation-name: gen-24; }
		.gen-25 { animation-name: gen-25; }
	}
}

@keyframes gen-01 {
	0% { opacity: 1.0; }
	4% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-02 {
	0% { opacity: 1.0; }
	4% { opacity: 1.0; }
	8% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}
@keyframes gen-03 {
	0% { opacity: 1.0; }
	72% { opacity: 1.0; }
	76% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-04 {
	0% { opacity: 1.0; }
	12% { opacity: 1.0; }
	16% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-05 {
	0% { opacity: 1.0; }
	16% { opacity: 1.0; }
	20% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-06 {
	0% { opacity: 1.0; }
	20% { opacity: 1.0; }
	24% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-07 {
	0% { opacity: 1.0; }
	68% { opacity: 1.0; }
	72% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-08 {
	0% { opacity: 1.0; }
	28% { opacity: 1.0; }
	32% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-09 {
	0% { opacity: 1.0; }
	32% { opacity: 1.0; }
	36% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-10 {
	0% { opacity: 1.0; }
	36% { opacity: 1.0; }
	40% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-11 {
	0% { opacity: 1.0; }
	40% { opacity: 1.0; }
	44% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-12 {
	0% { opacity: 1.0; }
	44% { opacity: 1.0; }
	48% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-13 {
	0% { opacity: 1.0; }
	48% { opacity: 1.0; }
	52% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-14 {
	0% { opacity: 1.0; }
	52% { opacity: 1.0; }
	56% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-15 {
	0% { opacity: 1.0; }
	56% { opacity: 1.0; }
	60% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-16 {
	0% { opacity: 1.0; }
	60% { opacity: 1.0; }
	64% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}
@keyframes gen-17 {
	0% { opacity: 1.0; }
	64% { opacity: 1.0; }
	68% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-18 {
	0% { opacity: 1.0; }
	24% { opacity: 1.0; }
	28% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-19 {
	0% { opacity: 1.0; }
	8% { opacity: 1.0; }
	12% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-20 {
	0% { opacity: 1.0; }
	76% { opacity: 1.0; }
	80% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-21 {
	0% { opacity: 1.0; }
	14% { opacity: 1.0; }
	18% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-22 {
	0% { opacity: 1.0; }
	10% { opacity: 1.0; }
	14% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-23 {
	0% { opacity: 1.0; }
	6% { opacity: 1.0; }
	10% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}

@keyframes gen-24 {
	0% { opacity: 1.0; }
	2% { opacity: 1.0; }
	6% { opacity: 0.0; }
	90% { opacity: 0.0; }
	100% {opacity: 1.0; }
}
