
body.index {
	height: 100%;

	scroll-snap-type: mandatory;
}

// the comp lacks this line!
body.index #header .flex.container {
	border-bottom: none;
}

#background {
	position: fixed;
	top: 0;
	left: 0;

	min-width: 100%;
	min-height: 100%;

	background-color: $turquoise;
	// background: linear-gradient(to bottom, $pale-grass, $turquoise);
	-webkit-transition: background-image 0.5s linear;
	transition: background-image 0.5s linear;
	z-index: -1;
}

// homepage panels
.slide-panel {
	*, *:hover { color: inherit; }
}
