.blog:not(.blog_index) {
	#content {
		.padded {
			margin-bottom: 60px;
		}

		.blog-title {
			margin-top: 80px;
		}

		img {
			padding-top: 40px;
		}

		img.float-left {
			width:48%;
			padding:20px 20px 10px 0;
			float: left;
		}

		h1 {
			font-size: 1.1em;
			line-height: 1.5em;
			text-align: center;
			margin-top: 20px;
			padding:0;

		}

		h2 {
			font-size: 2.5em;
			line-height: 1.3em;
			font-family: "Droid Serif", Georgia, Times, serif;
			font-style: italic;
            margin-top: 20px;
		}

		h3 {
			font-size: .9em;
			line-height: .8em;
			font-family: "Open Sans", Helvetica, sans-serif;
			font-style: normal;
			font-weight: 700;
		}
        
		h5 {
			font-size: 1.4em;
            line-height: 1.4em;
			font-weight: 300;
            margin-top: 20px;
            text-transform: uppercase
		}

		p, li, ul, td {
            font-family: "Open Sans", Helvetica, sans-serif;
            font-weight: 300;
			font-size: .9em;
			line-height: 1.8em;
		}
		
		li, ul {
			list-style-type: circle;
		}
		
	}
}
