// top header
// mobile

@media only screen and (min-device-width: 320px) {
	#header {
		background-color: $cool-grey-90;

		.topbar {
			border-top-color: $white;
		}

		.flex.container {
			border-bottom-color: $white;
		}

		#logo {
			padding-top: 18px;
			padding-bottom: 2px;

			a {
				height: 22px;
				color: white;
			}
		}

		#nav-primary {
			.padded-lr{
				overflow: auto;

				ul {
					padding-top: 8px;
					padding-bottom: 14px;

					li {
						a {
							font-weight: bold;
							color: $white;
						}
						a:hover {
							color: $pale-turquoise;
						}
					}
					li.active a {
						color: $turquoise;
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px) {
	#header {
		background-color: $cool-grey-90;

		.topbar {
			border-top-color: $white;
		}

		.flex.container {
			border-bottom-color: $white;
		}

		#logo {
			padding-top: 18px;
			padding-bottom: 10px;

			a {
				height: 22px;
				color: white;
			}
		}

		#nav-primary {
			.padded-lr{
				overflow: auto;

				ul {
					padding-top: 28px;
					padding-bottom: 0;
				}
			}
		}
	}

	#nav-secondary {
		border-bottom-color: $cool-grey-20;

		ul {
			li {
				a {
					color: $cool-grey-30;
				}
				a:hover {
					color: $cool-grey-40;
				}
			}
		}
	}
}

// content
body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: $cool-grey-90;

	a {
		color: $turquoise;
	}
}

.work_index, .blog_index {
	background-color: $cool-grey-90;
	.section-title {
		color: $white;
	}
}


// two-column layout for mobile
.container.packery {
	margin-top: 20px;
}

.extra-padded { padding: 48px 16px 24px 16px; }
.extra-vertical { padding-top: 40px; padding-bottom: 40px; }
.padded-bottom { padding-bottom: 80px; }

.small-statement * {
	color: $cool-grey-40;

	strong, a {
		color: $white;
		font-weight: normal;
	}
}

// card sizing for case studies and experiments
@media only screen and (min-device-width: 320px) {
	.case-study { min-height: 480px; }
	.experiment { height: 320px; }
}
@media only screen and (min-device-width: 768px) {
	.case-study { height: 400px; }
	.experiment { height: 240px; }
}
@media only screen and (min-width: 960px) {
	.case-study { height: 480px; }
	.experiment { height: 320px; }
}

.card-rule {
	margin: auto;
	margin-bottom: 16px;
	width: 40px;
	height: 1px;
	display: block;
	background-color: $white;
}

.experiment {
	background-color: $cool-grey-90;
	opacity: 0.9;
	color: $white;
	a {
		color: $white;
	}
}

// case studies artifacts list
.bleed.artifacts {
	padding: 24px 0 24px 0;
	background-color: $cool-grey-10;
	color: $cool-grey-90;
	text-align: center;
}

svg *.frame { fill: $cool-grey-90; }
svg *.content{ fill: $cool-grey-40; }

// laboratory styles
.bleed.animal-party {
	background-image: url('/laboratory/images/index_background.jpg');
	background-repeat: no-repeat;
	height: 100%;
	position: fixed;
	z-index: -100;
	display: block;
	background-size: 100%;
}

@media only screen and (min-device-width: 320px) {
	.laboratory {
		.section-title {
			margin-top: 192px;
			margin-bottom: 0;
		}
	}
}
@media only screen and (min-device-width: 768px) {
	.laboratory {
		.section-title {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}
}
@media only screen and (min-width: 960px) {
	.laboratory {
		.section-title {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}
}

// about styles
@media only screen and (min-device-width: 320px) {
	.bleed.about-us {
		background-image: url(/about/images/us.jpg);
		min-height: 160px;
		margin: auto;
		background-position: top center;
	}
}

@media only screen and (min-device-width: 768px) {
	.bleed.about-us {
		background-image: url(/about/images/us.jpg);
		min-height: 400px;
		margin: auto;
		background-position: top center;
	}
}

.map {
	height: 400px;

	.mapboxgl-popup-content {
		padding: 10px;
	}
}

.hiring-button {
	border: 1px solid $white;
	border-radius: 5px;
	text-align: center;
	padding: 12px;
	color: $white;
}

.job-requirements {
	color: $cool-grey-40;
	li {
		list-style-type: disc;
	}
}

.tools {
	text-align: center;
	color: $white;

	svg *.feather_een { fill: $white; }
	svg { margin-bottom: 20px; }

	ul {
		margin: 0;
		padding: 0;
	}
}

// people styles
#person {
	// TODO update these SVGs with proper CSS classes
	svg path, svg rect, svg polygon {
		fill: $cool-grey-90;
	}

	.person-logo {
		padding-top: 40px;
		text-align: center;
	}

	a {
		color: $cool-grey-90;
		text-decoration: underline;
	}
}

// footer
// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $cool-grey-90;

		.flex.container, #about, #promo
		{
			border-top-color: $cool-grey-70;
		}
		h4, p {
			color: $cool-grey-30;
		}
			a {
			color: $white;
		}
		a:hover {
			color: $cool-grey-10;
		}
		div {
			color: $white;
		}
	}
}

// special styles
.center {
	text-align: center;
}

.white-text { color: $white; }

.dark-text {
	p, a { color: $cool-grey-90; }
}

.dark-fill *, .dark-fill g * {
	fill: $cool-grey-90;
}

.darkest-grey {
	background-color: $cool-grey-90;
	color: $white;
}

.grey {
	background-color: $cool-grey-50;
	h1, a {
		color: $white;
	}
}

.tulip {
	background-color: $tulip;

	h3 {
		font-size: 2em;
		color: $dark-tulip;
		padding-bottom: 5px;
		margin-top: 20px;
	}

}

.turquoise {
	background-color: $turquoise;
	a {
		color: white;
	}
}

.section {
	padding-top: 64px;
	padding-bottom: 64px;
}

.section-title {
	margin-top: 64px;
	margin-bottom: 32px;
	text-align: center;
}

.blog-title {
	margin-top: 100px;
}

// card gradient colors
.case-study {
	color: $white;
	img {
		margin-bottom: 10px;
	}
}

// background colors
.pale-turquoise { background-color: $pale-turquoise; }
.pale-grass { background-color: $pale-grass; }
.pale-dandelion { background-color: $pale-dandelion; }
.pale-pumpkin { background-color: $pale-pumpkin; }
.pale-tulip { background-color: $pale-tulip; }
.pale-grape { background-color: $pale-grape; }
.pale-sapphire { background-color: $pale-sapphire; }
.grey-10 { background-color: $cool-grey-10; }

// background gradients
.turquoise-palegrass {
	background-color: $turquoise;
	background: linear-gradient(to bottom, $pale-grass, $turquoise);
	.statement, .statement:hover { color: $darkest-turquoise; }
}

.sapphire-palegrape {
	background-color: $sapphire;
	background: linear-gradient(to bottom, $pale-grape, $sapphire);
	.statement, .statement:hover { color: $pale-grape; }
}

.sapphire-paleturquoise {
	background-color: $sapphire;
	background: linear-gradient(to bottom, $pale-turquoise, $sapphire);
	.statement, .statement:hover { color: $pale-turquoise; }
}

.grape-paletulip {
	background-color: $grape;
	background: linear-gradient(to bottom, $pale-tulip, $grape);
	.statement, .statement:hover { color: $pale-tulip; }
}
.grape-palesapphire {
	background-color: $grape;
	background: linear-gradient(to bottom, $pale-sapphire, $grape);
	.statement, .statement:hover { color: $pale-sapphire; }
}

.tulip-palepumpkin {
	background-color: $tulip;
	background: linear-gradient(to bottom, $pale-pumpkin, $tulip);
	.statement, .statement:hover { color: $pale-pumpkin; }
}

.pumpkin-paledandelion {
	background-color: $pumpkin;
	background: linear-gradient(to bottom, $pale-dandelion, $pumpkin);
	.statement, .statement:hover { color: $dark-tulip; }
}

.dandelion-paledandelion {
	background-color: $dandelion;
	background: linear-gradient(to bottom, $pale-dandelion, $dandelion);
	.statement, .statement:hover { color: $dark-pumpkin; }
}

.grass-paleturquoise {
	background-color: $grass;
	background: linear-gradient(to bottom, $pale-turquoise, $grass);
	.statement, .statement:hover { color: $darkest-turquoise; }
}

.grass-palelime {
	background-color: $grass;
	background: linear-gradient(to bottom, $pale-lime, $grass);
	.statement, .statement:hover {	color: $pale-lime }
}

// text colors
.turquoise-text {	color: $turquoise; }
.dark-turquoise-text { color: $dark-turquoise; }
.darkest-turquoise-text {color: $darkest-turquoise; }
.grass-text {	color: $grass; }
.dark-grass-text { color: $dark-grass; }
.darkest-grass-text {color: $darkest-grass; }
.dandelion-text {	color: $dandelion; }
.dark-dandelion-text { color: $dark-dandelion; }
.darkest-dandelion-text {color: $darkest-dandelion; }
.pumpkin-text {	color: $pumpkin; }
.dark-pumpkin-text { color: $dark-pumpkin; }
.darkest-pumpkin-text {color: $darkest-pumpkin; }
.tulip-text {	color: $tulip; }
.dark-tulip-text { color: $dark-tulip; }
.darkest-tulip-text {color: $darkest-tulip; }
.grape-text {	color: $grape; }
.dark-grape-text { color: $dark-grape; }
.darkest-grape-text {color: $darkest-grape; }
.sapphire-text { color: $sapphire; }
.dark-sapphire-text { color: $dark-sapphire; }
.darkest-sapphire-text {color: $darkest-sapphire; }

// eversearch (unused)
#oncall {
	background-color:rgba(255, 255, 255, 0.9);
}

// forms and fields (unused)
.search {
	background-color: $cool-grey-10;
	border: none;
	border-radius: 3px;

	.button {
		background-color: $turquoise;
		border: none;
		border-radius: 0 3px 3px 0;
		color: $white;
		transition: background-color 0.4s ease;
	}
	.button:hover {
		background-color: $dark-turquoise;
	  transition: background-color 0.4s ease;
	}
}

.field.signin {
	background-color: $cool-grey-90;
}

.field {
	background-color: $cool-grey-10;
	border: none;
	border-radius: 3px;
}

.button {
	border: none;
	border-radius: 3px;
	color: $white;
	transition: background-color 0.4s ease;
}

.button:hover {
  transition: background-color 0.4s ease;
}

.button.primary {
	background-color: $turquoise;
}

.button.primary:hover {
	background-color: $dark-turquoise;
}

.button.secondary {
	background-color: $cool-grey-30;
}

.button.secondary:hover {
	background-color: $cool-grey-50;
}

.selection {
 border: none;
 background-color: $cool-grey-10;
}

.dropdown-menu {

	ul {
		outline: none;

		li {
			background-color: $cool-grey-10;
			border-radius: 3px;

			a {
				color: $cool-grey-90;
			}

			ul {
				border-radius: 3px;

				li {
					border-radius: 0px;
				}

				li:hover {
					background-color: $turquoise;
				}
			}
		}

		li:hover
		{
			ul {
				display:block
			}
		}
	}
}
