// for header and footer elements

.padded-lr {
	padding: 10px 16px 10px 16px;
}

body {
	background-color: $cool-grey-90;
}

// top header
// mobile
@media only screen {
	#header {
		background-color: $cool-grey-90;

		.topbar {
			border-top-color: $white;
		}

		.flexcontainer {
			border-bottom-color: $cool-grey-70;
		}
		#logo {
			color: $white;
		}

		#nav-primary {
			ul {
				li {
					a {
						font-weight: bold;
						color: $white;
					}
					a:hover {
						color: $pale-turquoise;
					}
				}
				li.active a {
					color: $turquoise;
				}
			}
		}
	}

	#nav-secondary {
		border-bottom-color: $cool-grey-20;

		ul {
			li {
				a {
					color: $cool-grey-30;
				}
				a:hover {
					color: $cool-grey-40;
				}
			}
		}
	}
}

// content
#content {
	background-color: $cool-grey-90;
}


.card {
	background-color: $white;

}

.container.packery {
	margin-top: 20px;
}

.card {
	.padded {
		img {
			margin-bottom: 20px;
		}
	}

	h2 a {
		font-size: 1em;
		text-decoration: none;
	}
}

.padded-bottom {
	padding-bottom: 80px;
}

// blog preview tile style
.blog-preview {
	color: $white;
	background-color: $cool-grey-60;

	.double-padded {
		padding: 28px;

		* {
			color: $white;
		}

		h3 {
			font-size: 1.6em;
			line-height: 1.2em;
			min-height: 160px;
		}

		a, p {
			padding-bottom: 2px;
		}
	}
}

.blog-preview.inspiration {
	background-color: $turquoise;
}

.blog-preview.process {
	background-color: $tulip;
}

.blog-preview.news {
	background-color: $pumpkin;
}

.blog-preview.thoughts {
	background-color: $grass;
}

// footer
// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $cool-grey-90;

		.flexcontainer, #about, #promo
		{
			border-top-color: $cool-grey-70;
		}
		h3, h4, p {
			color: $cool-grey-10;
		}
			a {
			color: $turquoise;
		}
		a:hover {
			color: $dark-turquoise;
		}

	}
}

// special styles
.center {
	text-align: center;
}

.darkest-grey {
	background-color: $cool-grey-90;
}

.grey {
	background-color: $cool-grey-50;
	h1, a {
		color: $white;
	}
}

.tulip {
	background-color: $tulip;

	h3 {
		font-size: 2em;
		color: $dark-tulip;
		padding-bottom: 5px;
		margin-top: 20px;
	}

}

.turquoise {
	background-color: $turquoise;
	a {
		color: white;
	}
}

.white {
	background-color: white;

	h1, h2, h3, h4, h5, p {
		color: $cool-grey-90;
	}
}

.title {
	padding: 60px 0 40px 0;
}

.blog-title {
	margin-top: 180px;
}

#casesummary, #person {
	padding: 40px 0 40px 0;
}

// eversearch
#oncall {
	background-color:rgba(255, 255, 255, 0.9);
}


// forms and fields
.search {
	background-color: $cool-grey-10;
	border: none;
	border-radius: 3px;

	.button {
		background-color: $turquoise;
		border: none;
		border-radius: 0 3px 3px 0;
		color: $white;
		transition: background-color 0.4s ease;
	}
	.button:hover {
		background-color: $dark-turquoise;
	  transition: background-color 0.4s ease;
	}
}

.field.signin {
	background-color: $cool-grey-90;
}

.field {
	background-color: $cool-grey-10;
	border: none;
	border-radius: 3px;
}

.button {
	border: none;
	border-radius: 3px;
	color: $white;
	transition: background-color 0.4s ease;
}

.button:hover {
  transition: background-color 0.4s ease;
}

.button.primary {
	background-color: $turquoise;
}

.button.primary:hover {
	background-color: $dark-turquoise;
}

.button.secondary {
	background-color: $cool-grey-30;
}

.button.secondary:hover {
	background-color: $cool-grey-50;
}

.selection {
 border: none;
 background-color: $cool-grey-10;
}

.dropdown-menu {

	ul {
		outline: none;

		li {
			background-color: $cool-grey-10;
			border-radius: 3px;

			a {
				color: $cool-grey-90;
			}

			ul {
				border-radius: 3px;

				li {
					border-radius: 0px;
				}

				li:hover {
					background-color: $turquoise;
				}
			}
		}

		li:hover
		{
			ul {
				display:block
			}
		}
	}
}

#animal-list {
  .padded {
		transition: opacity 0.8s ease;
	}
	.filter-off {
		opacity: 0.1;
	  transition: opacity 0.8s ease;
	}
}

.bleed.turquoise-palegrass {
	background-color: $turquoise;
	background: linear-gradient(to bottom, $pale-grass, $turquoise);
	.caption {
		color: $darkest-turquoise;
	}
}

.bleed.sapphire-palegrape {
	background-color: $sapphire;
	background: linear-gradient(to bottom, $pale-grape, $sapphire);
	.caption {
		color: $pale-grape;
	}
}

.bleed.grape-paletulip {
	background-color: $grape;
	background: linear-gradient(to bottom, $pale-tulip, $grape);
	.caption {
		color: $pale-tulip;
	}
}

.bleed.tulip-palepumpkin {
	background-color: $tulip;
	background: linear-gradient(to bottom, $pale-pumpkin, $tulip);
	.caption {
		color: $pale-pumpkin;
	}
}

.bleed.pumpkin-paledandelion {
	background-color: $pumpkin;
	background: linear-gradient(to bottom, $pale-dandelion, $pumpkin);
	.caption {
		color: $dark-tulip;
	}
}

.bleed.dandelion-paledandelion {
	background-color: $dandelion;
	background: linear-gradient(to bottom, $pale-dandelion, $dandelion);
	.caption {
		color: $dark-pumpkin;
	}
}

.bleed.grass-paleturquoise {
	background-color: $grass;
	background: linear-gradient(to bottom, $pale-turquoise, $grass);
	.caption {
		color: $darkest-turquoise;
	}
}
