// basic typography
// this document should not be edited
// ever

h1, h2, h3, p, ul, li { margin: 0; }

h2, h3, p, ul, li, .nav, .label, .statement, .small-statement { font-family: "Open Sans", Helvetica, Arial, sans-serif; }
h1, #logo, .small-title, .description, .snippit, .letters { font-family: Georgia, Times, serif; }

#logo, .small-title, .letters { font-weight: bold; }
.statement, .small-statement { font-weight: lighter; }
h1, #logo, .small-title, .description, .snippit { font-style: italic; }
.label { text-transform: uppercase; }

ul, li { list-style-type: none; }
a { text-decoration: none; }

.center { text-align: center; }

// for mobile
@media only screen and (min-device-width: 320px) {
	h1 {
		font-size: 36px;
		line-height: 42px;
	}

	h2 {
		font-size: 20px;
		line-height: 26px;
	}

	h3 {
		font-size: 16px;
		line-height: 22px;
	}

	p, li, ul {
		font-size: 12px;
		line-height: 20px;
	}

	.small-title * {
		font-size: 20px;
		line-height: 28px;
	}

	.description * {
		font-size: 20px;
		line-height: 28px;
	}

	.letters {
		font-size: 120px;
	}

	.statement * {
		font-size: 24px;
		line-height: 32px;
	}

	.small-statement * {
		font-size: 24px;
		line-height: 32px;
	}

	.label * {
		font-size: 10px;
		line-height: 14px;
	}

	.snippit * {
		font-size: 12px;
		line-height: 20px;
	}
}

// for tablet
@media only screen and (min-device-width: 768px) {
	h1 {
		font-size: 42px;
		line-height: 48px;
	}

	h2 {
		font-size: 20px;
		line-height: 26px;
	}

	h3 {
		font-size: 16px;
		line-height: 22px;
	}

	p, li, ul {
		font-size: 12px;
		line-height: 20px;
	}

	.small-title * {
		font-size: 20px;
		line-height: 38px;
	}

	.description * {
		font-size: 20px;
		line-height: 28px;
	}

	.letters {
		font-size: 80px;
	}

	.statement * {
		font-size: 32px;
		line-height: 40px;
	}

	.small-statement * {
		font-size: 28px;
		line-height: 36px;
	}

	.label * {
		font-size: 10px;
		line-height: 14px;
	}

	.snippit * {
		font-size: 12px;
		line-height: 20px;
	}
}

// for desktop
@media only screen and (min-width: 960px) {
	h1 {
		font-size: 54px;
		line-height: 60px;
	}

	h2 {
		font-size: 24px;
		line-height: 32px;
	}

	h3 {
		font-size: 20px;
		line-height: 26px;
	}

	p, li, ul {
		font-size: 14px;
		line-height: 22px;
	}

	.small-title * {
		font-size: 24px;
		line-height: 32px;
	}

	.description * {
		font-size: 24px;
		line-height: 32px;
	}

	.letters {
		font-size: 120px;
	}

	.statement * {
		font-size: 40px;
		line-height: 48px;
	}

	.small-statement * {
		font-size: 32px;
		line-height: 40px;
	}

	.label * {
		font-size: 10px;
		line-height: 14px;
	}

	.snippit * {
		font-size: 14px;
		line-height: 22px;
	}
}
