
body.index {
	height: 100%;

	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100%);
	-webkit-scroll-behavior: smooth;
	-webkit-scroll-snap-type: mandatory;
	-webkit-scroll-snap-points-y: repeat(100%);
}

// the comp lacks this line!
body.index #header .flex.container {
	border-bottom: none;
}

#background {
	position: fixed;
	top: 0;
	left: 0;

	min-width: 100%;
	min-height: 100%;

	background-color: $turquoise;
	// background: linear-gradient(to bottom, $pale-grass, $turquoise);
	-webkit-transition: background-image 0.5s linear;
	transition: background-image 0.5s linear;
	z-index: -1;
}

// homepage panels
.slide-panel {
	*, *:hover { color: inherit; }

	&>.container {
		padding-top: 68px;
		height: calc(100vh - 68px);

		.slide-panel-image {
			height: 75%;
			// margin-top: 68px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		.slide-panel-caption {
			height: 25%;
		}
	}
}

#side-nav {
	display: none;

	top: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;
	ul {
		padding: 0px;
	}
}

@media only screen and (min-device-width: 768px) {
	#side-nav {
		display: block;
	}
}

#nav-panels {
	height: 100%;
	position: fixed;
	// TODO: right-align this within the column (immediate parent)

	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: center;

	li {
		width: 32px;
		text-align: center;

		a {
			display: block;
			height: 24px;
			width: 32px;
			margin: 0px;
      // padding: 12px 0px;
      position: relative;
		}

		svg.dot {
			height: 2px;
			width: 2px;
      position: absolute;
      top: 11px;
      left: 15px;
		}

		&.active {
			opacity: 1.0;
			svg.dot {
				height: 4px;
				width: 4px;
        top: 10px;
        left: 14px;
				* {
					fill: $white !important;
				}
			}
		}

		opacity: 0.5;
		transition: opacity 0.3s linear;

		&.disabled {
			opacity: 0;
		}
	}
}
