// for header and footer elements
.padded-lr {
	padding: 10px 16px 10px 16px;
}

// top header
// mobile
@media only screen {
	#header {
		background-color: $cool-grey-90;

		.topbar {
			border-top-color: $white;
		}

		.flex.container {
			border-bottom-color: $cool-grey-90;
		}
		#logo {
			color: $white;
			padding-top: 6px;
			padding-bottom: 11px;
		}

		#nav-primary {
			ul {
				li {
					a {
						font-weight: bold;
						color: $white;
					}
					a:hover {
						color: $pale-turquoise;
					}
				}
				li.active a {
					color: $turquoise;
				}
			}
		}
	}

	#nav-secondary {
		border-bottom-color: $cool-grey-20;

		ul {
			li {
				a {
					color: $cool-grey-30;
				}
				a:hover {
					color: $cool-grey-40;
				}
			}
		}
	}
}

// content
.work_index, .about, .blog_index {
	background-color: $cool-grey-90;
	.section-title {
		color: $white;
	}
}

.container.packery {
	margin-top: 20px;
}


.extra-padded {
	padding: 48px 16px 24px 16px;
}

.padded-bottom {
	padding-bottom: 80px;
}

// card sizing for case studies and experiments
@media only screen and (min-device-width: 320px) {
	.case-study { min-height: 360px; }
	.experiment { height: 280px; }
}
@media only screen and (min-device-width: 768px) {
	.case-study { height: 400px; }
	.experiment { height: 240px; }
}
@media only screen and (min-width: 960px) {
	.case-study { height: 480px; }
	.experiment { height: 300px; }
}

.card-rule {
	margin: auto;
	margin-bottom: 16px;
	width: 40px;
	height: 1px;
	display: block;
	background-color: $white;
}

.experiment {
	background-color: $cool-grey-90;
	opacity: 0.9;
	color: $white;
	a {
		color: $white;
	}
}

// case studies artifacts list
.bleed.artifacts {
	padding: 24px 0 24px 0;
	background-color: $cool-grey-10;
	color: $cool-grey-90;
	text-align: center;
}

svg *.frame { fill: $cool-grey-90; }
svg *.content{ fill: $cool-grey-40; }

// laboratory styles
.bleed.animal-party {
	background-image: url('/laboratory/images/index_background.jpg');
	background-repeat: no-repeat;
	height: 100%;
	position: fixed;
	z-index: -100;
	display: block;
	background-size: 100%;
}

@media only screen and (min-device-width: 320px) {
	.laboratory {
		.section-title {
			margin-top: 192px;
			margin-bottom: 0;
		}
	}
}
@media only screen and (min-device-width: 768px) {
	.laboratory {
		.section-title {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}
}
@media only screen and (min-width: 960px) {
	.laboratory {
		.section-title {
			margin-top: 64px;
			margin-bottom: 32px;
		}
	}
}

// about styles
.about {
	h3 {
		font-size: 32px;
		line-height: 38px;
		font-weight: bold;
	}
}

.map {
	.mapboxgl-popup-content {
		padding: 10px;
	}
}

.hiring-button {
	border: 1px solid $white;
	border-radius: 5px;
	text-align: center;
	padding: 12px;
	color: $white;
}

.job-description {
	font-size: 20px;
	line-height: 30px;
	color: $cool-grey-40;
	font-weight: lighter;
	strong {
		color: $cool-grey-10;
		font-weight: normal;
	}
}

.job-requirements {
	color: $cool-grey-40;
	li {
		line-height: 20px;
		list-style-type: disc;
	}
}

.tools {
	text-align: center;
	h2 {
		font-size: 16px;
		padding: 10px 0 5px 0;
	}
	p {
		color: $pale-tulip;
		padding-bottom: 2px;
	}
	svg *.feather_een {
		fill: $white;
	}
}

.map {
	height: 400px;
}

// people styles
#person {
	// TODO update these SVGs with proper CSS classes
	svg path, svg rect, svg polygon {
		fill: $cool-grey-90;
	}

	.person-logo {
		padding-top: 40px;
		text-align: center;
	}

	h1 {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-weight: lighter;
		font-style: normal;
	}
	a {
		color: $cool-grey-90;
		text-decoration: underline;
	}
}

// footer
// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $cool-grey-90;

		.flex.container, #about, #promo
		{
			border-top-color: $cool-grey-70;
		}
		h4, p {
			color: $cool-grey-10;
			line-height: 20px;
		}
			a {
			color: $cool-grey-10;
			text-decoration: underline;
		}
		a:hover {
			color: $cool-grey-30;
		}
		h3 {
			font-size: 20px;
			color: $cool-grey-10;
		}
	}
}

// special styles
.center {
	text-align: center;
}

.light-text {
	color: $white;
}

.dark-text {
	color: $cool-grey-90;
}

.dark-fill *, .dark-fill g * {
	fill: $cool-grey-90;
}

.darkest-grey {
	background-color: $cool-grey-90;
}

.grey-10 {
	background-color: $cool-grey-10;
}

.grey {
	background-color: $cool-grey-50;
	h1, a {
		color: $white;
	}
}

.tulip {
	background-color: $tulip;

	h3 {
		font-size: 2em;
		color: $dark-tulip;
		padding-bottom: 5px;
		margin-top: 20px;
	}

}

.pale-turquoise {
	background-color: $pale-turquoise;
}

.turquoise {
	background-color: $turquoise;
	a {
		color: white;
	}
}

.section {
	padding-top: 64px;
	padding-bottom: 64px;
}

.section-title {
	margin-top: 64px;
	margin-bottom: 32px;
	text-align: center;
}

.blog-title {
	margin-top: 180px;
}

// eversearch
#oncall {
	background-color:rgba(255, 255, 255, 0.9);
}

// forms and fields
.search {
	background-color: $cool-grey-10;
	border: none;
	border-radius: 3px;

	.button {
		background-color: $turquoise;
		border: none;
		border-radius: 0 3px 3px 0;
		color: $white;
		transition: background-color 0.4s ease;
	}
	.button:hover {
		background-color: $dark-turquoise;
	  transition: background-color 0.4s ease;
	}
}

.field.signin {
	background-color: $cool-grey-90;
}

.field {
	background-color: $cool-grey-10;
	border: none;
	border-radius: 3px;
}

.button {
	border: none;
	border-radius: 3px;
	color: $white;
	transition: background-color 0.4s ease;
}

.button:hover {
  transition: background-color 0.4s ease;
}

.button.primary {
	background-color: $turquoise;
}

.button.primary:hover {
	background-color: $dark-turquoise;
}

.button.secondary {
	background-color: $cool-grey-30;
}

.button.secondary:hover {
	background-color: $cool-grey-50;
}

.selection {
 border: none;
 background-color: $cool-grey-10;
}

.dropdown-menu {

	ul {
		outline: none;

		li {
			background-color: $cool-grey-10;
			border-radius: 3px;

			a {
				color: $cool-grey-90;
			}

			ul {
				border-radius: 3px;

				li {
					border-radius: 0px;
				}

				li:hover {
					background-color: $turquoise;
				}
			}
		}

		li:hover
		{
			ul {
				display:block
			}
		}
	}
}

// gradient colors
.turquoise-palegrass {
	background-color: $turquoise;
	background: linear-gradient(to bottom, $pale-grass, $turquoise);
	color: $darkest-turquoise;
}

.sapphire-palegrape {
	background-color: $sapphire;
	background: linear-gradient(to bottom, $pale-grape, $sapphire);
	color: $pale-grape;
}

.sapphire-paleturquoise {
	background-color: $sapphire;
	background: linear-gradient(to bottom, $pale-turquoise, $sapphire);
	color: $pale-turquoise;
}

.grape-paletulip {
	background-color: $grape;
	background: linear-gradient(to bottom, $pale-tulip, $grape);
	color: $pale-tulip;
}
.grape-palesapphire {
	background-color: $grape;
	background: linear-gradient(to bottom, $pale-sapphire, $grape);
	color: $pale-sapphire;
}

.tulip-palepumpkin {
	background-color: $tulip;
	background: linear-gradient(to bottom, $pale-pumpkin, $tulip);
	color: $pale-pumpkin;
}

.pumpkin-paledandelion {
	background-color: $pumpkin;
	background: linear-gradient(to bottom, $pale-dandelion, $pumpkin);
	color: $dark-tulip;
}

.dandelion-paledandelion {
	background-color: $dandelion;
	background: linear-gradient(to bottom, $pale-dandelion, $dandelion);
	color: $dark-pumpkin;
}

.grass-paleturquoise {
	background-color: $grass;
	background: linear-gradient(to bottom, $pale-turquoise, $grass);
	color: $darkest-turquoise;
}

.grass-palelime {
	background-color: $grass;
	background: linear-gradient(to bottom, $pale-lime, $grass);
	color: $pale-lime;
}

// card gradient colors
.case-study {
	color: $white;
	a {
		color: $white;
	}
}


// text colors
.turquoise-text {	color: $turquoise; }
.dark-turquoise-text { color: $dark-turquoise; }
.darkest-turquoise-text {color: $darkest-turquoise; }
.grass-text {	color: $grass; }
.dandelion-text {	color: $dandelion; }
.pumpkin-text {	color: $pumpkin; }
.tulip-text {	color: $tulip; }
.grape-text {	color: $grape; }
.sapphire-text { color: $sapphire; }
