// see _site-blog for .blog-preview

.card.unknown {
  background-color: #FF0000;
  color: #000000;
  padding: 32px 16px;

}

// cocktails are special and mostly defined in cocktails.css.scss
.card.cocktail-preview {
  background-color: $palest-lime;
}

.card.work {
  color: $white;

  padding-top: 32px;
  padding-bottom: 36px;
  padding-left: 12px;
  padding-right: 12px;

  .small-title {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    font-style: normal;
  }
}

.card.ftfy {
  .preview {
    height: 400px;
  }
  .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;

    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,50));
    .meta {
      position: absolute;
      bottom: 16px;
      width: 100%;

      color: $white;
      * {
        font-style: normal;
      }
    }
  }
}
