@import "_artificial-colors.scss";

.cocktails {
  background-color: #fddbd1;
  width: 100%;

  #content {
    padding-bottom: 0;

    a { text-decoration: underline; }
    a:hover, a:hover * { text-decoration: none; }

    p, h1, h2, h3, h4, li, a { color: #f14a23; }

    p, h3, li { font-family: "Nota Serif", Georgia, Times, serif; }
    h1, h3 { font-style: normal; }
    h1, h2, h4 { font-family: "Barlow", Helvetica, Arial, sans-serif; }
    h2 { text-decoration: underline; }
    h3 { font-weight: 300; }

    h1 { font-size: 48px; }
    h2 { font-size: 28px; }
    h3 { font-size: 16px; }
    h4 { font-size: 14px; }

    p, li { font-size: 16px; }
  }

  .fridaycocktails { padding-bottom: 20px; }
  .drinkname { padding-top: 10px; }

  #header {
    background-color: #FDDBD1;

    .topbar { border-top-color: #F14A23; }

    #logo a { color: #F14A23; }
    #nav-primary {
      ul {
        li {
          a { color: #F14A23; }
          a:hover { color: #9B1600; }
        }
      }
    }
  }

  #footer {
    background-color: #F14A23;

    p, h3, a { color: $white; }
    a:hover { color: #FDDBD1; }
  }

  .rating {
    width: 100px;
    margin: 10px 0 20px 0;
  }
}

.card {
  position: relative;
  height: 480px;

  .anchor {
    position: absolute;
    bottom: 0;
    width: 100%;

    .preview {
      position: relative;
      width: 70%;
      margin: auto;

      .static {
        position: absolute;
        bottom: 0;
      }

      .animated {
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: opacity .2s linear;
      }
    }

    .details {
      height: 140px;
      padding-top: 30px;
    }
  }

  &:hover {
    .anchor {
      .preview {
        .animated {
          opacity: 1;
          transition: opacity .2s linear;
        }
      }
    }
  }
}

.local-nav {
  padding-bottom: 60px;
  text-align: center;
}

/*interior page scss*/

.drinkcontainer {
  height: 400px;

  img {
    position: absolute;
    bottom: 0;
  }
}

.recipe {
  padding-bottom: 40px;

  ul { padding: 30px 0 40px 0; }
}



/*media queries*/

@media only screen and (min-device-width: 768px) {

  .left { text-align: left; }
  .right { text-align: right; }

  .card {
    height: 480px;

    .anchor {
      .preview { width: 80%; }
    }
  }

  .name { margin-top: 40px; }
  .recipe { padding-bottom: 100px; }

  .drinkcontainer{
    position: relative;
    height: 450px;

    img {
      position: absolute;
      bottom: 0;
      width: 70%;
    }
  }
}

@media (min-width: 960px) {
  .card { height: 600px; }
}
