@import "_artificial-colors.scss";

.cocktails {
  background-color: $palest-lime;

  #content {
    padding-bottom: 0;

    p, h1, h2, h3, h4, li, a { color: $darkest-grass; }

    .title, .drinkname, .bartender, .recipe-section { font-family: "Noto Serif", Georgia, Times, serif; }
    .date { font-family: "Barlow", Helvetica, Arial, sans-serif; }
    h3 { font-weight: 300; }

    .title {
      font-size: 54px;
      font-style: normal;
    }

    .recipe-section {
      text-transform: uppercase;
      margin-top: 40px;
    }

    .rating {
      width: 100px;
      margin: 10px 0 20px 0;
    }

    h2 { font-size: 20px; }
    h3, p, li { font-size: 16px; }
    h4 { font-size: 14px; }

  }

  #header {
    background-color: $palest-lime;

    .topbar { border-top-color: $darkest-grass; }

    #logo a { color: $darkest-grass; }
    #nav-primary {
      ul {
        li {
          a { color: $darkest-grass; }
          a:hover { color: $dark-grass; }
        }
      }
    }
  }

  #footer {
    background-color: $darkest-grass;

    #artificial a svg path, #artificial a svg polygon, #artificial a svg rect { fill: $palest-lime; }
    p, .small-title { color: $pale-lime; }
    a { color: $palest-lime; }
    a:hover { color: $pale-lime; }
  }
}

.cocktail-preview {
  .glass {
    margin-bottom: 40px;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;

    .contents {
      opacity: .5;
      transition: opacity .2s linear;
    }
  }

  &:hover {
    .composite {
      .contents {
        opacity: 1;
        transition: opacity .2s linear;
      }
    }
  }
}

.local-nav {
  padding-bottom: 60px;
  text-align: center;
}

/*interior page scss*/

.drinkcontainer {
  height: 400px;

  img {
    bottom: 0;
  }
}

.recipe {
  padding-bottom: 40px;

  ul { padding-left: 0; }

}



/*media queries*/

@media only screen and (min-device-width: 768px) {

  .left { text-align: left; }
  .right { text-align: right; }

  .cocktail-preview {
    border: 10px solid $lime;
    border-radius: 2px;

    .anchor {
      .preview {
      }
    }
  }

  .cocktail-preview:hover {
    border: 10px solid $darkest-grass;
  }

  .drinkcontainer{
    height: 450px;

    img {
      bottom: 0;
    }
  }
}
