---
layout: projects/connecting-things/_thing_layout
title: Pokémon Go Plus
preview: thing/off.png
date: 2018-03-15
published: false
---

<p>
Pokémon GO Plus is an optional peripheral for the famous augmented reality game Pokémon GO. Launched in 2016 by Nintendo and The Pokémon Company, the accessory looks like a map pin in the shape of a Pokéball. Thanks to a button and light feedback, the object allows the user to catch Pokémons, check in at Pokéstops, and gain steps to hatch eggs - all of these without having to use the phone's screen.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>easy
</h2>
<p>
To connect the Pokémon GO Plus to the Pokémon GO app, the user needs to log in the app. Then, the users have to navigate over to the Pokémon GO Plus section in app settings. The user has to press the button on the Pokémon GO Plus to make it visible in the app. The light on the Pokémon GO Plus pulses white to indicate that the object is broadcasting Bluetooth. The user taps on the new accessory that appears in the list of available devices in the app. On a successful pairing, the Pokémon GO Plus vibrates and an eject icon appears in the app. On the home screen of the app, a new icon appears, indicating the status of the Pokémon GO Plus.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>more than enough
</h2>
<p>
Pokémon GO Plus uses a relatively secured connection for a game. It feels reassuring for a gameplay based on the user's location. As we can see in the topology, Bluetooth allows verified connections both at the protocol layer and at the software layer. For the Thing to connect with the App, we suspect that the cloud sends tokens to enable the connection from a single user account. If Pokémon GO Plus is associated with another user account, the object has to be reset before connecting to a new one. The fact that Pokémon GO Plus pairs with a single smartphone at a time also makes it more secured. However, the popularity of the game also caught the attention of hackers. A Trojan version of the Pokémon GO app was available online and causing to compromise Android devices. Similarlry, we could imagine a catastrophic scenario in which hackers illegally track user's location thanks to the accessory.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>terrible
</h2>
<p>
How frustrating would it be for a user to take a long walk expecting to fill their Pokédex with many new species of Pokémon and to hatch a cool egg, only to realize at the end of the walk that their Pokémon GO Plus was disconnected from their smartphone? The user just missed the haptic and light warning on the Pokémon Go Plus. Unfortunately, Pokémon GO Plus connection is not very robust and there are a few reasons that can cause its disconnection. First, if Pokémon GO and the connected mobile are too far away, the Bluetooth connection can be interrupted. Second, if the GPS loses track of where the user is, the Pokémon GO Plus will disconnect and not automatically reconnect when the signal is back.
</p>

<script>
var flowSteps = [
  {
    caption: "User selects login method in app",
    thingImg: "thing/off.png",
    networkAnimations: ["actors/noWifi.json"],
    screenImg: "screens/00_login.png"
  },
  {
    caption: "User enters account credentials in app",
    networkAnimations: ["actors/noWifi.json", "AppCloud.json"],
    screenImg: "screens/01_login.png"
  },
  {
    caption: "User is logged into Pokémon GO account, user navigates to main menu",
    networkAnimations: ["actors/noWifi.json", "stills/AppCloud.json"],
    screenImg: "screens/02_home.png"
  },
  {
    caption: "User navigates to app settings",
    screenImg: "screens/03_menu.png"
  },
  {
    caption: "User navigates to Pokémon GO Plus settings in app",
    screenImg: "screens/04_settings.png"
  },
  {
    caption: "User presses button on Pokémon GO Plus, begins Bluetooth broadcasting, Pokémon GO Plus emits blinking light",
    thingImg:  "thing/white.gif",
    networkAnimations: ["actors/noWifi.json", "Thing_broadcasts.json", "stills/AppCloud.json",],
    screenImg: "screens/05_goplus.png"
  },
  {
    caption: "OS listens for Bluetooth products and discovers Pokémon GO plus, user selects Pokémon GO Plus in app",
    networkAnimations: ["actors/noWifi.json", "ThingOS_dscovery.json", "stills/AppCloud.json"],
    screenImg: "screens/06_goplus-find.png"
  },
  {
    caption: "App prompts user for pairing confirmation in app",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_discovery.json", "stills/AppCloud.json",],
    screenImg: "screens/07_goplus-permission.png"
  },
  {
    caption: "Pokémon GO Plus vibrates and light turns off, app shows Pokémon GO Plus and OS are pairing",
    thingImg: "thing/buzz.gif",
    networkAnimations: ["actors/noWifi.json", "ThingOS_pair.json", "stills/AppCloud.json"],
    screenImg: "screens/08_goplus-pair.gif"
  },
  {
    caption: "Pokémon GO Plus and OS are paired, app shows Pokémon GO Plus and App are connected",
    thingImg: "thing/off.png",
    networkAnimations: ["actors/noWifi.json", "ThingOS_verified.json", "ThingApp_unverified.json", "stills/AppCloud.json"],
    screenImg: "screens/09_goplus-connect.png"
  },
  {
    caption: "App home shows Pokémon GO Plus is set up",
    networkAnimations: ["actors/noWifi.json","stills/ThingOS_verified.json", "stills/ThingApp_unverified.json", "stills/AppCloud.json"],
    screenImg: "screens/10_home.png"
  }
]
</script>
