---
layout: projects/connecting-things/_thing_layout
title: Pokémon Go Plus
preview: thing/off.png
date: 2018-02-27
---

<p>
  Pokémon GO Plus is an optional peripheral for the famous augmented reality game Pokémon GO. The accessory looks like a map pin in the shape of a Pokéball. Thanks to a button and lights feedback, the object allows the user to catch Pokémons, check in at Pokéstops, and gain steps to hatch eggs, all of these without using the phone's screen.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>easy
</h2>
<p>
  The trickiest part for the user is to navigate to the Pokémon GO Plus section that is a little hidden in the settings of the app, accessible from the Poké ball icon. Once in the Pokémon GO Plus menu, pressing the button on the object will make a blue light pulse to indicate that the object broadcasts and it will appear under available devices in the app. To pair and connect simultaneously the user just needs to tap one more time, but this time in the app, on the item in the list. So enjoying catching Pokémon with this gadget is just 5 taps away.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>more than enough
</h2>
<p>
  Pokémon GO Plus uses a relatively secured connection for a game. It feels reassuring for a gameplay based on the user location. As we can see in the topology, Bluetooth allows verified connections both at the protocol layer and at the software layer to happened. For the Thing to connect with the App, we suspect that the cloud sends tokens to enable the connection from a single user account. If Pokémon GO plus is associated with another account, the objet needs to reset to able to connect with the app. The fact that Pokémon GO Plus pairs with a single smartphone at the time also makes it more secured.
</p>

<h2 class="subtitle">
  <span class="sentence">The resiliance is </span>terrible
</h2>
<p>
  How frustrating would it be to take a long walk expecting to fill your Pokédex with many new species of Pokémon and to hatch this cool egg, but to realize at the end of the walk that your Pokémon GO Plus was disconnected from your mobile and that you missed the warning feedback. Unfortunately, Pokémon GO Plus connection is not very robust and there are a few reasons that can cause its disconnection. First, if Pokémon GO and the connected mobile are too far away, the Bluetooth connection can be interrupted. Second, if the GPS loses track of where the user is, the Pokémon GO Plus will disconnect and not automatically reconnect when the signal is back.
</p>

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/off.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  },
  {
    caption: "Thing begins broadcasting Bluetooth",
    thingImg:  "thing/blue.png",
    networkAnimations: ["Actors.json", "Thing_broadcasts.json"],
  },
  {
    caption: "OS listens for Bluetooth",
    networkAnimations: ["Actors.json", "OS_listens.json"],
    screenImg: "screens/discover.png"
  },
  {
    caption: "Thing and OS pair with Bluetooth",
    networkAnimations: ["Actors.json", "ThingOS_pairs.json"],
    screenImg: "screens/pair.png"
  },
  {
    caption: "Thing and OS connect",
    thingImg:  "thing/off.png",
    networkAnimations: ["Actors.json", "ThingOS_verified.json"],
    screenImg: "screens/connect.png"
  },
  {
    caption: "App and Thing open software connection",
    networkAnimations: ["Actors.json", "ThingApp_unverified.json"],
    screenImg: "screens/play.png"
  }
]
</script>
