---
layout: projects/connecting-things/_thing_layout
title: Pokémon Go Plus
preview: thing/off.png
date: 2018-02-27
---

<p>
Pokémon GO Plus is an optional peripheral for the famous augmented reality game Pokémon GO. The accessory looks like a map pin in the shape of a Pokéball. Thanks to a button and lights feedback, the object allows the user to catch Pokémons, check in at Pokéstops, and gain steps to hatch eggs, all of these without using the phone's screen.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>not very intuitive
</h2>
<p>
First, the user has to log in Pokémon Go App. For iOS users, pairing and connecting occurs in two different places: the OS settings of the smartphone and the settings of the Pokémon GO app. To make the Pokémon GO Plus discoverable, the user presses the button on the Pokémon GO Plus. The light pulses blue to indicate that the object is broadcasting. The User selects the item under available devices in the OS app. In a second time, the user should repeat the actions to connect the Pokémon GO Plus from the Pokémon GO app. The user has to tap the button on the accessory a second time to make it discoverable again. Then, the user navigates to the Pokémon GO Plus section that is a little hidden in the settings of the Pokémon GO app, accessible from the Pokéball icon. To pair and connect simultaneously the user finally needs to tap one more time on the name of accessory that appeared in the list. Pokémon GO Plus vibrates to indicate its connected. In the home screen of the Pokémon GO app, a new icon appears to indicate the status of the Pokémon GO Plus.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>more than enough
</h2>
<p>
  Pokémon GO Plus uses a relatively secured connection for a game. It feels reassuring for a gameplay based on the user location. As we can see in the topology, Bluetooth allows verified connections both at the protocol layer and at the software layer to happened. For the Thing to connect with the App, we suspect that the cloud sends tokens to enable the connection from a single user account. If Pokémon GO Plus is associated with another user account, the object needs to reset before connecting to a new one. The fact that Pokémon GO Plus pairs with a single smartphone at the time also makes it more secured.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>terrible
</h2>
<p>
  How frustrating would it be for a user to take a long walk expecting to fill their Pokédex with many new species of Pokémon and to hatch a cool egg, but to realize at the end of the walk that their Pokémon GO Plus was disconnected from their smartphone. The user just missed the haptic and light warning on the Pokémon Go Plus. Unfortunately, Pokémon GO Plus connection is not very robust and there are a few reasons that can cause its disconnection. First, if Pokémon GO and the connected mobile are too far away, the Bluetooth connection can be interrupted. Second, if the GPS loses track of where the user is, the Pokémon GO Plus will disconnect and not automatically reconnect when the signal is back.
</p>

<script>
var flowSteps = [
  {
    caption: "Thing is off - No connection is established - User chooses log in method in App",
    thingImg: "thing/off.png",
    networkAnimations: ["Actors_noWifi.json"],
    screenImg: "screens/00.png"
  },
  {
    caption: "Thing is off - App logs in to account on Cloud - User enters account credentials in App",
    networkAnimations: ["Actors_noWifi.json", "AppCloud.json"],
    screenImg: "screens/01.png"
  },
  {
    caption: "User presses on Thing - App is logged in to account on Cloud - User navigates to OS settings",
    thingImg:  "thing/white.png",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "Thing_broadcasts.json"],
    screenImg: "screens/01_home.png"
  },
  {
    caption: "Thing broadcasts Bluetooth - OS listens for Bluetooth - OS settings search for Thing",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "OS_listens.json"],
    screenImg: "screens/02.gif"
  },
  {
    caption: "Thing broadcasts Bluetooth - Thing and OS pair with Bluetooth - OS show connection to Thing",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "ThingOS_pairs.json"],
    screenImg: "screens/03.gif"
  },
  {
    caption: "Thing light is off - Thing and OS connect - User navigates back to App",
    thingImg:  "thing/off.png",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "ThingOS_verified.json"],
    screenImg: "screens/04.png"
  },
  {
    caption: "Thing light is off - Thing and OS are connected - User opens App settings",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "stills/ThingOS_verified.json"],
    screenImg: "screens/05.png"
  },
  {
    caption: "Thing light is off - Thing and OS are connected - User navigate to Thing settings",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "stills/ThingOS_verified.json"],
    screenImg: "screens/06.png"
  },
  {
    caption: "User presses on Thing - Thing broadcasts Bluetooth - App shows Thing setting",
    thingImg:  "thing/white.png",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "Thing_broadcasts.json"],
    screenImg: "screens/07.png"
  },
  {
    caption: "Thing broadcasts Bluetooth - OS listens for Bluetooth - App finds Thing from OS",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "OS_listens.json"],
    screenImg: "screens/08.png"
  },
  {
    caption: "Thing broadcasts Bluetooth - Thing and OS pair with Bluetooth - User grants pairing permission in OS pop in App",
    networkAnimations: ["Actors_noWifi.json", "stills/AppCloud.json", "ThingOS_pairs.json"],
    screenImg: "screens/09.png"
  },
  {
    caption: "Thing broadcasts Bluetooth - Thing and OS connect - App shows Thing and OS connect",
    thingImg:  "thing/off.png",
    networkAnimations: ["Actors_noWifi.json","stills/AppCloud.json", "ThingOS_verified.json"],
    screenImg: "screens/10.gif"
  },
  {
    caption: "Thing broadcasts Bluetooth - App and Thing connect - App show Thing and OS are connected",
    networkAnimations: ["Actors_noWifi.json","stills/AppCloud.json", "stills/ThingOS_verified.json", "ThingApp_unverified.json"],
    screenImg: "screens/11.png"
  }
]
</script>
