<%
  project_name = current_page.metadata[:project]
  stylesheet_resources = sitemap.resources.select{ |r| r.path.start_with?("#{project_name}/stylesheets/") }
  javascript_resources = sitemap.resources.select{ |r| r.path.start_with?("#{project_name}/javascripts/") }
  stylesheet_urls = stylesheet_resources.map{ |r| r.url }
  javascript_urls = javascript_resources.map{ |r| r.url }
%>
<% wrap_layout 'site_layout' do %>
  <% content_for :stylesheet_tags do %>
    <%= stylesheet_link_tag stylesheet_urls %>
  <% end %>
  <% content_for :javascript_tags do %>
    <%= javascript_include_tag javascript_urls %>
  <% end %>
  <section id="content">
      <%= yield %>
  </section>
<% end %>
