<% wrap_layout :site_layout do %>

	<section id="header">
		<div class="flexcontainer topbar">
			<div id="logo" class="col-6">
				<div class="padded-lr">
					<a href="index.html"><h2 id="logo">The Artificial</h2></a>
				</div>
			</div>
			<nav id="nav-primary" class="col-6">
				<div class="padded-lr">
					<ul>
						<li><a href="work.html">work</a></li>
						<li><a href="mission.html">mission</a></li>
						<li><a href="about.html">about us</a></li>
						<li><a href="laboratory.html">laboratory</a></li>
						<li><a href="blog.html">blog</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</section>

	<div id="underheader"></div>

	<section class="flexcontainer">
		<div id="nav-secondary">
			<div class="col-12">
				<div class="padded-lr">
					<ul>
						<li><a href="3dsystems.html">3D Systems</a></li>
						<li><a href="subnav-square.html">tiles</a></li>
						<li><a href="subnav-cards.html">cards</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<%= yield %>
<% end %>
