@import "_artificial-colors.scss";

.ftfy {
  background-color: $grape;
  background: linear-gradient(to top right, $sapphire, $grape, $tulip);

  h1, h2 {
    font-family: "Droid Serif", Georgia, Times, serif;
  }

  h3, h4 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }

  h1 {
    font-style: normal;
    font-size: 80px;
  }

  h2 {
    font-style: normal;
    font-size: 48px;
    padding-bottom: 40px;
  }

  h3 {
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
  }

  h4 {
    font-size: 14px;
  }

  h1, h4 {
    color: $white;
    text-align: center;
  }

  a {
    text-decoration: underline;
  }

  #title {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .fixes {
    padding-bottom: 80px;
  }

  .preview {
    height: 200px;
    overflow: hidden;
  }

  .overlay {
    padding: 15px;
    background-color: $white;
    h3, p {
      padding-bottom: 0;
    }
  }

  #footer {
    background-color: transparent;
    .flex.container {

      border-top-color: $dark-sapphire;
    }
  }

  .partially-padded {
    padding: 16px 16px 0 16px;
  }

  .before, .after {
    padding-top: 60px;
  }

  .etc, .project-nav {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .dark {
    background-color: $cool-grey-90;
    color: $white;

    a {
      color: $white;
    }
  }

  .white {
    background-color: $white;
    color: $cool-grey-90;
  }

  .lightest-grey {
    background-color: $cool-grey-10;
  }

  .button {
    display: block;
    padding-top: 16px;
    width: 100%;
    height: 32px;
    background-color: $dark-sapphire;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
  }

  a.button:hover {
    background-color: $darkest-sapphire;
    color: $white;
  }

}
