@import "../../../stylesheets/_artificial-colors.scss";

body {
  height: 100%;
}
.ftfy {
  background-color: $cool-grey-80;
}

.ftfy #header {
  background-color: $cool-grey-90;
}

.ftfy #content {

  h2, h4 {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
  }

  h1 {
    font-family: "Noto Serif", Georgia, Times, serif;
    font-size: 72px;
  }

  h2 {
    font-style: normal;
    font-size: 48px;
    padding-bottom: 40px;
  }

  h3 {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  h4 {
    font-size: 14px;
    letter-spacing: 1px;
  }

  h1, h4 {
    color: $white;
    text-align: center;
  }

  #title {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .author {
    font-weight: normal;
    font-style: oblique;
    padding-left: 20px;
  }

  .fixes {
    padding-bottom: 80px;

    .card {
      margin: 3px;
      background-color: $white;
      border-radius: 2px;

      .padded {
        padding: 8px;


        .description {
          padding: 15px;

          h3, p {
            text-decoration: none;
            color: $cool-grey-90;
            text-align: center;
          }

          h3 {
            padding-bottom: 0px;
          }

          p {
            font-size: 12px;
          }

        }
      }
    }

  }

  .preview {
    height: 240px;
    overflow: hidden;
  }

  .partially-padded {
    padding: 16px 16px 0 16px;
  }

  .before, .after, .etc {
    a {
      text-decoration: underline;
    }
  }
  .before, .after {
    padding-top: 60px;
  }

  .etc, .project-nav {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .dark {
    background-color: $cool-grey-80;
    color: $white;

    a {
      color: $white;
    }
  }

  .white, .lightest-grey {
    a {
      color: $cool-grey-90;
    }
  }

  .white {
    background-color: $white;
    color: $cool-grey-90;
  }

  .lightest-grey {
    background-color: $cool-grey-10;
  }

  .button {
    display: block;
    padding-top: 16px;
    width: 100%;
    height: 32px;
    background-color: $palest-turquoise;
    color: $cool-grey-80;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
  }

  a.button:hover {
    background-color: $pale-turquoise;
  }

}
