---
layout: projects/connecting-things/_thing_layout
title: Nokia Thermo
preview: thing/thing.png
date: 2018-02-27
---
<p>
Nokia Thermo measure temperature from the user’s forehead and automatically syncs readings with the dedicated app via Bluetooth. Thermo gives readings on the device. It measures temperature from the blood circulating in the temporal artery thanks to 16 infrared sensors. A color-coded indicator informs the user if the temperature taken is normal, elevated, or high while taking into consideration the age of the patient. The object is white, has a LED screen, one button, and one green and soft part to apply on the forehead. Thermo app allows logging comments, medications, and photos that can easily be shared with a doctor. All members of the family can create their own profile.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>clear
</h2>
<p>
To connect to Nokia Thermo, the user needs to download the Nokia Thermo app and to log in. The user taps on ‘Install’ within the Thermo app. Then the app instructs the user to press and hold the button on the Thermo until the LEDs display ‘SETUP’. The user presses “next” in the app, initiating the search for the product. An OS overlay pops up and reveals the available accessories. The user selects in the list the connected Thermo that appeared. The app shows an indeterminate progress indicator. It is connecting to the product. Then the user needs to choose a Wi-Fi network. If the user selects a home Wi-Fi that the device is already connected to, the setup is quicker as the home Wi-Fi password can be shared from the device. The app is busy again with an indeterminate progress indicator displaying that the app is configuring, and activating the Thermometer. The last setup screen shows that the Thermometer is activated. To finish, the app shows a tutorial to teach the user how to scan the forehead for a reading.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>okay
</h2>
<p>
Thermo’s OS and software connections are both verified thanks to a physical button on the device and to a Wi-Fi connection protected by a password. Thermo registers to the user account through the home Wi-Fi that makes it pretty secure.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>good
</h2>
<p>
Thermo does not need to be connected to a device for continued used, but just for setting it up and syncing data. Thermo uses Wi-Fi or Bluetooth to sync the user data with the Thermo app. In facts, during the setup, if the user does not have access to a Wi-Fi network, he or she can use Bluetooth to configure the device instead. The configuration of the Thermo should be updated in case the Wi-Fi network has changed named or password, or the user would like to use a different network, or, if the user would like to switch from a Bluetooth configuration to a Wi-Fi configuration.
</p>

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/thing.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  }
]
</script>
