
<div id="content" class="offf">

	<div class="bleed intro">
		<div class="flex container">
			<div class="col-10 left-1 right-1 center introduction">
				<h1>What is OFFF conference about?</h1>
				<h5>an experiment by <a href="/people/ariane.html">Ariane Garoff</a></h5>
				<h2>Artists giving talks at <a href="http://www.offf.ws/" target="_blank">OFFF conference</a> are represented by dots in this interactive data-visualisation. Dynamic filters help users understanding the conference tendancies. New comers may want to find out if the lecturers are really matching their interests whereas frequent visitors may compare several editions to see if the coming venue is as exciting as the previous.</h2>
			</div>
		</div>
	</div>

	<div class="bleed blue">
		<div class="flex container">
			<div class="col-12 center visualization">
				<script type="text/javascript" src="/offf/javascripts/offf-javascript.js" ></script>
			</div>
		</div>
	</div>

	<div class="bleed blue">
			<div class="col-12 flex container choices">
				<div class="col-4 left-1 choicel">
					<li>
						Organise artists by
						<select id="pickl" name="pickl">
							<option value="selectfilter" disabled="disabled">select filter</option>
							<option value="/offf/data/industry.json" selected value="selected" data-legendcat="#industryl"> industry</option>
							<option value="/offf/data/location.json" data-legendcat="#locationl"> location</option>
							<option value="/offf/data/status.json" data-legendcat="#statusl"> working status</option>
							<option value="/offf/data/year.json" data-legendcat="#yearl"> year(s) of talk</option>
						</select>​
					</li>
					<div id= "industryl" class="legendl" style="display:none">
						<ul>
							<li id="industrylPrint"> <img src="/offf/images/dot-category.svg"> <a>print</a></li>
							<li id="industrylMotion"> <img src="/offf/images/dot-category.svg"> <a>motion</a></li>
							<li id="industrylDigital"> <img src="/offf/images/dot-category.svg"> <a>digital</a></li>
							<li id="industrylSound"> <img src="/offf/images/dot-category.svg"> <a>sound design</a></li>
							<li id="industrylProduct"> <img src="/offf/images/dot-category.svg"> <a>product design</a></li>
							<li id="industrylAll"> <img src="/offf/images/dot-category.svg"> <a>all industries</a></li>
						</ul>
					</div>
					<div id="locationl" class="legendl" style="display:none">
						<ul>
							<li id="locationlAsia"> <img src="/offf/images/dot-category.svg"> <a>Asia</a></li>
							<li id="locationlAustralia"> <img src="/offf/images/dot-category.svg"> <a>Australia</a></li>
							<li id="locationlEurope"> <img src="/offf/images/dot-category.svg"> <a>Europe</a></li>
							<li id="locationlNAmerica"> <img src="/offf/images/dot-category.svg"> <a>North America</a></li>
							<li id="locationlSAmerica"> <img src="/offf/images/dot-category.svg"> <a>South America</a></li>
							<li id="locationlAll"> <img src="/offf/images/dot-category.svg"> <a>all continents</a></li>
						</ul>
					</div>
					<div id="statusl" class="legendl" style="display:none">
						<ul>
							<li id="statuslIndependant"> <img src="/offf/images/dot-category.svg"> <a>independant</a></li>
							<li id="statuslRepresented"> <img src="/offf/images/dot-category.svg"> <a>represented</a></li>
							<li id="statuslAgency"> <img src="/offf/images/dot-category.svg"> <a>agency</a></li>
							<li id="statuslEponym"> <img src="/offf/images/dot-category.svg"> <a>eponym agency</a></li>
							<li id="statuslCollective"> <img src="/offf/images/dot-category.svg"> <a>collective</a></li>
							<li id="statuslAll"> <img src="/offf/images/dot-category.svg"> <a>all status</a></li>
						</ul>
					</div>
					<div id="yearl" class="legendl" style="display:none">
						<ul>
							<li id="yearl15"> <img src="/offf/images/dot-category.svg"> <a>2015</a></li>
							<li id="yearl16"> <img src="/offf/images/dot-category.svg"> <a>2016</a></li>
							<li id="yearl1516"> <img src="/offf/images/dot-category.svg"> <a>2015 and 2016</a></li>
							<li id="yearlAll"> <img src="/offf/images/dot-category.svg"> <a>all year</a></li>
						</ul>
					</div>
				</div>
				<div class="col-4 left-7 choicer">
					<li>
						Change artists colours by
						<script type="text/javascript"> </script>
							<select id="pickr">
								<option value="allwhite" selected value="selected" disabled="disabled">select filter</option>
								<option value="allIndustries" data-legendcol="#industryr">industry</option>
								<option value="allLocations" data-legendcol="#locationr">location</option>
								<option value="allStatus" data-legendcol="#statusr">working status</option>
								<option value="allYears" data-legendcol="#yearr"> year(s) of talk</option>
							</select>
					</li>
					<div id= "industryr" class="legendr" style="display:none">
						<ul>
							<li id="industryrMulti"> <img src="/offf/images/legend-multi.svg"> <a>multi disciplinary</a></li>
							<li id="industryrPrint"> <img src="/offf/images/legend-indu-print.svg"><img src="/offf/images/legend-multi.svg"> <a>print</li> </a>
							<li id="industryrMotion"> <img src="/offf/images/legend-indu-motion.svg"><img src="/offf/images/legend-multi.svg"> <a>motion</a></li>
							<li id="industryrDigital"> <img src="/offf/images/legend-indu-digital.svg"><img src="/offf/images/legend-multi.svg"> <a>digital</a></li>
							<li id="industryrSound"> <img src="/offf/images/legend-indu-sound.svg"><img src="/offf/images/legend-multi.svg"> <a>sound design</a></li>
							<li id="industryrProduct"> <img src="/offf/images/legend-indu-product.svg"><img src="/offf/images/legend-multi.svg"> <a>product design</a></li>
							<li id="industryrAll"> <img src="/offf/images/legend-indu-print.svg"><img src="/offf/images/legend-indu-motion.svg"><img src="/offf/images/legend-indu-digital.svg"><img src="/offf/images/legend-indu-sound.svg"><img src="/offf/images/legend-indu-product.svg"><img src="/offf/images/legend-multi.svg"> <a>all industries</a></li>
						</ul>
					</div>
					<div id="locationr" class="legendr" style="display:none">
						<ul>
							<li id="locationrMulti"> <img src="/offf/images/legend-multi.svg"> <a>multi location</a></li>
							<li id="locationrEurope"> <img src="/offf/images/legend-loc-europe.svg"><img src="/offf/images/legend-multi.svg"> <a>Europe</a></li>
							<li id="locationrNamerica"> <img src="/offf/images/legend-loc-northamerica.svg"><img src="/offf/images/legend-multi.svg"> <a>North America</a></li>
							<li id="locationrAsia"> <img src="/offf/images/legend-loc-asia.svg"><img src="/offf/images/legend-multi.svg"> <a>Asia</a></li>
							<li id="locationrSAmerica"> <img src="/offf/images/legend-loc-southamerica.svg"><img src="/offf/images/legend-multi.svg"> <a>South America</a></li>
							<li id="locationrAustralia"> <img src="/offf/images/legend-loc-australia.svg"><img src="/offf/images/legend-multi.svg"> <a>Australia</a></li>
							<li id="locationrAll"> <img src="/offf/images/legend-loc-europe.svg"><img src="/offf/images/legend-loc-northamerica.svg"><img src="/offf/images/legend-loc-asia.svg"><img src="/offf/images/legend-loc-southamerica.svg"><img src="/offf/images/legend-loc-australia.svg"><img src="/offf/images/legend-multi.svg"> <a>all locations</a></li>
						</ul>
					</div>
					<div id="statusr" class="legendr" style="display:none">
						<ul>
							<li id="statusrAgency"><img src="/offf/images/legend-status-agency.svg"> <a>agency</a></li>
							<li id="statusrIndependant"><img src="/offf/images/legend-multi.svg"> <a>independant</a></li>
							<li id="statusrEponym"><img src="/offf/images/legend-status-eponym.svg"> <a>eponym agency</a></li>
							<li id="statusrRepresented"><img src="/offf/images/legend-status-represented.svg"> <a>represented</a></li>
							<li id="statusrCollective"><img src="/offf/images/legend-status-collective.svg"> <a>collective</a></li>
							<li id="statusrAll"><img src="/offf/images/legend-status-agency.svg"><img src="/offf/images/legend-status-independant.svg"><img src="/offf/images/legend-status-eponym.svg"><img src="/offf/images/legend-status-represented.svg"><img src="/offf/images/legend-status-collective.svg"> <a>all status</a></li>
						</ul>
					</div>
					<div id="yearr" class="legendr" style="display:none">
						<ul>
							<li id="yearr15"><img src="/offf/images/legend-year-15.svg"> <a>2015</a></li>
							<li id="yearr16"><img src="/offf/images/legend-year-16.svg"> <a>2016</a></li>
							<li id="yearr1516"><img src="/offf/images/legend-year-both.svg"> <a>2015 and 2016</a></li>
							<li id="yearrAll"><img src="/offf/images/legend-year-15.svg"><img src="/offf/images/legend-year-16.svg"><img src="/offf/images/legend-year-both.svg"> <a>all years</a></li>
						</ul>
					</div>
				</div>
			</div>
	</div>

	<div class="bleed intro">
		<div class="flex container">
			<div class="col-10 left-1 right-1 center introduction">
				<img src="/offf/images/offf-logo-darkest-saphire.svg" alt="offf-logo" style="width:150px" src="http://www.offf.ws/" target="_blank">
				<h2>OFFF is a three-day festival annually hosting innovative, creative and international speakers in Barcelona.</h2>
			</div>
		</div>
	</div>

</div>
