---
layout: multiple_layout
---

<!-- page content -->
<section id="content" class="huddle">

	<div class="flexcontainer">
		<div class="col-10 left-1 right-1 center introduction">
			<h1>Huddle</h1>
			<h5>an experiment by <a href="/people/carol.html">Carol Liao</a></h5>
			<h2>Huddle is a conference app for the creative community. This experiment stemmed from the nuisance of scouring through multiple pamphlets and inconsistent mobile sites to access critical conference data and updates. My goal was to design a way to minimize time searching for information and maximize the user's engagement with the conference and fellow attendees.</h2>
		</div>

	</div>

	<div class="flexcontainer hero">
		<div class="padded">
			<img src="images/hero.png" alt="Huddle–a conference app for the creative community">
		</div>
	</div>


	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 left-1 right-1" >
				<div class="padded">
					<p>I defined the product’s essential features based off results from user surveys and mapped features and personas to three user engagement points– browsing, awaiting, and attending. The result is an app that stays relevant regardless of the users place in the engagement cycle. </p>
					<img src="images/engagementcycle.png" alt="User Engagement Cycle">
				</div>
			</div>
		</div>

		<div class="flexcontainer">
			<div class="col-5">
				<div class="padded">
					<img src="images/discover.gif" alt="Discover new conferences">
				</div>
			</div>
			<div class="col-5">
				<div class="padded side">
					<h3>DISCOVER</h3>
					<p>Huddle helps users browse for conferences of interest. Users can search and filter through categories and see which conferences their friends are attending.</p>
				</div>
			</div>

			<div class="col-5">
				<div class="padded side">
					<h3>MY LIBRARY</h3>
					<p>Huddle eliminates the need to download individual conference apps. Instead, users add the conferences they’re attending to My Library. </p>
				</div>
			</div>
			<div class="col-5">
				<div class="padded">
					<img src="images/library.gif" alt="Save conferences to My Libraray">
				</div>
			</div>
			<div class="col-10 left-1 right-1">
				<div class="padded">
					<h3>STRUCTURE</h3>
					<p>Each conference in Huddle has a consistent structure so the user always know what to expect. Minimizing time searching for information allows the user more time to engage with other attendees in the Activity feed and in person. </p>
					<img src="images/flow.png" alt="Gestural Information Architecture">

					<p>An activity stream enables attendees to communicate with each other. Users can share tips and advice or coordinate with others to improve the overall experience. </p>

					<p>Users can access more information about specific presentations, events, and workshops and add them to their personal schedule. This allows them to quickly see where events conflict, and make quick prioritizing decisions. </p>

					<p>The About section contains all general details about the event, including date, locations, and their story. Past and future editions of the conference can also be downloaded here.</p>
					<img src="images/pages.png" alt="Activity, Program, My Schedule, and About pages">
				</div>
			</div>

			<div class="col-10 left-1 right-1">
				<div class="padded">
					<h3>NAVIGATION</h3>
					<p>Huddle’s main tray shrinks to a minimized state to make room for a conference-specific tray while navigating inside a conference guide.</p>
					<img src="images/navigation.png" alt="Tray Navigation">
				</div>
			</div>

			<div class="col-10 left-1 right-1">
				<div class="padded">
					<h3>AS A CONFERENCE ORGANIZER</h3>
					<p>Using the web interface, conference organizers can assign users to an admin team and can upload content, post updates, and see gathered data.</p>
					<p>Keep conference guides on-brand with two primary colors and up to four exemplary background images. </p>
				</div>
			</div>

			<div class="col-5">
				<div class="padded">
					<img src="images/admin.png" alt="Admin Web Interface">
				</div>
			</div>
			<div class="col-5">
				<div class="padded">
					<img src="images/customize.png" alt="Customize colors and background images">
				</div>	
			</div>

			<div class="col-10 left-1 right-1">
				<div class="padded">
					<h3>PROTOTYPING</h3>
					<p>We used Huddle to test seven different prototyping tools. See our results and our assessment of the tools on our <a href="">blog</a>.</p>
				</div>
			</div>
		</div>
	</div>

</section>
