---
layout: projects/connecting-things/_thing_layout
title: Philips Sonicare Diamond Clean
preview: thing/off.png
date: 2018-03-23
---
<p>
Philips Sonicare DiamondClean is a connected toothbrush working along with the Sonicare app monitoring the user dental health. The electric toothbrush provides great cleaning with minimal effort. Vibrations every 30 seconds indicate to move the brush to a different area in the mouth. The brush, therefore, encourages to brush during the recommended 2 minutes. It can be charged from a rinsing glass or by USB from a travel case. It has five different brushing modes and intensity levels as well as LED with different colors to provide brushing feedback.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>tedious
</h2>
<p>
The user sets up a new connected toothbrush from the Philips Sonicare app, in which they have to select the model of the toothbrush from a proposed list of Sonicare products. After numerous steps of product tour and authorization providing, the connection flow is interrupted by the app asking the user to log in from a Philips account, a Facebook account, a Google account, or to create a new Philips account. When the user is logged in the Sonicare app, the only action he performs to pair and connect is to take the toothbrush handle out of the base. Thanks to an accelerometer sensor, the toothbrush automatically connect at the OS and at the software layer.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>low
</h2>
<p>
Data collected from the user is protected by the passcode on the smartphone if the user has enabled it and also by the password to log in the user account. The handle is not registered to any user account. It makes any user in the house able to connect to the handle really easily.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>okay
</h2>
<p>
The connection between the app and the toothbrush is stable if the user stays within the Bluetooth range.
</p>

<script>
var flowSteps = [
  {
    caption: "Thing is off -  No connection is established - OS alert prompts to allow notification in App",
    thingImg: "thing/off.png",
    networkAnimations: ["actors/noWifi.json"],
    screenImg: "screens/01.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/02.png"
  },
  {
    caption: "Thing is off - No connection is established - User selects product model in App",
    screenImg: "screens/03.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/04.png"
  },
  {
    caption: "Thing is off - No connection is established - User allows acess to Thing in App",
    screenImg: "screens/05.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/06.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/07.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/08.png"
  },
  {
    caption: "Thing is off - No connection is established - User allows acess to data in App",
    screenImg: "screens/09.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/10.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/11.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/12.png"
  },
  {
    caption: "Thing is off - No connection is established - User follows App tour",
    screenImg: "screens/13.png"
  },
  {
    caption: "Thing is off - App logs in to account on Cloud - User selects login method in App",
    networkAnimations: ["actors/noWifi.json", "AppCloud.json"],
    screenImg: "screens/14.png"
  },
  {
    caption: "Thing is off - App is logged in to account on Cloud - User enters account credentials in App",
    networkAnimations: ["actors/noWifi.json", "stills/AppCloud.json"],
    screenImg: "screens/15.png"
  },
  {
    caption: "Thing is off - App is logged in to account on Cloud - User agrees to terms and conditions in App",
    screenImg: "screens/16.png"
  },
  {
    caption: "Thing is off - App is logged in to account on Cloud - User taps continue in App",
    screenImg: "screens/17.png"
  },
  {
    caption: "Thing is off - App is logged in to account on Cloud - User tells where they got their Thing from in App",
    thingImg: "thing/on.png",
    screenImg: "screens/18.png"
  },
  {
    caption: "Thing is off - App is logged in to account on Cloud - User selects an oral care aspiration in App",
    thingImg: "thing/on.png",
    screenImg: "screens/19.png"
  },
  {
    caption: "Thing is off - App is logged in to account on Cloud - User tells their biggest oral care concern in App",
    screenImg: "screens/20.png"
  },
  {
    caption: "Thing is off - App is logged in to account on Cloud - App recommends a goal",
    screenImg: "screens/21.png"
  },
  {
    caption: "Thing is off - App is logged in to account on Cloud - App recommends a goal",
    screenImg: "screens/22.png"
  },
  {
    caption: "User removes Thing of its charging glass - Thing and OS are in discovery mode - App shows home screen",
    thingImg: "thing/on.png",
    networkAnimations: ["actors/noWifi.json", "ThingOS_pair.json", "stills/AppCloud.json"],
    screenImg: "screens/23.png"
  },
  {
    caption: "User presses button on Thing - Thing and OS pair - App shows brushing instructions",
    networkAnimations: ["actors/noWifi.json", "ThingOS_unverified.json", "stills/AppCloud.json"],
    screenImg: "screens/24.png"
  },
  {
    caption: "Thing is ready for use - Thing and App connect - App shows brushing action screen",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_unverified.json", "stills/AppCloud.json", "ThingApp_verified.json"],
    screenImg: "screens/25.png"
  }
]
</script>
