---
layout: projects/connecting-things/_thing_layout
title: Philips Sonicare Diamond Clean
preview: thing/thing.png
date: 2018-02-27
---
<p>
Philips Sonicare DiamondClean is a connected toothbrush working along with the Sonicare app monitoring the user dental health. The electric toothbrush provides great cleaning with minimal effort. Vibrations every 30 seconds indicate to move the brush to a different area in the mouth. The brush, therefore, encourages to brush during the recommended 2 minutes. It can be charged from a rinsing glass or by USB from a travel case. It has five different brushing modes and intensity levels as well as LED with different colors to provide brushing feedback.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>tedious
</h2>
<p>
The user sets up a new connected toothbrush from the Philips Sonicare app. The user selects the model of the toothbrush from a proposed list of Sonicare products. After many screens of product tour and authorization providing, the user can press 'Next' in the app to connect their toothbrush. The connection flow is interrupted again by the app asking the user to log in from a Philips account, a Facebook account, a Google account, or to create a new Philips account. If the user is logged in the Sonicare app, the only action he performs to connect is to take the toothbrush handle out of the base. Thanks to an accelerometer, the toothbrush automatically connect at the OS and at the software layer.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>low
</h2>
<p>
Data collected from the user is protected by the passcode on the device if the user has enabled it but also by the password to log in the user account. The handle is not registered to any user account. It makes any user in the house able to connect to the handle really easily.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>okay
</h2>
<p>
The connection between the app and the toothbrush is stable if the user’s phone is connected to the Internet and if the user stays within the Bluetooth range.
</p>

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/thing.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  }
]
</script>
