---
layout: multiple_layout
---

<section id="content">

<!-- page content -->
	<div class="bleed turquoise padded-bottom">
		<div class="flexcontainer">
			<div class="col-8 title">
				<div class="padded center">
					<h1>Our People</h1>
					<p>We are The Artificial.</p>
				</div>
			</div>
		</div>
	
		<div class="flexcontainer">
			<div class="col-4">
				<div class="padded center">
					<a href="shannon.html"><img src="/images/logo-shannon.svg"></a>
					<p><a href="shannon.html">Shannon E. Thomas</a></p>
				</div>
			</div>
		
			<div class="col-4">
				<div class="padded center">
					<a href="hans.html"><img src="/images/logo-hans.svg"></a>
					<p><a href="hans.html">Hans Gerwitz</a></p>
				</div>
			</div>
		
			<div class="col-4">
				<div class="padded center">
					<a href="carol.html"><img src="/images/logo-carol.svg"></a>
					<p><a href="carol.html">Carol Liao</a></p>
				</div>
			</div>
		
			<div class="col-4">
				<div class="padded center">
					<a href="susana.html"><img src="/images/logo-susana.svg"></a>
					<p><a href="susana.html">Susana Passinhas</a></p>
				</div>
			</div>
			<div class="col-4">
				<div class="padded center">
					<a href="ariane.html"><img src="/images/logo-susana.svg"></a>
					<p><a href="ariane.html">Ariane Garoff</a></p>
				</div>
			</div>
		</div>
	</div>
		
</section>
