---
title: Artificial People
layout: layout
---

<div id="people">
  <div class="titlespace">
    <div class="pale"><h1 class="blogtitle">The Artificial People</h1></div>
  </div>
  
  <div class="pale">

<% sitemap.resources.select{ |r| r.data.layout == 'person' }.shuffle.each_with_index do |person, i| %>
<%# sitemap.where(:layout.equal => 'person').all.each_with_index do |person, i| %>
  <div class="person-preview">
    <% if (i.odd?) %>
      <% link_to person do %>
        <img class="imgpreview" width="600" height="400" src="<%= "#{person.url[/.*(?=\..+$)/]}/headshot.png" %>">
      <% end %>
      <div class="textpreview">
        <h2>
          <%= link_to person.data.title, person %>
        </h2>
      </div>
    <% else %>
      <div class="textpreview">
        <h2>
          <%= link_to person.data.title, person %>
        </h2>
      </div>
      <% link_to person do %>
        <img class="imgpreview" width="600" height="400" src="<%= "#{person.url[/.*(?=\..+$)/]}/headshot.png" %>">
      <% end %>
    <% end %>
  </div>
<% end %>

    
  </div>
</div>
