---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	<div class="bleed turquoise">
		<div class="flexcontainer">
			<div class="col-8 title">
				<div class="padded center">
					<h1>Our People</h1>
					<p>We are The Artificial.</p>
				</div>
			</div>
		</div>
	
		<div class="flexcontainer">
			<div class="col-4">
				<div class="padded center">
					<img src="/images/logo-shannon.svg">
					<p><a href="shannon.html">Shannon E. Thomas</a></p>
				</div>
			</div>
		
			<div class="col-4">
				<div class="padded center">
					<img src="/images/logo-hans.svg">
					<p><a href="hans.html">Hans Gerwitz</a></p>
				</div>
			</div>
		
			<div class="col-4">
				<div class="padded center">
					<img src="/images/logo-carol.svg">
					<p><a href="carol.html">Carol Liao</a></p>
				</div>
			</div>
		
			<div class="col-4">
				<div class="padded center">
					<img src="/images/logo-susana.svg">
					<p><a href="susana.html">Susana Passinhas</a></p>
				</div>
			</div>
		</div>
	</div>
		
</section>
