---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<div class="flexcontainer">
		<div class="col-8 left-2 right-2">
			<div class="padded center">
				<h2>Shannon E. Thomas</h2>
				<h3>"I take ideas the world isn’t quite ready for and turn them into products people can’t imagine living without."</h3>
			</div>
		</div>	
	</div>
	

	<div class="flexcontainer">
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<img src="../images/logo-shannon.svg">
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="padded center">
				<h4>Logo story</h4>
				<p> As digital designers, it's  easy to forget about all of the great things that we can do with our hands—sketching, painting, folding paper, etc. It's important that we always push our work on the screen by starting our process off of the screen. Staying true to this mantra, my logo is a digital representation of the hand lettering that fills my many notebooks.</p>
			</div>
		</div>
	</div>
	
	<div class="flexcontainer">
		<div class="col-8 left-2 right-2">
			<div class="padded center">
				<h4>About me</h4>
				<p>I am an artist, designer, and sometimes geek who believes in leaving everything better than I found it. When I'm not designing products and experiences at The Artificial, I can be found in my studio, <a href="http://www.shannonethomas.com">telling stories though paint</a></p>
			</div>
		</div>
	</div>
	
	<div class="flexcontainer">
		<div class="col-8 left-2 right-2">
			<div class="padded center">
				<h4><a href="http://www.linkedin.com/in/shannonethomas/">Linkedin</a> <a href="http://www.twitter.com/shannonethomas">Twitter</a></h4>
				
			</div>
		</div>
	</div>
	
</section>


