  <div class="container">
    <div class="col-12">
      <div class="padded">

        These are <%= link_to_person(current_page.data.author) %>'s tips for visiting <%= current_page.data.name %> from the <a href="./">The Artificial City Guide</a>, published in 2017. <a href="/blog/2017/11/28/holiday-gids.html">Read all about it!</a>

      </div>
    </div>
  </div>
