<div id ="subnav" class="bleed">
  <div class="container">
    <div class="col-12">
      <div class="padded">
        <ul>
          <%
            project_folder = current_page.metadata[:project]
            ['amsterdam', 'gdansk', 'losangeles', 'mexicocity', 'mumbai', 'saintlouis', 'seattle', 'shanghai'].each do |slug|
              target_resource = sitemap.find_resource_by_path("/#{project_folder}/#{slug}.html")
              target_name = target_resource.data.name
              if target_resource == current_page
              %>
                <li><a><%= target_name %></a></li>
              <%
              else
              %>
                <li><%= link_to(target_name, target_resource) %></li>
              <%
              end
            end
          %>
        </ul>
      </div>
    </div>
  </div>
</div>
