---
name: Amsterdam
author: nathalie
date: 2017-12-06
---
<%= partial 'city_header' %>

<div id="explainer" class="bleed dark-pumpkin">
  <%= partial 'city_explainer' %>
</div>

<div class="bleed cover">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h1>Amsterdam</h1>
        <h3>The Netherlands</h3>
      </div>
    </div>
  </div>
</div>

<div id="neighborhood" class="bleed dark-pumpkin">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Neighborhood Guide</h2>
        <div class="summary"><p>Amsterdam center kept its village size. It was built for traveling by horse. As there are fewer horses around, grab a bike and cycle through the mazes of our neighborhoods.</p></div>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Centrum</h3>
        <p>This is the postcard-perfect area. Old storage houses and mansions are the backdrops for a good day or night out. You may notice that some houses are sloped because most buildings are built on poles.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>De Pijp</h3>
        <p>Formerly a working class quarter, de Pjip has become a trendy area. It is home to a cosmopolitan and vibrant crowd. The Albert Cuyp market is surrounded by hipster cafés and a mix of global cuisines.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Noord</h3>
        <p>Right across central station and the IJ, the area is known for its run-down buildings, cool bars, and big spaces to hang out. Once a month, the biggest  ea market in Europe is held next to a former shipyard crane.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>West</h3>
        <p>Good for a nice stroll in the Wester- park and the events hosted at the Westergasfabriek. If it is sunny bring your picnic basket. Take a look at De Hallen and its many food stalls, and check out the Ten Kate market.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Oost</h3>
        <p>Often referring to Watergraafs-meer back in the day, the Indische Buurt started to  ourish in the past few years but still has undiscovered hotspots. Don't miss Plantage area, Javastraat, and Dappermarkt.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Zuid-Oost</h3>
        <p>A slum turned into a colorful paradise. The large-scale cultural events held here are one big delicious party. Otherwise, check for concerts, watch a game at the Arena, or put 3D glasses on for an IMAX movie.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed feature"></div>

<div id="seedo" class="bleed palest-turquoise">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>See &amp; Do</h2>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Concert at Nedpho Koepel</h3>
        <p>Visit the Nederlands Philharmonisch Orkest when they are practicing. The old church where they rehearse makes a gorgeous stage with amazing acoustics. They also show themed movies from time to time.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Hortus Botanicus</h3>
        <p>Inspired by the VOC travels, most plants of this botanical garden come from former Dutch colonies. A dark sky viewable through the huge glass construction has its charm in between the bright, big foliage.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Canals by Boat</h3>
        <p>Book yourself a boat trip to see the city that has been living in harmony with water for centuries. I especially love the ones that provide a good breakfast or cheese and wine pairings. Perfect for cold evenings.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Night Walk by the Amstel</h3>
        <p>Besides having quite a few nice bars to pop in for food or drinks, all the lights, bridges, and buildings of all forms and sizes make a lovely view. Especially when they reflect in the water of the Amstel.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>De Hermitage</h3>
        <p>If you are up for some history, this museum is all about the relationship between Amsterdam and St. Petersburg. The temporary exhibitions are great and the building's history has always been one of my favorites.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Stedelijk Museum</h3>
        <p>Also known by locals as the giant bath tub. It is dedicated to modern and contemporary art and design. Usually it is not as crowded as the Van Gogh museum or the Rijksmuseum so it's worth checking out.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Foam</h3>
        <p>Foam is the go-to place if you have a thing for contemporary photography. Located in one of Keizersgracht's mansions, it hosts amazing expositions. The library and store in the attic definitely deserve a peek.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Museum Vrolik</h3>
        <p>A huge collection of medical oddities and curiosities of the Academic Medical Center has been transformed into a museum. Named after a famous professor of anatomy, this makes for a great visit, if you have a taste for the obscure and macabre.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Artis: The Zoo</h3>
        <p>Artis is a small zoo but what it lacks for grandeur on space, it makes up with its atmosphere and events. Take a walk in the butterfly garden or go to the evolution hall. Enjoy the architecture of the old zoo with its colorful inhabitants.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Het Verzetsmuseum</h3>
        <p>The invisible fourth cross on our city symbol is WWII. This rather unknown, multi-lingual museum will tell you all about Amsterdam, the Netherlands, and our colonies in WWII. Maybe not the most cheerful trip, but hey, it is part of our history.</p>
      </div>
    </div>
  </div>
</div>

<div id="onething" class="bleed">
  <div class="flex container">
    <div class="col-6">
      <div class="padded">
        <img src="images/amsterdam_illustration.png" alt="Cricket">
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>One Thing</h3>
        <h2 class="turquoise-text">Take a Ferry</h2>
        <p>To get a good taste of Amsterdam without having to  ght the huge crowds of tourists and co ee shops, I suggest you make your way to Central Station and hop on the ferry to Buiksloterweg. Once your feet step on Noord, turn left. This area will be your playground for the day.</p>
        <p>Visit an exposition in the Tolhuistuin, enjoy the view of Amsterdam on the A'DAM tower, and if you dare take a seat on the roof-top swing. Walk to NDSM for music, food, street art, or markets. Take the ferry back and enjoy the ride!</p>
      </div>
    </div>
  </div>
</div>

<div id="fooddrink" class="bleed palest-pumpkin">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Food &amp; Drink</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Doka</h3>
        <p>This eccentric nightclub opens at 3 a.m., when everything else closes. It is known for having yummy cocktails instead of just lagers.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Café GolLem</h3>
        <p>If beer is your thing, you must visit this place and its 400 varieties. The barkeeper knows his beers, so don't hesitate to ask for recommendations.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Edelwise</h3>
        <p>Every month they have a new chef and a new menu. They have a great terrace where you can watch boats passing by. Only if the sun is out.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Vleminckx</h3>
        <p>A hole in the wall with the best Belgian (not French) fries in town, along with 25 sauces to pick from. Just saying.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Brouwerij 't Ij</h3>
        <p>With an extensive menu of home-brewed beer, this is the hangout for a chat with friends and laughter underneath an old mill!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>La Perla Pizzeria</h3>
        <p>If you didn't visit Italy, or if you are a pizza lover, this is your place. They have a variety of starters, pizzas, and a good wine cart.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Hofje van Wijs</h3>
        <p>A store specialized in importing tea and making their own blends. After popular demand, they added a small lunchroom to their store.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Bar Basquiat</h3>
        <p>This place has everything from finger-food and hangover treats to big lunches. At night it turns into a bar with samosas to die for.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Bar Oldenhof</h3>
        <p>Ring the golden bell to be shown the way into this old-fashioned, high-end cocktail bar. Warning: you're probably not leaving sober.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>De laatste kruimel</h3>
        <p>The Dutch can't cook? Take a seat on their water-side balcony when the weather is nice. Enjoy homemade cakes, quiches, and cookies to die for.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>'t Smalle</h3>
        <p>Cutest typical bruin café in the Jordaan. Don't leave this place without trying their delicious and greasy bitterballen – a must try Dutch delicacy in this city.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Moeders</h3>
        <p>Typical Dutch food. The perfect place to go if you are traveling with your mom. Make a good impression, and they might even hang your picture on the wall.</p>
      </div>
    </div>
  </div>
</div>

<div id="foursquare" class="bleed cool-grey-80">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <a href="https://foursquare.com/veryartificial/list/2017-city-guide-amsterdam"><p>Check out The Artificial's Amsterdam list on Foursquare</p></a>
      </div>
    </div>
  </div>
</div>
