---
name: Gdańsk
author: kamila
---
<%= partial 'city_header' %>

<div id="explainer" class="bleed dark-dandelion">
  <%= partial 'city_explainer' %>
</div>

<div class="bleed cover">
  <div class="flex container">
    <div class="col-6 left-6">
      <div class="padded">
        <h1>Gdańsk</h1>
        <h3>Poland</h3>
      </div>
    </div>
  </div>
</div>

<div id="neighborhood" class="bleed dark-dandelion">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Neighborhood Guide</h2>
        <div class="summary"><p>Some of Gdańsk's neighborhoods grew from villages that merged over the years. This makes every part of the city different from each other. Oh, did I mention you can get everywhere by public transport? I recommend SKM - Fast City Train.</p></div>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Old Town</h3>
        <p>Being the most touristy part of the city, it is always crowded and loud.Don't stay here too long. Take a walk through beautiful little streets, heading to the river Motława and move on!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Shipyard</h3>
        <p>Old shipyard buildings are just perfect for a night out. Great place to see concerts and to party. There are many outdoor evening entertainments in the summer. Just go.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Wrzeszcz</h3>
        <p>Neighborhood of the true Gdańsk's citizens – that is what they say. I recommend it because of the tasty cafés, concerts, and its urban character. A bit hipster, but okay.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Oliwa</h3>
        <p>The name means "olive oil". Famous for its old, beautiful park, it is the perfect neighborhood for a sunny day outside. In the Oliwa Forests, you can also find the zoo.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Przymorze I Zaspa</h3>
        <p>Find the longest blocks of flats in Poland – Falowce. Go there to see street art in its natural habitat. Huge, modernist buildings make the perfect canvas for huge art.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Sobieszewska Island</h3>
        <p>Go there at dusk or dawn and just listen. This amazing island is a home to over 300 bird species, living in two nature reserves.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed feature"></div>

<div id="seedo" class="bleed palest-sapphire">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>See &amp; Do</h2>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Great Armory</h3>
        <p>Built as an armory, this building has had many uses. First as a supermarket, then, a farmer's market. And later, after being closed for several years, as a vibrant exhibition space for the Academy of Fine Arts.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Beach!</h3>
        <p>There are several beaches available by public transport. The ones closest to the city centre are usually crowded, but if you are willing to travel for some privacy, you'll find something more cozy.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Bike Trip</h3>
        <p>There's a constant growing net of bike paths here, which let you bike to the most popular places in the city as well as visit other Tricity cities. Gdańsk is flat, so there's no excuse not to try.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Nature Reserves</h3>
        <p>On Sobieszewska Island. Beautiful, empty beaches and amazing nature all around. The feeling of adventure is even stronger when you cross a floating bridge by bus to get there</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Kayak Trip</h3>
        <p>Sightseeing from water is a nice, unique experience. You can rent a kayak near the Old Town and see all the touristy places near water without the crowd of tourists. It's a win-win.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Shipyard's Gate</h3>
        <p>That's where the historic Solidarity movement started and where the Polish 1970 protests ocurred. The Three Cross Monument in front of the Gate commemorates the workers killed there.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Shakespeare Theater</h3>
        <p>Or, the massive black building in the Old Town. It is amazing because its roof can be opened so that plays can be viewed in natural light, under the open sky. Just like in classical Elizabethan theaters.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Ceremonial Ship Launching</h3>
        <p>Don't miss out this naval traditional spectacle, which is basically transferring a vessel to the water. If you can, choose the sideways launching as it is way more exiting than the front launching.</p>
      </div>
    </div>
    <div class="col-6 right-6">
      <div class="padded">
        <h3>European Solidarity Centre</h3>
        <p>A museum and library devoted to the history of Solidarity trade union that changed Polish history. They have lots of interactive installations, making it a nice visit with kids. Don't lose them, though; it's a big space!</p>
      </div>
    </div>
  </div>
</div>

<div id="onething" class="bleed">
  <div class="flex container">
    <div class="col-6">
      <div class="padded">
        <img src="images/gdansk_illustration.png" alt="Cricket">
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>One Thing</h3>
        <h2 class="sapphire-text">City Center</h2>
        <p>If you have time for only one thing, stay in the city center. Go for a walk around and meet the different faces of Gdańsk. The city's symbols – Neptune's statue, gothic cathedrals, old, decorative tenement houses, theCrane at Motlawa river, shipyards… are all within walking distance. </p>
        <p>Make sure to take a picture at the Golden Gate, with the Neptune Statue, and with the tenement house you like most - they come in a great diversity of facades, colors, and ornaments. Remember to look up, some of them have their own patron statues on top!</p>
      </div>
    </div>
  </div>
</div>

<div id="fooddrink" class="bleed palest-dandelion">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Food &amp; Drink</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Schoppenhauer</h3>
        <p>Named after a pessimistic philosopher born in Gdańsk now famous because of the cynical memes made on his quotes. 'Life sucks and then you die'. Let's drink to that. Memento Mori.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Pixel</h3>
        <p>Bartenders here are magicians! They make their own mixtures, like chocolate olive oil, and coffee brewed with orange juice. Fancy with a nerdy interior and lots of board games.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Fukafe</h3>
        <p>Cozy café whose chefs are crazy enough to experiment with new plant-based cake recipes. Carrot cake with peanut cream and pop corn is highly recommended if available!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Avocado</h3>
        <p>Best food with seasonal meals and fresh veggies. Depending on the day, they have occasional themed cuisines like Polish or Spanish. Did I mention it's vegan?</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>18 Południk</h3>
        <p>Name means '18 Meridian'. It is a travel themed café. You can have tea from different parts of the world, and read a travel guide, from a place you've never even heard about. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Drukarnia</h3>
        <p>Are you a coffee addict and fancy a rare coffee brewed in a weird, sophisticated way? This place is perfect for you. They might even let you brew your own coffee.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Labeerynt</h3>
        <p>Bar with a hundred kinds of beers, and specialists who know everything about them. Run by a lovely couple who you can often see at the counter.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Hummusland</h3>
        <p>Hummus in all forms and shapes, or more accurately – flavors. If you want something else, go for a shakshouka… and then another hummus, of course.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Sztuka Wyboru</h3>
        <p>The perfect place to visit alone when your inner introvert craves coffee, cake, and literature. They have a nice book collection for reading there and a great bookshop.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>FACTOTUM</h3>
        <p>Everyone will tell you – that's where you'll find the city's best cheesecake. Have it with one of the delicious milkshakes or cocktails, and you will be more than pleased.</p>
      </div>
    </div>
    <div class="col-4 right-4">
      <div class="padded">
        <h3>PYRA BAR</h3>
        <p>Pyra is slang for "potato" and all of their dishes are made from… Well, yes, potatoes! Go, and check out all the different ways of preparing potatoes that humankind has invented in one place. Delicious.</p>
      </div>
    </div>
  </div>
</div>

<div id="foursquare" class="bleed cool-grey-80">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <a href="https://foursquare.com/veryartificial/list/2017-city-guide-gdańsk"><p>Check out The Artificial's Gdańsk list on Foursquare</p></a>
      </div>
    </div>
  </div>
</div>
