 <div class="bleed illustrations">
   <div class="flex container">
     <div class="col-6 left-3 right-3">
       <div class="padded">
         <img src="images/intro_title.png" alt="The Artificial Travel Guide">
       </div>
     </div>
   </div>
 </div>

 <div class="bleed cool-grey-80">
   <div class="flex container">
     <div class="col-12 gidtroduction">
       <div class="padded">
         <p>Hello there, and welcome to our digital city guide.</p>
         <p>It’s no secret that The Artificial is a team made of people from across the globe. For our <a href="blog/2017/11/28/holiday-gids.html">2017 holiday gift</a> we decided to celebrate our diverse origins and experiences with a travel guide with the cities we have lived in and loved.</p>
         <p>The best way to travel is guided by locals. Each one of us has curated a city, including the places we find most delicious, interesting, and worth exploring. Happy travels!</p>
       </div>
     </div>
   </div>
 </div>


 <div class="flex container toc">
   <div class="col-3 citytoc">
     <div class="padded">
       <a href="amsterdam.html">
         <img src="images/intro_nathalie.png" alt="Nathalie">
         <h2>Amsterdam</h2>
         <h2>Netherlands</h2>
         <div class="name"><p>By Nathalie</p></div>
       </a>
     </div>
   </div>
   <div class="col-3 citytoc">
     <div class="padded">
       <a href="gdansk.html">
         <img src="images/intro_kamila.png" alt="Kamila">
         <h2>Gdańsk</h2>
         <h2>Poland</h2>
         <div class="name"><p>By Kamila</p></div>
       </a>
     </div>
   </div>
   <div class="col-3 citytoc">
     <div class="padded">
       <a href="losangeles.html">
         <img src="images/intro_carol.png" alt="Carol">
         <h2>Los Angeles</h2>
         <h2>United States</h2>
         <div class="name"><p>By Carol</p></div>
       </a>
     </div>
   </div>
   <div class="col-3 citytoc">
     <div class="padded">
       <a href="mexicocity.html">
         <img src="images/intro_natalia.png" alt="Natalia">
         <h2>México City</h2>
         <h2>México</h2>
         <div class="name"><p>By Natalia</p></div>
       </a>
     </div>
   </div>
   <div class="col-3 citytoc">
     <div class="padded">
       <a href="mumbai.html">
         <img src="images/intro_manjari.png" alt="Nathalie">
         <h2>Mumbai</h2>
         <h2>India</h2>
         <div class="name"><p>By Manjari</p></div>
       </a>
     </div>
   </div>
   <div class="col-3 citytoc">
     <div class="padded">
       <a href="saintlouis.html">
         <img src="images/intro_shannon.png" alt="Kamila">
         <h2>Saint Louis</h2>
         <h2>United States</h2>
         <div class="name"><p>By Shannon</p></div>
       </a>
     </div>
   </div>
   <div class="col-3 citytoc">
     <div class="padded">
       <a href="seattle.html">
         <img src="images/intro_hans.png" alt="Carol">
         <h2>Seattle</h2>
         <h2>United States</h2>
         <div class="name"><p>By Hans</p></div>
       </a>
     </div>
   </div>
   <div class="col-3 citytoc">
     <div class="padded">
       <a href="shanghai.html">
         <img src="images/intro_ariane.png" alt="Natalia">
         <h2>Shanghai</h2>
         <h2>China</h2>
         <div class="name"><p>By Ariane</p></div>
       </a>
     </div>
   </div>
 </div>
