---
name: Saint Louis
author: shannon
---
<%= partial 'city_header' %>

<div id="explainer" class="bleed dark-turquoise">
  <%= partial 'city_explainer' %>
</div>

<div class="bleed cover">
  <div class="flex container">
    <div class="col-6 left-6">
      <div class="padded">
        <h1>Saint Louis</h1>
        <h3>United States</h3>
      </div>
    </div>
  </div>
</div>

<div id="neighborhood" class="bleed dark-turquoise">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Neighborhood Guide</h2>
        <div class="summary"><p>St. Louis has many charming neighborhoods connected by less charming highways. The public transport is abysmal, so be prepared to drive.</p></div>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Downtown</h3>
        <p>While downtown is where you'll find the sports stadiums and a number of tourist attractions, it's not necessarily where you want to stay. Much of this area gets quiet during non-business hours and there is not much to do.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>The Loop</h3>
        <p>The Loop is a great place to go during the day or at night. This neighborhood has it all, from local restaurants and boutique shops to hipster bowling, and live concerts.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Tower Grove</h3>
        <p>Tower Grove is a park full of beautiful World's Fair pavilions. The surround-ing neighborhoods in all directions have their own distinct vibe, so make sure to walk around.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Soulard</h3>
        <p>Soulard is an old industrial neighborhood, centred around the old Anheuser-Busch brewery. Visit this neighborhood for good food, and drinks of all kind, including beer.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Forest Park</h3>
        <p>While Forest Park isn't actually a neighborhood, it's worth mentioning as one since it houses days' worth of tourist attractions.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>The Central West End</h3>
        <p>The Central West End is an upscale neighborhood full of nice shops and restaurants.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed feature"></div>

<div id="seedo" class="bleed pale-pumpkin">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>See &amp; Do</h2>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Arch</h3>
        <p>St. Louis's most famous landmark is undeniably the Gateway Arch. Situated alongside the Mississippi river, a ride to the top of the arch provides lovely views to both the east and the west.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Contemporary Art Museum</h3>
        <p>Right next to the Pulitzer Arts Foundation, the Contemporary Art Museum or CAM is a small arts building with rotating shows. Check their site to see if their current exhibit intrigues you.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Zoo</h3>
        <p>The St. Louis Zoo is a wonderful destination for both children and adults. It's easy to spend hours with the over-700 species of animals in what is consistently ranked one of the best zoos in the United States.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Turtle Park</h3>
        <p>Just across from the zoo is Turtle Park, a small park full of giant turtles. Whether it's for play or just the photo op, Turtle Park is worth visiting.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Tower Grove Park</h3>
        <p>Tower Grove is not only a neighborhood full of great food, it's also a park filled with beautiful pavilions and lily ponds.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Shaw's Garden</h3>
        <p>The Missouri Botanical Garden is a gardener's dream. Wander through the paths of the Japanese Garden or get lost in the beautiful butterflies of the Climatron.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Science Center</h3>
        <p>The Science Center is an interactive museum where kids (and adults) can learn about all sorts of sciences. My favorite pastime is building a catenary arch out of foam blocks.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Art Museum</h3>
        <p>The St. Louis Art Museum is an amazing collection of art, both old and new. While the newly-renovated modern wing is lovely, I prefer the baroque classics like St. Francis Contemplating a Skull.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Laumeier Sculpture Park</h3>
        <p>Laumeier sculpture park is a giant outdoor sculpture garden with over 60 sculptures. Take an afternoon to wander about and discover them all.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Pulitzer Arts Foundation</h3>
        <p>The Pulitzer Arts Foundation has rotating shows of both historic, and contemporary art. The museum itself is lovely, and the curation is always thoughtful.</p>
      </div>
    </div>
  </div>
</div>

<div id="onething" class="bleed">
  <div class="flex container">
    <div class="col-6">
      <div class="padded">
        <img src="images/stlouis_illustration.png" alt="Cricket">
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>One Thing</h3>
        <h2 class="pumpkin-text">City Museum</h2>
        <p>If you have time for only one thing, make sure to see City Museum. Great for both adults and children, City Museum is a giant playground that extends many stories into the air both inside and outside of an old building.</p>
        <p>The museum was conceived by local celebrity and artist Bob Cassily whose imagination is made evident by the manmade caves, 10-story slide, rooftop Ferris wheel, and more.</p>
        <p>Make sure you wear comfortable shoes and clothes that you can be active in.</p>
      </div>
    </div>
  </div>
</div>

<div id="fooddrink" class="bleed pale-turquoise">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Food &amp; Drink</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Crown Candy Kitchen</h3>
        <p>Crown Candy is a family-owned diner that's been in St. Louis for over 100 years. Serving traditional lunch fare, the real reason to visit Crown Candy is for the malts, milkshakes, and sundaes. Also make sure to check out their huge selection of chocolates and other candies.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>MoKaBes</h3>
        <p>MoKaBe's is a classic café serving co ee and sandwiches right across the street from Tower Grove park. Their veggie-focused Sunday brunch is so amazing, I always make sure my visits include a Sunday.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Bailey's Chocolate Bar</h3>
        <p>Bailey's Chocolate Bar in Soulard is the perfect way to end any night – whether you're looking for dessert or a dessert cocktail. I recommend the signature hot.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Rooster</h3>
        <p>Rooster has restaurants in both Downtown and in Tower Grove. Visit if your craving crêpes in either sweet or savory varieties.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Fitz's</h3>
        <p>Fitz's is a local rootbeer company. Visit their restaurant and factory in The Loop for classic American food and gigantic rootbeer  oats.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Ices Plain and Fancy</h3>
        <p>This little nitro ice cream parlor is sure to satisfy your sweet tooth.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>PI Pizzeria</h3>
        <p>When Obama had this organic Chicago-style pizza, he declared it the best. Poor Chicago.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Gus's Pretzels</h3>
        <p>Found in Soulard, this local favorite makes for the perfect mid-day snack... or even breakfast or lunch!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>The Schafly Tap Room</h3>
        <p>I'm not a beer drinker, but my local friends all enjoy a Schla y. Visit the Tap Room for beer, food, and live music. If it's autumn, don't miss the Pumpkin Ale.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Mangia Italiano</h3>
        <p>Also in Tower Grove, Mangia Italiano is an Italian eatery that serves freshly made pasta. Don't forget to try the St. Louis classic – toasted ravioli (available in meat and veggie).</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>The Royale</h3>
        <p>The Royale is a distinctly St. Louis bar. Located in Tower Grove, this place engenders the blue-city-in-a-red-state feeling shared by so many in St. Louis proper.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>City Diner</h3>
        <p>Open 24 hours on the weekends, City Diner is the place to go when you need a bite to eat after a show or a late night.</p>
      </div>
    </div>
  </div>
</div>

<div id="foursquare" class="bleed cool-grey-80">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <a href="https://foursquare.com/veryartificial/list/2017-city-guide-saint-louis"><p>Check out The Artificial's Saint Louis list on Foursquare</p></a>
      </div>
    </div>
  </div>
</div>
