---
name: Shanghai
author: ariane
date: 2017-12-06
---
<%= partial 'city_header' %>

<div id="explainer" class="bleed dark-tulip">
  <%= partial 'city_explainer' %>
</div>

<div class="bleed cover">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h1>Shanghai</h1>
        <h3>China</h3>
      </div>
    </div>
  </div>
</div>

<div id="neighborhood" class="bleed dark-tulip">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Neighborhood Guide</h2>
        <div class="summary"><p>Huangpu river splits Shanghai into Pudong and Puxi, respectively meaning east and west from the river. Puxi groups eight districts that consists of the older, denser, and most cultural areas.</p></div>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Pudong</h3>
        <p>Pudong is the financial district nicknamed “Shanghai's Manhattan”. The area is strewn with steel and concrete towers. Just to name a few, you may visit the Jinmao and the Pearl of Orient towers.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>People's Place</h3>
        <p>This area was transformed in one decade and is the symbol of modern Shanghai. Luxury hotels, restaurants, and boutiques are shining here along with wooded parks, museums, theaters, and malls.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Jing'an</h3>
        <p>A spectacular Buddhist temple standing in a lively neighborhood of the same name. Both authentic lane houses and modern commercial centers coexist around the West Nanjing road. Some elevated high- ways cross this district.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Old City</h3>
        <p>A circular plan testifies to the former walls of the XVI century. This part feels like time stays still – a disused and charming core showing the remains of the past. The area hosts a beautiful and traditional garden and a laby-rinthine bric-a-brac street market.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>French Former Concession</h3>
        <p>This picturesque area counts many lane houses and villas, plane trees, refined shops, restaurants, and cafés. In the old days, it was home for bandits, prostitutes, writers and intellectuals, and adventurers.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Bund</h3>
        <p>Sumptuous buildings are aligned on the quay showing the heritage of the colonial period. After the Opium War, Shanghai was administered by British, French, and Americans autonomous concessions.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed feature"></div>

<div id="seedo" class="bleed palest-grass">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>See &amp; Do</h2>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Jinmao Tower</h3>
        <p>Right before the sunset, enter the tower through the Grand Hyatt Hotel and climb up to Cloud 9. Enjoy a breathtaking view of the city sipping a cocktail. Watch the merchant boats. Don't miss the incredible roof structure from within the tower.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Power Station of Art</h3>
        <p>Established in 2012, PSA is the first state-run museum dedicated to contemporary art in mainland China. Renovated from the former Nanshi Power Plant, PSA was once the Pavilion of Future during the 2010 Shanghai World Expo. Surprising spot.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Shanghai Museum</h3>
        <p>The museum displays works of art and antique objects through the different periods of Chinese history dating as far back as 20,000 B.C. The four floors offer bronze, sculptures, ceramics, stamps, coins, paintings, calligraphy, fabrics, and so much more of Chinese ancient culture.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Yu Massage</h3>
        <p>Release tensions with a professional Chinese massage in this spa. As the traditional Chinese medicine emphasizes it, health is more about prevention than cures or treatments. Massages are common in China to let the Qi flow. Enjoy the courtyard, the jujube tea, and the aroma oils.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Jade Buddha Temple</h3>
        <p>An active Buddhist monastery. You may enjoy the monk's chants. It’s home to two white jade Buddhas, carved from a single slab of Burmese jade. You can place some incense sticks in a bowl in the main courtyard.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Cai Tong De</h3>
        <p>On Nanjing road 450, stands one of the most ancient medicine herbalists. Prevent your self from getting sick by trying out traditional Chinese medicine like Ginseng, mushrooms, and acupuncture.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>M50</h3>
        <p>Contemporary Chinese art in a complex of industrial buildings. Little galleries are in bloom in this concrete area to offer the best of Chinese artists, collectives, and subculture.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Qipu Lu Fabric Market</h3>
        <p>A series of malls jammed and stuffed with rolls and rolls of fabric. You can have a tailor-made shirt or dress with your choice of embroidery and buttons for a very affordable price.</p>
      </div>
    </div>
  </div>
</div>

<div id="onething" class="bleed">
  <div class="flex container">
    <div class="col-6">
      <div class="padded">
        <img src="images/shanghai_illustration.png" alt="Cricket">
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>One Thing</h3>
        <h2 class="grass-text">Fuxing Park</h2>
        <p>Created by the French in 1909, the luxurious Fuxing park is pleasant to enjoy a walk, watch Chinese people playing Mahjong under the shadow of trees, dancing, or practicing tai chi.</p>
      </div>
    </div>
  </div>
</div>

<div id="fooddrink" class="bleed palest-tulip">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Food &amp; Drink</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Din Tai Fung</h3>
        <p>Din Tai Fung is a fun Taiwanese chain where you can see the chefs making the Shanghainese specialty, steamed dumplings, through glass windows. The steam buns and dumplings are de-li-cious. Make sure you also order the coconut dessert with tapioca.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Hai by Goga</h3>
        <p>An intimate restaurant ran by the chef Brad Turley, perched on the seventh floor of The Shanghai Education Hotel. The food is quite a hybrid between Californian-Asian cuisine. Skyline view from the French former concession.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Street BBQ</h3>
        <p>Street food might be scary for some sensitive stomachs, but I have never had a better grilled zucchini with garlic and enoki mushrooms. You will find street vendors in a lot of the crossroads in the middle of the night.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>People 7</h3>
        <p>An Asian fusion restaurant with great cocktails. The place is nicely designed and offers some mystery. Trying to open the front door is always a puzzle.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Le Café des Stagiaires</h3>
        <p>The "interns" bar is a homey French bar to grab a pint of fresh chouffe beer or a glass wine after work, play boards game, or chat in conviviality.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Wujie</h3>
        <p>Creative and fine vegetarian cuisine on the Bund. Lots of mushroom dishes. The setting is bright and zen.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Jen Dow</h3>
        <p>A gigantic vegetarian buffet inside Jingan temple. Be ready to be seated next to monks.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>The Press</h3>
        <p>A trendy speakeasy bar hiding behind a vintage Coca-Cola vending machine. The architect Alberto Caiola succeeded in his goal to “invite further curiosity”.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Bar Rouge</h3>
        <p>Sip some champagne admiring the view of the Bund from the rooftop terrace. Special themed parties can be quite surprising and kitsch.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Qingyun Ping Pavilion</h3>
        <p>A local tea pavilion that also offers seminars about calligraphy and Chinese mythology.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Le Baron</h3>
        <p>This exclusive Parisian club is also in Shanghai. Expect creatives and trendy guests wiggling and letting go under a dimmed red light on old-school disco and classics.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>M1nt</h3>
        <p>A luxurious view from the top floor of a skyscraper. It has fancy cocktails, models dancing, and a shark tank. This is the place to enjoy a drink on Shanghai’s bling and posh side.</p>
      </div>
    </div>
  </div>
</div>

<div id="foursquare" class="bleed cool-grey-80">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <a href="https://foursquare.com/veryartificial/list/2017-city-guide-shanghai"><p>Check out The Artificial's Shanghai list on Foursquare</p></a>
      </div>
    </div>
  </div>
</div>
