@import "_artificial-colors.scss";

.offf{
	margin:0px;
	padding:0px;

	.bleed.intro {
		background-color: $white;
		img:hover {
			opacity: 0.5;
		}
	}

	.bleed.blue{
		background-color: $darkest-sapphire;
	}

	.introduction {
		margin: 60px 0 60px 0;
		padding: 0px 15px 0 15px;

		h1,h2,h3,h4,h5 {
			font-family: "Open Sans", Helvetica, Arial, sans-serif;
			color: $darkest-sapphire;
		}

		h1 {
			font-size:2.3em;
			font-family: "Droid Serif", Georgia, Times, serif;
		}

		h2 {
			font-size: 0.8em;
			line-height: 1.4em;
			font-weight: normal;

			a {
				color: $darkest-sapphire;
			}

			a:hover {
				opacity: 0.5;
			}
		}

		h5 {
			font-size: 0.7em;
			margin-bottom: 30px;
			text-transform: none;
			font-family: "Droid Serif", Georgia, Times, serif;
			font-style: italic;

			a {
				text-decoration: underline;
				color: $darkest-sapphire;
			}

			a:hover {
				opacity: 0.5;
			}
		}
	}

	.visualization {
		border-bottom: solid 1px rgba(255,255,255,0.5);

		#container svg {
			height: auto;
			max-width: 100%;
		}

		.node circle {
			fill: #fff;
		}

		.node text {
			display: none;
			font: "Open Sans", Helvetica, Arial, sans-serif;
			font-size: 1em;
		}

		.node:hover circle {
			// fill: #ccc;
			stroke: #fff;
			stroke-width: 2px;
		}

		.node:hover text {
			display: inline;
			fill: #FFF;
		}

		.node .textcategory {
			display: inline;;
			fill: #FFF;
			font: "Open Sans", Helvetica, Arial, sans-serif;
			font-size: 1em;
		}
	}

	.choices {
		color: $white;
		background-color: $darkest-sapphire;
		height: 300px;
		// width:100%;

		li, p {
		font-size: 0.8em;
		font-style: normal;
		color: $white;
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		padding: 9px 3px 5px 9px;
		}

		.choicel, .choicer, .legendr {
			text-align: left;
			position:relative;
			margin:0px;
			padding:0px;
			width:320px;
		}

		#pickl, #pickr, #jsonsources {
			margin: 7px
		}

		.legendr {
			font-family: "Open Sans", Helvetica, Arial, sans-serif;
			text-align: left;

			svg, img {
				width: 12px;
				height: 12px;
				vertical-align: top;
			}

			svg.legendmulti * { fill: #FFFFFF; }

			svg.legendprint * { fill: #BFD857; }
			svg.legendmotion * { fill: #7BC580; }
			svg.legenddigital * { fill: #28B67A; }
			svg.legendsound * { fill: #BEDEA8; }
			svg.legendproduct * { fill: #53B59F; }

			svg.legendasia * { fill: #BF8EC0; }
			svg.legendaustralia * { fill: #FBC4AA; }
			svg.legendeurope * { fill: #DE4F76; }
			svg.legendnorthamerica * { fill: #F494BE; }
			svg.legendsouthamerica * { fill: #EDB9D0; }

			svg.legendagency * { fill: #007BC1; }
			svg.legendindependant * { fill: #00B3C5; }
			svg.legendeponym * { fill: #00B7A3; }
			svg.legendrepresented * { fill: #91D3CE; }
			svg.legendcollective * { fill: #A0CAE7; }

			svg.legend2015 * { fill: #E66964; }
			svg.legend2016 * { fill: #F3AA84; }
			svg.legendbothyears * { fill: #F6C831; }

			ul {
				margin-top:0px;
				margin-left:0px;
				padding-left:0px;
			}

			li {
			display:block;
			padding: 4px 0px 4px 8px ;
			}

			li:hover{
			opacity:0.5;
			}
			a {
				color:$white;
			}
		}

		.selected {
			a {
				text-decoration: underline;
			}
		}
	}
}
