---
layout: projects/connecting-things/_thing_layout
title: Amazon Kindle Voyage
preview: thing/thing.png
date: 2018-02-27
published: false
---
<p>
Kindle Voyage is an E-reader marketed by Amazon and released in 2014 in the US. It is equipped to wirelessly connect. Some new generations readers are 3G enabled  The screen uses electronic ink and adaptive light sensor to adjust brightness to provide a comfortable reading experience. The e-reader allows reading, storing e-books, newspapers, magazines and other content but also buying new content.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>easy
</h2>
<p>
Connecting a Kindle is fairly straightforward thanks to the display of the product itself, as opposed to some other products needing to be configured from another device. From the settings of the Kindle, the user first must connect to a wireless Wi-Fi network. Second, from the same settings menu, the user has to log in, or create an Amazon account. Inputting credential while loging in automatically register the Kindle to the user’s Amazon account.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>okay
</h2>
<p>
When the network is protected by a password, it is asked to connect. Amazon accounts are also protected by a password. As the Kindle is not protected by a password, anyone could grab the user’s e-reader and start reading without their permission. However, de-registering a Kindle is possible from the Kindle, a mobile, a computer, or any other device.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>okay
</h2>
<p>
Without an access to a Wi-Fi network nor to 3G, no more content can be purchased directly from the Kindle. However, all items previously purchased are accessible offline. Airplane mode preserves battery by preventing the Kindle to connect to the internet.
</p>

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/thing.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  }
]
</script>
