<div id="content" class="twisted">
	
	<div class="flex container">
		<div class="col-8 left-2 right-2 center introduction">
			<h1>twelve twists</h1>
			<h5>an experiment by <a href="/people/shannon.html">Shannon E. Thomas</a></h5>
			<h2>Twelve twists is a small side project, inspired by a talk from <a href="http://www.face37.com">Rick Banks</a> at OFFF 2015. Rick distilled his process to three simple steps: copy, twist, and work until it's perfect. Here I've played with a very literal translation of that process.</h2>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_vintagePhone.png')">
				<a class="overlaybox">
					<h3>vintage phone</h3>
					<h4>designer unknown</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-pumpkin">
				<h3>+ touch interface</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_vintagePhone.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_collage.jpg')">
				<a class="overlaybox" href="https://www.behance.net/gallery/27871767/Collage-City-Mix-3">
					<h3>Collage City Mix 3</h3>
					<h4>Marko Köppe</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-tulip">
				<h3>+ lisa frank</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_collage.jpg')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_apple.png')">
				<a class="overlaybox" href="https://dribbble.com/shots/1055730-Apples-PSD">
					<h3>Apples</h3>
					<h4>Musical Offering</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-grape">
				<h3>+ circles</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_apple.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_UI.jpg')">
				<a class="overlaybox" href="https://dribbble.com/shots/1300613-Activity">
					<h3>Activity</h3>
					<h4>Piotr Adam Kwiatkowski</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-sapphire">
				<h3>+ depth</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_UI.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_cities.jpg')">
				<a class="overlaybox" href="https://dribbble.com/shots/887990-Canada">
					<h3>Canada</h3>
					<h4>Geri Coady</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-turquoise">
				<h3>+ monochromatic</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_cities.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_veggies.png')">
				<a class="overlaybox" href="https://thenounproject.com/JakeDunham/collection/tilted/">
					<h3>Tilted</h3>
					<h4>Jake Dunham</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-grass">
				<h3>+ color</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_veggies.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_pairs.jpg')">
				<a class="overlaybox" href="https://dribbble.com/shots/626504-Sans-Xerif-logo">
					<h3>sans Xerif Logo</h3>
					<h4>Jorge Olino</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-lime">
				<h3>+ icons</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_pairs.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_ui kit.png')">
				<a class="overlaybox" href="https://dribbble.com/shots/1233843-Ui-Kit-Rainy-Season">
					<h3>ui Kit Rainy Season</h3>
					<h4>Sun Bzy</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-dandelion">
				<h3>+ black and white</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_ui kit.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_brochure.jpg')">
				<a class="overlaybox" href="https://dribbble.com/shots/1231092-Brochure">
					<h3>brochure</h3>
					<h4>Helvetic Brands</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-pumpkin">
				<h3>+ gradients</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_brochure.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_numbers.png')">
				<a class="overlaybox" href="http://www.typography.com/fonts/numbers/inside/strasse/">
					<h3>Numbers – Strasse</h3>
					<h4>Hoefler &amp; Co.</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-tulip">
				<h3>+ printmaking</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_numbers.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_pie chart.jpg')">
				<a class="overlaybox" href="https://dribbble.com/shots/605727-Infographic-Agro-Chart-Illustration-data-visualization">
					<h3>Agro Chart</h3>
					<h4>Anton Egorov</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-grape">
				<h3>+ papercraft</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_pie chart.png')">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/original_iOSicons.jpeg')">
				<a class="overlaybox">
					<h3>App Icons</h3>
					<h4>Apple</h4>
				</a>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox bg-sapphire">
				<h3>+ white</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/twisted_iOSicons.png')">
			</div>
		</div>
	</div>

</div>
