<div id="content" class="twisted-test">
	
	<div class="flexcontainer">
		<div class="col-8 left-2 right-2 center">
			<h1>twelve twists</h1>
			<h2>A small side project, inspired by a talk from <a href="http://www.face37.com">Rick Banks</a> at Offf!</h2>
			<h2>Start with inspiration, twist it, and work stoopid hard.</h2>
		</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/original_vintagePhone.png">
				<div class="overlaybox">
					<h3>vintage phone</h3>
				</div>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded pumpkin">
				<h3>+ touch interface</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_vintagePhone.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded tulip">
				<h3>+ lisa frank</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_collage.jpg">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded grape">
				<h3>+ circles</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_apple.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded sapphire">
				<h3>+ depth</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_UI.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded turquoise">
				<h3>+ monochromatic</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_cities.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded grass">
				<h3>+ color</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_veggies.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded lime">
				<h3>+ icons</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_pairs.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded dandelion">
				<h3>+ black and white</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_ui kit.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded pumpkin">
				<h3>+ gradients</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_brochure.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded tulip">
				<h3>+ printmaking</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_numbers.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded grape">
				<h3>+ papercraft</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_pie chart.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded sapphire">
				<h3>+ white</h3>
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_iOSicons.png">
			</div>
		</div>
	</div>

</div>
