<div class="flex container introduction">
	<div class="col-8 left-2 right-2 center">
		<div class="padded">
			<h1 class="title">twelve twists</h1>
			<p class="">an experiment by <%= link_to_person 'shannon' %></p>
		</div>
	</div>
	<div class="col-12 center">
		<div class="padded">
			<p class="small-statement">Twelve twists is a small side project, inspired by a talk from <a href="http://www.face37.com">Rick Banks</a> at OFFF 2015. Rick distilled his process to three simple steps: copy, twist, and work until it's perfect. Here I've played with a very literal translation of that process.</p>
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_vintagePhone.png');">
			<a class="overlaybox">
				<div class="small-subtitle">Vintage Phone</div>
				<div class="small-body">Designer Unknown</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-pumpkin">
			<div class="small-subtitle">+ Touch Interface</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_vintagePhone.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_collage.jpg')">
			<a class="overlaybox" href="https://www.behance.net/gallery/27871767/Collage-City-Mix-3">
				<div class="small-subtitle">Collage City Mix 3</div>
				<div class="small-body">Marko Köppe</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-tulip">
			<div class="small-subtitle">+ Lisa Frank</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_collage.jpg')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_apple.png')">
			<a class="overlaybox" href="https://dribbble.com/shots/1055730-Apples-PSD">
				<div class="small-subtitle">Apples</div>
				<div class="small-body">Musical Offering</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-grape">
			<div class="small-subtitle">+ Circles</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_apple.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_UI.jpg')">
			<a class="overlaybox" href="https://dribbble.com/shots/1300613-Activity">
				<div class="small-subtitle">Activity</div>
				<div class="small-body">Piotr Adam Kwiatkowski</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-sapphire">
			<div class="small-subtitle">+ Depth</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_UI.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_cities.jpg')">
			<a class="overlaybox" href="https://dribbble.com/shots/887990-Canada">
				<div class="small-subtitle">Canada</div>
				<div class="small-body">Geri Coady</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-turquoise">
			<div class="small-subtitle">+ Monochromatic</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_cities.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_veggies.png')">
			<a class="overlaybox" href="https://thenounproject.com/JakeDunham/collection/tilted/">
				<div class="small-subtitle">Tilted</div>
				<div class="small-body">Jake Dunham</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-grass">
			<div class="small-subtitle">+ Color</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_veggies.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_pairs.jpg')">
			<a class="overlaybox" href="https://dribbble.com/shots/626504-Sans-Xerif-logo">
				<div class="small-subtitle">Sans Xerif Logo</div>
				<div class="small-body">Jorge Olino</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-lime">
			<div class="small-subtitle">+ Icons</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_pairs.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_ui kit.png')">
			<a class="overlaybox" href="https://dribbble.com/shots/1233843-Ui-Kit-Rainy-Season">
				<div class="small-subtitle">UI Kit Rainy Season</div>
				<div class="small-body">Sun Bzy</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-dandelion">
			<div class="small-subtitle">+ Black and White</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_ui kit.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_brochure.jpg')">
			<a class="overlaybox" href="https://dribbble.com/shots/1231092-Brochure">
				<div class="small-subtitle">Brochure</div>
				<div class="small-body">Helvetic Brands</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-pumpkin">
			<div class="small-subtitle">+ Gradients</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_brochure.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_numbers.png')">
			<a class="overlaybox" href="http://www.typography.com/fonts/numbers/inside/strasse/">
				<div class="small-subtitle">Numbers – Strasse</div>
				<div class="small-body">Hoefler &amp; Co.</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-tulip">
			<div class="small-subtitle">+ Etching</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_numbers.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_pie chart.jpg')">
			<a class="overlaybox" href="https://dribbble.com/shots/605727-Infographic-Agro-Chart-Illustration-data-visualization">
				<div class="small-subtitle">Agro Chart</div>
				<div class="small-body">Anton Egorov</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-grape">
			<div class="small-subtitle">+ Papercraft</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_pie chart.png')">
		</div>
	</div>
</div>

<div class="container packery">
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/original_iOSicons.jpeg')">
			<a class="overlaybox">
				<div class="small-subtitle">App Icons</div>
				<div class="small-body">Apple</div>
			</a>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox bg-sapphire">
			<div class="small-subtitle">+ White</div>
		</div>
	</div>
	<div class="col-4 packed">
		<div class="padded contentbox" style="background-image:url('images/twisted_iOSicons.png')">
		</div>
	</div>
</div>
