<div id="content" class="twisted-test">
	
	<div class="flexcontainer">
		<div class="col-8 left-2 right-2">
			<h1>twelve twists</h1>
			<h2>A small side project, inspired by ________’s talk at Offf!</h2>
			<h2>Copy, twist, and work stoopid hard.</h2><img src="images/twisted_vintage phone.png">
		</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
				<img src="images/twisted_vintage phone.png">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>
	
	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
		<div class="col-4 packed">
			<div class="padded">
			</div>
		</div>
	</div>

</div>
