@import "../../../stylesheets/_artificial-colors.scss";

.pokemonicons-content {

	h1, figcaption {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-style: normal;
	}

	.introduction, .conclusion {
		padding: 80px 0 30px 0;

		h1, p {
			color: $white;
		}

		p {
			font-size: 1em;
			line-height: 1.8em;
			color: $white;
			font-weight: normal;

			a {
				color: $pale-turquoise;
			}
			a:hover {
				color: $white;
			}
		}
	}

	.number {
		font-size: 12px;
		font-weight: 600;
		color: $cool-grey-30;
		margin: 0 0 5px 0;
	}

	.name {
		font-size: 14px;
	}

	svg {
		width:60%;
		margin-top: 50px;
	}

	#alltheicons {
		padding-top: 100px;
	}

	.bg {
    background: linear-gradient(90deg, #135E66 50%, #104452 50%);
	}

	.top {
		margin-top: 150px;
	}

	.pokeball {
		background-image: url("../images/pokeball.png");
		background-position: bottom center;
		background-size: cover;
	}

	button {
		padding: 15px 100px 15px 100px;
		color: $cool-grey-90;
		border: none;
		font-weight: 700;
		background-color: $white;
		border-radius: 45px;
		margin: 0 0 120px 0;
	}

	button:hover {
		padding: 15px 120px 15px 120px;
		color: $turquoise;
	}

	.transition, .transition::before, .transition::after {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

}
