---
name: Bubbles
date: 2017-04-13
glass: bubbles
contents: champagnegin_champagne
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Bubbles" class="drink" src="images/combined/bubbles.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>

      <img class="rating" src="images/rating3.png">

      <p>A light and fresh drink to kick off the long Easter weekend.</p>
      <ul>
        <li>1 part strawberry infused gin</li>
        <li>1 part prosecco</li>
        <li>a splash of soda water</li>
        <li>a squeeze of lemon</li>
        <li>a dash of agave syrup</li>
      </ul>
      <p>Pour infused gin in a champagne flute and top with prosecco and a splash of soda water. Add in some lemon and agave syrup and stir gently before serving.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
