---
name: French Bull
date: 2016-08-19
glass: frenchbull
contents: miscchampagne_champagne
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="French Bull" class="drink" src="images/combined/frenchbull.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/carol.html">
        <h3>Mixed by Carol Liao</h3>
      </a>
      <img class="rating" src="images/rating3.png">
      <p>The French Bull is a version of the French 75 that uses apriocot brandy in place of gin. Little known fact, not all French 75's are gin based! (according to my cocktail book, at least). The French of the office called bull and denounced it by equating the taste to Red Bull. And so the French Bull was born.</p>
      <ul>
        <li>2 parts champagne</li>
        <li>1 part apricot brandy</li>
        <li>1 dash lemon juice</li>
        <li>1 dash simple syrup</li>
      </ul>
      <p>Shake brandy, lemon juice, and simple syrup with ice. Pour in a tall glass, top with champagne, and serve with a lemon for garnish.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
