---
name: Ginger Smash
date: 2017-03-17
glass: gingersmash
contents: gin_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Ginger Smash" class="drink" src="images/combined/gingersmash.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/carol.html">
        <h3>Mixed by Carol Liao</h3>
      </a>

      <img class="rating" src="images/rating3.png">
      
      <p>Another Basil Smash variation. Slightly diluted with a splash of ginger beer, if you want to hold of the getting smashed part.</p>
      <ul>
        <li>1 part basil infused gin</li>
        <li>a splash of ginger beer</li>
        <li>fresh basil for garnish</li>
      </ul>
      <p>Infuse fresh, cut basil in gin for no more than 3 days. Pour in a glass with ice and muddle fresh basil in. Top off with ginger beer and serve with a basil garnish.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
