---
name: Last of the Oaxacans
date: 2017-01-06
glass: lastoftheoaxacans
contents: misctequilla_coupe
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Last of the Oaxacans" class="drink" src="images/combined/lastoftheoaxacans.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating3.png">
      <p>The Last of the Oaxacans, the Artificial edition is a variation on <a href="http://www.seriouseats.com/recipes/2014/04/last-of-the-oaxacans-mezcal-last-word-variation-cocktail-recipe.html" target="blank">Serious Eat's</a> variantion on Last Word. We subbed the chartreuse for a splash of absinthe to give it an herby flavor.</p>
      <ul>
        <li>1 part mezcal</li>
        <li>1 part maraschino liquor</li>
        <li>.5 parts lime juice</li>
        <li>a splash of absinthe</li>
      </ul>
      <p>Combine all ingredients into a cocktail shaker. Fill with ice and shake vigorously. Pour over ice and serve.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
