---
name: The Flaming Peach
date: 2016-05-27
glass: theflamingpeach
contents: whiskey_goblet
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Flaming Peach" class="drink" src="images/combined/theflamingpeach.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating4.png">
      <p>The Dutch weather gods have pleasantly surprised us with sun, so we made a last minute drink change and brightened up our cocktail choice to suit the evanescent sunlight.</p>
      <ul>
        <li>1 part whiskey</li>
        <li>1 part peach iced tea</li>
        <li>1 dash of firewater bitters</li>
        <li>rosemary</li>
      </ul>
      <p>Pour whiskey and peach iced tea in a shaker and shake with ice. Serve with a stem of rosemary and a splash of firewater bitters. Two splashes for the brave, three splashes for enemies.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
