---
name: Mint Julep
date: 2016-08-19
glass: mintjulep
contents: whiskey_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Mint Julep" class="drink" src="images/combined/mintjulep.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
        <h3>Mixed by Abdul Nabi</h3>
      <img class="rating" src="images/rating4.png">
      <p>Our first summer guest bartender brings us a lovely classic but with homemade mint simple syrup!</p>
      <ul>
        <li>1 part mint simple syrup</li>
        <li>1 part soda water</li>
        <li>1 part Maker’s Mark bourbon</li>
        <li>mint for garnish</li>
      </ul>
      <p>Pour all ingredients in a glass over ice. Stir and garnish with a spring of fresh mint.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
