---
name: Monkey Guts
date: 2016-09-02
glass: monkeyguts
contents: miscgin_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Monkey Guts" class="drink" src="images/combined/monkeyguts.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>

      <img class="rating" src="images/rating1.png">

      <p>The story behind Monkey Guts is simple. Shannon found out there was a liquor called Monkey Balls, and of course we had to try it. The liquor itself is horrid, but she managed to make it into a cocktail that was, well, drinkable. Pro-tip, do NOT skip the orange garnish.</p>
      <ul>
        <li>1 part Monkey Balls</li>
        <li>1 part gin</li>
        <li>2 parts tonic</li>
        <li>an orange slice for garnish</li>
      </ul>
      <p>Hold your breath and pour gin and monkey balls in a glass over ice. Top up with tonic and garnish with a slice of orange.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
