---
name: Nederlandse Oranje
date: 2016-01-29
glass: nederlandseoranje
contents: champagnemisc_wine
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
    <div class="col-6">
        <div class="padded drinkcontainer"><img alt="Nederlandse Oranje"
        class="drink" src="images/combined/nederlandseoranje.gif"></div>
    </div>
    <div class="col-6">
        <div class="padded">
            <h3>Mixed by Roos de Bildt</h3><img class="rating" src=
            "images/rating3.png">
            <p>To bid farewell to our token Dutch Artificial, we celebrated with some Nederlandse borrel en drankjes (Dutch snacks and drinks). Similar to an Aperol Spritz, this bubbly drink is typically only consumed on King's (or Queen's) Day. This is a slight twist on the traditional recipe, but just as orange all the same. Good luck to Roos on her next adventure!</p>
            <p>2 parts champagne<br>
            1 part oranje bitters<br>
            <p>Pour chilled champagne and oranje bitters into a stemmed glass. Garnish with a slice of orange and say proost to Dutch weather.</p>
        </div>
    </div>
</div>

<%= partial 'drink_footer' %>
