---
name: Negroni
date: 2016-10-07
glass: negroni
contents: miscgin_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Negroni" class="drink" src="images/combined/negroni.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/ariane.html">
        <h3>Mixed by Ariane Garoff</h3>
      </a>

      <img class="rating" src="images/rating4.png">

      <p>We enjoyed some fancy Negronis today! Natalia and Shannon helped with designing our garnishes. They made a mint leave in a butt of a mandarin orange (two segments of mandarin orange. It looked like a funny feather cabaret outfit.</p>
      <ul>
        <li>1 part campari</li>
        <li>1 part vermouth</li>
        <li>1 part gin</li>
        <li>mint for garnis</li>
        <li>mandarin orange for garnish</li>
      </ul>
      <p>Pour ice cubes in an old fashion glass, add equal parts of campari, vermouth and gin. Stir. Garnish with a twist of orange peel, mint and two segments of mandarin oranges. </p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
