---
name: Nutella Martini
date: 2016-05-20
glass: nutellamartini
contents: misc_martini
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Nutella Martini" class="drink" src="images/combined/nutellamartini.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating4.png">
      <p>It was a cold day and we needed some comfort-drink. And what's more comforting than Nutella? A Nutella cocktail of course! For extra comfort, lose the ice and serve warm.</p>
      <ul>
        <li>.5 parts Nutella</li>
        <li>1 part Frangelico</li>
        <li>2 parts Baileys</li>
      </ul>
      <p>Heat the Nutella and Frangelico in a small saucepan. Stir until blended. <br>Combine the Nutella-Frangelico mixture with the Baileys and shake with ice.<br>Pour. Enjoy. Mix. Repeat.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
