---
name: Pineapple Sake and Spice
date: 2017-03-31
glass: pineapplesakeandspice
contents: misc_tonic
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Pineapple Sake and Spice" class="drink" src="images/combined/pineapplesakeandspice.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating3.png">
      <p>After the success of last week's sake cocktail, why not try another?</p>
      <ul>
        <li>1 part pineapple juice</li>
        <li>2 parts dry filtered sake</li>
        <li>a dash of jalapeño simple syrup</li>
      </ul>
      <p>We made our own jalapeño simple syrup for this drink. Boil equal parts water and sugar and add in sliced jalapeños. Simmer, strain, and chill. Pour pineapple juice and sake over ice and mix in simple syrup to taste. Wait for the afterkick before adding more!</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
