---
name: Pinkies Out
date: 2017-02-24
glass: pinkiesout
contents: misc_mug
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Pinkies Out" class="drink" src="images/combined/pinkiesout.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/Shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>

      <img class="rating" src="images/rating4.png">

      <p>We were recovering from two days of cold, wet windstorms, and we needed a cozy drink. Something warm, something sweet, and something with just enough alcohol to warm us from the inside out. </p>
      <ul>
        <li>1 part amaretto</li>
        <li>1 part Cointreau</li>
        <li>2 parts orange tea (we used black tea so that the hot toddy wouldn’t put us right to sleep)</li>
      </ul>
      <p>Brew tea according to instructions. Add amaretto and Cointreau and serve with snacks.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
