---
name: Root Beer Float
date: 2016-08-12
glass: rootbeerfloat
contents: vodka_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Root Beer FLoat" class="drink" src="images/combined/rootbeerfloat.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating4.png">
      <p>We're introducing Ariane to the sweet, sweet taste of spiked ice cream cocktails. Needless to say, the ice cream part was our favorite.</p>
      <ul>
        <li>1 part vanilla vodka</li>
        <li>2 parts root beer</li>
        <li>2 heaping scoops of vanilla ice cream</li>
      </ul>
      <p>Fill a tall glass with ice cream. Pour vanilla vodka in and top with root beer. Mix with a straw and serve immediately!</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
