---
name: Sparkling Lemon
date: 2017-06-09
glass: sparklinglemon
contents: misc_wine
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Sparkling Lemon" class="drink" src="images/combined/sparklinglemon.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating4.png">
      <p>A light and summery drink before we head off to a sunny weekend. If you're looking for the quicker drink option, we tried round two with just lemonade and it still turns out pretty nice.</p>
      <ul>
        <li>2 parts Prosecco</li>
        <li>1 fresh lemon</li>
        <li>.5 part sugar</li>
        <li>A splash of Angostura bitters</li>
      </ul>
      <p>Muddle lemons, sugar, and bitters in a glass until lemon is soft. Pour in a wine glass and top with prosecco.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
