---
name: The Ariane
date: 2016-07-13
glass: theariane
contents: misctequila_margarita
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Ariane" class="drink" src="images/combined/theariane.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/ariane.html">
        <h3>Mixed by Ariane Garoff</h3>
      </a>
      <img class="rating" src="images/rating5.png">
      <p>Today we’re testing out Ariane’s party cockail, and what says Ariane more than tequila on a Wednesday afternoon? The good news is we had plenty of delicious grilled corn, cheese, and veggies to get us through the rest of the workday.</p>
      <ul>
        <li>2 parts strawberry and basil infused tequila</li>
        <li>1 part orange liqueur</li>
        <li>a splash of simple syrup</li>
        <li>a squeeze of lime</li>
        <li>basil for garnish</li>
      </ul>
      <p>Infuse tequila with strawberries and basil for two days. Blend infused tequila with orange liqueur, lime, simple syrup, and ice. Garnish with basil and a strawberry.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
