---
name: The Carol
date: 2016-07-01
glass: thecarol
contents: rum_hurricane
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Carol" class="drink" src="images/combined/thecarol.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/carol.html">
        <h3>Mixed by Carol Liao</h3>
      </a>
      <img class="rating" src="images/rating5.png">
      <p>This week we're testing three out of five mixology self portraits for our July summer party. Stay tuned for Susana and Ariane's comming up in a few weeks!</p>
      <ul>
        <li>2 parts mango purée</li>
        <li>1 part dark rum</li>
        <li>sliced chili peppers</li>
        <li>lime wedge</li>
      </ul>
      <p>Blend fresh or frozen mango with water to create a thin purée. Pour into a shaker with ice, dark rum, and slices of chili peppers. Shake, strain, and serve with a squeeze of lime and extra peppers.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
