---
name: Lavender Pear Lemonade
date: 2016-06-03
glass: lavenderpearlemonade
contents: vodka_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="Lavender Pear Lemonade" class="drink" src="images/combined/lavenderpearlemonade.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/carol.html">
        <h3>Mixed by Carol Liao</h3>
      </a>
      <img class="rating" src="images/rating4.png">
      <p>Because all our drinks are weather inspired, we're starting June off with a refreshing spiked floral lemonade to welcome summer.</p>
      <ul>
        <li>1 part vodka</li>
        <li>1 part pear juice</li>
        <li>.5 parts water</li>
        <li>.5 parts lemon juice</li>
        <li>2 dashes lavender simple syrup</li>
        <li>lemon wedge for garnish</li>
      </ul>
      <p>To make lavender simple syrup, boil equal parts water and sugar with fresh stalks of lavender for 10 minutes. Strain and let cool. Mix other ingredients in a shaker with ice and add simple syrup to taste. Garnish with a lemon wedge or lavender.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
