---
name: The Hans
date: 2016-07-01
glass: thehans
contents: gin_highball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Hans" class="drink" src="images/combined/thehans.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/hans.html">
        <h3>Mixed by Hans Gerwitz</h3>
      </a>
      <img class="rating" src="images/rating5.png">
      <p>This week we're testing three out of five mixology self portraits for our July summer party. Stay tuned for Susana and Ariane's comming up in a few weeks!</p>
      <ul>
        <li>1 part dry gin</li>
        <li>2 parts ginger beer</li>
        <li>.5 parts lime juice</li>
        <li>fresh mint</li>
      </ul>
      <p>Mix a dry gin with muddled mint and ice. Top with ginger beer and add lime juice to tase, then garnish with a fresh spring of mint.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
