---
name: The Katinka
date: 2016-10-21
glass: thekatinka
contents: miscgin_wine
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Katinka" class="drink" src="images/combined/thekatinka.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
        <h3>Mixed by Katinka Berghuis</h3>

      <img class="rating" src="images/rating5.png">

      <p>I wanted to create something fresh yet nostalgic. Being reminded of my childhood where my friends and I sat out in the sun eating fruits and having no care in the world, drawing on the peels and giving them faces, I searched for something watermelon-y. This led me to finding this lovely cocktail, 'The Merchant's Wife', which I like to believe is based on the poem "The River-Merchant’s Wife: A Letter”, by Ezra Pound. In this poem the character looks back to the past with fond memories in a sweet and charming way.</p><p>What’s not to love?</p>
      <ul>
        <li>2 chunks watermelon</li>
        <li>1 part gin</li>
        <li>1 part club soda</li>
        <li>.5 parts simple syrup</li>
        <li>.5 parts Aperol </li>
        <li>.5 parts lemon juice</li>
      </ul>
      <p>Muddle the watermelon chunks and simple syrup together in a cocktail shaker. Add the remaining ingredients, fill shaker with ice, and shake vigorously. Strain over into a wine glass filled with crushed ice and serve garnished with a wedge of watermelon.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
