---
name: The Parizad
date: 2016-10-28
glass: theparizad
contents: miscvodka_lowball
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Parizad" class="drink" src="images/combined/theparizad.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/parizad.html">
        <h3>Mixed by Parizad Saremi</h3>
      </a>

      <img class="rating" src="images/rating4.png">

      <p>A good chunk of our tiny office is out today, so we're making it a point to try the Parizad again in the near future! This drink is based on the classic White Russian. Proportions are vital, but the ingredients themselves can be swapped out for different variations.</p>
      <ul>
        <li>2 parts vodka</li>
        <li>1 part coffee liquor</li>
        <li>1 part cream</li>
      </ul>
      <p>Fill a low glass with ice and add vodka and coffee liquor. Give the mixture a stir to combine the ingredients before adding the cream on top. Serve immediately to keep the layered effect.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
