---
name: The Pariane
date: 2017-01-13
glass: thepariane
contents: miscwhiskey_goblet
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Pariane" class="drink" src="images/combined/thepariane.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <h3>Mixed by <a href="/people/ariane.html">Ariane Garoff</a> and <a href="/people/parizad.html">Parizad Saremi</a></h3>

      <img class="rating" src="images/rating4.png">

      <p>A collaboration between Ariane and Parizad equals the Pariane! It's a strong drink, but the pear juice makes it easy to drink.</p>
      <ul>
        <li>2 parts bourbon</li>
        <li>2 parts pear juice</li>
        <li>1 part sweet vermouth</li>
        <li>.5 parts sugar</li>
        <li>a few dashes of The Bitter Housewife Cardamom Bitters</li>
        <li>a pear slice for garnish</li>
      </ul>
      <p>Stir all ingredients in a mixing glass filled with ice. Strain into a glass and serve with a slice of fresh pear.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
