---
name: The Trudeau
date: 2017-03-03
glass: thetrudeau
contents: whiskey_martini
---
<%= partial 'drink_header' %>

<div class="flex container padded-bottom recipe">
  <div class="col-6">
    <div class="padded drinkcontainer">
      <img alt="The Trudeau" class="drink" src="images/combined/thetrudeau.gif">
    </div>
  </div>

  <div class="col-6">
    <div class="padded">
      <a href="/people/shannon.html">
        <h3>Mixed by Shannon E. Thomas</h3>
      </a>
      <img class="rating" src="images/rating5.png">
      <p>For a drink so strong, spicy, and Canadian, we had to name this drink after <a href="http://www.telegraph.co.uk/news/2017/03/01/photos-young-shirtless-justin-trudeau-send-internet-frenzy/" target="blank">Justin Trudeau</a>.</p>
      <ul>
        <li>2 parts whiskey</li>
        <li>.5 parts maple syrup</li>
        <li>a splash of firewater bitters</li>
      </ul>
      <p>Stir maple syrup into whiskey until well combined. Pour into a chilled glass and drop a few splashes of firewater bitters in.</p>
    </div>
  </div>
</div>

<%= partial 'drink_footer' %>
