---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<div class="bleed">
		<img src="images/3DS_consumer_range.jpg" alt="3D Systems consumer range">
	</div>
	
	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 right-2" >
				<div class="padded">
					<h1>3D Systems: Consumer Products</h1>
					<h3>While planning the launch of their next generation of consumer-facing products, 3D Systems approached The Artificial to a suite of apps adhering to a single visual and interaction language.</h3>
				</div>
				<div class="padded">
					<h4>Providing users with an introduction to "future" technologies</h4>
					<p>For many of our users, these apps would serve as an introduction to 3D printing, a technology previously only for professionals or hardcore tinkerers. We needed to develop a design language that went beyond user friendly to ensure a positive experience despite the finickiness of the technology.</p>
				</div>
				<div class="padded">
					<h4>Highlighting the magic</h4>
					<p>3D Systems not only wanted to introduce new users to 3D printing, they also wanted to establish themselves as forerunners in the field to anyone who was familiar with the process. To do this, we highlighted the moments of the experience where the 3D Systems algorithms did what none of the competitors could.</p>
				</div>
				<div class="padded">
					<h4>Simple and precise controls</h4>
					<p>The final solution was a minimal and flat interface, providing contrast to the 3D objects being manipulated within. Each app's functionality was limited to provide the user with clear purpose. Every control and icon was carefully crafted to work across interfaces, ranging from scanning to printing and beyond.</p>
				</div>
			</div>
		</div>

		<div class="flexcontainer">
			<div class="col-4">
				<div class="padded">
					<img src="images/3DS_consumer_flows.jpg" alt="range of products">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<img src="images/3DS_consumer_iconography.jpg" alt="interface flow diagram">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<img src="images/3DS_consumer_layers.jpg" alt="design guidelines documentation">
				</div>
			</div>
		</div>
	</div>
		
</section>
