---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<div class="bleed">
		<img src="images/3DS_roadmap_closeup.jpg" alt="3D Systems product and service roadmap">
	</div>
	
	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 right-2" >
				<div class="padded">
					<h1>3D Systems: Consumer Products</h1>
					<h3>After collaborating with 3D Systems on a number of projects, we created a roadmap to show near- and far-term product and service opportunities.</h3>
				</div>
				<div class="padded">
					<h4>Mapping the future</h4>
					<p>As outsiders with access to the inside, we were able to provide a unique perspective on the future of 3D Systems. We combined our understanding of near-term product goals with strategic knowledge of the industry to create a roadmap focusing on different market approaches for disparate audiences.
				</div>
				<div class="padded">
					<h4>Making the useful beautiful</h4>
					<p>We could have easily sent an email or PowerPoint containing our thoughts, but such communications are easily lost in overflowing inboxes. Instead we created a long poster with illustrations, interface designs, and text descriptions.</p>
				</div>
			</div>
		</div>

		<div class="flexcontainer">
			<div class="col-12">
				<div class="padded">
					<img src="images/3DS_roadmap_complete.jpg" alt="range of products">
				</div>
			</div>
		</div>
	</div>
		
</section>
