---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed pumpkin-paledandelion">
		<div class="flexcontainer">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/3DS-consumer_cover.png" alt="3D Systems consumer range">
				</div>
			</div>
			<div class="col-10 left-1 right-1">
				<div class="padded">
					<h1 class="caption">We worked with 3D Systems to develop a range of consumer products for 3D printing and scanning.</h1>
				</div>
			</div>
		</div>
	</div>

	<div id="casesummary">
		<div class="flexcontainer">

			<div class="col-12">
				<div class="padded">
					<h3 class="pumpkin-text">While planning the launch of their next generation of consumer-facing products, 3D Systems approached The Artificial to a suite of apps adhering to a single visual and interaction language.</h3>
				</div>
				<div class="padded">
					<h2>Providing users with an introduction to "future" technologies</h2>
					<p>For many of our users, these apps would serve as an introduction to 3D printing, a technology previously only for professionals or hardcore tinkerers. We needed to develop a design language that went beyond user friendly to ensure a positive experience despite the finickiness of the technology.</p>
				</div>
			</div>

			<div class="col-6">
				<div class="padded">
					<img src="images/3DS-consumer_layers.jpg" alt="design guidelines documentation">
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/3DS-consumer_iconography.jpg" alt="interface flow diagram">
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<h2>Highlighting the magic</h2>
					<p>3D Systems not only wanted to introduce new users to 3D printing, they also wanted to establish themselves as forerunners in the field to anyone who was familiar with the process. To do this, we highlighted the moments of the experience where the 3D Systems algorithms did what none of the competitors could.</p>
				</div>
				<div class="padded">
					<h2>Simple and precise controls</h2>
					<p>The final solution was a minimal and flat interface, providing contrast to the 3D objects being manipulated within. Each app's functionality was limited to provide the user with clear purpose. Every control and icon was carefully crafted to work across interfaces, ranging from scanning to printing and beyond.</p>
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<img src="images/3DS-consumer_flows.jpg" alt="interface screen flow diagram">
				</div>
			</div>

		</div>
	</div>

</section>
