---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed grass-palelime">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/3DS-roadmap_cover.png" alt="3D Systems product and service roadmap">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container padded-bottom">
		<div class="col-12">
			<div class="extra-padded">
				<h3 class="grass-text">After getting to know 3D Systems, we created a product roadmap to help align different teams. The roadmap illustrated both near- and far-term product and service opportunities, with speculative UI design across multiple touchpoints.</h3>
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<img src="images/3DS-roadmap_complete.jpg" alt="range of products">
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<h2>Mapping the future</h2>
				<p>As outsiders with access to the inside, we were able to provide a unique perspective on the future of 3D Systems. We combined our understanding of near-term product goals with strategic knowledge of the industry to create a roadmap focusing on different market approaches for disparate audiences.
			</div>
			<div class="padded">
				<h2>Making the useful beautiful</h2>
				<p>We could have easily sent an email or PowerPoint containing our thoughts, but such communications are easily lost in overflowing inboxes. Instead we created a long poster with illustrations, interface designs, and text descriptions.</p>
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<img src="images/3DS-roadmap_closeup.jpg" alt="3D Systems product and service roadmap">
			</div>
		</div>
	</div>


</section>
