<!-- page content -->
<section id="content">

	<div class="bleed turquoise-palegrass">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/3DS-roadmap_cover.png" alt="3D Systems product and service roadmap">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-grass-text label">Client</p>
					<p class="darkest-grass-text description">3D Systems</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-grass-text label">Problem</p>
					<p class="darkest-grass-text description">After getting to know 3D Systems, we created a product roadmap to help align different teams. The roadmap illustrated both near- and far-term product and service opportunities, with speculative UI design across multiple touchpoints.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Mapping the future</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>As outsiders with access to the inside, we were able to provide a unique perspective on the future of 3D Systems. We combined our understanding of near-term product goals with strategic knowledge of the industry to create a roadmap focusing on different market approaches for disparate audiences.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/3DS-roadmap_complete.jpg" alt="3D Systems Product and Service Roadmap">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Making the useful beautiful</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>We could have easily sent an email or PowerPoint containing our thoughts, but such communications are easily lost in overflowing inboxes. Instead we created a long poster with illustrations, interface designs, and text descriptions.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/3DS-roadmap_closeup.jpg" alt="3D Systems Product and Service Roadmap">
			</div>
		</div>
	</div>


	<div class="bleed artifacts double">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<h2>project artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "conceptgeneration" %>
					<p>concept generation</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uidesign" %>
					<p>UI design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "roadmap" %>
					<p>product roadmap</p>
				</div>
			</div>
		</div>
	</div>

</section>
