---
title: PI.logs
date: 2015-04-05
snippet: "sharpening our skills by building our own service"
thumbnail: pilogs_cover.png
color: pumpkin-paledandelion
order: 1000
---
<section id="content">
	<div class="bleed pumpkin-paledandelion">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/pilogs_cover.png" alt="Personal Intelligence logs">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-tulip-text label">Client</p>
					<p class="darkest-tulip-text description">The Artificial</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-tulip-text label">Problem</p>
					<p class="darkest-tulip-text description">We have activity trackers, connected scales, and travel loggers. It's frustrating to learn from data across services, so we've envisioned an agnostic platform.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Visualizing for ourselves and others</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">As designers, we try not to design for ourselves—a difficult principle to maintain when creating a product for yourself. As a matter of course, we've studied our data and tried to imagine both obvious and whimsical ways of visualizing it. It's easy to get lost in the possibilities, but we keep ourselves grounded by evaluating what will be helpful or inspiring to future users.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<img src="images/pilogs_brainstorm.jpg" alt="Wall of Post-its">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/pilogs_code.jpg" alt="Making It Real">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We're building PI.logs ourself, often designing with our code.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">When the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service, soon to be in alpha.</p>
				<p class="large-body">A service of this magnitude overwhelms quickly, so we documented an inventory of the screens to show which interactions will take place on what screens. Drawing from other services is difficult, as most quantified self tools tend towards less aesthetic interfaces and more accesible services tend towards less exploratory visualizations.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/pilogs_interface.jpg" alt="PI.logs Interface Design">
			</div>
		</div>
	</div>

</section>
