---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed sapphire-palegrape">
		<div class="flexcontainer">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/avent-ugrow_cover.png" alt="uGrow central app">
				</div>
			</div>
		</div>
	</div>

	<div class="flexcontainer padded-bottom">
		<div class="col-12">
			<div class="extra-padded">
				<h3 class="sapphire-text">We worked with Philips Avent to create the app at the center of their uGrow platform. uGrow collects data from a variety of connected devices to provide parents with insights and personalized advice. The mobile app expresses this data through visualizations and adds a variety of manual trackers to the platform.</h3>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<h2>Defining a strategy</h2>
				<p>Philips wanted to create a scientific yet emotional experience to guide parents through their babies' development. We started by working closely with the internal team to define their product, balancing the needs of business stakeholders with the desires of users, all within the constraints of a tight development schedule.</p>
				<h2>One interface to suit many desires</h2>
				<p>Targeting mothers and fathers of different parenting styles rendered an often conflicted set of requirements. One of the most difficult challenges was designing a multi-faceted app that was easily navigable despite complex relationships between qualitative data, quantitative data, and advice content.</p>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/avent-ugrow_strategy.jpg" alt="using so many post-its">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/avent-ugrow_screens.jpg" alt="overview of screen designs">
			</div>
		</div>
		<div class="col-6">
			<div class="padded"><br><br>
				<h2>A UI to convey trust and precision</h2>
				<p>We created a design language that would appropriately show the feeling of baby, while maintaining the professional look of Philips Avent. The UI conveys trust and precision without being overly technical, and employs user uploaded content to add an emotional layer. Feeling that the UI still needed more delight, we created a handful of novel animations to bring more personality to the experience.</p>
			</div>
		</div>
		<div class="col-6">
			<div class="padded"><br><br>
				<h2>Communicating to a changing team</h2>
				<p>The project team doubled in size several times throughout the duration of the project, with many people coming and going (some because they were having babies of their own). To minimize the risk of losing the details, we adjusted our process to include lightweight yet comprehensive documentation of screens, flows, and animations. Ultimately, we handed everything over to the in-house team so that they could own the future of the uGrow app.</p>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/avent-ugrow_animation.gif" alt="uGrow app overview">
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<img src="images/avent-ugrow_phone.jpg" alt="Philips Avent uGrow">
			</div>
		</div>
	</div>

</section>
