---
layout: multiple_layout
published: false
---

<!-- page content -->
<section id="content">

	<div class="bleed">
		<img src="images/avent_compass_overview.jpg" alt="uGrow Smart Baby Monitor from Philips Avent">
	</div>

	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 right-2" >
				<div class="padded">
					<h1>uGrow Smart Baby Monitor from Philips Avent</h1>
					<h3>We worked with Philips to design the app and choreograph the user experience for a connected baby monitor.</h3>
				</div>
				<div class="padded">
					<h4>From requirements to experience</h4>
					<p>We organized and prioritized a long series of features to create a simple interface that focused on watching and engaging the baby, while having more advanced tracking features readily available with a simple swipe.</p>
				</div>
				<div class="padded">
					<h4>Guidance for the future</h4>
					<p>The uGrow Smart Baby Monitor app was the first app from Philips Avent, and we wanted to not only establish but also to document design patterns and principles. We did this via component libraries and design guidelines that could be applied to future versions of the uGrow Smart Baby Monitor or more broadly to future apps in the uGrow ecosystem.</p>
				</div>
				<div class="padded">
					<h4>Ensuring quality through development</h4>
					<p>We created thorough documentation to communicate the experience to developers and quality assurance engineers. We also worked closely with offshore app developers to capture discrepencies and find new solutions where the existing ones weren't technically possible.</p>
				</div>
			</div>
	 	</div>

		<div class="flexcontainer">
			<div class="col-4">
				<div class="padded">
					<img src="images/avent_compass_inuse.jpg" alt="uGrow Smart Baby Monitor app">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<img src="images/avent_compass_library.jpg" alt="component library">
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<img src="images/avent_compass_model.jpg" alt="interaction model">
				</div>
			</div>
		</div>

	</div>

</section>
