---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed">
		<img src="images/avent_ugrow_phone.jpg" alt="Philips Avent uGrow">
	</div>

	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 right-2">
				<div class="padded">
					<h1>Philips Avent uGrow</h1>
					<h3>We worked with Philips Avent to create an app to assist parents. The platform offers a variety of connected and manual trackers, along with visualizations to help parents discern their tracked data.</h3>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<h4>Defining a strategy</h4>
					<p>Philips wanted to create an emotional yet helpful experience appropriate to the baby’s development stage. We started by helping them define their product and develop strategies around how to build and multi-faceted app that was easily navigable despite complex relationships between qualitative data, quantitative data, and advice content.</p><p>We conducted several workshops with stakeholders to align their thinking and come to fitting decisions that suited development, usability, business, and branding. With many stakeholders and opinions on the project, gathering input and finding the right balance was crucial to the growth of the app. </p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/avent_ugrow_animation.gif" alt="uGrow Smart Baby Monitor app">
				</div>
			</div>

			<div class="flexcontainer">
			<div class="col-6">
				<div class="padded">
					<img src="images/avent_ugrow_viz.jpg" alt="uGrow Smart Baby Monitor app">
				</div>
			</div>
			<div class="col-6">
				<div class="padded"><br><br>
					<h4>A UI to convey trust and precision</h4>
					<p>We created a design language that would appropriately show the feeling of baby, while maintaining the professional look of Philips Avent. We designed the UI to convey trust and precision without being overly technical, and rely on user uploaded content and ui behavior to delight. Because the app held numerous types of content, subtle visual cues were essential to differentiate information. </p>
				</div>
			</div>
		</div>
			<div class="col-8 right-4">
				<div class="padded">
					<h4>Results</h4>
					<p>We delivered over 300 screens and states, along with a comprehensive flow diagram, ui tool kit, and documentation for development. We guided the developers through the initial stages of development to ensure all content was communicated accurately. We also built a custom tool to track decisions and changes in screens to share with stakeholders so minimize miscommunication. Our documentation and deliverables were also created as a model for the future features not yet designed.</p>
				</div>
			</div>

			<div class="flexcontainer">
			<div class="col-10">
				<div class="padded">
					<img src="images/avent_ugrow_screens.jpg" alt="uGrow Smart Baby Monitor app">
				</div>
			</div>
		</div>

	 	</div>


	</div>

</section>
