---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed">
		<img src="images/avent_ugrow_phone.jpg" alt="Philips Avent uGrow">
	</div>

	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 right-2">
				<div class="padded">
					<h1>Philips Avent uGrow</h1>
					<h3>uGrow is an app that helps parents keep track of their baby’s habits and routines. The platform offers a variety of connected and manual trackers, along with visualizations to help parents discern their tracked data. </h3>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<h4>Navigation</h4>
					<p>The timeline is a list of entries depicting baby’s life through time. Upcoming and current items are more functional while items in the past take a more emotional approach. The springboard is used to jump to the other 3 gateways to the app– adding data, reviewing visualizations, and browsing the advice library.</p>
				</div>
				<div class="padded">
					<h4>Tracking baby's data</h4>
					<p>uGrow consists of several trackers in the feeding, soothing, health, and environment categories. Connected products such as the Philips Avent uGrow baby monitor are intended to be used with the central app for automatic data collection. Photos, notes, videos, and stickers can also be captured as moments to make the user’s timeline more personal and meaningful.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/avent_ugrow_animation.gif" alt="uGrow Smart Baby Monitor app">
				</div>
			</div>

			<div class="flexcontainer">
			<div class="col-6">
				<div class="padded">
					<img src="images/avent_ugrow_viz.jpg" alt="uGrow Smart Baby Monitor app">
				</div>
			</div>
			<div class="col-6">
				<div class="padded"><br><br>
					<h4>Helpful visualizations</h4>
					<p>uGrow only shows relevant comparisons and important details so the user isn’t overwhelmed with information. Users have the option to view their data in different resolutions of time when appropriate, and a comprehensive log is always available. When applicable, an illustrative chart is included for delight. </p>
				</div>
			</div>
		</div>
			<div class="col-8 right-4">
				<div class="padded">
					<h4>Advice content</h4>
					<p>uGrow provides advice content as part of its coaching. Advice cards are suggested based on patterns detected in what the user tracks. Cards can include articles, lists, videos, product suggestions, and directions for product usage.</p>
				</div>
			</div>

			<div class="flexcontainer">
			<div class="col-10">
				<div class="padded">
					<img src="images/avent_ugrow_screens.jpg" alt="uGrow Smart Baby Monitor app">
				</div>
			</div>
		</div>

	 	</div>


	</div>

</section>
