---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="flex container">
		<div class="col-8 section-title">
			<div class="padded center">
				<h1>Our Work</h1>
				<p>We’ve worked with big data and baby data. We’ve built social games and gamified social experiences. We’ve brought digital into retail and made retail digital.</p>
			</div>
		</div>
	</div>

	<!-- cards -->
	<div class="container packery padded-bottom">

<%#
		<div class="col-4 packed">
			<div class="card center">
				<a href="travelbird-site.html"><img src="images/travelbird_overviewsm.jpg"></a>
				<div class="padded">
					<a href="travelbird-site.html"><h2>TravelBird Website</h2></a>
					<p>We worked with TravelBird to envision a future website that could showcase new types of content without losing focus on the travel package deals.</p>
				</div>
			</div>
		</div>
%>

		<div class="col-4 packed">
			<div class="card center turquoise-palegrass">
				<a href="sonicare-breath.html"><img src="images/sonicare-breath_cover.png"></a>
				<div class="padded">
					<a href="sonicare-sims.html"><h2>Philips Sonicare Breath</h2></a>
					<p>We worked with Philips Sonicare to design a beautiful visualization for a connected breath measuring device.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center sapphire-palegrape">
				<a href="avent-ugrow.html"><img src="images/avent-ugrow_cover.png"></a>
				<div class="padded">
					<a href="sonicare-sims.html"><h2>Philips Avent uGrow</h2></a>
					<p>We worked with Philips Avent to design an app to support and guide parents with new babies.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center grape-paletulip">
				<a href="sonicare-sims.html"><img src="images/sonicare-sims_cover.png"></a>
				<div class="padded">
					<a href="sonicare-sims.html"><h2>Philips Sonicare in The Sims FreePlay</h2></a>
					<p>We worked with Philips Sonicare to capture new audiences through gaming.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center sapphire-paleturquoise">
				<a href="3DSystems-professional.html"><img src="images/3DS-professional_cover.png"></a>
				<div class="padded">
					<a href="3DSystems-professional.html"><h2>3D Systems Professional Tools</h2></a>
					<p>We worked with 3D Systems to create a design language for their professional product line.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center tulip-palepumpkin">
				<a href="toicon.html"><img src="images/toicon_cover.png"></a>
				<div class="padded">
					<a href="toicon.html"><h2>to [icon]</h2></a>
					<p>Kata (方) is a honing exercise. Through repetition, the practice refines the basic skills necessary for mastery of a craft. We sought to better ourselves by creating sets of icons, not simply drawing things, but also exploring metaphors for visual communication.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center turquoise-palegrass">
				<a href="monolith.html"><img src="images/monolith_cover.png"></a>
				<div class="padded">
					<a href="monolith.html"><h2>Monolith</h2></a>
					<p>We did a series of short workshops with Monolith to evolve and refine their product.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center grass-palelime">
				<a href="3DSystems-roadmap.html"><img src="images/3DS-roadmap_cover.png"></a>
				<div class="padded">
					<a href="3DSystems-roadmap.html"><h2>3D Systems Roadmap</h2></a>
					<p>After collaborating with 3D Systems on a number of projects, we created a roadmap to show near- and far-term product and service opportunities.</p>

				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center dandelion-paledandelion">
				<a href="knowledgesharing.html"><img src="images/knowledgesharing_cover.png"></a>
				<div class="padded">
					<a href="knowledgesharing.html"><h2>Knowledge Sharing</h2></a>
					<p>Combining tried-and-true approaches with new ideas can lead to exciting results. We've worked with a handful of startups to form these unique ideas into designs that users can use without having to learn an entirely new set of interactions.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
      <div class="card center grape-palesapphire">
        <a href="avent-babymonitor.html"><img src="images/avent-compass_cover.png"></a>
        <div class="padded">
          <a href="avent-babymonitor.html"><h2>uGrow Smart Baby Monitor from Philips Avent</h2></a>
          <p>We worked with Philips Avent to design an app experience for the uGrow Smart Baby Monitor.</p>
        </div>
      </div>
    </div>

		<div class="col-4 packed">
			<div class="card center tulip-palepumpkin">
				<a href="pilogs.html"><img src="images/pilogs_cover.png"></a>
				<div class="padded">
					<a href="pilogs.html"><h2>PI.logs</h2></a>
					<p>When the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center pumpkin-paledandelion">
				<a href="3DSystems-consumer.html"><img src="images/3DS-consumer_cover.png"></a>
				<div class="padded">
					<a href="3DSystems-consumer.html"><h2>3D Systems Consumer Tools</h2></a>
					<p>We designed a series of tools for scanning and printing in three dimensions.</p>
				</div>
			</div>
		</div>

	</div>

</section>
