<!-- page content -->
<section id="content">
	<div class="bleed">
		<div class="flex container">
			<div class="col-12">
				<div class="padded section-title">
					<h1 class="title">Our Work</h1>
					<div class="small-copy">Sometimes with clients, sometimes self-motivated</div>
				</div>
			</div>
		</div>

	<!-- cards -->
		<div class="container packery padded-bottom">

	<%#
			<div class="col-4 packed">
				<a href="monolith-uxevolution.html">
					<div class="card case-study center turquoise-palegrass">
						<div class="padded">
							<img src="images/monolith_cover02.png">
							<h4>Monolith</h4>
							<div class="card-rule"></div>
							<p class="card-detail">evolving and refining a product one bite at a time</p>
						</div>
					</div>
				</a>
			</div>
	%>

	<%#
			<div class="col-4 packed">
				<div class="card case-study center">
					<a href="travelbird-site.html"><img src="images/travelbird_overviewsm.jpg"></a>
					<a href="travelbird-site.html"><h2>TravelBird Website</h2></a>
					<div class="card-rule"></div>
					<p>We worked with TravelBird to envision a future website that could showcase new types of content without losing focus on the travel package deals.</p>
				</div>
			</div>
	%>

	<%#
			<div class="col-4 packed">
				<a href="vanmoof-app.html">
					<div class="card case-study center grape-palesapphire">
						<div class="padded">
							<img src="images/VanMoof-AppRedesign_cover.png">
							<div class="small-subtitle">VanMoof App Redesign</div>
							<div class="card-rule"></div>
							<p class="snippit">Creating a digital experience that knows when to get out of the way</p>
						</div>
					</div>
				</a>
			</div>
		%>

			<div class="col-4 packed">
				<a href="sonicare-breath.html">
					<div class="card case-study center turquoise-palegrass">
						<div class="padded">
							<img src="images/sonicare-breath_cover.png">
							<div class="small-subtitle">Philips Sonicare Breath Analyzer</div>
							<div class="card-rule"></div>
							<p class="snippit">visualizing breath quality in a meaningful and non-disgusting way</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
				<a href="avent-ugrow.html">
					<div class="card case-study center sapphire-palegrape">
						<div class="padded">
							<img src="images/avent-ugrow_cover.png">
							<h3 class="small-subtitle">Philips Avent uGrow</h3>
							<div class="card-rule"></div>
							<p class="snippit">designing a supporting experience for new moms (and mums)</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
				<a href="sonicare-sims.html">
					<div class="card case-study center grape-paletulip">
						<div class="padded">
							<img src="images/sonicare-sims_cover.png">
							<div class="small-subtitle">Philips Sonicare in The Sims FreePlay</div>
							<div class="card-rule"></div>
							<p class="snippit">capturing new audiences through gaming</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
				<a href="3DSystems-professional.html">
					<div class="card case-study center sapphire-paleturquoise">
						<div class="padded">
							<img src="images/3DS-professional_cover.png">
							<div class="small-subtitle">3D Systems Professional Toolset</div>
							<div class="card-rule"></div>
							<p class="snippit">creating a system for a line of professional 3D printing machines</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
				<a href="toicon.html">
					<div class="card case-study center tulip-palepumpkin">
						<div class="padded">
							<img src="images/toicon_cover.png">
							<div class="small-subtitle">to [icon]</div>
							<div class="card-rule"></div>
							<p class="snippit">creating icons to hone our craft, and sharing them for free</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
				<a href="monolith.html">
					<div class="card case-study center turquoise-palegrass">
						<div class="padded">
							<img src="images/monolith_cover.png">
							<div class="small-subtitle">Monolith</div>
							<div class="card-rule"></div>
							<p class="snippit">evolving and refining a product one bite at a time</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
				<a href="3DSystems-roadmap.html">
					<div class="card case-study center grass-palelime">
						<div class="padded">
							<img src="images/3DS-roadmap_cover.png">
							<div class="small-subtitle">3D Systems Roadmap</div>
							<div class="card-rule"></div>
							<p class="snippit">creating a roadmap to show near- and far-term product and service opportunities</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
				<a href="knowledgesharing.html">
					<div class="card case-study center dandelion-paledandelion">
						<div class="padded">
							<img src="images/knowledgesharing_cover.png">
							<div class="small-subtitle">Knowledge Sharing</div>
							<div class="card-rule"></div>
							<p class="snippit">working with a startup to create an intuitive interface for sharing</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
	      <a href="avent-babymonitor.html">
					<div class="card case-study center sapphire-palegrape">
						<div class="padded">
			        <img src="images/avent-compass_cover.png">
							<div class="small-subtitle">uGrow Smart Baby Monitor</div>
							<div class="card-rule"></div>
							<p class="snippit">designing the app for a smart baby monitor</p>
						</div>
		      </div>
				</a>
	    </div>

			<div class="col-4 packed">
				<a href="pilogs.html">
					<div class="card case-study center tulip-palepumpkin">
						<div class="padded">
							<img src="images/pilogs_cover.png">
							<div class="small-subtitle">PI.logs</div>
							<div class="card-rule"></div>
							<p class="snippit">sharpening our skills by building our own service</p>
						</div>
					</div>
				</a>
			</div>

			<div class="col-4 packed">
				<a href="3DSystems-consumer.html">
					<div class="card case-study center pumpkin-paledandelion">
						<div class="padded">
							<img src="images/3DS-consumer_cover.png">
							<div class="small-subtitle">3D Systems Consumer Toolset</div>
							<div class="card-rule"></div>
							<p class="snippit">designing tools for printing and scanning in three dimensions</p>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>

</section>
