---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<div class="bleed">
		<img src="images/knowledgesharing_inuse.jpg" alt="interface design">
	</div>

	<div class="bleed white">
		<div id="casesummary" class="flexcontainer">
			<div class="col-10 right-2" >
				<div class="padded">
					<h1>Building a Knowledge Sharing Platform<br/></h1>
					<p>A London-based venture approached The Artificial with an idea for a knowledge sharing platform with a robust set of features. We worked with them to turn this long list of features into a handful of experiences that were easy for users to understand.</p>
				</div>
			</div>
		</div>

		<div class="flexcontainer">
			<div class="col-5 right-1">
				<div class="padded">
					<h4>Going from nothing to something</h4>
					<p>Knowing that our client had a limited budget and that the experience we designed would need customization for each organization that adopted it, we used an ambitious design approach that focused on getting a baseline design to developers as quickly as possible.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/knowledgesharing_workshop.jpg" alt="range of products">
				</div>
			</div>
		</div>
	
		<div class="flexcontainer">
			<div class="col-5 right-1">
				<div class="padded">
					<h4>Mapping functionality to the user experience</h4>
					<p>We started by relating functionality to terminology, connecting the business case to the user experience. From here, we moved directly into a series of functional sketches to get the development track up and running before we fleshed out details like color and iconography. We then biult a series of screen templates, reusing whenever possible to reduce the development effort.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/knowledgesharing_layers.jpg" alt="interface flow diagram">
				</div>
			</div>
		</div>
	
		<div class="flexcontainer">
			<div class="col-5 right-1">
				<div class="padded">
					<h4>Designing for change</h4>
					<p>We took on this project just as iOS 7 had been announced. Despite having only seen Apple's screenshots, we prepared an application with a look and feel appropriate for the new operating system. With a changing foundation, thorough system documentation was paramount, and we created a set of guidelines that could easily be updated as necessary design changes were made.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/knowledgesharing_guidelines.jpg" alt="design guidelines documentation">
				</div>
			</div>
	 	</div>
	</div>
	
	

		
</section>
