---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	<div class="bleed tulip-palepumpkin">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/pilogs_cover.png" alt="Personal Intelligence logs">
				</div>
			</div>
		</div>
	</div>


	<div class="flex container padded-bottom">
		<div class="col-12" >
			<div class="extra-padded">
				<h3 class="tulip-text">We have activity trackers, connected scales, and travel loggers. It's frustrating to learn from data across services, so we've envisioned an agnostic platform.</h3>
			</div>
			<div class="padded">
				<h2>Visualizing for ourselves and others</h2>
				<p>As designers, we try not to design for ourselves—a difficult principle to maintain when creating a product for yourself. As a matter of course, we've studied our data and tried to imagine both obvious and whimsical ways of visualizing it. It's easy to get lost in the possibilities, but we keep ourselves grounded by evaluating what will be helpful or inspiring to future users.</p>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/pilogs_brainstorm.jpg" alt="range of products">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/pilogs_code.jpg" alt="design guidelines documentation">
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<h2>Building it ourselves</h2>
				<p>When the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service, soon to be in alpha.</p>
			</div>
			<div class="padded">
				<h2>Scaling without designing every screen</h2>
				<p>A service of this magnitude overwhelms quickly, so we documented an inventory of the screens to show which interactions will take place on what screens. Drawing from other services is difficult, as most quantified self tools tend towards less aesthetic interfaces and more accesible services tend towards less exploratory visualizations.</p>
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<img src="images/pilogs_interface.jpg" alt="interface flow diagram">
			</div>
		</div>
	</div>

</section>
