---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed">
		<img src="images/sonicare_breath_products.jpg" alt="Philips Sonicare Breath">
	</div>

	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 right-2">
				<div class="padded">
					<h1>Philips Sonicare Breath</h1>
					<h3>Breath is Sonicare’s connected puck device that tests a user’s breath quality. We worked with Philips to design inspiring gestures for the app that accompanies this device.</h3>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<h4>A fresh metaphor</h4>
					<p>We created a unique metaphor around breath freshness. Because the device measures breath in PPB of VSC (parts per billion of volatile sulfur compounds), we visualized these as floating particles that move in accordance with the breath through the device. Gentle swirling animations let the user know which step they are on.</p>
				</div>
				<div class="padded">
					<h4>Clear guidance</h4>
					<p>In contrast to the abstracted visual metaphors, clear step-by-step guidance is provided to ensure the correct usage of the device so the user can be confident in their results. Guidance is offered every step of the way and can be revisited at any time.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare_breath_animation.gif" alt="Philips Sonicare Breath">
				</div>
			</div>
			

		<div class="flexcontainer">
			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare_breath_phones.jpg" alt="Philips Sonicare Breath">
				</div>
			</div>
 
			<div class="col-5 right-1">
				<div class="padded"><br><br>
					<h4>Advice and historic data</h4>
					<p>The Breath app is more than just a results screen, but also a coaching device. Articles and products are suggested based on the user’s results, and historic data is available to track improvement.</p>
				</div>
			</div>
			<div class="col-8 right-4">
				<div class="padded">
					<h4>Gestural flow</h4>
					<p>We mapped out the app in a gestural flow diagram to make sure main screens were captured and that the user experience was succinct and informative.</p>
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<img src="images/sonicare_breath_flow.jpg" alt="Philips Sonicare Breath">
				</div>
			</div>

		</div>

	</div>

</section>
