---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed">
		<img src="images/sonicare_breath_products.jpg" alt="Philips Sonicare Breath">
	</div>

	<div id="casesummary" class="bleed white">
		<div class="flexcontainer">
			<div class="col-10 right-2">
				<div class="padded">
					<h1>Philips Sonicare Breath</h1>
					<h3>When Philips Sonicare decided to include a breath measuring device as part of their Oral Health care system, they approached us to help create an inspiring experience.</h3>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<h4>A challenging topic</h4>
					<p>Bad breath tends to yield unsightly visuals, especially in medical paraphernalia. The challenge was to create a metaphor that was both visually interesting and hinted at what the product was doing.</p><br>
					<h4>A fresh metaphor</h4>
					<p>At sketch fidelity, we quickly worked through a number of options to narrow to the most on-brand visualizations. </p>
				</div>
			</div>

			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare_breath_sketches.jpg" alt="Philips Sonicare Breath">
				</div>
			</div>

			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare_breath_animation.gif" alt="Philips Sonicare Breath">
				</div>
			</div>

			<div class="col-6"><br><br>
				<div class="padded">
				<h4>A clear direction</h4>
				<p>Then, we explored a handful of design directions, ranging from literal to representative, and flat to dimensional, to ensure that the client had a comprehensive view of possibilities. After many iterations working closely with the client, we selected an approach that visualized the particles of breath being sucked into the measuring device. The result is a design direction that features a gentle animation of particles to mimic the activity occurring in the device.</p>
			</div>
			</div>
			

		<div class="flexcontainer">
			<div class="col-6">
				<div class="padded"><br><br>
					<h4>Structuring the experience</h4>
					<p>From there, we established a basic interaction model that allowed for an expanding feature set. We mapping out how things such as historic data and oral health advice would be presented to the user, and are now working on expanding the flow. We look forward to sharing final results soon.</p>
				</div>
			</div>

			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare_breath_phones.jpg" alt="Philips Sonicare Breath">
				</div>
			</div>


 
			

			

		</div>

	</div>

</section>
