---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed turquoise-palegrass">
		<div class="flexcontainer">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/sonicare-breath_cover.png" alt="Sonicare Breath app">
				</div>
			</div>
			<div class="col-10 left-1 right-1">
				<div class="padded">
					<h1 class="caption">We worked with Philips Sonicare to create an emotional experience for a connected product.</h1>
				</div>
			</div>
		</div>
	</div>

	<div id="casesummary">
		<div class="flexcontainer">
			<div class="col-12">
				<div class="padded">
					<h3 class="turquoise-text">When Philips Sonicare decided to include a connected breath measuring device as part of their oral health offering, they approached The Artificial to help create an inspiring digital experience.</h3>
				</div>
			</div>

			<div class="col-6">
				<div class="padded">
					<h2>A challenging topic</h2>
					<p>Bad breath tends to yield unsightly visuals, especially in medical paraphernalia. The challenge was to find a metaphor that was both visually interesting while also hinting at the mechanics of what the product was doing.</p><br>
					<p>At sketch fidelity, we quickly worked through dozens of options to narrow to the most motivating and on-brand visualizations.</p>
				</div>
			</div>

			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare-breath_sketches.jpg" alt="Philips Sonicare Breath">
				</div>
			</div>

			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare-breath_animation.gif" alt="Philips Sonicare Breath">
				</div>
			</div>

			<div class="col-6"><br><br>
				<div class="padded">
					<h2>A clear direction</h2>
					<p>After establishing the metaphor, we explored a handful of design directions, ranging from literal to representative, and flat to dimensional – ensuring that the client had a comprehensive view of possibilities. After many iterations working closely with the internal team, we selected an approach that visualized the particles of breath being sucked into the measuring device.</p>
					<p>The result is a design direction that features a gentle animation of particles to mimic the activity occurring in the device. The results screen shows the same particles in a way that signals to the user the quality of their breath, while being sensitive to their privacy.</p>
				</div>
			</div>

			<div class="col-6">
				<div class="padded"><br><br>
					<h2>Structuring the experience</h2>
					<p>From here, we established a basic interaction model that allowed for an expanding feature set. We mapped out how things such as historic data and oral health advice would be presented to the user, and are now working on expanding the flow. We look forward to sharing final results soon.</p>
				</div>
			</div>

			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare-breath_phones.jpg" alt="Philips Sonicare Breath">
				</div>
			</div>

		</div>
	</div>

</section>
