---
layout: multiple_layout
---

<!-- page content -->
<section id="content">

	<div class="bleed tulip-palepumpkin">
		<div class="flexcontainer">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/toicon_cover.png" alt="thousands of icons, free to use">
				</div>
			</div>
		</div>
	</div>

	<div class="flexcontainer padded-bottom">
		<div class="col-12">
			<div class="extra-padded">
				<h3 class="tulip-text">We created to [icon] to provide high-quality series of icons to the public for free. We started with a Kickstarter, and have continued adding icons ever since. We now have fourteen series and 2500+ icons.</h3>
			</div>
			<div class="padded">
				<h2>Practicing our craft</h2>
				<p>Kata (方) is a honing exercise. Through repetition, the practice refines the basic skills necessary for mastery of a craft. We sought to better ourselves by creating sets of icons, not simply drawing things, but also exploring metaphors for visual communication. This simple exercise of exploration turned into a passion for quality and fun, a passion we thought was worth sharing.</p>
			</div>
			<div class="padded">
				<h2>Crafting to pixel perfection</h2>
				<p>Every icon is snapped to either a 32- or 64-pixel grid, making them perfect for digital displays. The series have traditional interface icons like save, share, and edit, as well as icons with more personality. So far, to [icon] has ten different series, with two more on the way.</p>
			</div>
			<div class="padded">
				<h2>Experimenting with new processes</h2>
				<p>We started with rough sketches showing layout, and then moved straight into code. Rather than producing comps of all screens using Photoshop or Illustrator, we styled the code-based "wireframes" using CSS.</p>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/toicon_poster.jpg" alt="range of products">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/toicon_sharpcorners.jpg" alt="interface flow diagram">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/toicon_wall.jpg" alt="design guidelines documentation">
			</div>
		</div>
	</div>

</section>
