<div class="col-4 packed">
  <a href="{{url}}">
    <div class="card basic">
{{#preview_url}}
      <div class="preview">
        <img src="{{preview_url}}">
      </div>
{{/preview_url}}
      <div class="meta center">
        <div class="small-title">{{title}}</div>
{{#author}}
        <div class="small-body author">{{author}}</div>
{{/author}}
        <div class="small-body date">{{human_date}}</div>
      </div>
    </div>
  </a>
</div>
