<div class="col-4 packed">
  <a href="{{url}}">
  {{#has_image?}}
    <div class="card blog-preview {{category}}">
      <div class="masthead">
        <img src="{{image_url}}">
      </div>
      <div class="meta center">
        <div class="label">{{category}}</div>
        <div class="small-title">{{{title}}}</div>
        <div class="small-body author">{{author}}</div>
        <div class="small-body date">{{human_date}}</div>
      </div>
    </div>
  {{/has_image?}}
  {{^has_image?}}
    <div class="card blog-preview no-image {{category}}">
      <div class="meta center">
        <div class="label">{{category}}</div>
        <div class="small-title">{{{title}}}</div>
        <div class="small-body author">{{author}}</div>
        <div class="small-body date">{{human_date}}</div>
      </div>
      <div class="summary">
        {{{summary}}}
      </div>
    </div>
  {{/has_image?}}
  </a>
</div>
