<div class="col-4 packed">
  <a href="{{url}}">
    <div class="card cocktail-preview">
      <div class="glass" style="background-image: url({{glass_url}});">
        <img class="contents" src="{{contents_url}}">
      </div>

      <div class="details center">
        <h2 class="drinkname">{{{title}}}</h2>
        <p class="date">{{human_date}}</p>
      </div>
    </div>
  </a>
</div>
