<div class="col-4 packed">
  <a href="{{url}}">
    <div class="card cocktail">
      <div class="anchor">
        <div class="preview">
          <img class="static" src="{{glass_url}}">
          <img class="animated" src="{{contents_url}}">
        </div>
      </div>
      <div class="meta center">
        <div class="label">cocktails</div>
        <div class="small-title">{{{title}}}</div>
        <div class="small-body date">{{human_date}}</div>
      </div>
    </div>
  </a>
</div>
