<div class="col-4 packed">
  <a href="{{url}}">
    <div class="card person turquoise-palegrass">
      <div class="logo">
        {{{logo_svg}}}
      </div>
      <div class="meta center">
        <div class="small-title">{{title}}</div>
      </div>
    </div>
  </a>
</div>
