<div class="col-4 packed">
  <a href="{{url}}">
    <div class="card thing">
      <div class="anchor">
        <div class="preview">
          <img src="{{image_url}}">
        </div>
      </div>
      <div class="meta center">
        <div class="label">connecting thing</div>
        <div class="small-title">{{{title}}}</div>
        <div class="small-body date">{{human_date}}</div>
      </div>
    </div>
  </a>
</div>
