<div class="col-4 packed">
  <a href="{{url}}">
    <div class="card unknown">
      <div class="meta center">
        <div class="label">unknown</div>
{{#title}}
        <div class="small-title">{{title}}</div>
{{/title}}
{{#author}}
        <div class="small-body author">{{author}}</div>
{{/author}}
{{#human_date}}
        <div class="small-body date">{{human_date}}</div>
{{/human_date}}
      </div>
    </div>
  </a>
</div>
