<div class="col-4 packed">
  <a href="{{url}}">
    <div class="card work {{color}}">
      <div class="anchor">
        <div class="preview">
          <img class="thumbnail" src="{{thumbnail_url}}">
        </div>
      </div>
      <div class="meta center">
        <div class="label">work</div>
        <div class="small-title">{{{title}}}</div>
        <div class="small-body date">{{human_date}}</div>
      </div>
    </div>
  </a>
</div>
