---
layout: projects/connecting-things/_thing_layout
title: Bose SoundLink Mini II
preview: thing/thing.png
date: 2018-02-27
published: false
---
<p>
SoundLink Mini II is a portable wireless speaker developed by Bose. A built-in microphone allows other functionality such as taking calls. It comes in two colors, black and light grey.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>short but not intuitive
</h2>
<p>
This portable speaker does not require an app to function. In facts, it only connects at the OS level. To connect the Bluetooth speaker for the first time, the user should first pair it. Pairing is only necessary on the first use because the device will remember the speaker in the paired accessories. To pair, the user needs to press the Bluetooth button on the speaker. This button will make a light indicator flash blue to indicate it’s broadcasting and that the speaker can be discovered by the device. Then the user has to visit the Setting app and find the Bose Mini Sound Link that appeared in the list of available accessories.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>low
</h2>
<p>
No password protects the connection at the OS level. Any other user can easily pair to the speaker by pressing the Bluetooth button on the speaker. However, when a user is already paired and about to connect to the speaker, it will list out loud all the devices that it is already paired with. The security is low but keeping the user appraised of other users. A low-security connection process seems appropriate for such a product because it does not store user’s sensitive data.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>okay
</h2>
<p>
The speaker is working steadily if the device is located within less than 9 meters. This speaker can be paired with up to 6 devices at the time. But, it can only connect to, and play audio from one device at the time. If the speaker has reached the maximum number of paired devices, the new user can erase all devices in memory by pressing the Bluetooth button on the speaker for 10 seconds until a tone is played. Some users reported issues with the speaker turning off randomly.
</p>

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/thing.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  }
]
</script>
