body.people {
  .links {
    margin: -40px 0 35px;
  }

  .summary{
      font-size: .9em;
      line-height: 1.4em;
      margin-top: -3px;
  }
	
	.quote {
	  font-family: Georgia, Times, serif;
	  font-style: italic;
	  font-weight: bold;
		font-size: 2em;
		line-height: 1em;
	}

  #masthead {
    overflow: hidden;
    height: 320px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image {
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: center;
  }
	
}
