<div class="col-4 packed">
  <a href="{{url}}">
    <div class="card ftfy">
      <div class="preview">
        <img src="{{image}}">
      </div>
      <div class="overlay">
        <div class="meta center">
          <div class="label">FTFY</div>
          <div class="small-title">{{{title}}}</div>
          <div class="small-body date">{{date}}</div>
        </div>
      </div>
    </div>
  </a>
</div>
