<a href="{{url}}">
<div class="col-4 packed">
    <div class="card unknown">
      <div class="meta center">
        <div class="small-title">{{title}}</div>
{{#author}}
        <div class="small-body author">{{author}}</div>
{{/author}}
{{#date}}
        <div class="small-body date">{{date}}</div>
{{/date}}
      </div>
    </div>
</div>
</a>
