---
title: Feed
---
<% content_for :javascript_tags do %>
	<%= javascript_include_tag 'lunr', 'mustache','search', defer: true %>
<% end %>

<section id="content">
	<div class="bleed">
		<div class="flex container">
			<div class="col-10 left-1 right-1 section-title">
				<div class="padded center">
					<h1 class="title">Feed</h1>
					<div class="small-body">This is the feed of Artificial everything.</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container packery padded bottom" id="results">

	</div>

</section>

<script>
  $(document).ready(function() {
		var $results = $('#results');
		showEverything($results);
  });

	function showEverything($el) {
	  console.log('Requesting Lunr file');
	  $el.html('Loading...');
	  $el.packery();

	  $.ajax({
	    dataType: "json",
	    url: '/search/index.json',
	    xhr: function() {
	      var xhr = new window.XMLHttpRequest();
	      //Download progress
	      xhr.addEventListener("progress", function(evt){
	        $el.append('.');
	      }, false);
	      return xhr;
	    },
	    success: function(data) {

	      // lunrIndex = lunr.Index.load(data.index);
	      lunrMap = data.docs;
				var docs = [];
				for (var docId in lunrMap) {
    			docs.push(lunrMap[docId]);
				}
				console.log(docs);
				// sort by date
				docs.sort(function(a,b){
					return (a.date < b.date);
					// return a.date < b.date ? 1 : 0;
				});
				console.log("sorted", docs);
				for (var index = 0; index < docs.length; ++index) {
			    console.log(docs[index]);
					addCard($el, docs[index]);
				}

				// var docIds = Object.keys(lunrMap);
				// for (var i=0; i<docIds.length; i++) {
				// 	docId = docIds[i];
				//   console.log(docId);
				// 	if (doc = lunrMap[docId]) {
				// 		addCard($el, doc);
 	     //    }
				// }
	    }
	  });
	}

</script>
