@import "_artificial-colors.scss";

.makingtime {
  color: white;

  .hero {
    background-image: url("../images/makingtime_hero-home.png");

    h1 {
      padding-top: 220px;
      padding-bottom: 120px;
    }
  }

  h1 {
    font-family: "Droid Sans", Georgia, Times, serif;
    font-style: italic;
  }
}

h2 {
  font-size: 1.6em;
}

.large {
  font-size: 1.0em;
  line-height: 1.3em;
}

.pale-turquoise {
  background-color: $pale-turquoise;
  padding-top: 40px;
  padding-bottom: 60px;

  .icon.padded {
    padding: 48px;
  }

  h2, p {
    color: $dark-grape;
    text-align: center;
  }
}

.dark-grape {
  background-color: $dark-grape;
  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    color: $pale-grape;
    text-align: center;
  }

  h1 {
    color: $white;
  }
}

.tulip {
  background-color: $tulip;
  h1 {
    font-size: 2.4em;
    text-align: center;
    padding: 60px 0 60px 0;
    color: $white;
  }
}

.dark-tulip {
  background-color: $dark-tulip;
  h2, p {
    color: white;
  }
}

.pale-grass {
  background-color: $pale-grass;
}

.warm-grey-10 {
  background-color: $warm-grey-10;
}

.cool-grey-90 {
  background-color: $cool-grey-90;
  h1, h2, h3, h4, h5, p {
    color: $white;
  }
}

a.tulip-link {
  font-weight: 600;
  color: $tulip;
}

a.tulip-link:hover {
    color: $dark-tulip;
}


a.pale-grass-link {
  color: $pale-grass
}

a.pale-grass-link:hover {
  color: $pale-lime;
}

.introduction {
	margin: 60px 0 60px 0;

	h1 {
		color: white;
	}

	h2 {
		font-size: 1em;
		line-height: 1.4em;
		color: $cool-grey-20;
		font-weight: normal;

		a {
			color: $pumpkin;
		}
		a:hover {
			color: $dark-pumpkin;
		}
	}

	h5 {
		color: $cool-grey-20;
		margin-bottom: 20px;
		text-transform: none;
		font-family: "Droid Serif", Georgia, Times, serif;
		font-style: italic;

		a {
			text-decoration: underline;
			color: $cool-grey-20;
		}
	}
}

.container.packery {
  margin-top: 0;
  margin-bottom: 120px;
}
.contentbox {
	h3 {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-size: 1em;
		font-style: normal;
		text-align: center;
		color: $white;
		position: relative;
		top: 40%;
		padding: 10px;
	}

	a.overlaybox {
		display: block;
		margin: auto;
		width: 100%;
    height: 100%;
		background-color: rgba($cool-grey-90, .8);
		position: relative;

		opacity: 0;
		transition: opacity .4s linear;
	}

	&:hover a.overlaybox {
		opacity: 1;
		transition: opacity .2s linear;
	}
}

.contentbox {
	color: white;
  padding: 0;
	background-size: 100% 100%;
}

@media only screen and (min-device-width: 768px) {
	.contentbox {
		height: 256px;
	}
}

@media (min-width: 960px) {
	.contentbox {
		height: 320px;
	}
}

.extra-top {
  padding-top: 40px;
}

.extra-bottom {
  padding-bottom: 40px;
}

.top-rule {
  border-top: 1px solid $cool-grey-20;
}

.app-logo {
  width: 40%;
  margin-top: 40%;
}

.description {
  margin-top: 80px;
}

.intention {
  h1 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
  }
  h2 {
    font-weight: 400;
  }
}
