@import "../../../stylesheets/_artificial-colors.scss";

.makingtime {
  background-color: $cool-grey-90;
}

.extra-top {
  padding-top: 40px;
}

.extra-bottom {
  padding-bottom: 40px;
}

.top-rule {
  border-top: 1px solid $cool-grey-20;
}

// background colors

.turquoise, .sapphire, .grape, .dark-grape, .tulip, .dark-tulip, .dandelion, .warm-grey-30, .warm-grey-70, .warm-grey-80, .cool-grey-70, .cool-grey-80, .cool-grey-90 {
  h1, h2, h3, h4, h5, p { color: $white; }
}

.white { background-color: $white; }

.turquoise { background-color: $turquoise; }
.palest-turquoise { background-color: $palest-turquoise; }

.sapphire { background-color: $sapphire; }
.palest-sapphire { background-color: $palest-sapphire; }

.grape { background-color: $grape; }
.dark-grape { background-color: $dark-grape; }

.tulip { background-color: $tulip; }
.dark-tulip { background-color: $dark-tulip; }

.palest-grass { background-color: $palest-grass; }

.palest-lime { background-color: $palest-lime; }
.lime { background-color: $lime; }

.dandelion { background-color: $dandelion; }

.warm-grey-10 { background-color: $warm-grey-10; }
.warm-grey-30 { background-color: $warm-grey-30; }
.warm-grey-70 { background-color: $warm-grey-70; }
.warm-grey-80 { background-color: $warm-grey-80; }

.cool-grey-10 { background-color: $cool-grey-10; }
.cool-grey-70 { background-color: $cool-grey-70; }
.cool-grey-80 { background-color: $cool-grey-80; }
.cool-grey-90 { background-color: $cool-grey-90; }

// link colors

a.turquoise-link { color: $turquoise; }
a.turquoise-link:hover { color: $palest-turquoise; }

a.darkturquoise-link { color: $turquoise; }
a.darkturquoise-link:hover { color: $dark-turquoise; }

a.sapphire-link { color: $sapphire; }
a.sapphire-link:hover { color: $dark-sapphire; }

a.grape-link { color: $grape; }
a.grape-link:hover { color: $dark-grape; }

a.tulip-link { color: $tulip; }
a.tulip-link:hover { color: $dark-tulip; }

a.pale-grass-link { color: $pale-grass }
a.pale-grass-link:hover { color: $pale-lime; }

a.lime-link { color: $lime; }
a.lime-link:hover { color: $dark-lime; }

a.pale-dandelion-link { color: $pale-dandelion; }
a.pale-dandelion-link:hover { color: $dandelion; }

a.grey-link { color: $warm-grey-40; }
a.grey-link:hover { color: $warm-grey-50; }

// specific to the main page

.introduction {
  .pale-turquoise {
    h2, p { color: $dark-grape; }
  }

  .hero {
    background-image: url("../images/makingtime_hero-home.png");

    h1 {
      padding-top: 220px;
      padding-bottom: 120px;
    }
  }

  .icon { margin: 50px; }
}

.container.packery {
  margin-top: 0;
  margin-bottom: 120px;
}

.contentbox {
	.mashup {
		font-size: 24px;
		text-align: center;
		color: $white;
		position: relative;
		top: 40%;
		padding: 10px;
	}

	a.overlaybox {
		display: block;
		margin: auto;
		width: 100%;
    height: 100%;
		background-color: rgba($cool-grey-90, .8);
		position: relative;

		opacity: 0;
		transition: opacity .4s linear;
	}

	&:hover a.overlaybox {
		opacity: 1;
		transition: opacity .2s linear;
	}
}

.contentbox {
	color: white;
  padding: 0;
	background-size: 100% 100%;
}

@media only screen and (min-device-width: 320px) {
  .contentbox {
      width: 320px;
      height: 320px;
      margin: 0 auto;
  }
}

@media only screen and (min-device-width: 768px) {
  .contentbox {
      width: 240px;
      height: 240px;
  }
}

@media (min-width: 960px) {
	.contentbox {
      width: 320px;
      height: 320px;
  }
}

// specific to detail pages

.makingtime {
  .bottom-links {
    a { text-decoration: underline; }

    .next-link {
      padding: 0 0 10px 0;

      font-family: "Noto Serif", Georgia, Times, serif;
      font-style: italic;
    }
  }
}

// specific to each page

.times {
  .title, .subtitle {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  .title {
    margin-top: 20px;
  }

  @media only screen and (min-device-width: 320px) {
    .app-logo {
      width: 40%;
      margin-top: 30%;
    }
  }

  @media only screen and (min-device-width: 768px) {
    .app-logo {
      width: 40%;
      margin-top: 30%;
    }
  }
}

.intention {
  .title {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}

.twimmer {
  .title, .subtitle {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    font-style: normal;
  }
}

.artificialtimercc {
  .title, .subtitle {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    font-style: normal;
  }
}

.keytime {
  .title, .subtitle {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    font-style: normal;
  }
  .title {
    font-size: 48px;
    font-weight: lighter;
  }
}

.timebot {
  .small-statement {
    font-weight: 700;
  }
}

.timebook {
 .small-statement {
   font-weight: 700;
 }
}

.timus {
  .title, .subtitle {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    font-style: normal;
  }
  .title {
    font-weight: 400;
  }
}

.itime {
  .title, .subtitle {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    font-style: normal;
  }
  .subtitle {
    font-weight: 400;
  }
}
