---
layout: projects/connecting-things/_thing_layout
title: UE Mini Boom
preview: thing/thing.png
date: 2018-02-27
---
<p>
UE Mini Boom is a tiny portable Bluetooth speaker developed by Logitech. It connects to smartphones, tablets or other devices using either Bluetooth or the auxiliary input. The product is protected by a rubber case, and it comes in various colors. In the back, it has one power switch, a micro USB charging port, and an input. The speaker does not require an app to function unless the user is trying to connect several speakers at the same time.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>short but not intuitive
</h2>
<p>
To pair and wirelessly connect the UE Mini Boom on the first use, the speaker has to be turned on by sliding the power switch. Four different indicators are showing that the device is on, and ready to be paired: a green indicator should be visible behind the switch, a power indicator to the right of the switch lights up green, at the top of the speaker, the Bluetooth connect button rapidly blinks blue, and a tone is played. Then, the user should open the setting app of his smartphone, check for broadcasting Bluetooth devices and select the Mini Boom in the list of devices. The app shows an indeterminate progress indicator until the pairing and connection process is finished. An audible confirmation from the speaker confirms that it’s ready to use.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>okay
</h2>
<p>
Any user that has access to the speaker is able to connect with it. The fact that a physical button has to be pressed on the speaker and that the user has to confirm the connection in the settings of the smartphone makes the security reasonable for a product that does not store any confidential user’s data. The only risk is that someone plays content the user does not want to hear.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>good
</h2>
<p>
The Bluetooth range of this speaker reaches up to 15 meters which is pretty good. The battery lasts up to 10 hours, and the recharge time takes about 4 hours.
</p>

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/thing.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  }
]
</script>
