---
layout: projects/connecting-things/_thing_layout
title: UE Mini Boom
preview: thing/front_off.png
date: 2018-02-27
published: false
---
<p>
UE Mini Boom is an 11 cm wide portable Bluetooth speaker developed by Logitech in 2013. A new model has been released in 2017 but the one we analyzed is the original speaker. It connects to smartphones, tablets or other devices using either an auxiliary input or Bluetooth. The product is protected by a rubber case and comes in various colors. The design of the speaker is simple, with one power switch, a micro USB charging port, and an aux input. The speaker does not require an app to function unless the user is trying to connect several speakers at the same time.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>short but not intuitive
</h2>
<p>
When the UE Mini Boom is turned on for the first time, the user should know without instructions that it needs to be paired to a device. An app is available and useful to connect two Mini Booms to one device. However, to connect one speaker, it is not necessary. Pressing the connection button puts the speaker into pairing mode and searches for a Bluetooth source device to pair with. It indicated this state through a green led light at the back, a blinking blue led in the front of the speaker and by playing an audio tone. Once the speaker is on, the user needs to visit their device's Bluetooth settings and select the Mini Boom from their list of broadcasting devices. After confirming to pair with the Mini boom, the device shows an indeterminate progress indicator until the pairing and connection process is finished. The speaker confirms this pairing with a solid blue led light in the front and by playing an audio tone.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>okay
</h2>
<p>
Any user that has access to the speaker is able to connect with it. The fact that a physical button has to be pressed on the speaker and that the user has to confirm the connection in the settings of the smartphone makes the connection verified, and therefore the security reasonable for a product that does not store any confidential user’s data. The hacker risk, however, always exists. 
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>good
</h2>
<p>
The Bluetooth range of this speaker reaches up to 15 meters which is pretty good. The battery lasts up to 10 hours, and the recharge time takes about 4 hours. If the Bluetooth is turned off or if the device gets out of range, the media stops playing. Otherwise, the speaker tested smoothly, especially for such a small product. The speaker remembers the last 8 paired devices, so from the second time it is switched on, it automatically connects to the last device it had paired with.
</p>

<script>
var flowSteps = [
  {
    caption: "User turns speaker on, OS listens for Bluetooth products",
    thingImg: "thing/back_turnon.gif",
    networkAnimations: ["actors/noCloud_noWifi_noApp.json", "OS_listens.json"],
    screenImg: "screens/00.png"
  },
  {
    caption: "User presses Bluetooth button on speaker, begins Bluetooth broadcasting, OS settings discovers speaker",
	thingImg: "thing/back_on.png",
    thingImg: "thing/top.png",
    networkAnimations: ["actors/noCloud_noWifi_noApp.json", "ThingOS_dscovery.json"],
    screenImg: "screens/01.gif"
  },
  {
    caption: "Speaker front LED blinks, user selects speaker in OS settings list, speaker and OS are pairing",
    thingImg: "thing/front_blink.gif",
    networkAnimations: ["actors/noCloud_noWifi_noApp.json", "ThingOS_pair.json"],
    screenImg: "screens/02.gif"
  },
  {
    caption: "Speaker front LED turns solid, speaker and OS are paired and connected, OS settings show speaker is connected",
    thingImg: "thing/front_on.png",
    networkAnimations: ["actors/noCloud_noWifi_noApp.json", "ThingOS_verified.json"],
    screenImg: "screens/03.png"
  }
]
</script>
