---
layout: projects/connecting-things/_thing_layout
title: UE Mini Boom
preview: thing/thing.png
date: 2018-02-27
published: false
---
<p>
UE Mini Boom is a tiny portable Bluetooth speaker developed by Logitech. It connects to smartphones, tablets or other devices using either an auxiliary input or Bluetooth. The product is protected by a rubber case and comes in various colors. The design of the speaker is simple, with one power switch, a micro USB charging port, and an aux input. The speaker does not require an app to function unless the user is trying to connect several speakers at the same time.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>short but not intuitive
</h2>
<p>
When the UE mini boom is turned on for the first time, it automatically goes into pairing mode and searches for a Bluetooth source device to pair with. It indicated this state through a green led light at the back, a blinking blue led in the front of the speaker and by playing an audio tone. Once the speaker is on, the user needs to go to their device's Bluetooth settings and select the Mini Boom from their list of broadcasting devices. After confirming to pair with the Mini boom, the device shows an indeterminate progress indicator until the pairing and connection process is finished. The speaker confirms this pairing with a solid blue led light in the front and by playing an audio tone. The speaker remembers the last 8 paired devices, so the next time it is switched on, it automatically connects to the last device it had paired with.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>okay
</h2>
<p>
Any user that has access to the speaker is able to connect with it. The fact that a physical button has to be pressed on the speaker and that the user has to confirm the connection in the settings of the smartphone makes the security reasonable for a product that does not store any confidential user’s data.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>good
</h2>
<p>
The Bluetooth range of this speaker reaches up to 15 meters which is pretty good. The battery lasts up to 10 hours, and the recharge time takes about 4 hours.
</p>

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/thing.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  }
]
</script>
