<section id="content">

<!-- page content -->
	<div class="flex container section">
		<div class="col-12">
			<div class="padded center light-text">
				<h1>Hello there.</h1>
				<h2 class="statement">We're hiring an Artificial designer.</h2>
			</div>
		</div>
		<div class="col-6">
			<div class="padded job-details">
				<h4 class="sentence">An Artificial designer is passionate about <strong>designing user experiences</strong>, and cares as much about <strong>how things feel as how they work</strong>.</h4>
				<h4 class="sentence">An Artificial Designer <strong>balances uniqueness with predictability</strong>, and shows both <strong>confidence and humility</strong>.</h4>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<ul class="job-requirements">
					<li>You seek to design amazing user interfaces, from ideation to pixel-perfection.</li>
					<li>You approach problems with questions before seeking solutions.</li>
					<li>You believe in making over talking, and conveys ideas through sketches, comps, and prototypes.</li>
					<li>You enjoy working with others and incorporating multiple perspectives to strengthen a design.</li>
					<li>You possess a clear understanding of various platforms (iOS, Android, web) and how to design to their patterns.</li>
					<li>You have a deep and integrated (interaction + visual) understanding and appreciation of design systems.</li>
					<li>You consider many design solutions and rationalize the best solution for the context.</li>
					<li>You enjoy helping others understand as well as seeking understanding from others.</li>
					<li>You enjoy generating new concepts and refining final designs.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="bleed grape-paletulip section">
		<div class="flex container tools light-text">
			<div class="col-12">
				<div class="padded center">
					<h3>We are masters of our tools.</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<svg version="1.1" id="DESIGNS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="64px" height="64px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
						<path class="feather_een" d="M20,12.5L20,12.5c0,0.276,0.224,0.5,0.5,0.5h7c0.276,0,0.5-0.224,0.5-0.5v0c0-0.276-0.224-0.5-0.5-0.5
							h-7C20.224,12,20,12.224,20,12.5z M20.5,15h7c0.276,0,0.5-0.224,0.5-0.5v0c0-0.276-0.224-0.5-0.5-0.5h-7c-0.276,0-0.5,0.224-0.5,0.5
							v0C20,14.776,20.224,15,20.5,15z M20.5,17h7c0.276,0,0.5-0.224,0.5-0.5l0,0c0-0.276-0.224-0.5-0.5-0.5h-7
							c-0.276,0-0.5,0.224-0.5,0.5l0,0C20,16.776,20.224,17,20.5,17z M20.5,19h7c0.276,0,0.5-0.224,0.5-0.5l0,0c0-0.276-0.224-0.5-0.5-0.5
							h-7c-0.276,0-0.5,0.224-0.5,0.5l0,0C20,18.776,20.224,19,20.5,19z M16,18v-6c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1v6h-1v-4
							c0-0.552-0.448-1-1-1h-1c-0.552,0-1,0.448-1,1v4H8v-5c0-0.552-0.448-1-1-1H6c-0.552,0-1,0.448-1,1v5H4.5C4.224,18,4,18.224,4,18.5
							l0,0C4,18.776,4.224,19,4.5,19h12c0.276,0,0.5-0.224,0.5-0.5l0,0c0-0.276-0.224-0.5-0.5-0.5H16z M7,18H6v-5h1V18z M11,18h-1v-4h1V18
							z M15,18h-1v-6h1V18z M29,4H3C1.343,4,0,5.343,0,7v16c0,1.657,1.343,3,3,3h9v3h-1.5c-0.276,0-0.5,0.224-0.5,0.5l0,0
							c0,0.276,0.224,0.5,0.5,0.5h11c0.276,0,0.5-0.224,0.5-0.5l0,0c0-0.276-0.224-0.5-0.5-0.5H20v-3h9c1.657,0,3-1.343,3-3V7
							C32,5.343,30.657,4,29,4z M19,29h-6v-3h6V29z M31,23c0,1.105-0.895,2-2,2H3c-1.105,0-2-0.895-2-2V7c0-1.105,0.895-2,2-2h26
							c1.105,0,2,0.895,2,2V23z"/>
					</svg>
					<h4>Digital</h4>
					<ul>
						<li>Illustrator</li>
						<li>InDesign</li>
						<li>Text editor</li>
						<li>Photoshop</li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<svg version="1.1" id="DESIGNS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="64px" height="64px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
						<path class="feather_een" d="M19,0h-6c-1.657,0-3,1.343-3,3v20.667c0,0.216,0.07,0.427,0.2,0.6l5,6.667c0.4,0.533,1.2,0.533,1.6,0
							l5-6.667c0.13-0.173,0.2-0.384,0.2-0.6V3C22,1.343,20.657,0,19,0z M16,30.333L15,29h2L16,30.333z M17.75,28h-3.5l-3-4h9.5L17.75,28z
							 M21,23H11V11h10V23z M21,10H11V7h10V10z M21,6H11V3c0-1.103,0.897-2,2-2h6c1.103,0,2,0.897,2,2V6z"/>
					</svg>
					<h4>Analog</h4>
					<ul>
						<li>Sketchbook</li>
						<li>Post its</li>
						<li>Whiteboard</li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<svg version="1.1" id="DESIGNS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="64px" height="64px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
						<path class="feather_een" d="M16.5,20h7c0.276,0,0.5-0.224,0.5-0.5l0,0c0-0.276-0.224-0.5-0.5-0.5h-7c-0.276,0-0.5,0.224-0.5,0.5
							l0,0C16,19.776,16.224,20,16.5,20z M16.5,22h7c0.276,0,0.5-0.224,0.5-0.5l0,0c0-0.276-0.224-0.5-0.5-0.5h-7
							c-0.276,0-0.5,0.224-0.5,0.5l0,0C16,21.776,16.224,22,16.5,22z M15.5,7h-7C8.224,7,8,7.224,8,7.5v0C8,7.776,8.224,8,8.5,8h7
							C15.776,8,16,7.776,16,7.5v0C16,7.224,15.776,7,15.5,7z M15.5,9h-7C8.224,9,8,9.224,8,9.5v0C8,9.776,8.224,10,8.5,10h7
							c0.276,0,0.5-0.224,0.5-0.5v0C16,9.224,15.776,9,15.5,9z M15.5,11h-7C8.224,11,8,11.224,8,11.5v0C8,11.776,8.224,12,8.5,12h7
							c0.276,0,0.5-0.224,0.5-0.5v0C16,11.224,15.776,11,15.5,11z M22,12V5c0-1.657-1.343-3-3-3H5C3.343,2,2,3.343,2,5v9
							c0,1.657,1.343,3,3,3h4l1,1v6c0,1.657,1.343,3,3,3h4l2.293,2.293c0.391,0.391,1.024,0.391,1.414,0L23,27h4c1.657,0,3-1.343,3-3v-9
							c0-1.657-1.343-3-3-3H22z M9.414,16H5c-1.105,0-2-0.895-2-2V5c0-1.105,0.895-2,2-2h14c1.105,0,2,0.895,2,2v9c0,1.105-0.895,2-2,2
							h-4.414L12,18.586L9.414,16z M27,26h-4.414L20,28.586L17.414,26H13c-1.105,0-2-0.895-2-2v-5l0.293,0.293
							c0.391,0.391,1.024,0.391,1.414,0L15,17h4c1.657,0,3-1.343,3-3v-1h5c1.105,0,2,0.895,2,2v9C29,25.105,28.105,26,27,26z"/>
					</svg>
					<h4>Communication</h4>
					<ul>
						<li>Slack</li>
						<li>Email</li>
						<li>Git</li>
						<li>Calendar</li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<svg version="1.1" id="DESIGNS" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="64px" height="64px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
						<path class="feather_een" d="M29.146,5.854C29.461,5.539,29.238,5,28.793,5h-4.086l2.049-2.049C26.836,2.971,26.914,3,27,3
							c0.629,0,1.123-0.581,0.973-1.236c-0.083-0.361-0.376-0.655-0.738-0.737C26.581,0.878,26,1.371,26,2
							c0,0.086,0.029,0.164,0.049,0.244L23.293,5H3.207C2.762,5,2.539,5.539,2.854,5.854L15.5,18.5V29h-5c-0.276,0-0.5,0.224-0.5,0.5v0
							c0,0.276,0.224,0.5,0.5,0.5h11c0.276,0,0.5-0.224,0.5-0.5v0c0-0.276-0.224-0.5-0.5-0.5h-5V18.5L29.146,5.854z M23.707,6h3.879l-1,1
							h-3.879L23.707,6z M4.414,6h17.879l-1,1h-0.059c-0.41-0.289-0.839-0.438-1.281-0.438c-0.496,0-0.919,0.184-1.296,0.438H5.414
							L4.414,6z M20.623,10.561c-0.483,0.483-0.941,0.877-1.452,0.877c-0.315,0-0.65-0.15-1.023-0.523
							c-0.976-0.976-0.427-1.694,0.354-2.475c0.483-0.483,0.941-0.877,1.452-0.877c0.315,0,0.65,0.15,1.023,0.523
							C21.953,9.062,21.404,9.78,20.623,10.561z M16,17.586L6.414,8h11.121c-0.598,0.645-1.455,1.835-0.448,3.206L14,14.293
							c-0.195,0.195-0.195,0.512,0,0.707s0.512,0.195,0.707,0l3.081-3.081c0.441,0.34,0.904,0.518,1.384,0.518
							c0.913,0,1.593-0.604,2.159-1.17C21.841,10.757,23.094,9.5,22.179,8h3.407L16,17.586z"/>
					</svg>
					<h4>Letting loose</h4>
					<ul>
						<li>Moscow mule</li>
						<li>Gin &amp; tonic</li>
						<li>Aperol spritz</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container section">
		<div class="col-12">
			<div class="padded center light-text">
				<h2 class="statement">We'd like to get to know you!</h2>
			</div>
		</div>
		<div class="col-4 left-4 right-4">
			<div class="padded">
				<a href="https://theartificial.recruitee.com/o/designer">
					<p class="hiring-button">apply here</p>
				</a>
			</div>
		</div>
	</div>


</section>
