<% content_for :javascript_tags do %>
	<%= javascript_include_tag 'jquery.color-2.1.2' %>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.js'></script>
<% end %>

<% content_for :stylesheet_tags do %>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.css' rel='stylesheet' />
<% end %>
<section id="content">

<!-- page content -->
	<div class="bleed turquoise-palegrass">
		<div class="flex container">
			<div class="col-10 left-1 right-1 section">
				<div class="padded center dark-text">
					<h1>About Us</h1>
					<h2>We are a boutique UX agency located in Amsterdam.</h2>
					<p>We believe in making over talking and convey our ideas through sketches, pixels, and prototypes. We're excited to learn new techniques and technologies, especially if it means creating a better product.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bleed" style="background-image: url(images/us.jpg); height: 360px;">
	</div>

	<div class="section">
		<div class="flex container">
			<div class="col-10 left-1 right-1">
				<div class="padded center light-text">
					<h3>Collaboration is at the core of what we do.</h3>
					<p>We've studied psychology, computer science, painting, printmaking, advertising, computer arts, graphic and digital design, and industrial design. We love color, typography, generative systems, and interactive media. The combination of our diverse backgrounds helps us find unique solutions.</p>
					<p>Interested in being Artificial? Check out the job postings below:</p>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<a href="artificialdesigner.html">
						<p class="hiring-button">Artificial designer</p>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="bleed">
		<div id="map" class="map"></div>
		<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoidmVyeWFydGlmaWNpYWwiLCJhIjoiY2lrZWUwbGJiMDAzcnYybTJ4eno2NHV4dCJ9.puo-HH5dh9QqhZ3XaqHIuw';

		var map = new mapboxgl.Map({
		    container: 'map', // container id
		    style: 'mapbox://styles/veryartificial/cikee8wah00eocekq7zxpw3gc',
		    center: [4.886719, 52.371355],
		    zoom: 13,
				interactive: false
		});

		var tooltip = new mapboxgl.Popup({closeButton: false, closeOnClick: false, anchor: "right"})
    .setLngLat([4.886719, 52.371355])
    .setHTML('Herengracht 266')
    .addTo(map);

		</script>
		<style>
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    .marker-title {
        font-weight: 700;
    }
</style>
	</div>

	<div class="bleed turquoise-palegrass">
		<div class="section">
			<div class="flex container">
				<div class="col-12">
					<div class="padded center dark-text">
						<h1>We are The Artificial</h1>
					</div>
				</div>

				<div class="col-6">
					<div class="padded center">
						<a href="/people/shannon.html">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="280px" height="200px" viewBox="-19 185 280 200" enable-background="new -19 185 280 200" xml:space="preserve">
								<g>
									<path class="about-logo" d="M20.5,225.1c0,2.2,0,6.6,0,8.4c0,0.8,0.3,0.9,0.8,0.9c0.2,0,0.5,0,0.7,0v1.3c-0.3,0.1-0.8,0.1-1.3,0.1
										c-0.9,0-1.7-0.5-1.7-2c0-2.2,0-5.9,0-8.7h-0.9v-1.3H19v-1.9l1.4-0.1c0,0,0,1.9,0,2H22v1.3H20.5L20.5,225.1z"/>
									<path class="about-logo" d="M26.8,235.7c0,0,0-0.2,0-9.6c0-0.6-0.2-1-1-1c-0.7,0-1.2,0.5-1.2,1.6v9.1h-1.5v-17.4h1.4v6.4
										c0.2-0.7,0.9-1.1,1.9-1.1c1.1,0,1.9,0.7,1.9,2.2c0,9.7,0,9.9,0,9.9L26.8,235.7L26.8,235.7z"/>
									<path class="about-logo" d="M32.1,235.8c-1.1,0-1.8-0.3-2.3-1.2c-0.4-0.9-0.6-2.4-0.6-4.8c0-2.5,0.2-4.2,0.7-5.2
										c0.4-0.8,1.1-1.1,2-1.1c2.1,0,2.7,1.5,2.7,4.3v2.4h-4c0,3.1,0.2,4.2,1.3,4.2s1.3-0.7,1.3-2.4h1.5
										C34.7,234.8,33.8,235.8,32.1,235.8z M33.3,227.6c0-1.7-0.2-2.6-1.3-2.6c-1,0-1.3,0.5-1.3,4.1h2.6V227.6z"/>
									<path class="about-logo" d="M52.8,216.8c1,0,1.9,0.9,2.3,2.1c0.4,1.3,0.3,2.8,0.1,4.4c-0.1,0.7-0.1,1.5-0.1,2.2
										c-0.1,3.8-0.7,7.9-1.7,12.2c-0.1,0.6-0.3,1.1-0.5,1.8l-0.2,0.7l-0.1,0.5c-0.7,2.4-1.6,4.9-2.9,8.2l-0.1,0.1
										c-0.7,1.8-6.8,19.2-9,18.2c-1.2-0.6,0.5-2.9,0.8-3.5c0.9-1.6,1.5-3.4,2.2-5.2c1.5-3.5,2.8-7.1,4.1-10.6c1.1-3.1,2-6.1,2.8-9.3
										l0.1-0.4l0.3-0.8c1.5-3.8,2.4-8.6,2.8-15.2c0.1-0.8,0.1-2-0.1-3.2C53.4,218,53.1,217.3,52.8,216.8 M120.3,224.1
										c-0.3,0.5-0.5,1-0.7,1.4s-0.3,0.7-0.5,0.9c-2.7,4.8-4.7,10-6.5,14.8c-1.7,4.6-3.3,9.2-4.9,13.9c-0.7,1.9-1.3,3.8-2.3,5.5
										c-0.1,0.2-1.9,2.7-2.4,1.8c-0.8-1.5,0.9-3.8,1.5-5.1c1.1-2.6,1.9-5.2,2.8-7.8c0.8-2.2,1.6-4.5,2.4-6.8l0.1-0.3
										c2-5.4,4-10.9,7.2-15.5C117.8,226,119,224.9,120.3,224.1 M230.9,228c-2.6,2-4.8,5-6.3,7.1l-0.2,0.3c-0.9,1.3-1.9,2.7-2.9,4.3
										l-0.2,0.4l-0.2,0.4l-1.6,2.7h0.1c-0.6,1-1.1,2-1.6,3c-0.9,1.7-1.8,3.4-2.8,5l-0.5,0.8c-1.8,3.2-3.7,6.5-5.5,9.8
										c-1.2,2.2-2.4,4.3-3.4,6.5c-0.6,1.3-1.3,3.9-3.1,4.1c-1.6,0.2,0.4-2.8,0.6-3c0.8-1.4,1.4-2.8,2.2-4.2c1.8-3.2,3.5-6.4,5.4-9.5
										c2.6-4.4,5.4-8.8,7.7-12.6l1.2-2l0.2-0.4c1-1.7,2.1-3.3,3.1-5c0.7-1.1,2.2-3.4,4.5-5.4C228.4,229.5,229.6,228.6,230.9,228
										 M84.6,228.9c-0.2,3.3-1,6.6-1.8,9.9v0.1c-0.4,1.7-1,3.5-1.6,5.5l-0.3,1l-0.4,1c-0.4,1.2-0.9,2.3-1.4,3.6l-0.1,0.1
										c-0.6,1.5-1.2,3.1-2.1,4.5c-0.3,0.5-1.2,2.3-2.1,2.2c-0.8-0.1-0.5-0.9-0.2-1.5c0.7-1.7,1.4-3.5,2.1-5.2l1.5-4.1h-0.1
										c0.8-2.5,1.5-4.9,2.1-7.4c0.7-2.9,1.4-6.1,1.5-9.5C82.6,229,83.6,228.9,84.6,228.9 M16.4,249.6c-2.5,3.1-4.9,7.4-7,13.3
										c-0.5,1.3-1.6,8-3.9,7.2c-2.8-0.9,2.7-9.9,3.4-11.1C11.1,255.1,13.6,252,16.4,249.6 M133.7,252.1c-1.5,2.3-2.6,4.7-3.7,7.1
										c-0.8,1.8-2.2,6.3-4.4,6.8c-1.5,0.4-1.2-1.3-0.8-2c0.8-1.6,1.7-3.1,2.5-4.7c0.5-1.1,1.1-2.2,1.7-3.3
										C130.5,253.1,131.2,252.5,133.7,252.1 M94.5,252.9c-1.1,2.1-2,4.4-2.9,6.5c-0.4,1.1-2.4,8.2-4.5,7.1c-1.1-0.6,2-5.9,2.3-6.7
										c0.4-1,0.9-2.1,1.3-3.1C91.9,254.1,92.5,253.4,94.5,252.9 M171.4,252.9c-0.5,0.7-0.9,1.4-1.3,2.2c-0.3,0.5-0.5,0.9-0.8,1.4
										c-1.4,2.2-2.6,4.5-3.8,6.7c-0.7,1.3-2.4,6.3-4.6,5.3c-0.2-1.1,1.6-3.1,2.1-4.1c2.1-3.9,4.4-7.9,7.1-11.3
										C170.3,253,170.9,253,171.4,252.9 M184.3,253.8c-2.2,2.4-3.9,4.7-5.3,7.1c-1.1,1.8-2,3.6-2.9,5.5c-0.5,1.1-1.2,3.5-2.7,3.7
										c-2.1,0.4,1.7-5.4,1.8-5.6c1.8-3.1,3.8-6,6.4-8.5C182.5,255.2,183.4,254.4,184.3,253.8 M146.8,255.3c-0.3,0.3-0.6,0.7-0.8,1
										c-0.4,0.4-0.7,0.9-1,1.2c-0.7,0.8-7.2,10-8.3,9.1c-0.8-0.6,3.2-4.3,3.6-4.8C141.8,260.1,144.2,257.4,146.8,255.3 M52.5,308.3
										c-1.9,3-3.1,7.2-1.5,10.8c0.1,0.2,0.2,0.5,0.4,0.7c-1.2-0.7-2.3-1.7-2.9-2.8c-0.7-1.2-0.9-2.4-0.6-3.7c0.4-1.7,1.8-3.2,4.1-4.7
										C52.1,308.5,52.3,308.4,52.5,308.3 M105.1,332.5c-0.2,0.2-0.4,0.4-0.6,0.6c-3.2,3.5-5,8.4-4.8,12.6c0.1,1.8,0.6,3.3,1.3,4.6
										c-2.9-2.4-3.7-5.9-3.4-8.7C98,338.2,100.2,333.9,105.1,332.5 M52.7,214.6c-0.7,0-1.4,0.2-2.1,0.5c-4,2.1-6.5,6.1-6.7,10.6
										c-0.2,4.2,2.2,8.9,4.5,12.2c-0.8,3.1-1.7,6.1-2.8,9.1c-2.9,8-5.9,16.2-10.2,23.4c-2.1,3.5-4.3,7-6.4,10.5
										c-1.1,1.9-2.3,5.6-5.1,5.6c-0.1,0-0.2,0-0.2,0c-3.3-0.2-1-6.2-0.4-7.8c1.2-3.6,2.8-7.2,4.5-10.5c1.2-2.3,2.3-4.6,3.5-6.9
										c0.5-0.9,1-2,1.6-2.9c0.3-0.4,1.5-1.3,1.1-1.8c-0.8-1.2-4,1.2-4.7,1.7c-1.3,1.1-2.3,2.3-3.3,3.7c-3,4.2-4.7,9-6.9,13.6
										c-1.3,2.8-2.4,5.7-3.9,8.4c-0.8,1.4-2,3-3.7,3c-0.2,0-0.4,0-0.6-0.1c-3.6-0.7-3.2-6.2-2.8-8.8c0.2-2.1,0.5-4.1,0.9-6.2
										c0.6-2.8,1.5-5.6,2.5-8.3c2.7-7.8,8-17.2,16.3-20c0.4-0.1,0.7-0.2,1-0.2c2.1,0,3.5,2.2,3.9,4.2c0.2,1.2,0,3-0.8,4
										c-0.2,0.3-0.7,0.5-1.1,0.5c-0.3,0-0.6-0.1-0.8-0.5c-0.5-1,0.8-1.6,1-2.4c0.2-1-1.4-2.3-2.2-2.4c-0.1,0-0.1,0-0.2,0
										c-1.1,0-2.2,0.9-2.9,1.7c-1.3,1.7-1.2,4.7,0.8,6c1,0.6,1.9,0.9,2.8,0.9c4.3,0,6.4-7.2,4.2-10.9c-1.2-2-3.4-2.8-5.6-2.8
										c-1,0-2,0.2-2.9,0.4c-8.2,2.4-13.9,8.4-18,15.5c-2,3.5-3.8,7.2-4.7,11.2c-1.4,6-4,16.2,4.2,18.7c1.3,0.4,3,0.7,4.6,0.7
										c0.5,0,1,0,1.5-0.1c1.4-0.2,2.7-0.7,4-1.1c0.8-0.3,1.7-0.9,2.6-0.9c0.2,0,0.5,0,0.7,0.1c0.5,0.2,0.6,0.5,1,0.8
										c1.3,0.9,2.7,1.3,4.2,1.3c3.3,0,6.6-2,8.6-4.4c2.9-3.7,5.6-8.1,8-12.1c4.2-7.1,7.2-14.7,10.1-22.4c1.1-2.7,2.1-5.5,2.9-8.3
										c1.3,0.1,2.7,0.2,3.5,1.2c1.3,1.6-0.4,4.3-1,5.9c-2.5,5.9-5,11.8-7.5,17.7c-2.1,4.9-3.8,10.2-4.4,15.5c-0.3,2.5,0.7,4.9,2.9,6.1
										c2.7,1.4,5.9,0.7,8.7,0.1c2.3-0.5,4.2-1.7,6-3.2c0.2,1,0.8,1.9,1.7,2.5c1.4,1,3,1.4,4.5,1.4c2.7,0,5.5-1.3,8.1-3.1
										c1.7,1.8,4.9,2.6,7.4,2.6c0.3,0,0.6,0,0.8,0c1.7-0.1,5.9-0.6,7-2.2c-0.7,0.9-1,1.9-1.4,2.9c-0.5,1.2-1,2.4-1.6,3.6
										c-1.1,2.4-2.3,4.8-3.6,7.1c-5.9,0-11.9,0.5-17.7,1.5c-5.8,0.9-12.2,2.9-17.1,6.1c-2.2,1.4-4.3,3.4-5,6c-1.4,5.2,3.6,9.3,8,10.3
										c1.5,0.4,3.1,0.5,4.6,0.5c3.5,0,7-0.8,10.2-1.8c6.6-2.1,13.5-7.9,17.8-13.2c1.8-2.3,3.5-4.7,5-7.2c0.1-0.2,0.7-0.3,1.5-0.3
										c3.2,0,10.6,1.5,11.8,1.7c4.4,0.7,8.7,1.7,13,2.7c8.2,2.1,16.9,5.7,22,12.9c3.4,4.8,5.4,12.3,2.6,18c-0.7,1.3-2.2,2.3-3.2,3.4
										c-1.5,1.3-2.9,2.6-4.4,3.8c-5.7,4.7-12.5,9-20,10c-0.7,0.1-1.4,0.2-2.1,0.2c-5,0-10-2.5-10.4-8.2c-0.2-3.9,1.6-8.1,4.2-11
										c1-1.1,2.8-2.6,4.4-2.6c0.6,0,1.1,0.2,1.7,0.6c2.3,1.9-0.4,3.8-1.7,5.1c-2.4,2.4-3.8,6.4,1.2,6.4c0,0,0,0,0.1,0
										c4.8,0,7.4-5,5.7-9.1c-1.6-3.8-5-5.2-8.7-5.2c-1.2,0-2.5,0.2-3.7,0.4c-11.3,2.5-13.4,18.5-2.7,23.4c2.7,1.2,5.7,1.7,8.8,1.7
										c4.4,0,8.8-0.9,12.6-2.1c8.3-2.5,15.5-8.1,21.9-13.8c6.6-5.8,12.8-12.1,19.2-18.1c8.3-7.9,16.5-15.9,25.1-23.5
										c2.1-1.9,4.4-3.7,6.5-5.6c0.9-0.8,1.8-1.5,1.8-1.5s1.5,0.6,2.6,0.9c0.8,0.2,1.7,0.3,2.7,0.3c1.7,0,3.4-0.3,4.8-0.5
										c4.8-0.9,11.2-4,13.7-8.5c1-1.9,0.8-5.3-1.3-6.6c-1.1-0.7-2.5-1-3.9-1c-3.3,0-7,1.5-9.4,2.9c-1.6,0.9-3.2,2-4.7,3.2
										c0.3-0.9,0.6-1.7,0.8-2.5c1.9-5.6,4.7-11,7.5-16.2c1.9-3.5,4-7,6-10.5c1.9-3.3,3.6-6.7,5.5-10c1.3,0,2.6-0.1,3.9-0.2
										c3.2-0.3,7.1-1.4,9.6-3.4c3.7-3,7.7-10.5,1.4-13.1c-1-0.4-2.1-0.6-3.1-0.6c-3,0-5.9,1.7-8.4,3.9c-2,1.8-3.7,4-4.9,5.9
										c-1.2,2-2.4,3.9-3.7,5.9c-1.7-0.2-3.3-0.5-4.9-0.9c-7.9-1.9-15.2-5.9-22.9-8.5c-2.8-0.9-5.8-1.8-8.8-1.8c-0.9,0-1.9,0.1-2.8,0.3
										c-2.6,0.5-5.5,1.9-7.1,4.1c-1.5,2-1.4,5.5,0.7,7.2c1.1,0.9,3,1.6,4.7,1.6c1.4,0,2.8-0.4,3.7-1.4s1.5-3,1-4.3
										c-0.3-0.8-0.9-1.1-1.7-1.3c-0.6-0.2-2.4-0.5-2.8-1c-0.4-0.6-0.1-1.5,0.3-2c0.5-0.7,1.4-0.9,2.2-1.1c0.9-0.2,1.8-0.3,2.7-0.3
										c4.9,0,9.7,2.6,14.1,4.5c6.7,2.9,13.5,5.4,20.7,6.3c-2.6,4.2-5.2,8.4-7.7,12.7c-3.4,5.6-6.6,11.4-9.4,17.3
										c-1.9,3.9-3.8,8.2-4.4,12.6c-0.3,0.4-0.6,0.7-0.9,1c-1,0.9-2.3,1.8-3.6,1.8c-0.5,0-1.1-0.1-1.6-0.5c-2-1.3-1.3-5-0.8-6.9
										c0.8-2.8,1.9-5.6,3-8.3c1-2.3,1.9-4.6,3.4-6.7c0.7-0.9,1.4-1.9,2.2-2.7c0.2-0.2,1.6-1.5,0.4-1.7h-0.1c-0.5,0-1,0.2-1.5,0.3
										c-0.9,0.1-1.7,0-2.5,0.3c-2.4,1-3.5,3.1-4.6,5.3c-1.8,3.4-3.2,7-5,10.4c-1.3,2.4-2.7,5.1-4.5,7.1c-1.5,1.7-4.4,3.4-6.9,3.4
										c-0.3,0-0.5,0-0.8-0.1c-1.2-0.2-2.3-0.9-3.1-1.8c-0.1-0.2-0.3-0.5-0.5-0.9c1.3-1.3,2.4-2.9,3.4-4.3c3.9-5.8,6.2-12.5,9.7-18.4
										c1.7-2.9,3.8-5.4,6.1-7.8c1.7-1.8,3.9-3.6,6.4-3.9c0.2,0,0.5,0,0.7,0c2.2,0,4.6,1,5,3.3c0.3,2-1.1,4.2-3,5
										c-0.4,0.2-0.9,0.3-1.3,0.3c-1.4,0-2.5-1.1-1.5-2.9c0.5-0.9,1-1.9,0.2-2.8c-0.2-0.2-0.7-0.3-1.3-0.3c-0.5,0-1,0.1-1.2,0.2
										c-0.8,0.4-1.1,1.4-1,2.3c0,2.9,2.4,4.6,4.8,4.6c0.9,0,1.7-0.2,2.5-0.7c2.2-1.3,3.4-4.2,2.5-6.6c-0.9-2.5-4.1-3.4-6.5-3.5
										c-0.3,0-0.6,0-0.9,0c-4.6,0-9.1,2.2-12.4,5.4c-5,4.9-8.1,11-11.2,17.3c-1.9,3.9-3.7,7.7-6.3,11.3c-1.5,2.1-3.9,4.3-6.5,4.3
										c-1.1,0-2.3-0.4-3.4-1.6c-0.1-0.1-0.3-0.3-0.5-0.6c5.1-3.9,8.7-10,11.9-15.3c2.4-4,4.4-8.2,6.9-12.2c1.2-1.9,2.2-3.9,3.7-5.5
										c0.1-0.1,2.6-2.5,1-2.5h-0.1c-0.8,0-1.5,0.7-2.3,0.9c-1.2,0.3-4.2,0-5,1c-3.9,4.7-6.7,10.5-9.7,15.8c-3.5,6-7.1,12.2-12.2,17
										c-1.9,1.7-3.8,3.1-5.7,3.1c-1.3,0-2.6-0.6-3.8-2c-3.1-3.5-1-9.2,0.6-12.9c2.2-5,5.5-9.5,9.1-13.6c0.9-1.1,2.1-2.6,3.3-3.9
										c0.9,2.3,2.2,4.7,4.7,4.7c0.2,0,0.5,0,0.7-0.1c3.5-0.6,3.9-6.2,1.2-8c-1.2-0.8-2.5-1.2-3.8-1.2c-0.9,0-1.8,0.2-2.6,0.5
										c-0.3-0.9-0.6-1.7-1-2.6c-2.2-5.6-4.9-13.6-10.9-16.3c-0.9-0.4-2.1-0.7-3.2-0.7c-1.4,0-2.8,0.4-3.5,1.7c-1.6,2.6,0.8,6,3.5,6l0,0
										c1.9,0,3.7-0.6,5.3-0.6c1.5,0,2.9,0.5,4.1,2.7c1.9,3.2,3.3,6.8,4.4,10.3c-4.1,1.9-7.9,6.3-10.1,8.9c-3.8,4.5-7.3,9.6-9.4,15.2
										c-1.4,3.9-2.1,9.1,1.8,11.7c2,1.3,4.6,1.7,7,1.7c0.3,0,0.6,0,0.9,0c3.6-0.1,7.4-0.5,10.6-2.2c0.6-0.3,1.1-0.6,1.7-1
										c0.3,0.6,0.7,1.1,0.8,1.2c1.1,1.4,3.1,1.8,5.1,1.8c2.7,0,5.5-0.8,7.2-1.6c0.9-0.4,1.7-1,2.4-1.7c1.7,2.2,4,3.1,6.5,3.1
										c1,0,2.1-0.1,3.2-0.4c2.1-0.5,4.3-1.5,6.3-2.3c0.6-0.2,1.2-0.4,1.6-0.4c0.9,0,1.6,0.5,2.4,1.5c0.8,1.1,2.1,1.6,3.4,1.6
										c0.6,0,1.1-0.1,1.7-0.3c1-0.3,2-1,2.8-1.7c0,0.4,0,0.8,0.1,1.1c-5.8,5-11.6,10-17.3,15.2c-8.4,7.6-16.4,15.6-24.6,23.2
										c-1.3,1.2-2.6,2.5-3.9,3.7c0.1-0.2,0.1-0.4,0.2-0.7c1.4-6.2-1.9-11.4-6.3-15.7c-1.2-1.2-2.6-2.3-4-3.3c-11-7.7-27.2-9.4-39.8-10.7
										c-2.3-0.2-4.5-0.4-6.8-0.4c1.8-3.3,3.4-6.8,4.9-10.2c0.3-0.8,0.7-1.6,1-2.4c2.2,2.1,6.8,2.3,9.4,1.6c3.7-1.1,6.9-3.7,9.6-6.3
										c1.5-1.4,3-2.8,4.3-4.4c3.5-4.3,6.2-9.1,8.6-14.1c2.3-4.6,4.1-9.6,7.6-13.4c0.2-0.2,0.7-0.8,0.6-1.1c-0.1-0.2-0.3-0.3-0.6-0.3
										c-0.2,0-0.3,0-0.4,0c-0.7,0.1-1.3,0.3-2,0.5c-0.6,0.2-1.2,0.6-1.8,0.6c-3.7,0.5-5,1.7-6.7,5.1c-2.1,4.1-4.3,8.1-6.3,12.3
										c-1.8,3.8-3.7,7.7-6,11.2c-1.8,2.7-4.3,6.4-7.3,8c-1.5,0.8-4.6,0.7-6.2,0.4c-2.6-0.5-1.7-3-1-4.7c0.8-2,1.8-3.1,3.2-4.7
										c3.6-3.8,6.2-8.7,8.9-13.1c3.1-4.9,6-9.9,8.3-15.2c2.3-5.4,5.1-10.6,6.5-16.3c0.9-3.6,3.1-10.4-2.1-11.9c-0.5-0.2-1-0.2-1.5-0.2
										c-3.2,0-6.7,2.6-8.3,4.9c-3.4,4.8-5.6,10.7-7.6,16.2c-1.9,5-3.5,10.1-5.4,15.1c-1,2.7-2,5.4-3,8.1c-1.8,5-2.9,10.2-5,15.1
										c-1.8,4.2-5,6.2-9.6,6.4c-0.2,0-0.4,0-0.7,0c-1.2,0-2.4-0.2-3.6-0.7c-0.8-0.4-1.5-1.1-2.2-1.7c6.7-5.4,10.8-13.1,14.1-20.9
										c1.9-4.4,3.2-9.1,6.2-12.9c0.2-0.2,0.6-0.8,0.5-1.1c-0.1-0.2-0.3-0.2-0.4-0.2c-0.2,0-0.4,0-0.5,0.1c-0.6,0.1-1.2,0.3-1.8,0.6
										c-0.5,0.2-1.1,0.6-1.6,0.7c-3.4,0.7-4.5,1.9-5.9,5.2c-1.9,4.4-3.7,8.9-5.8,13.2c-1.1,2.2-2.4,4.3-3.5,6.5c-0.5,1-1.1,1.9-1.7,2.9
										c-1.7,2.7-4,6.1-7,7.5c-1.7,0.8-5.4,1.2-6.7-0.8c-0.3-0.5-0.3-1.1-0.3-1.6c3-3,5.2-7.1,7.2-10.4c4.2-7.1,7.2-14.7,10.1-22.4
										c0.5-1.2,0.9-2.4,1.4-3.7c0.4-0.1,0.7-0.2,1.1-0.3c6.3-2.2,14.4-4.9,17.3-11.6c1-2.3,1.2-5.2-1.5-6.3c-0.6-0.2-1.3-0.4-2-0.4
										c-1.7,0-3.5,0.7-4.7,1.8c-1.7,1.5-2.2,3.6-0.2,5c1.2,0.9,3.1,1.4,2.5,3.3c-0.5,1.5-2.5,2.6-3.8,3.3c-2.6,1.3-5.3,2.1-8.1,3
										c0.6-1.9,1.2-3.7,1.7-5.6c1-4.1,2.1-8.3,1.9-12.5c0-0.1-0.6-0.2-1.4-0.2c-2.1,0-5.8,0.4-5.8,0.8c0.2,3.6-0.6,7.1-1.4,10.6
										c-0.8,3.3-1.7,6.4-2.8,9.6c-0.4,0.1-0.7,0.3-1.1,0.4c-2.3,1-4.8,1.6-6.3,3.9c-1.2,1.8-1.2,5.2,0.3,6.9c0.4,0.5,1.4,0.9,2.4,1.2
										c-1.2,2.8-2.4,5.5-3.7,8.1c-1.6,3.1-3.3,6-5.1,8.9c-1.6,2.5-2.8,5.2-4.6,7.5c-1.3,1.6-3.2,2.4-5.3,2.3c-5.3-0.4-0.3-8.5,0.4-10.8
										c1.1-3.7,2.7-7.3,4.1-10.9c1.8-4.9,3.8-9.8,6.3-14.5c1-2,1.8-4.2,3.2-6c0.7-0.9,2.7-2.3,2.3-3.6c-0.1-0.4-0.8-0.6-1.6-0.6
										c-1.3,0-2.8,0.3-3.4,0.4c-1,0.2-2,0.3-3.1,0.3c-1.2,0-2.4-0.1-3.5-0.5c-0.5-0.2-1-0.3-1.5-0.6c0.2-0.6,0.4-1.3,0.5-1.9
										c1-4.1,1.7-8.4,1.8-12.7c0-2.4,0.6-4.9-0.1-7.2C56.5,216.2,54.7,214.6,52.7,214.6z M48.9,236.5c-2.4-2.4-3.6-6.3-3.9-9.6
										c0-0.3-0.1-0.6-0.1-1c0-2,1.8-8.5,4.8-8.5c0.1,0,0.2,0,0.3,0c1.8,0.3,1.7,3.2,1.6,4.5C51.3,226.6,50.6,232.1,48.9,236.5
										L48.9,236.5z M102.7,276c4.1-11.5,7.8-22.5,12-33.9c1.8-5,3.7-9.9,6.3-14.5c0.8-1.4,1.6-4,3.4-4.6c0.3-0.1,0.6-0.1,0.8-0.1
										c1.7,0,1.8,2.5,1.6,3.8c-0.4,2.3-0.9,4.7-1.5,6.9c-1.1,3.7-2.7,7.4-4.3,11c-1.7,4-3.6,8.2-5.8,11.9c-0.1,0.1-0.2,0.3-0.2,0.4
										c-0.7,1.2-1.4,2.4-2.1,3.6s-1.4,2.4-2.1,3.7c-0.7,1.2-1.4,2.4-2.1,3.6s-1.5,2.4-2.2,3.5s-1.5,2.2-2.3,3.2
										C103.6,274.9,103.1,275.4,102.7,276L102.7,276z M223.4,240.8c0.9-1.4,1.8-2.8,2.8-4.2c1.9-2.6,5.4-7.5,8.6-8.3
										c0.2-0.1,0.5-0.1,0.7-0.1c1.2,0,2.2,0.9,2.2,2.4c0.1,1.7-1.9,4.7-2.9,5.9c-1.4,1.8-3.4,2.8-5.5,3.4
										C227.4,240.5,225.4,240.7,223.4,240.8L223.4,240.8z M71.2,258.8c-2.5-0.3-3.7-2.9-2.1-5.6c1.2-2.1,3.5-3,5.7-3.7
										C73.6,252.5,72.4,255.6,71.2,258.8L71.2,258.8z M153.8,256.8c-0.6,0-1.8-0.6-2-1.1s-0.4-1.1-0.7-1.6c0.6-0.5,1.3-0.9,2-1.1
										c0.3-0.1,0.5-0.1,0.7-0.1c1.2,0,1.9,1,1.5,2.3c-0.2,0.6-0.7,1.4-1.4,1.6C153.9,256.8,153.9,256.8,153.8,256.8L153.8,256.8z
										 M208.5,288.9c-1.9,0-3.6-0.6-5.5-1.8c1.3-1.3,2.5-2.7,3.9-3.9c1.8-1.6,7-6.3,10.6-6.3c0.1,0,0.2,0,0.3,0c1.2,0.1,2.1,0.7,2.7,2.2
										c0.7,1.8-0.2,4-1.5,5.3c-1.8,1.9-4.7,3.4-7.2,4.1C210.5,288.8,209.5,288.9,208.5,288.9L208.5,288.9z M70.6,301.9
										c0.1,0,1.1-0.1,1.3-0.1c0.6,0,1.3-0.1,1.9-0.1c2.9-0.2,5.8-0.3,8.7-0.4c0.6,0,1.3,0,1.9,0c-1.2,2-2.5,4-4,5.9
										c-3.8,5.2-8.9,10.7-14.8,13.5c-1.6,0.7-3.4,1.3-5.2,1.3c-0.6,0-1.2-0.1-1.8-0.2c-1.6-0.4-4.9-1.9-5.6-3.5
										c-1.4-3.1-0.1-6.9,1.8-9.5c2.8-3.8,8.1-5.4,12.5-6.3C68.4,302.2,69.5,302,70.6,301.9L70.6,301.9L70.6,301.9z"/>
								</g>
							</svg>
						</a>
						<p><a class="dark-text" href="/people/shannon.html">Shannon E. Thomas</a></p>
					</div>
				</div>

				<div class="col-6">
					<div class="padded center">
						<a href="/people/hans.html">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="280px" height="200px" viewBox="-19 185 280 200" enable-background="new -19 185 280 200" xml:space="preserve">
								<g>
									<path class="about-logo"  d="M39.4,295.2c-0.4,0-0.8-0.4-0.8-0.8c0-9.9-8.1-18-18-18c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8
										c10.8,0,19.6,8.8,19.6,19.6C40.2,294.8,39.9,295.2,39.4,295.2z"/>
									<path class="about-logo"  d="M1.8,295.2c-0.4,0-0.8-0.4-0.8-0.8c0-10.8,8.8-19.6,19.6-19.6c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8
										c-9.9,0-18,8.1-18,18C2.6,294.8,2.2,295.2,1.8,295.2z"/>
									<path class="about-logo"  d="M20.6,314C9.8,314,1,305.2,1,294.5c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8c0,9.9,8.1,18,18,18
										c0.4,0,0.8,0.4,0.8,0.8C21.4,313.8,21,314,20.6,314z"/>
									<path class="about-logo"  d="M20.6,314c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8c9.9,0,18-8.1,18-18c0-0.4,0.4-0.8,0.8-0.8
										s0.8,0.4,0.8,0.8C40.2,305.2,31.4,314,20.6,314z"/>
									<path class="about-logo"  d="M39.4,314c-0.4,0-0.8-0.4-0.8-0.8v-37.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v37.6
										C40.2,313.8,39.9,314,39.4,314z"/>
									<path class="about-logo"  d="M45.7,295.2c-0.4,0-0.8-0.4-0.8-0.8c0-10.8,8.8-19.6,19.6-19.6c0.4,0,0.8,0.4,0.8,0.8
										c0,0.4-0.4,0.8-0.8,0.8c-9.9,0-18,8.1-18,18C46.5,294.8,46.1,295.2,45.7,295.2z"/>
									<path class="about-logo"  d="M45.7,314c-0.4,0-0.8-0.4-0.8-0.8v-37.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v37.6
										C46.5,313.8,46.1,314,45.7,314z"/>
									<path class="about-logo"  d="M80.2,314c-0.4,0-0.8-0.4-0.8-0.8v-37.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v37.6
										C81,313.8,80.6,314,80.2,314z"/>
									<rect x="70.8" y="274.8" class="about-logo"  width="18.8" height="1.6"/>
									<path class="about-logo"  d="M95.9,314c-0.4,0-0.8-0.4-0.8-0.8v-37.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v37.6
										C96.7,313.8,96.3,314,95.9,314z"/>
									<path class="about-logo"  d="M102.2,295.2c-0.4,0-0.8-0.4-0.8-0.8c0-10.8,8.8-19.6,19.6-19.6c0.4,0,0.8,0.4,0.8,0.8
										c0,0.4-0.4,0.8-0.8,0.8c-9.9,0-18,8.1-18,18C103,294.8,102.6,295.2,102.2,295.2z"/>
									<path class="about-logo"  d="M102.2,314c-0.4,0-0.8-0.4-0.8-0.8v-18.8c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v18.8
										C103,313.8,102.6,314,102.2,314z"/>
									<path class="about-logo"  d="M95.9,270.3c-0.4,0-0.8-0.4-0.8-0.8v-0.2c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v0.2
										C96.7,270,96.3,270.3,95.9,270.3z"/>
									<path class="about-logo"  d="M111.6,295.2h-9.4c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8h9.4c0.4,0,0.8,0.4,0.8,0.8
										S112,295.2,111.6,295.2z"/>
									<path class="about-logo"  d="M127.3,314c-0.4,0-0.8-0.4-0.8-0.8v-37.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v37.6
										C128.1,313.8,127.7,314,127.3,314z"/>
									<path class="about-logo"  d="M127.3,270.3c-0.4,0-0.8-0.4-0.8-0.8v-0.2c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v0.2
										C128.1,270,127.7,270.3,127.3,270.3z"/>
									<path class="about-logo"  d="M164.9,281.2c-0.2,0-0.4-0.1-0.5-0.2c-3.3-3-7.6-4.6-12-4.6c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8
										c4.8,0,9.5,1.8,13.1,5c0.3,0.3,0.4,0.8,0.1,1.1C165.4,281.2,165.1,281.2,164.9,281.2z"/>
									<path class="about-logo"  d="M133.5,295.2c-0.4,0-0.8-0.4-0.8-0.8c0-10.8,8.8-19.6,19.6-19.6c0.4,0,0.8,0.4,0.8,0.8
										c0,0.4-0.4,0.8-0.8,0.8c-9.9,0-18,8.1-18,18C134.3,294.8,134,295.2,133.5,295.2z"/>
									<path class="about-logo"  d="M152.4,314c-10.8,0-19.6-8.8-19.6-19.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8c0,9.9,8.1,18,18,18
										c0.4,0,0.8,0.4,0.8,0.8C153.2,313.8,152.8,314,152.4,314z"/>
									<path class="about-logo"  d="M152.4,314c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8c4.4,0,8.7-1.6,12-4.6c0.3-0.3,0.8-0.3,1.1,0.1
										c0.3,0.3,0.3,0.8-0.1,1.1C161.8,312.2,157.2,314,152.4,314z"/>
									<path class="about-logo"  d="M171.2,314c-0.4,0-0.8-0.4-0.8-0.8v-37.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v37.6
										C172,313.8,171.6,314,171.2,314z"/>
									<path class="about-logo"  d="M171.2,270.3c-0.4,0-0.8-0.4-0.8-0.8v-0.2c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v0.2
										C172,270,171.6,270.3,171.2,270.3z"/>
									<path class="about-logo"  d="M215.1,295.2c-0.4,0-0.8-0.4-0.8-0.8c0-9.9-8.1-18-18-18c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8
										c10.8,0,19.6,8.8,19.6,19.6C215.9,294.8,215.6,295.2,215.1,295.2z"/>
									<path class="about-logo"  d="M177.5,295.2c-0.4,0-0.8-0.4-0.8-0.8c0-10.8,8.8-19.6,19.6-19.6c0.4,0,0.8,0.4,0.8,0.8
										c0,0.4-0.4,0.8-0.8,0.8c-9.9,0-18,8.1-18,18C178.3,294.8,177.9,295.2,177.5,295.2z"/>
									<path class="about-logo"  d="M196.3,314c-10.8,0-19.6-8.8-19.6-19.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8c0,9.9,8.1,18,18,18
										c0.4,0,0.8,0.4,0.8,0.8C197.1,313.8,196.7,314,196.3,314z"/>
									<path class="about-logo"  d="M196.3,314c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8c9.9,0,18-8.1,18-18c0-0.4,0.4-0.8,0.8-0.8
										s0.8,0.4,0.8,0.8C215.9,305.2,207.1,314,196.3,314z"/>
									<path class="about-logo"  d="M215.1,314c-0.4,0-0.8-0.4-0.8-0.8v-37.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v37.6
										C215.9,313.8,215.6,314,215.1,314z"/>
									<path class="about-logo"  d="M221.4,314c-0.4,0-0.8-0.4-0.8-0.8v-37.6c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v37.6
										C222.2,313.8,221.8,314,221.4,314z"/>
									<path class="about-logo"  d="M240.2,314h-18.8c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8h18.8c0.4,0,0.8,0.4,0.8,0.8
										C241,313.8,240.6,314,240.2,314z"/>
									<path class="about-logo"  d="M4.9,270.2c-0.4,0-0.8-0.4-0.8-0.8V257c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v12.5
										C5.7,269.8,5.4,270.2,4.9,270.2z"/>
									<path class="about-logo"  d="M8.1,257.5H1.8c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8h6.3c0.4,0,0.8,0.4,0.8,0.8
										C8.8,257.2,8.5,257.5,8.1,257.5z"/>
									<path class="about-logo"  d="M11.2,270.2c-0.4,0-0.8-0.4-0.8-0.8V257c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v12.5
										C12,269.8,11.6,270.2,11.2,270.2z"/>
									<path class="about-logo"  d="M17.5,263.8h-6.3c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8h6.3c0.4,0,0.8,0.4,0.8,0.8
										C18.3,263.5,17.9,263.8,17.5,263.8z"/>
									<path class="about-logo"  d="M17.5,270.2c-0.4,0-0.8-0.4-0.8-0.8V257c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8v12.5
										C18.3,269.8,17.9,270.2,17.5,270.2z"/>
									<path class="about-logo"  d="M20.6,263.8c-0.4,0-0.8-0.4-0.8-0.8c0-3.9,3.2-7.1,7.1-7.1c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8
										c-3,0-5.5,2.5-5.5,5.5C21.4,263.5,21,263.8,20.6,263.8z"/>
									<path class="about-logo"  d="M26.9,270.2c-3.9,0-7.1-3.2-7.1-7.1c0-0.4,0.4-0.8,0.8-0.8s0.8,0.4,0.8,0.8c0,3,2.5,5.5,5.5,5.5
										c0.4,0,0.8,0.4,0.8,0.8C27.7,269.8,27.3,270.2,26.9,270.2z"/>
									<path class="about-logo"  d="M26.9,263.8h-6.3c-0.4,0-0.8-0.4-0.8-0.8c0-0.4,0.4-0.8,0.8-0.8h6.3c0.4,0,0.8,0.4,0.8,0.8
										C27.7,263.5,27.3,263.8,26.9,263.8z"/>
								</g>
							</svg>
						</a>
						<p><a class="dark-text" href="/people/hans.html">Hans Gerwitz</a></p>
					</div>
				</div>

				<div class="col-6">
					<div class="padded center">
						<a href="/people/carol.html">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="280px" height="200px" viewBox="-19 185 280 200" enable-background="new -19 185 280 200" xml:space="preserve">
								<g>
									<rect x="21.6" y="326.9" class="about-logo"  width="3.6" height="10.5"/>
									<rect x="47.4" y="323.6" class="about-logo"  width="9.6" height="3.2"/>
									<polygon class="about-logo"  points="98.9,235.7 98.9,232.5 95.4,232.5 95.4,256.4 98.9,256.4 98.9,246.2 98.9,242.9 	"/>
									<path class="about-logo"  d="M181.6,333.7c-0.8,0-1.5-0.2-2.1-0.5s-1.1-0.7-1.4-1.2c-0.3-0.4-0.6-0.9-0.8-1.5h-3.7c0,0.1,0,0.2,0,0.3
										c0.1,0.5,0.2,0.9,0.3,1.3c0.1,0.4,0.3,0.7,0.4,1c0.6,1.1,1.4,2.1,2.7,3c1.2,0.8,2.7,1.4,4.6,1.4c2,0,3.7-0.6,5.2-1.8
										c1.4-1.2,2.4-2.9,2.9-5.2H186C185.1,332.6,183.6,333.7,181.6,333.7z"/>
									<polygon class="about-logo"  points="210.3,249.2 211.8,244.5 211.8,244.5 213.3,249.2 216.6,249.2 213.3,239.6 210.3,239.6
										206.9,249.2 	"/>
									<g>
										<path class="about-logo"  d="M7.3,279H1v-3.2h16.2v3.2h-6.3v20.7H7.3V279z"/>
										<path class="about-logo"  d="M88.4,294.3h-8.8l-1.8,5.3h-3.7l8.5-23.9h3l8.5,23.9h-3.7L88.4,294.3z M87.4,291.1L84,280.6h-0.1
											l-3.4,10.5H87.4z"/>
										<path class="about-logo"  d="M121.4,279H115v-3.2h16.2v3.2h-6.3v20.7h-3.6V279H121.4z"/>
										<path class="about-logo"  d="M135.7,275.8h3.6v23.9h-3.6V275.8z"/>
										<path class="about-logo"  d="M145.2,275.8H160v3.4h-11.3v7.1h9.6v3.2h-9.6v10.2h-3.6L145.2,275.8L145.2,275.8z"/>
										<path class="about-logo"  d="M164.4,275.8h3.6v23.9h-3.6V275.8z"/>
										<path class="about-logo"  d="M194.1,275.8h3.6v23.9h-3.6V275.8z"/>
										<path class="about-logo"  d="M226.1,275.8h3.6v20.6H241v3.4h-14.8L226.1,275.8L226.1,275.8z"/>
										<polygon class="about-logo"  points="34.3,275.8 34.3,286 25.1,286 25.1,275.8 21.6,275.8 21.6,289.2 25.1,289.2 25.3,289.2
											34.3,289.2 34.3,299.7 37.8,299.7 37.8,275.8 		"/>
										<polygon class="about-logo"  points="44,275.8 44,299.7 58.8,299.7 58.8,296.2 47.4,296.2 47.4,290.1 47.4,289.2 47.4,286 47.4,283.2
											47.4,279.1 58.8,279.1 58.8,275.8 		"/>
										<polygon class="about-logo"  points="44,275.8 44,299.7 58.8,299.7 58.8,296.2 47.4,296.2 47.4,290.1 47.4,289.2 47.4,286 47.4,283.2
											47.4,279.1 58.8,279.1 58.8,275.8 		"/>
										<path class="about-logo"  d="M107,289c3-1.2,4.4-3.4,4.5-6.6c-0.1-2.2-0.8-3.9-2.3-5.1c-1.2-1-2.8-1.6-4.7-1.6h-5.6v3.2h5.5
											c1.1,0,2,0.3,2.6,0.8c0.8,0.6,1.2,1.4,1.2,2.7c0,1-0.3,1.9-1,2.6c-0.7,0.8-1.6,1.2-3,1.2h-5.3v3.2h4.5l4.8,10.2h4.1L107,289z"/>
										<path class="about-logo"  d="M177.2,293c-0.1-0.2-0.1-0.3-0.1-0.5c-0.2-0.8-0.3-2.5-0.3-4.8c0-2.4,0.1-4,0.3-4.8s0.4-1.4,0.9-2
											c0.3-0.5,0.8-0.9,1.4-1.3c0.6-0.3,1.3-0.5,2.1-0.5c1.1,0,2.1,0.3,2.9,1c0.8,0.7,1.3,1.5,1.5,2.5h3.7c-0.3-2-1.3-3.7-2.7-5.1
											c-1.4-1.4-3.2-2-5.5-2c-1.9,0-3.4,0.5-4.6,1.4c-1.3,0.8-2.1,1.9-2.7,3c-0.3,0.6-0.6,1.4-0.8,2.3c-0.2,0.9-0.3,2.8-0.3,5.6
											c0,2.5,0.1,4.2,0.2,5.2h3.8l0,0L177.2,293L177.2,293z"/>
										<polygon class="about-logo"  points="213.3,285.3 215.2,291.1 208.4,291.1 210.3,285.3 206.9,285.3 201.9,299.7 205.6,299.7
											207.4,294.3 216.2,294.3 218,299.7 221.7,299.7 216.6,285.3 		"/>
									</g>
								</g>
							</svg>
						</a>
						<p><a class="dark-text" href="/people/carol.html">Carol Liao</a></p>
					</div>
				</div>

				<div class="col-6">
					<div class="padded center">
						<a href="/people/susana.html">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="280px" height="200px" viewBox="-19 185 280 200" enable-background="new -19 185 280 200" xml:space="preserve">
								<g>
									<rect x="123" y="240.5" class="about-logo"  width="4" height="5"/>
									<rect x="18" y="294.5" class="about-logo"  width="5" height="4"/>
									<rect x="62" y="294.5" class="about-logo"  width="4" height="4"/>
									<rect x="79" y="294.5" class="about-logo"  width="5" height="4"/>
									<polygon class="about-logo"  points="92,294.5 92,298.5 97,298.5 97,302.8 97,307.5 92,307.5 92,311.5 97,311.5 97,316.5 101,316.5
										101,311.5 101,307.2 101,302.8 101,298.5 101,294.5 97,294.5 	"/>
									<rect x="110" y="294.5" class="about-logo"  width="4" height="4"/>
									<polygon class="about-logo"  points="123,294.5 123,298.5 123,303.5 127.5,303.5 132,303.5 132,298.5 132,294.5 127.5,294.5 	"/>
									<polygon class="about-logo"  points="140,298.5 136,298.5 136,302.8 136,307.5 140,307.5 140,303.5 145,303.5 145,298.5 145,294.5
										140,294.5 	"/>
									<rect x="149" y="294.5" class="about-logo"  width="4" height="4"/>
									<polygon class="about-logo"  points="167,294.5 167,298.5 162.5,298.5 158.1,298.5 153,298.5 153,302.8 153,307.5 158,307.5 158,303.5
										162.5,303.5 166.8,303.5 171.2,303.5 175,303.5 175,298.5 175,294.5 171.2,294.5 	"/>
									<polygon class="about-logo"  points="180,294.5 180,298.5 184.3,298.5 188,298.5 188,294.5 184.3,294.5 	"/>
									<polygon class="about-logo"  points="197,298.5 193,298.5 193,302.8 193,307.5 197.4,307.5 201,307.5 201,302.8 201,298.5 201,294.5
										197,294.5 	"/>
									<polygon class="about-logo"  points="210,294.5 210,298.5 206,298.5 206,303.5 210.5,303.5 215,303.5 215,307.2 215,311.5 219,311.5
										219,307.2 219,302.8 219,298.5 219,294.5 214.8,294.5 	"/>
									<polygon class="about-logo"  points="88,249.5 88,245.5 92.6,245.5 97,245.5 97,240.5 92.6,240.5 88.3,240.5 84,240.5 84,245.5
										79,245.5 79,249.5 83.9,249.5 	"/>
									<polygon class="about-logo"  points="114,245 114,240.5 110,240.5 110,245.5 105,245.5 105,249.4 105,253.5 110.1,253.5 114,253.5
										114,249.4 	"/>
									<rect x="127" y="245.5" class="about-logo"  width="5" height="4"/>
									<polygon class="about-logo"  points="145,249.5 149,249.5 149,245.5 153.7,245.5 158.1,245.5 162,245.5 162,240.5 158.1,240.5
										153.7,240.5 149.4,240.5 145,240.5 140,240.5 140,245.5 136,245.5 136,249.5 140.6,249.5 	"/>
									<rect x="14" y="298.5" class="about-logo"  width="4" height="5"/>
									<rect x="31" y="298.5" class="about-logo"  width="5" height="5"/>
									<polygon class="about-logo"  points="49,303.5 49,307.5 53,307.5 53,302.8 53,298.5 49,298.5 49,294.5 44,294.5 44,298.5 40,298.5
										40,303.5 44.6,303.5 	"/>
									<rect x="66" y="298.5" class="about-logo"  width="5" height="5"/>
									<rect x="75" y="298.5" class="about-logo"  width="4" height="5"/>
									<rect x="84" y="298.5" class="about-logo"  width="4" height="5"/>
									<polygon class="about-logo"  points="228,298.5 232,298.5 232,294.5 227.9,294.5 223,294.5 223,298.5 223,303.5 228,303.5 	"/>
									<rect x="88" y="249.5" class="about-logo"  width="4" height="4"/>
									<path class="about-logo"  d="M127,253.5v-4h-4v4h-4.2H114v5h5v4h4v4.3v4.7h4v4h5v-4.3v-4.4v-4.3v-4.4v-4.6L127,253.5L127,253.5z
										 M127,262.5h-4v-4h4V262.5z"/>
									<polygon class="about-logo"  points="71,307.2 71,311.5 75,311.5 75,307.2 75,303.5 71,303.5 	"/>
									<rect x="110" y="303.5" class="about-logo"  width="4" height="4"/>
									<polygon class="about-logo"  points="23,311.5 23,315.9 23,320.5 27,320.5 27,315.9 27,311.5 27,307.5 23,307.5 	"/>
									<polygon class="about-logo"  points="40,307.2 40,303.5 36,303.5 36,307.2 36,311.5 40,311.5 	"/>
									<rect x="149" y="307.5" class="about-logo"  width="4" height="4"/>
									<polygon class="about-logo"  points="180,307.5 180,311.5 180,316.5 184,316.5 184,320.5 188,320.5 188,315.9 188,311.5 188,307.5
										184.3,307.5 	"/>
									<polygon class="about-logo"  points="228,307.5 223,307.5 223,311.5 223,316.5 228,316.5 228,311.5 	"/>
									<polygon class="about-logo"  points="9,311.5 9,307.2 9,302.8 9,298.5 5.4,298.5 1,298.5 1,303.5 5,303.5 5,307.5 1,307.5 1,311.5
										5,311.5 5,316.5 1,316.5 1,320.3 1,324.6 1,329.5 5,329.5 5,324.5 9,324.5 9,320.3 9,316.5 14,316.5 14,320.5 18,320.5 18,315.9
										18,311.5 14.1,311.5 	"/>
									<polygon class="about-logo"  points="36,311.5 31,311.5 31,315.9 31,320.3 31,324.6 31,329.5 36,329.5 36,324.5 40,324.5 40,320.3
										40,316.5 36,316.5 	"/>
									<rect x="40" y="311.5" class="about-logo"  width="4" height="5"/>
									<polygon class="about-logo"  points="119,311.5 114.5,311.5 110.1,311.5 105,311.5 105,315.9 105,320.5 110,320.5 110,316.5 114,316.5
										114,320.5 118.8,320.5 123,320.5 123,316.5 119,316.5 	"/>
									<polygon class="about-logo"  points="140,316.5 145,316.5 145,311.5 145,307.5 140,307.5 140,311.5 	"/>
									<polygon class="about-logo"  points="197,315.9 197,320.5 201,320.5 201,315.9 201,311.5 197,311.5 	"/>
									<rect x="206" y="311.5" class="about-logo"  width="4" height="5"/>
									<rect x="44" y="316.5" class="about-logo"  width="5" height="4"/>
									<rect x="92" y="316.5" class="about-logo"  width="5" height="4"/>
									<rect x="149" y="316.5" class="about-logo"  width="4" height="4"/>
									<rect x="84" y="267.5" class="about-logo"  width="4" height="4"/>
									<polygon class="about-logo"  points="110,271.5 114,271.5 114,266.8 114,262.5 110.1,262.5 105,262.5 105,267.5 110,267.5 	"/>
									<polygon class="about-logo"  points="149,267.5 145,267.5 145,262.5 149.4,262.5 153,262.5 153,258.1 153,253.5 149,253.5 149,258.5
										145,258.5 140,258.5 140,262.5 140,267.5 136,267.5 136,271.2 136,275.5 140.6,275.5 145,275.5 145,271.5 149,271.5 	"/>
									<rect x="158" y="267.5" class="about-logo"  width="4" height="4"/>
									<polygon class="about-logo"  points="49,320.5 49,324.5 53,324.5 53,329.5 57,329.5 57,324.6 57,320.5 53.4,320.5 	"/>
									<polygon class="about-logo"  points="71,320.5 71,324.6 71,329.5 75,329.5 75,324.5 79,324.5 79,320.5 75.2,320.5 	"/>
									<polygon class="about-logo"  points="110,324.6 110,329.5 114,329.5 114,324.6 114,320.5 110,320.5 	"/>
									<polygon class="about-logo"  points="136,320.5 136,324.6 136,329.5 140.6,329.5 145,329.5 145,324.6 145,320.5 140.6,320.5 	"/>
									<rect x="171" y="320.5" class="about-logo"  width="4" height="4"/>
									<polygon class="about-logo"  points="180,324.6 180,329.5 184.3,329.5 188,329.5 188,324.5 184,324.5 184,320.5 180,320.5 	"/>
									<polygon class="about-logo"  points="210,320.5 210,324.6 210,329.5 215,329.5 215,324.5 219,324.5 219,320.5 214.8,320.5 	"/>
									<polygon class="about-logo"  points="236.6,320.5 232,320.5 232,316.5 228,316.5 228,320.3 228,324.6 228,329.5 232.3,329.5
										236.6,329.5 241,329.5 241,324.6 241,320.5 	"/>
									<rect x="88" y="271.5" class="about-logo"  width="4" height="4"/>
									<rect x="149" y="271.5" class="about-logo"  width="4" height="4"/>
									<polygon class="about-logo"  points="92,324.5 92,329.5 97,329.5 101,329.5 101,324.6 101,320.5 97,320.5 97,324.5 	"/>
									<polygon class="about-logo"  points="162.5,324.5 158,324.5 158,320.5 153,320.5 153,324.5 149,324.5 149,329.5 153.7,329.5
										158.1,329.5 162.5,329.5 166.8,329.5 171,329.5 171,324.5 166.8,324.5 	"/>
									<rect x="197" y="324.5" class="about-logo"  width="4" height="5"/>
								</g>
							</svg>
						</a>
						<p><a class="dark-text" href="/people/susana.html">Susana Passinhas</a></p>
					</div>
				</div>

				<div class="col-6 right-6">
					<div class="padded center">
						<a href="/people/ariane.html">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="280px" height="200px" viewBox="-159 -64 280 200" xml:space="preserve">
								<g>
									<rect x="-85.8" y="15.2" class="about-logo"  width="3.7" height="42.1"/>
									<rect x="-81.6" y="14.7" class="about-logo"  width="1.1" height="42.6"/>
									<polygon class="about-logo"  points="-50.6,57.3 -51.6,57.3 -51.6,14.7 -45.3,14.7 -45.3,15.7 -50.6,15.7"/>
									<path class="about-logo" d="M-15.1,15"/>
									<path class="about-logo" d="M-80.7,52.1V51c10.1,0,18-7.7,18-17.5c0-9.9-7.8-17.7-17.9-17.7v-1.1c10.6,0,18.9,8.3,18.9,18.8
												C-61.6,43.9-70,52.1-80.7,52.1z"/>
									<rect x="-88.5" y="14.7" class="about-logo" width="6.3" height="1.1"/>
									<rect x="-55.8" y="15.2" class="about-logo" width="3.7" height="42.1"/>
									<rect x="-62.2" y="14.7" class="about-logo" width="10" height="1.1"/>
									<rect x="-43.2" y="14.7" class="about-logo" width="6.3" height="1.1"/>
									<rect x="-24.3" y="23.6" class="about-logo" width="5.8" height="1.1"/>
									<rect x="-33.2" y="23.6" class="about-logo" width="5.8" height="1.1"/>
									<rect x="4.2" y="19.3" class="about-logo" width="1.1" height="33.3"/>
									<path class="about-logo" d="M-3.2,36c0,6.1,2.6,11.5,6.8,15.2V20.8C-0.6,24.5-3.2,29.9-3.2,36z"/>
									<rect x="-126.9" y="14.7" class="about-logo" width="1.6" height="10"/>
									<rect x="-117.9" y="14.7" class="about-logo" width="1.1" height="10"/>
									<rect x="-122.7" y="14.7" class="about-logo" width="1.6" height="10"/>
									<polygon class="about-logo" points="-124.3,24.7 -124.8,24.7 -124.8,14.7 -123.2,14.7 -123.2,15.2 -124.3,15.2"/>
									<polygon class="about-logo" points="-119,24.7 -119.5,24.7 -119.5,14.7 -119,14.7 -119,14.7"/>
									<polygon class="about-logo" points="-116.4,24.7 -116.9,24.7 -116.9,14.7 -116.4,14.7 -116.4,14.7"/>
									<rect x="-128.5" y="14.7" class="about-logo" width="5.3" height="0.5"/>
									<rect x="-117.4" y="14.7" class="about-logo" width="3.2" height="0.5"/>
									<rect x="-117.4" y="24.2" class="about-logo" width="3.2" height="0.5"/>
									<rect x="-118.5" y="16.8" class="about-logo"  width="4.2" height="0.5"/>
									<rect x="-123.2" y="16.8" class="about-logo"  width="4.2" height="0.5"/>
									<path class="about-logo"  d="M-92.5,30.8"/>
									<rect x="-120" y="51" class="about-logo"  width="22.6" height="1.1"/>
									<rect x="-120" y="51" class="about-logo"  width="25.2" height="1.1"/>
									<polygon class="about-logo"  points="-91.9,57.3 -87.9,57.3 -103.2,16.4 -103.7,14.9 -105.7,20.2 -105.2,21.7"/>
									<polygon class="about-logo"  points="-118.4,57.3 -105.9,23.9 -106.5,22.4 -119.5,57.3"/>
									<polygon class="about-logo"  points="-92.4,57.3 -106,20.9 -106.5,22.4 -93.6,57.3"/>
									<polygon class="about-logo"  points="-23.7,57.3 -24.8,57.3 -24.8,14.7 -16.4,14.7 -16.4,15.7 -23.7,15.7"/>
									<rect x="-29" y="14.7" class="about-logo"  width="3.7" height="42.6"/>
									<rect x="-36.4" y="14.7" class="about-logo"  width="1.1" height="42.6"/>
									<rect x="-40.6" y="15.2" class="about-logo"  width="3.7" height="42.1"/>
									<rect x="-14.3" y="14.7" class="about-logo"  width="6.3" height="1.1"/>
									<rect x="-7.4" y="14.7" class="about-logo"  width="1.1" height="42.6"/>
									<rect x="-11.6" y="15.2" class="about-logo"  width="3.7" height="42.1"/>
									<rect x="33.1" y="14.7" class="about-logo"  width="6.3" height="1.1"/>
									<rect x="39.9" y="14.7" class="about-logo"  width="1.1" height="42.6"/>
									<rect x="35.7" y="15.2" class="about-logo"  width="3.7" height="42.1"/>
									<rect x="75.2" y="14.7" class="about-logo"  width="6.3" height="1.1"/>
									<polygon class="about-logo"  points="90.5,57.3 82.1,57.3 82.1,14.7 83.1,14.7 83.1,56.3 90.5,56.3"/>
									<rect x="77.8" y="15.2" class="about-logo"  width="3.7" height="42.1"/>
									<path class="about-logo"  d="M70.6,30.8"/>
									<rect x="43.2" y="51" class="about-logo"  width="22.6" height="1.1"/>
									<rect x="43.2" y="51" class="about-logo"  width="25.2" height="1.1"/>
									<polygon class="about-logo"  points="71.3,57.3 75.2,57.3 60,16.4 59.4,14.9 57.5,20.2 58,21.7"/>
									<polygon class="about-logo"  points="44.8,57.3 57.2,23.9 56.6,22.4 43.6,57.3"/>
									<polygon class="about-logo"  points="70.7,57.3 57.2,20.9 56.6,22.4 69.6,57.3"/>
									<polygon class="about-logo"  points="-63.2,57.3 -75.5,50.5 -76.1,51.4 -65.3,57.3"/>
									<path class="about-logo"  d="M29.8,51.7c-3.6,2.9-8.1,4.5-12.7,4.5c-4.4,0-8.5-1.4-11.8-3.8v1.3c3.4,2.3,7.5,3.6,11.8,3.6
										c5.1,0,9.7-1.8,13.4-4.7c0.1-0.1,0.2-0.2,0.3-0.3l-0.7-0.7C29.9,51.6,29.8,51.7,29.8,51.7z"/>
									<path class="about-logo"  d="M17.1,15.7c4.6,0,9.2,1.6,12.7,4.5c0.1,0.1,0.1,0.1,0.2,0.2l0.7-0.7c-0.1-0.1-0.2-0.2-0.3-0.2
										c-3.7-2.9-8.3-4.7-13.4-4.7c-4.4,0-8.5,1.3-11.8,3.6v1.3C8.5,17.2,12.6,15.7,17.1,15.7z"/>
									<path class="about-logo"  d="M-3.2,36c0-6.1,2.6-11.5,6.8-15.2v-1.4C0,22.4-2.7,26.5-3.7,31.3c-0.3,1.5-0.5,3.1-0.5,4.7
										c0,1.6,0.2,3.2,0.5,4.7c1.1,4.7,3.7,8.9,7.4,11.8v-1.4C-0.6,47.5-3.2,42.1-3.2,36z"/>
									<path class="about-logo"  d="M4.2,51.6V53c0.4,0.3,0.7,0.5,1.1,0.7v-1.3C4.8,52.2,4.5,51.9,4.2,51.6z"/>
									<path class="about-logo"  d="M5.2,19.6v-1.3c-0.4,0.3-0.7,0.5-1.1,0.7v1.4C4.5,20.1,4.8,19.8,5.2,19.6z"/>
								</g>
							</svg>
						</a>
						<p><a class="dark-text" href="/people/ariane.html">Ariane Garoff</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
