 <div id="content" class="artificialtimercc">

   <div class="bleed dandelion">
     <div class="flex container">
       <div class="col-2 left-5 right-5">
         <div class="padded">
           <img src="images/at_logo.png" alt="Artificial Timer CC">
         </div>
       </div>
       <div class="col-8 left-2 right-2">
         <div class="padded center">
           <h1 class="title">Welcome to Artificial Timer CC</h1>
         </div>
       </div>
       <div class="col-12">
         <img src="images/at_ui-overview.png" alt="Artificial Timer CC interface">
       </div>
     </div>
   </div>

   <div class="bleed warm-grey-70">
     <div class="flex container extra-top extra-bottom">
       <div class="col-10 left-1 right-1">
         <div class="padded">
           <p class="small-statement">With Artificial Timer CC I have all of the power to create my best possible day.</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed warm-grey-10">
     <div class="flex container extra-top extra-bottom">
       <div class="col-10 right-1 left-1">
         <div class="padded center">
           <h2 class="subtitle">Productivity Palettes give you the control you’ve always wanted.</h2>
         </div>
       </div>
       <div class="col-4">
         <div class="padded center">
           <img src="images/at_ui-infopalette.png" alt="info palette">
           <p class="large">The Info Palette provides all of the essential details about a selected project, to-do item, or event.</p>
         </div>
       </div>
       <div class="col-4">
         <div class="padded center">
           <img src="images/at_ui-todopalette.png" alt="to-do palette">
           <p class="large">The To Do Palette gives you a list of your to-do items sorted by project in a single place.</p>
         </div>
       </div>
       <div class="col-4">
         <div class="padded center">
           <img src="images/at_ui-projectspalette.png" alt="projects palette">
           <p class="large">The Project Palette allows you to hide projects you don’t want cluttering up your view.</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed warm-grey-80">
     <div class="flex container">
       <div class="col-10 left-1 right-1 extra-top extra-bottom">
         <img src="images/at_icons-tools.png" alt="timer tools">
       </div>
     </div>
   </div>

  <div class="bleed warm-grey-70">
    <div class="flex container">
      <div class="col-10 left-1 right-1 extra-top">
        <div class="padded center extra-top extra-bottom">
          <p class="small-statement">Nobody gives you the power and control of Artificial Timer CC. Time is your canvas, and ours are the tools of productivity. Get started with a 30 day free trial today!</p>
        </div>
      </div>
    </div>
  </div>

   <div class="bleed warm-grey-70 bottom-links">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h3 class="next-link">Like Artificial Timer CC? You’ll love <a class="pale-dandelion-link" href="keytime.html">Keytime</a>!</h3>
           <p><a class="pale-dandelion-link" href="index.html">go back to all solutions</a></p>
         </div>
       </div>
     </div>
   </div>
</div>
