 <div id="content" class="intention">

   <div class="bleed warm-grey-10">
     <img src="images/intention_hero.png" alt="intention">
   </div>

   <div class="bleed cool-grey-90">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-10 left-1 right-1">
         <div class="padded">
           <h1 class="center">intention</h1>
           <h2 class="center">Take a yoga-like approach to your work day.</h2>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-10 right-1 left-1">
         <div class="padded">
           <h2>“I used to start every day by reacting to my inbox. Now I have a clear picture of what needs to be done and I can act intentionally. I’m not only more relaxed, but more productive too!”</h2>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed pale-grass">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-4">
         <div class="icon padded">
           <img src="images/intention_icon-tracking.png" alt="track your time">
           <p class="large center">intention allows you to track in the way that’s best for you. Allot time for to-do tasks, calendar events, or high-level projects.</p>
         </div>
       </div>
       <div class="col-4">
         <div class="icon padded">
           <img src="images/intention_icon-intention.png" alt="set an intention">
           <p class="large center">Zoom out to get the big picture of the projects you’re working on. Times shows you upcoming meetings and deadlines, so you’ll never be surprised.</p>
         </div>
       </div>
       <div class="col-4">
         <div class="icon padded">
           <img src="images/intention_icon-reflection.png" alt="reflect on progress">
           <p class="large center">Share work in progress with other team members. Filter by project or see everything your extended team is up to.</p>
         </div>
       </div>
     </div>
   </div>

  <div class="bleed">
    <img src="images/intention_ui-todo.png" alt="intention">
  </div>

   <div class="bleed cool-grey-90 bottom-links">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h3 class="center">Like intention? You’ll love <a class="pale-grass-link" href="twimmer.html">Twimmer</a>!</h3>
           <p class="center"><a class="pale-grass-link" href="index.html">go back to all solutions</a></p>
         </div>
       </div>
     </div>
   </div>
</div>
