 <div id="content" class="itime">

   <div class="bleed cool-grey-90">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-8 left-2 right-2">
         <div class="padded">
           <h1>iTime</h1>
           <h2>Time management you’ll appreciate day after day.</h2>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-12">
         <img src="images/itime_overview.png" alt="iTime's familiar interface">
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-10">
     <div class="flexcontainer extra-bottom">
       <div class="col-12 extra-top">
         <div class="padded extra-top">
           <h3>iTime is a simple day-planning and time-tracking tool that helps you stay in control of your day. See what’s coming and capture what’s completed all in a single interface. iTime also keeps unscheduled events and milestones on your radar, so nothing slips through the cracks.</h3>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed grape">
     <div class="flexcontainer extra-top">
       <div class="col-12">
         <img src="images/itime_projects.png" alt="iTime's familiar interface">
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-90">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-12">
         <h3>Get the big picture with the Project Overview pane. See when projects are scheduled to start, and stay on top of upcoming events and deadlines.</h3>
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-10 left-1 right-1">
         <h1>“iTime is so familiar and intuitive – our entire company was benefiting from it in just days!”</h1>
       </div>
     </div>
   </div>

   <div class="bleed white bottom-links">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h3 class="center">Like iTime? You’ll love <a class="grape-link" href="times.html">Times</a>!</h3>
           <p class="center"><a class="grape-link" href="index.html">go back to all solutions</a></p>
         </div>
       </div>
     </div>
   </div>

</div>
