---
title: Making Time - iTime
author: shannon
date: 2016-01-14
preview: images/makingtime_thumb-itime.png
card_type: basic
---
 <div id="content" class="itime">

   <div class="bleed cool-grey-90">
     <div class="flex container extra-top extra-bottom">
       <div class="col-8 left-2 right-2">
         <div class="padded center">
           <h1 class="title">iTime</h1>
           <h2 class="subtitle">Time management you’ll appreciate day after day.</h2>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <img src="images/itime_overview.png" alt="iTime's familiar interface">
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-10">
     <div class="flex container extra-bottom">
       <div class="col-12 extra-top">
         <div class="padded extra-top">
           <h3>iTime is a simple day-planning and time-tracking tool that helps you stay in control of your day. See what’s coming and capture what’s completed all in a single interface. iTime also keeps unscheduled events and milestones on your radar, so nothing slips through the cracks.</h3>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed grape">
     <div class="flex container extra-top">
       <div class="col-12">
           <img src="images/itime_projects.png" alt="iTime's familiar interface">
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-90">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h3>Get the big picture with the Project Overview pane. See when projects are scheduled to start, and stay on top of upcoming events and deadlines.</h3>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flex container extra-top extra-bottom">
       <div class="col-10 left-1 right-1">
         <div class="padded">
           <h1>“iTime is so familiar and intuitive – our entire company was benefiting from it in just days!”</h1>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white bottom-links">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <div class="padded center">
           <h3 class="next-link">Like iTime? You’ll love <a class="grape-link" href="times.html">Times</a>!</h3>
           <a class="grape-link" href="index.html">go back to all solutions</a>
         </div>
       </div>
     </div>
   </div>

</div>
