 <div id="content" class="keytime">

   <div class="bleed white">
     <div class="flexcontainer">
       <div class="col-12">
         <img src="images/keytime_hero.png" alt="keytime">
       </div>
       <div class="col-12">
         <div class="padded">
           <h1>Keytime for Mac</h1>
           <h2>Your day. Totally under control.</h2>
         </div>
         <div class="col-10 left-1 right-1">
           <div class="padded extra-bottom">
             <h3>Timenote for Mac makes every day into a presentation, ready to share with clients and colleagues.</h3>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-10">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-4 extra-top">
         <div class="padded extra-top">
           <h4>Templates to fit your day</h4>
           <p>Templates make it easy to capture the things your employees do most, like tracking time, creating and completing to do lists, planning projects, sharing work in progress, and working towards milestones.</p>
           <p>Keytime comes with a handful of our most popular layouts to get you started, and you can create and customize your own to fit your organization.</p>
         </div>
       </div>
       <div class="col-7 left-1">
         <div class="padded">
           <img src="images/keytime_templates.png" alt="dozens of templates to choose from">
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flexcontainer extra-bottom">
       <div class="col-7">
         <div class="padded">
           <img src="images/keytime_mood.png" alt="complete with mood tracking">
         </div>
       </div>
       <div class="col-5 extra-top">
         <div class="padded extra-top">
           <h4>“We tried a lot of tools, but Keytime was the only solution that was as creative as we are.”</h4>
         </div>
       </div>
     </div>
   </div>


   <div class="bleed cool-grey-10 bottom-links">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h3 class="center">Like Keytime? You’ll love <a class="darkturquoise-link" href="timebot.html">Timebot</a>!</h3>
           <p class="center"><a class="darkturquoise-link" href="index.html">go back to all solutions</a></p>
         </div>
       </div>
     </div>
   </div>

</div>
