 <div id="content" class="timebook">

   <div class="bleed sapphire">
     <div class="flex container">
       <div class="col-12">
         <div class="padded extra-top extra-bottom">
           <h1>Timebook</h1>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed pale-sapphire">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h2>Timebook makes it easy for teams to stay in touch with each other. Collaborating has never been easier.</h2>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flex container extra-top">
       <div class="col-7">
         <img src="images/timebook_overview.png" alt="timebook interface">
       </div>
       <div class="col-5 extra-top">
         <div class="padded extra-top">
           <p>Timebook empowers teams by aggregating communication around things that matter.</p>
           <p>A single simple interface allows users to update their status, create to dos, share works in progress, and track time.</p>
           <p>Tasks and events appear as individual items in the feed. Team members can comment, ask questions, complete related to dos, and share progress via screenshots.</p>
           <p>By promoting transparency, Timebook helps project managers stay apprised of project status without having to interrupt team members’ focus.</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed sapphire">
     <div class="flex container extra-top">
       <div class="col-12">
         <img src="images/timebook_details.png" alt="timebook detail">
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h2>“We were working on a project across three timezones. We struggled until we tried Timebook. We’ll never go back to the long email exchanges and conference calls.”</h2>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed pale-sapphire bottom-links">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h3 class="center">Like Timebook? You’ll love <a class="sapphire-link" href="timus.html">Timus</a>!</h3>
           <p class="center"><a class="sapphire-link" href="index.html">go back to all solutions</a></p>
         </div>
       </div>
     </div>
   </div>
</div>
