 <div id="content" class="times">
   <div class="bleed warm-grey-10">
     <div class="flexcontainer">
       <div class="col-6">
         <img src="images/times_hero.png" alt="times appx">
       </div>
       <div class="col-4 left-1 right-1 center">
         <img class="app-logo" src="images/times_logo.png" alt="times">
         <h2>Times tracks the times of your life.</h2>
       </div>
     </div>
   </div>

   <div class="bleed tulip">
     <div class="flexcontainer">
       <div class="col-12">
         <h1>“It’s how time-tracking is meant to be.”</h1>
       </div>
     </div>
   </div>

   <div class="bleed dark-tulip">
     <div class="flexcontainer extra-top">
       <div class="col-4 right-1 left-1">
         <div class="padded description">
           <h2>Timeline</h2>
           <p class="large">Times give you a single timeline to plan and track your day’s progress. Meetings, deadlines, and to-do items live in the same space, providing at-a-glance understanding.</p>
         </div>
       </div>
       <div class="col-6">
         <img src="images/times_ui.png" alt="times">
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-4">
         <div class="padded">
           <img src="images/times_ui-week.png" alt="week view">
           <h2 class="center">week view</h2>
           <p class="center">Look at weeks to see how much effort you are putting into different projects. Find ways to make your days more productive.</p>
         </div>
       </div>
       <div class="col-4">
         <div class="padded">
           <img src="images/times_ui-project.png" alt="project view">
           <h2 class="center">project view</h2>
           <p class="center">Zoom out to get the big picture of the projects you’re working on. Times shows you upcoming meetings and deadlines, so you’ll never be surprised.</p>
         </div>
       </div>
       <div class="col-4">
         <div class="padded">
           <img src="images/times_ui-wip.png" alt="sharing works in progress">
           <h2 class="center">in progress</h2>
           <p class="center">Share work in progress with other team members. Filter by project or see everything your extended team is up to.</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white top-rule">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h3 class="center">Like Times? You’ll love <a class="tulip-link" href="intention.html">intention</a>!</h3>
           <p class="center"><a class="tulip-link" href="index.html">go back to all solutions</a></p>
         </div>
       </div>
     </div>
   </div>
</div>
