---
title: Making Time - Timebot
author: shannon
date: 2016-01-13
---
 <div id="content" class="timebot">

   <div class="bleed cool-grey-90">
     <div class="flex container extra-top">
       <div class="col-12 extra-top">
         <h1 class="center">Meet Timebot</h1>
         <img src="images/timebot_hero.png" alt="timebot interface">
       </div>
     </div>
   </div>

   <div class="bleed white">
     <div class="flex container extra-top extra-bottom">
       <div class="col-8 left-2 right-2">
         <div class="padded">
           <h1 class="center">A timetracking app for teams that are changing the world.</h1>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed warm-grey-10">
     <div class="flex container extra-top">
       <div class="col-7">
         <img src="images/timebot_estimate.png" alt="timebot interface">
       </div>
       <div class="col-5">
         <div class="padded extra-top">
           <h2>Know what’s happening before it happens</h2>
           <p>Timebot gives you an idea of your day as soon as you log in so you can avoid surprises.</p>
         </div>
       </div>
     </div>
     <div class="flex container">
       <div class="col-7">
         <img src="images/timebot_health.png" alt="timebot healthy habits">
       </div>
       <div class="col-5">
         <div class="padded extra-top">
           <h2>Healthy employees are happy employees</h2>
           <p>Timebot can be configured to help your employees establish healthy habits.</p>
         </div>
       </div>
     </div>
     <div class="flex container">
       <div class="col-7">
         <img src="images/timebot_integration.png" alt="timebot integration">
       </div>
       <div class="col-5">
         <div class="padded extra-top">
           <h2>Integration with services you care about</h2>
           <p>Connecting your email or dropbox makes Timebot even smarter. It can see when you sync files or send emails, and will suggest timesheet changes.</p>
         </div>
       </div>
     </div>
     <div class="flex container extra-bottom">
       <div class="col-7">
         <img src="images/timebot_rain.png" alt="timebot rain warning">
       </div>
       <div class="col-5">
         <div class="padded extra-top">
           <h2>Stay dry</h2>
           <p>Timebot can even be integrated with local weather services to help you avoid the rain!</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed warm-grey-30">
     <div class="flex container extra-top extra-bottom">
       <div class="col-8 left-2 right-2">
         <div class="padded">
           <p class="small-statement center">“At last, we’ve discovered time tracking for the 21st century.”</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed white bottom-links">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <div class="padded center">
           <h3 class="next-link">Like Timebot? You’ll love <a class="grey-link" href="timebook.html">Timebook</a>!</h3>
           <a class="grey-link" href="index.html">go back to all solutions</a>
         </div>
       </div>
     </div>
   </div>
</div>
