 <div id="content" class="makingtime">
   <div class="bleed hero">
     <div class="flexcontainer">
       <div class="col-10 left-1 right-1 center introduction">
         <h1>What if time management didn’t suck?</h1>
       </div>
     </div>
   </div>

   <div class="bleed paleturquoise">
     <div class="flexcontainer">
       <div class="col-4">
         <div class="icon padded">
           <img src="images/makingtime_icon-centralized.png" alt="centralized">
           <h2>centralized</h2>
           <p>What if you had one app for all of your time management tools – for time tracking, to do lists, calendar, and more?</p>
         </div>
       </div>
       <div class="col-4">
         <div class="icon padded">
           <img src="images/makingtime_icon-smart.png" alt="centralized">
           <h2>smart</h2>
           <p>What if that one app was smart enough to guess at your activity and to create an interface relevant to your day?</p>
         </div>
       </div>
       <div class="col-4">
         <div class="icon padded">
           <img src="images/makingtime_icon-magical.png" alt="centralized">
           <h2>magical</h2>
           <p>What if that interface was a joy to use? What if you actually looked forward to planning your day and filing out your timesheet?</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed dark-grape">
     <div class="flexcontainer">
       <div class="col-10 left-1 right-1">
         <div class="padded">
           <h2>We spent two weeks mashing up time management with our favorite apps and applications.</h2>
           <h1>Here’s what we came up with:</h1>
         </div>
       </div>
     </div>
   </div>

	<div class="container packery">
		<div class="col-4 packed">
			<div class="padded contentbox" style="background-image:url('images/makingtime_thumb-moves.png')">
				<a class="overlaybox" href="times.html.erb">
					<h3>Times</h3>
				</a>
			</div>
		</div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-intention.png')">
        <a class="overlaybox" href="intentions.html.erb">
          <h3>Intentions</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-tweetbot.png')">
        <a class="overlaybox" href="twimmer.html.erb">
          <h3>Twimmer</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-game.png')">
        <a class="overlaybox" href="particles.html.erb">
          <h3>Particles</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-illustrator.png')">
        <a class="overlaybox" href="creativetime.html.erb">
          <h3>Creative Time</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-google.png')">
        <a class="overlaybox" href="tiiime.html.erb">
          <h3>Tiiime</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-facebook.png')">
        <a class="overlaybox" href="timebook.html.erb">
          <h3>Timebook</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-farmville.png')">
        <a class="overlaybox" href="timeville.html.erb">
          <h3>Timeville</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-swarm.png')">
        <a class="overlaybox" href="timesquare.html.erb">
          <h3>Timesquare</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-argus.png')">
        <a class="overlaybox" href="timus.html.erb">
          <h3>Timus</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-calendar.png')">
        <a class="overlaybox" href="itime.html.erb">
          <h3>iTime</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-keynote.png')">
        <a class="overlaybox" href="keytime.html.erb">
          <h3>KeyTime</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-timer.png')">
        <a class="overlaybox" href="timer.html.erb">
          <h3>Timer</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-slack.png')">
        <a class="overlaybox" href="tickbot.html.erb">
          <h3>TickBot</h3>
        </a>
      </div>
    </div>

    <div class="col-4 packed">
      <div class="padded contentbox" style="background-image:url('images/makingtime_thumb-trello.png')">
        <a class="overlaybox" href="timo.html.erb">
          <h3>Timo</h3>
        </a>
      </div>
    </div>


  </div>

</div>
