 <div id="content" class="timus">

   <div class="bleed cool-grey-80">
     <div class="flexcontainer extra-bottom">
       <div class="col-2 left-5 right-5 extra-top extra-bottom">
         <img src="images/timus_logo.png" alt="logo">
       </div>
       <div class="col-12 extra-bottom">
         <h1>TIMUS</h1>
         <h2>Quantify your day.</h2>
       </div>
     </div>
   </div>

   <div class="bleed pale-lime">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h2>“I no longer obsess about each moment’s productivity, but instead aim to have more productive habits.”</h2>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed lime">
     <div class="flexcontainer extra-top">
       <div class="col-4">
         <div class="padded">
           <h3>My view</h3>
           <p>See an overview of what you’ve accomplished, with quick access to update your day with what you’re currently working on.</p>
         </div>
       </div>
       <div class="col-4">
         <div class="padded">
           <h3>project view</h3>
           <p>See your team’s collective productivity with an overview of shared screenshots and completed to dos.</p>
         </div>
       </div>
       <div class="col-4">
         <div class="padded">
           <h3>in progress</h3>
           <p class="center">Easily add projects, deliverables, and to dos with the project management view.</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed lime">
     <div class="flexcontainer">
       <div class="col-4">
         <img src="images/timus_me.png" alt="week view">
       </div>
       <div class="col-4">
          <img src="images/timus_team.png" alt="project view">
       </div>
       <div class="col-4">
         <img src="images/timus_pm.png" alt="sharing works in progress">
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-80 extra-top extra-bottom">
     <div class="flexcontainer">
       <div class="col-5 right-2 extra-top">
         <div class="padded">
           <h3>Estimates vs. reality</h3>
           <p>Easily compare the amount of time you actully worked with the amount of time estimated.</p>
         </div>
         <div class="padded">
           <h3>One place</h3>
           <p>See tasks, deadlines, and meetings all in one place. Progress and work in progress all appear here as well, so you can keep up with your team’s work.</p>
         </div>
         <div class="padded">
           <h3>Empowered planning</h3>
           <p>Take a look at the future to better plan each moment. With transparency around time estimates, everyone can help projects stay on budget.</p>
         </div>
       </div>
       <div class="col-4 right-1">
         <img src="images/timus_project.png" alt="project view in TIMUS">
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-90 bottom-links">
     <div class="flexcontainer extra-top extra-bottom">
       <div class="col-12">
         <div class="padded">
           <h3 class="center">Like Timus? You’ll love <a class="lime-link" href="itime.html">iTime</a>!</h3>
           <p class="center"><a class="lime-link" href="index.html">go back to all solutions</a></p>
         </div>
       </div>
     </div>
   </div>
</div>
