---
title: Making Time - Twimmer
author: shannon
date: 2015-10-30
---
 <div id="content" class="twimmer">

   <div class="bleed turquoise">
     <div class="flex container extra-top">
       <div class="col-5 extra-top">
         <div class="padded extra-top">
           <h1 class="title">Welcome to Twimmer</h1>
           <p class="small-statement">Connect with your colleagues. Stay on top of the meetings, projects, and tasks that are important to you.</p>
         </div>
       </div>
       <div class="col-7">
         <img src="images/twimmer_hero.png" alt="twimmer">
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-90">
     <div class="flex container extra-top extra-bottom">
       <div class="col-10 left-1 right-1">
         <div class="padded">
           <p class="small-statement">"It’s easy for me to see what’s upcoming, and to have a tangible understanding of if I’m getting ahead or falling behind."</p>
         </div>
       </div>
     </div>
   </div>

   <div class="bleed cool-grey-70">
     <div class="flex container extra-top extra-bottom">
       <div class="col-5">
         <div class="padded extra-top">
           <h2 class="subtitle extra-top">Upcoming</h2>
           <p class="large">Twimmer’s interface focuses on what’s coming next, so that you can see what’s most important and when it’s due.</p>
           <h2 class="subtitle extra-top">Built-in timer</h2>
           <p class="large">Click or tap on a project or to-do item in your timeline, and it will automatically start tracking your time.</p>
           <h2 class="subtitle extra-top">Sub-lists</h2>
           <p class="large">Create sub to-do lists so that you don’t lose track of important details.</p>
           <h2 class="subtitle extra-top">Events</h2>
           <p class="large">Events appear in the upcoming view, with all of the functionality you expect from a calendar interface.</p>
           <h2 class="subtitle extra-top">Mood tracking</h2>
           <p class="large">Keep track of how different projects affect the mood of your organization with Twimmer’s unique mood-tracking feature.</p>
         </div>
       </div>
       <div class="col-7">
         <div class="padded">
           <img src="images/twimmer_ui-timeline.png" alt="twimmer">
         </div>
       </div>
     </div>
   </div>


   <div class="bleed cool-grey-90 bottom-links">
     <div class="flex container extra-top extra-bottom">
       <div class="col-12">
         <div class="padded center">
           <h3 class="next-link">Like twimmer? You’ll love <a class="turquoise-link" href="artificialtimercc.html">Artificial Timer CC</a>!</h3>
           <a class="turquoise-link" href="index.html">go back to all solutions</a>
         </div>
       </div>
     </div>
   </div>
</div>
