---
title: The Artificial blog
---
<section id="content">
	<div class="flex container">
			<div class="col-12 section-title">
			<div class="padded center">
				<h1 class="title">Our Blog</h1>
				<div class="small-statement">
					<%= partial "introduction" %>
				</div>
			</div>
		</div>
	</div>

  <div class="container packery padded-bottom">
		<% page_articles.each do |article| %>
			<%= render_card(article) %>
		<% end %>
	</div>

</section>
