---
title: The Artificial blog
---

<section id="content">
	<div class="flex container">
			<div class="col-8 section-title">
			<div class="padded center">
				<h1>Our Blog</h1>
				<p>Stories from The Artificial life</p>
			</div>
		</div>
	</div>

  <div class="container packery padded-bottom">
		<% page_articles.each do |article| %>
			<%= partial('blog/article_card', locals: { article: article }) %>
		<% end %>
	</div>

</section>
