@import "../../../stylesheets/_artificial-colors.scss";

body {
  height: 100%;
}

.connecting-things {
  background-color: $cool-grey-80;
}

.connecting-things #content {

  h1, h2 {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
  }

  #intro {
    margin-bottom: 40px;
  }

  .title, .subtitle {
    font-style: normal;
  }

  .title, .step-count {
    text-align: center;
  }

  .title {
    font-size: 42px;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .subtitle {
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 40px;
  }

  span.sentence {
    font-weight: normal;
  }

  .heading {
    padding-bottom: 10px;
  }

  .preview-link {
    font-size: 16px;
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  .current-step {
    .step-counter {
      display: inline-block;
      width: 80px;
      text-align: right;
    }
    .step-description {
      display: inline-block;
      text-align: left;
    }
  }

  #prev-button {
    text-align: left;
    p, svg {
      float: left;
    }
    &.disabled * {
      opacity: 0;
      cursor: default;
    }
    * {
      transition: opacity 0.5s ease-out;
    }
  }

  #next-button {
    text-align: right;
    p, svg {
      float: right;
    }
    &.disabled * {
      opacity: 0;
      cursor: default;
    }
    * {
      transition: opacity 0.5s ease-out;
    }
  }

  .card {
    background-color: $cool-grey-70;
    border-radius: 4px;
    color: $white;
    transition: .5s;
  }

  .card:hover {
    background-color: $cool-grey-80;
    color: $cool-grey-10;
    transition: .5s;
  }

  .walkthrough {
    height: 600px;

    background-color: $cool-grey-50;
    background: linear-gradient(to right, $cool-grey-30 50%, $cool-grey-70 51%);

    .thing-space {
      background-color: $cool-grey-30;
    }

    .screen-space {
      background-color: $cool-grey-70;
    }

    .thing-space, .screen-space {
      text-align: center;
      margin: auto;

      img {
        width: auto;
      }
    }

    .flow-space {
      background-color: $white;
      text-align: center;
      margin: auto;
      position: relative;
      height:600px;
    }
  }

  .navigation{
    background-color: $pale-tulip;
    height:200px;
  }

  .walkthrough-controls {
    padding-top: 10px;

    a {
      color: $white;
      svg *.arrow {
        fill: $white;
      }
    }

    a:hover {
      color: $cool-grey-10;
      svg *.arrow {
        fill: $cool-grey-10;
      }
    }

    svg {
      padding: 2px 4px 0 4px;
    }
  }

  .container.extra-bottom {
    padding-bottom: 120px;
  }

  .project-nav {
    padding-top: 60px;
    padding-bottom: 60px;

    a {
      color: $white;
    }
    a:hover {
      color: $cool-grey-10;
    }
  }
}
