@import "_artificial-colors.scss";

.huddle {
	background-image: url("../images/bg.png");
	background-size: cover;
}

.prototype {
	background-image: url("../images/bg.png");
	background-size: cover;
	padding: 80px 0 80px 0;

	h1 {
		color: white;
	}
	
	h2 {
		font-size: 1em;
		line-height: 1.8em;
		color: $cool-grey-20;
		font-weight: normal;
		
		a {
			color: $pumpkin;
		}
		a:hover {
			color: $dark-pumpkin;
		}
	}
}

p {
	font-size: 1em;
	line-height: 1.8em;
	font-weight: normal;
}

h3 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-style: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

img {
	margin: 20px 0 20px 0;
}

.side{
	margin-top: 80px;
}

.hero{
	margin: 20px 0 -125px 5%;
}


.introduction {
	margin: 80px 0 0px 0;
	
	h1 {
		color: white;
	}
	
	h2 {
		font-size: 1em;
		line-height: 1.8em;
		color: $cool-grey-20;
		font-weight: normal;
		
		a {
			color: $pumpkin;
		}
		a:hover {
			color: $dark-pumpkin;
		}
	}
	
	h5 {
		color: $cool-grey-20;
		margin-bottom: 20px;
		text-transform: none;
		font-family: "Droid Serif", Georgia, Times, serif;
		font-style: italic;
		
		a {
			text-decoration: underline;
			color: $cool-grey-20;
		}		
	}
}

#casesummary{
	padding-top: 160px;
}



