---
title: 36 Days of Type
date: 2018-05-14
---
<div class="flex container introduction">
	<div class="col-8 left-2 right-2 center">
		<div class="padded">
			<h1 class="title">36 Days of Type</h1>
			<p class="">A collaborative typographic experiment by Kamila, Ariane, Manjari, Natalia, Nathalie, and Shannon.</p>
		</div>
	</div>
</div>

<div class="flex container">
	<div class="col-4">
		<img src="images/a_architecture.png">
	</div>
	<div class="col-4">
		<img src="images/b_bananas.png">
	</div>
	<div class="col-4">
		<img src="images/c_cactus.png">
	</div>
	<div class="col-4">
		<img src="images/d_disco.png">
	</div>
	<div class="col-4">
		<img src="images/e_eyes.png">
	</div>
	<div class="col-4">
		<img src="images/f_flies.png">
	</div>
	<div class="col-4">
		<img src="images/g_grapes.png">
	</div>
	<div class="col-4">
		<img src="images/h_heart.png">
	</div>
	<div class="col-4">
		<img src="images/i_industry.png">
	</div>
	<div class="col-4">
		<img src="images/j_jungle.png">
	</div>
	<div class="col-4">
		<img src="images/k_ketchup.png">
	</div>
	<div class="col-4">
		<img src="images/l_light.png">
	</div>
	<div class="col-4">
		<img src="images/m_mortality.png">
	</div>
	<div class="col-4">
		<img src="images/n_neon.png">
	</div>
	<div class="col-4">
		<img src="images/o_oasis.png">
	</div>
	<div class="col-4">
		<img src="images/p_popcorn.png">
	</div>
	<div class="col-4">
		<img src="images/q_quilt.png">
	</div>
	<div class="col-4">
		<img src="images/r_rangoli.png">
	</div>
	<div class="col-4">
		<img src="images/s_salt.png">
	</div>
	<div class="col-4">
		<img src="images/t_tantric.png">
	</div>
	<div class="col-4">
		<img src="images/u_underwear.png">
	</div>
	<div class="col-4">
		<img src="images/v_violets.png">
	</div>
	<div class="col-4">
		<img src="images/w_wings.png">
	</div>
	<div class="col-4">
		<img src="images/x_xray.png">
	</div>
	<div class="col-4">
		<img src="images/y_yeti.png">
	</div>
	<div class="col-4">
		<img src="images/z_zebracross.png">
	</div>
	<div class="col-4">
		<img src="images/0_hole.png">
	</div>
	<div class="col-4">
		<img src="images/1_onesie.png">
	</div>
	<div class="col-4">
		<img src="images/2_cats.png">
	</div>
	<div class="col-4">
		<img src="images/3_swimmingpool.png">
	</div>
	<div class="col-4">
		<img src="images/4_fourcolors.png">
	</div>
	<div class="col-4">
		<img src="images/5_domino.png">
	</div>
	<div class="col-4">
		<img src="images/6_colorpalette.png">
	</div>
	<div class="col-4">
		<img src="images/7_luckynumber.png">
	</div>
	<div class="col-4">
		<img src="images/8_runners.png">
	</div>
	<div class="col-4">
		<img src="images/9_planets.png">
	</div>
</div>
