<div class="flex container project-nav">
  <div class="col-4">
    <div class="padded">
      <a class="button" href=".">previous fix</a>
    </div>
  </div>
  <div class="col-4">
    <div class="padded">
      <a class="button" href=".">back to all</a>
    </div>
  </div>
  <div class="col-4">
    <div class="padded">
      <a class="button" href=".">next fix</a>
    </div>
  </div>
</div>

</div><%# #content (from _header) %>
