---
name: Fishes
date: 2016-09-14
author: ariane
subtitle: "Filters"
thumbnail: fixed-02.jpg
---
<%= partial 'fix_header' %>
<div class="bleed dark">
  <div class="flex container before">
    <div class="col-3">
      <div class="padded">
        <h2>Before</h2>
        <p>Right after a scuba dive, I love to identify the fishes I encountered under the sea. For this purpose, I downloaded an app called Fishes: East Pacific that references 1358 species. The useful ‘combination search’ function allows to find fishes based on their location, color, shape, pattern or habitat. However, looking for a fish without knowing its name is a real pain because the app architecture is redundant and not intuitive.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="partially-padded">
        <img src="images/fishes-filters/original-01.png" alt="Fishes East Pacific">
      </div>
    </div>
    <div class="col-3">
      <div class="partially-padded">
        <img src="images/fishes-filters/original-02.png" alt="Fishes East Pacific">
      </div>
    </div>
    <div class="col-3">
      <div class="partially-padded">
        <img src="images/fishes-filters/original-03.png" alt="Fishes East Pacific">
      </div>
    </div>
  </div>
</div>

<div class="bleed white">
  <div class="flex container after">
    <div class="col-12">
      <div class="padded">
        <h2>After</h2>
        <p>The useful search was lost in the depth of the app. Some sub-lists in the combination search were illogic. For instance, if I am looking for a sea-horse shaped specimen, I have to find the shape in the sub-list of long nose fishes called cornetfish. Looking for a fish without knowing its name required lots of efforts (taps and time).</p>
        <p>Aside from the structure, the look and feel also needed some love.</p>
        <p>I fixed the filters section by getting inspiration from <a href="https://www.renttherunway.com/mobile">Rent The Runway</a>.  I compressed the search criteria area with the results area to give user some feedback in live time about the filters they are editing. What if I add those stripes on the fish? Oh no, my fish did not look like this! I imagine the great feeling of seeing relevant results updating simultaneously.</p>
      </div>
    </div>
    <div class="flex container">
      <div class="col-4">
        <div class="partially-padded">
          <img src="images/fishes-filters/fixed-01.jpg" alt="Fishes East Pacific">
        </div>
      </div>
      <div class="col-4">
        <div class="partially-padded">
          <img src="images/fishes-filters/fixed-02.jpg" alt="Fishes East Pacific">
        </div>
      </div>
      <div class="col-4">
        <div class="partially-padded">
          <img src="images/fishes-filters/fixed-03.jpg" alt="Fishes East Pacific">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bleed lightest-grey">
  <div class="flex container etc">
    <div class="col-12">
      <div class="padded">
        <h3>Additional notes</h3>
        <p>Scrolling to see the lasts filters might take a little longer than in the original version, however the app spatial metaphor is much simpler. The home screen is a fish data-base. The two main functions are in a reach of one tap. To search for a fish you can type text, or use the combination filters (net icon). To see bookmarked fishes, you can tap on the notebook icon. Fixing the filter section implied to look at the app with a more holistic approach. I ended up dissecting and analyzing the original app to clarify the conceptual model and to simplify the navigation. You can read more about the process and this project on our blog: <a href="http://theartificial.nl/blog/2016/09/02/fishes.html">Fishes, a Deep Dive into the Interaction of Filters</a>.
</p>
        <p>Thanks to Shannon E Thomas for the <a href="http://www.toicon.com/series/stone"> Stone series of icons</a></p>
      </div>
    </div>
  </div>
</div>

<%= partial 'fix_footer' %>
