 <div class="bleed background-gradient">

   <div id="title" class="flex container">
     <div class="col-8 left-2 right-2">
       <h1>FTFY</h1>
       <h4>We thought it could be better, so we Fixed That For You.</h4>
     </div>
   </div>


   <div class="flex container fixes">
     <div class="col-3">

       <a href="pokemongo-transfer.html">
         <div class="card">
           <div class="padded">
             <div class="preview">
               <img src="images/pokemongo-transfer/fixed-01.png" alt="Pokémon Go">
             </div>
             <div class="overlay">
               <h3>Pokémon Go</h3>
               <p>Transferring Pokémon</p>
             </div>
           </div>
         </div>
       </a>

     </div>
   </div>

</div>
