---
name: Instagram
date: 2016-08-16
author: shannon
subtitle: "Navigation"
thumbnail: fixed-01.png
---
<%= partial 'fix_header' %>
<div class="bleed dark">
  <div class="flex container before">
    <div class="col-4">
      <div class="padded">
        <h2>Before</h2>
        <p>A few weeks ago, I began noticing these strange circles appearing in a horizontally scrolling list at the top of my Instagram feed. I knew that Stories were coming, but I didn't expect the unconsidered presentation.</p>
        <p>Instagram has <a href="https://itunes.apple.com/us/developer/instagram-inc./id389801255">a lot of apps</a>. Each of these is tiny and focused. And yet, the main app is a combination of Flickr, Messenger, and now Snapchat.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="partially-padded">
        <img src="images/instagram-navigation/original-01.jpg" alt="Instagram">
      </div>
    </div>
    <div class="col-4">
      <div class="partially-padded">
        <img src="images/instagram-navigation/original-02.jpg" alt="Instagram">
      </div>
    </div>
  </div>
</div>

<div class="bleed white">
  <div class="flex container after">
    <div class="col-12">
      <div class="padded">
        <h2>After</h2>
        <p>The easy fix would have been to break apart the single app into three apps, embracing the multi-app strategy of their parent Facebook. But I wanted to stay in the spirit of the original intention, which I assume is to keep everything together to encourage broader use.</p>
        <p>If we want to encourage broader use, the…</p>
      </div>
    </div>
    <div class="flex container">
      <div class="col-4">
        <div class="partially-padded">
          <img src="images/instagram-navigation/fixed-01.png" alt="Instagram">
        </div>
      </div>
      <div class="col-4">
        <div class="partially-padded">
          <img src="images/instagram-navigation/fixed-02.png" alt="Instagram">
        </div>
      </div>
      <div class="col-4">
        <div class="partially-padded">
          <img src="images/instagram-navigation/fixed-03.png" alt="Instagram">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bleed lightest-grey">
  <div class="flex container etc">
    <div class="col-12">
      <div class="padded">
        <h3>Additional notes</h3>
        <p>Something about icons</p>
      </div>
    </div>
  </div>
</div>

<%= partial 'fix_footer' %>
