---
layout: projects/connecting-things/_thing_layout
title: Spire Stone
preview: thing/off.png
date: 2018-02-27
---
<p>
Spire Stone is a wearable tracker that monitors the user’s breathing patterns in order to help reduce stress. It detects moments of calm, tension, focus, and activity. The stone vibrates when sensing tensions. It is shaped like a grey pebble. It is made of foam and it has a metallic clip. It should be worn so the stone is in contact with the skin of the user. It can be clipped on the waistband of pants or skirts, or to a bra. It is designed to function with the Spire app. The stone is sold with a charging pad and a USB cable.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>easy
</h2>
<p>
As for many connected products, the journey starts by downloading the Spire app, signing or logging in, and accepting the terms and conditions. The app asks the user if they own a Spire tracker. Through guided steps, the user is assisted to connect. The stone seems to always be broadcasting as it is automatically detected by the app. The stone vibrates and the app asks the user to confirm that the right stone vibrates. Then, the app indicates that the Spire stone is updating, and shortly after, that it is connecting the user device. That’s it, the user can already view the graph of his breathing movements.
</p>

<h2 class="subtitle">
  <span class="sentence">The security is </span>okay
</h2>
<p>
Pairing the device is verified because the user identifies their stone while it vibrates. The vibration confirms that the app did not detect another Spire Stone nearby.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>though-through
</h2>
<p>
The Stone successfully sends data to the app via Bluetooth as long as the device is connected to the internet and both items are in range. This means that they should be less than about 9 meters away. When the user’s smartphone is not next to the Stone, the Stone stores the most recent 6 hours of data until it comes back in range of the smartphone. When in range again, the stone uploads data to the app. However, notifications only work when the stone and the phone are in range. The stone also works with the app installed on a tablet supporting Bluetooth 4.0.
</p>

<script>
var flowSteps = [
  {
    caption: "Thing begins broadcasting Bluetooth; User launches App",
    thingImg: "thing/on.png",
    networkAnimations: ["Actors.json", "Thing_broadcasts"],
    screenImg: "screens/01_login.png"
  },
  {
    caption: "Users logs in",
    thingImg: "thing/on.png",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/02_quicklogin.png"
  },
  {
    caption: "User enters credentials",
    thingImg: "thing/on.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/03_login.png"
  },
  {
    caption: "App asks user to turn on notifications",
    thingImg: "thing/on.png",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/04_notifications.png"
  },
  {
    caption: "App asks user to pair Thing",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/05_home-pair.png"
  },
  {
    caption: "OS listens for Bluetooth",
    networkAnimations: ["Actors.json", "OS_listens.json"],
    screenImg: "screens/06_search.png"
  },
  {
    caption: "User selects Thing in available Bluetooth products",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/07_select.png"
  },
  {
    caption: "User confirm Thing vibrated",
    networkAnimations: ["Actors.json", "ThingOS_pairs.json"],
    screenImg: "screens/08_pair.png"
  },
  {
    caption: "Thing and OS pair with Bluetooth",
    networkAnimations: ["Actors.json", "ThingApp_unverified.json"],
    screenImg: "screens/09_connected.png"
  },
  {
    caption: "Thing and OS pair with Bluetooth",
    networkAnimations: ["Actors.json"],
    screenImg: "screens/10_home-connected.png"
  }
]
</script>
