---
layout: projects/connecting-things/_thing_layout
title: Spire Stone
preview: thing/off.png
date: 2018-04-24
published: true
---
<p>
  Spire's Stone is a wearable tracker that monitors breathing patterns in order to help reduce stress. The Stone vibrates when it senses an abnormality in a user's breathing patterns, which might be brought on by stress or tension. Shaped like a grey pebble, it is designed to be clipped on to a waistband of pants or skirts, or to a bra - anyplace where it can be in contact with the user's skin.
</p>
<p>
  The Stone connects via Bluetooth to the Spire app, which collects and displays the user’s health data. While sold with a USB cable, this is used only for the Qi wireless charging pad.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is</span> easy and safe
</h2>
<p>
  There are no buttons on the Stone, and hence, when charged, seems to always broadcast a Bluetooth signal.
</p>
<p>
  The user needs to log in an account on the Spire app to begin the connection process, and initiates the discovery of a new Stone from the app. Once the user chooses their Stone, it vibrates to verify the selection. The app asks the user to confirm that the right stone vibrated, and then pairs with the Spire Stone. That’s it; the user can immediately observe their breathing movements on the app.
</p>

<!-- <h2 class="subtitle">
  <span class="sentence">The security is </span>okay
</h2>
<p>
Pairing the device is verified because the user identifies their stone once it vibrates. The vibration confirms that the app did not detect another Spire Stone nearby. Spire Stone can only be connected to one phone at a time. Data is protected by the fact that the Stone would need to be unpaired from a phone first before being able to pair to a new device.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>well thought
</h2>
<p>
The Stone connects to the app via Bluetooth, as long as the Stone and the device is within 9 meters of range. The phone needs an internet connection for the app to be connected the account. The Stone itself stores up to 6 hours of the user's most recent data, which it uploads to the device when it is connected and in range. Notifications on the Stone and the app only work when they are in range. The Stone also works with the app installed on a tablet supporting Bluetooth 4.0.
</p> -->

<script>
var flowSteps = [
  {
    caption: "Stone broadcasts Bluetooth, user launches App",
    thingImg: "thing/charging.gif",
    networkAnimations: ["actors/noWifi.json", "Thing_broadcasts.json"],
    screenImg: "screens/01_login.png"
  },
  {
    caption: "User selects login method in app",
    networkAnimations: ["actors/noWifi.json", "stills/Thing_broadcasts.json"],
    screenImg: "screens/02_quicklogin.png"
  },
  {
    caption: "User enters account credentials in app",
    networkAnimations: ["actors/noWifi.json", "stills/Thing_broadcasts.json", "AppCloud.json"],
    screenImg: "screens/03_login.png"
  },
  {
    caption: "User is logged into Spire account, app prompts user for notifications permission",
    networkAnimations: ["actors/noWifi.json", "stills/Thing_broadcasts.json", "stills/AppCloud.json"],
    screenImg: "screens/04_notifications.png"
  },
  {
    caption: "App prompts user to initiate setup",
    networkAnimations: ["actors/noWifi.json", "ThingOS_dscovery.json", "stills/AppCloud.json"],
    screenImg: "screens/05_home-pair.png"
  },
  {
    caption: "App discovers Stone, user selects Stone in app, Stone and OS are pairing with Bluetooth",
    networkAnimations: ["actors/noWifi.json", "ThingOS_pair.json", "stills/AppCloud.json" ],
    screenImg: "screens/06_search.gif"
  },
  {
    caption: "Stone vibrates, app instructs user to confirm stone vibrated, Stone and OS are paired with Bluetooth",
    thingImg: "thing/pair.gif",
    networkAnimations: ["actors/noWifi.json", "ThingOS_verified.json", "stills/AppCloud.json"],
    screenImg: "screens/07_pair.png"
  },
  {
    caption: "Stone and app are connected",
    thingImg: "thing/charging.gif",
    networkAnimations: ["actors/noWifi.json", "stills/ThingOS_verified.json", "stills/AppCloud.json", "ThingApp_unverified.json" ],
    screenImg: "screens/08_connected.png"
  },
  {
    caption: "App home shows Pokémon GO Plus is set up",
networkAnimations: ["actors/noWifi.json", "stills/ThingOS_verified.json", "stills/AppCloud.json", "stills/ThingApp_unverified.json"],
    screenImg: "screens/09_home-connected.png"
  }
]
</script>
