<div class="flex container">
	<div class="col-12">
		<div class="padded">
			<h1>Redesigning WatchOS</h1>
			<p class="authors">an experiment by <%= link_to_person 'shannon' %> and <%= link_to_person 'ariane' %></p>
			<p>The Apple Watch is a beautiful and powerful piece of hardware accompanied by incredibly useful software. It replaces a handful of other wearables by tracking steps, heartrate, standing, and more. It empowers users to handle notifications without digging through their bags (or pockets) to find their phones. It provides information at multiple resolutions with complications and apps (and formerly glances). Appropriately limited in its functionality, the Apple Watch still provides users with the ability to get directions, check the weather, send quick replies to messages, set tea timers, check into a location, and meditate with haptic guidance.</p>
			<p>WatchOS 3 brought some changes to the familiar interface. Most notably, Glances and Friends were removed and Dock was introduced. WatchOS 3 also made it possible to switch between multiple watch faces. The interaction of multiple watch faces (and complications) is the subject of this redesign.</p>
			<h2>Beautiful alone, imperfect together</h2>
			<p>There is no doubt that Apple Watch faces are <a href="https://www.wired.com/2015/04/apple-watch-design/">beautifully designed</a>. The details of each face are painstakingly considered and executed with the utmost care; however, with the introduction of multiple watch faces in the new WatchOS, it is obvious that the watch faces were designed to be perfect when standing alone, but not when viewed with others.</p>
			<p>Looking first at the digital faces, the time itself jumps a few pixels up and then a few more back down when switching between Photo, Motion, Astronomy, and Activity watch faces. Only the Activity watch face offers the long-format time (in a notably non-standard version of SF Compact), while only the Photo and Photo Album faces allow the user to switch the time between top and bottom layouts.</p>
			<img src="images/grid-digital.png">
			<p>The analog faces have somewhat more consistency, but still the ring of numbers bounces up and down while the allowed complications vary (somewhat unpredictably) per watch face. In addition, the Chronograph and and Activity watch faces have unique inner elements; Color offers a monogram option; and Simple, Utility, and Chronograph allow for the date within the face (Activity requires it).</p>
			<img src="images/grid-analog.png">
			<h2>Unifying the Grid</h2>
		</div>
	</div>
</div>
