---
title: The Artificial rapidly manufacturing
---

<style>
    #slides {
        height: 600px;
    }
    
    #slide_intro {
        background:url('images/1x_3ds-intro.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_cube {
        background:url('images/1x_3ds-CubeEcosystem.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_flows {
        background:url('images/1x_3ds-CubeMobileFlows.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_documentation {
        background:url('images/1x_3ds-ViewportManipulation.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_icons {
        background:url('images/1x_3ds-Iconography.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_professional {
        background:url('images/1x_3ds-ProfessionalScreens.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {         
        #slide_intro {
        background:url('images/2x_3ds-intro.png') no-repeat center center;
        background-size: 1600px 600px;
        }
        
        #slide_cube {
            background:url('images/2x_3ds-CubeEcosystem.png')    no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_flows {
            background:url('images/2x_3ds-CubeMobileFlows.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_documentation {
            background:url('images/2x_3ds-ViewportManipulation.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_icons {
            background:url('images/2x_3ds-Iconography.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_professional {
            background:url('images/2x_3ds-ProfessionalScreens.png') no-repeat center center;
            background-size: 1600px 600px;
        }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides"><ul class="slides-container">

    <li class="slide" id="slide_intro">

        <div class="column">
            <div class="caption-bottom-right">
                <h5>Going Consumer</h5></h5>
                <p>Coinciding with the launch of their next generation consumer products, 3D Systems approached The Artificial to assist in creating a design that could be rolled out to the connected software.</p>
            </div>
        </div>

    </li>
    
    <li class="slide" id="slide_flows">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Managing Printing from Your iPhone</h5>
                <p>We designed an application with a focused interaction model and minimal UI elements for managing the Cube printer. Knowing that this would be a new experience for many users, we focused on creating simple task-oriented paths and clear feedback from the printing process.</p>
            </div>
        </div>

    </li>
    
    <li class="slide" id="slide_cube">

        <div class="column">
            <div class="caption-bottom-right">
                <h5>Scanning in 3D</h5></h5>
                <p>We helped design a simple interface for scanning in 3D. We made a fairly linear flow interesting by showcasing specific moments where the 3D Systems algorithms performed their magic.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_documentation">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Consistency Across Products and Platforms</h5>
                <p>To accommodate the growing ecosystem of tools and services, we created a visual and interaction system which would remain consistent for the user while easily extending to include new products across consumer and professional lines.</p>
            </div>
        </div>

    </li>
    <li class="slide" id="slide_icons">
        <div class="column">
            <div class="caption-bottom-right">
                <h5>No Detail Unloved</h5>
                <p>Details have to be designed for all screens, from tablets to on-printer displays. We kept this range in mind as we developed out the details, making sure the final manifestation would pixel perfect on any device.</p>
            </div>
        </div>

    </li>
    <li class="slide" id="slide_professional">
        <div class="column">
            <div class="caption-bottom-right">
                <h5>A Professional Twist</h5>
                <p>Most recently, we worked with 3D Systems to create their first touch interface for a line of SLS and SLA printers. We worked in an iterative process with machine operators and developers to perfect the interface for high-volume professional use. </p>
            </div>
        </div>

    </li>
</ul>
<nav class="slides-navigation">
    <a href="#" class="next"></a>
    <a href="#" class="prev"></a>
</nav>
</div>

