---
title: The Artificial capabilities
---
    
<style>
    #slides {
        height: 600px;
    }
    
    #slide_workshops {
        background:url('images/1x_learning-workshop.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_functionality {
        background:url('images/1x_3ds-CubeMobileFlows.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_details {
        background:url('images/1x_icon-StraightFills.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_systems {
        background:url('images/1x_pilogs-context.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_beyond {
        background:url('images/1x_death-Cave.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
        #slide_workshops {
            background:url('images/2x_learning-workshop.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_functionality {
            background:url('images/2x_3ds-CubeMobileFlows.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_details {
            background:url('images/2x_icon-StraightFills.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_systems {
            background:url('images/2x_pilogs-context.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_beyond {
            background:url('images/2x_death-Cave.png') no-repeat center center;
            background-size: 1600px 600px;
        }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides"><ul class="slides-container">

    <li class="slide" id="slide_workshops">

        <div class="column">
            <div class="caption-bottom-right">
                <h5>Ideation and Definition</h5>
                <p>We believe in looking outside the screen for inspiration. Our projects start in the world that they will ultimately live in, with a process that includes researching and sketching. We work with our clients to evaluate and focus these ideas into products and services.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_functionality">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Fine-tuning Functionality</h5>
                <p>"Artificial" has been unfairly burdened with connotations of cheap inauthenticy. There is nothing cheap in the original meaning of the word; rather, when Christopher Wren heard this phrase, he would have taken it as a compliment.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_details">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>No Detail Too Small</h5>
                <p>We take care to perfect the details, down to the pixel.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_systems">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Beautiful Systems</h5>
                <p>We pull together interaction and visual, technology and business, overview and details to create systems that make sense to both businesses and users.</p>
            </div>
        </div>
        
    <li class="slide" id="slide_beyond">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>The Great Beyond</h5>
                <p>We love imagining the future, regardless of whether it's due to ship next year or preparing a technology strategy for 2020. We love finding partners that we can work with to communicate vision through prose, illustration, designs, and prototypes.</p>
            </div>
        </div>

    </li>
</ul>
<nav class="slides-navigation">
    <a href="#" class="next">&gt;</a>
    <a href="#" class="prev">&lt;</a>
</nav>
</div>

</div>
