---
title: "The Artificial & Death"
---
    
<style>
    #logo {
        background:url('images/logo-lg-death.png') no-repeat center center;
        background-size: 600px 300px;
    }
    #cave {
        background:url('images/death-cave.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #crystals {
        background:url('images/death-crystals.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #city {
        background:url('images/death-city.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #blimp {
        background:url('images/death-blimp.png') no-repeat center center;
        background-size: 600px 400px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {                 
        #logo {
            background:url('images/logo-lg-death@2x.png') no-repeat center center;
            background-size: 600px 300px;
        }
        #cave {
            background:url('images/death-cave@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #crystals {
            background:url('images/death-crystals@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #city {
            background:url('images/death-city@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #blimp {
            background:url('images/death-blimp@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
    }
</style>

<div class="hero designfordeath">
</div>

<div class="sectionlogo" id="logo"></div>

<div id="story">
  <div class="pale">

    <div class="row">
      <div class="image right" id="cave"></div>
      <div class="copy left">
        <p class="gigantic condensed text-turquoise">The Future of Death</p>
        <p class="small">Prompted by Design Boom's Design for Death competition, we spent a week exploring ideas for how we might treat death in the future. With a focus on architecture, we created future designs accommodating for scarcity of land and the abundance of digital information left behind as remains.</p>
      </div>
    </div>      
    
    <div class="row">
      <div class="image left" id="crystals"></div>
      <div class="copy bg-turquoise right">
        <p class="small"><span class="dropcap">C</span>ut from the bedrock beneath urban centers, Memorial Hubs are a global network of bereavement centres that provide mourners with uniquely personal commemorative experience.</p>
        <p>Unlike conventional burial sites, Memorial Hubs do not contain remains. Rather, each hub provides a memorial service that is personalised through the usage of remembrance crystals. Infused with ashes of the deceased and encoded with data relating to their life, these crystals are provide the griever with family albums, personal photographs, favourite albums/playlists, videos, emails, quotes, letters, and more.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="image right" id="city"></div>
      <div class="copy left">
        <p class="large serif">To create designs meant to live in the future, we must first imagine the humans who are a part of that future.</p>
      </div>
    </div>
  
    <div class="row">
      <div class="image left" id="blimp"></div>
      <div class="copy right">
        <p class="small"><span class="dropcap">T</span>he Cloud of Souls is comprised of rooftop gardens and parks devoted to connecting to the digital remains of loved ones passed. Upon entering the rooftop park, the living can summon the dead's avatar from a small kiosk. The deceased's avatar is rear-projected on a blimp that meets with the living to talk or sit quietly. After use, the blimp returns to the ceiling of the enclosure to recharge using solar energy.</p>
      </div>
    </div>    
    
  </div>
</div>  