---
title: The Artificial managing knowledge
---

<style>
    #slides {
        height: 600px;
    }
    
    #slide_sketch {
        background:url('images/1x_learning-sketch.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_workshop {
        background:url('images/1x_learning-workshop.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_flow {
        background:url('images/1x_learning-flow.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_styles {
        background:url('images/1x_learning-styles.png') no-repeat center center;
        background-size: 1600px 600px;
    }

    #slide_use {
        background:url('images/1x_learning-context.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    /* Retina targeting per http://www.w3.org/blog/CSS/2012/06/14/unprefix-webkit-device-pixel-ratio/ */
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
        #slide_sketch {
            background:url('images/2x_learning-sketch.png')    no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_workshop {
            background:url('images/2x_learning-workshop.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_flow {
            background:url('images/2x_learning-flow.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_styles {
            background:url('images/2x_learning-styles.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_layers {
            background:url('images/2x_learning-layers.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_context {
            background:url('images/2x_learning-context.png') no-repeat center center;
            background-size: 1600px 600px;
        }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides"><ul class="slides-container">

    <li class="slide" id="slide_sketch">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>What is an insight?</h5>
                <p>humanLearning approached The Artificial with the beginnings of a knowledge-sharing application for iOS. We partnered together to make the vision of an interdisciplinary communication within large businesses a reality. </p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_workshop">

        <div class="column">
            <div class="caption-bottom-right">
                <h5>Creating a common language</h5>
                <p>To kick off, we held a workshop where we related functionality to terminology, connecting the business case to the user experience.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_flow">

        <div class="column">
            <div class="caption-bottom-right">
                <h5>Imagining Usage</h5>
                <p>We documented the the system first through wireframes to help developers get started right away. We tested these wireframes through use cases to show how the many pieces of application worked together to provide a cohesive experience.</p>
            </div>
        </div>

    </li>
    <li class="slide" id="slide_layers">
        <div class="column">
            <div class="caption-bottom-right">
                <h5>iOS 7, before iOS 7</h5>
                <p>We began visual design just as iOS 7 was announced. Despite having only seen Apple's screenshots, we prepared an application with a look and feel appropriate for the new operating system.</p>
            </div>
        </div>

    </li> 
    <li class="slide" id="slide_styles">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Things Always Change</h5>
                <p>We understand that every product has a life after its initial design. We documented our process to make building future versions of humanLearning less intimidating.</p>
            </div>
        </div>

    </li>           
    <li class="slide" id="slide_context">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Now in Beta</h5>
                <p>We're always excited to see our ideas become a reality. In just six months, we've watched our application move from static screens to a working application full of shared insights and inspiration.</p>
            </div>
        </div>

    </li>
</ul>
<nav class="slides-navigation">
    <a href="#" class="next">&gt;</a>
    <a href="#" class="prev">&lt;</a>
</nav>
</div>

</div>
