<script>
  $( document ).ready(function() {
    scrollspy('#nav-panels', $('#header').height(), tweenGradient);
    tweenGradient($('#systems'),0);
    $('#header').css('opacity', 0.85);
    $('.slide-panel').css('background','none');
  });

  function tweenGradient(currentElement, offset) {
    var topColor = currentElement.data('gradient-top'),
        bottomColor = currentElement.data('gradient-bottom'),
        nextElement = currentElement.next('.slide-panel');
// console.log(currentElement.attr('id'), nextElement.attr('id'));
// console.log(currentElement.attr('id'), topColor, bottomColor);
    if (nextElement.length > 0) {
      var nextTopColor = nextElement.data('gradient-top'),
          nextBottomColor = nextElement.data('gradient-bottom');

    }
    $('#header').css('background-color',bottomColor);
    $('body').css('background-image','linear-gradient('+topColor+', '+bottomColor+')');
  }

</script>

<section id="header-side">

  <div class="flexcontainer underheader"></div>

  <div class="flexcontainer">
    <div class="col-1 left-11">
      <nav id="nav-panels" class="iconlist">
        <div class="padded">
          <ul>
            <li><a href="#systems">&#9632;</a></li>
            <li><a href="#integrated">&#9632;</a></li>
            <li><a href="#global">&#9632;</a></li>
            <li><a href="#details">&#9632;</a></li>
            <li><a href="#possible">&#9632;</a></li>
            <li><a href="#scale">&#9632;</a></li>
            <li><a href="#fun">&#9632;</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>

<div class="bleed">

  <div class="slide-panel bleed turquoise-palegrass" data-gradient-bottom="#35B199" data-gradient-top="#C2F1A9" id="systems">
    <div class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/sonicare-breath_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We design beautiful and rational experiences.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed sapphire-palegrape" data-gradient-bottom="#2A3F98" data-gradient-top="#DCB6E4" id="integrated">
    <div class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/avent-ugrow_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We design integrated product and service ecosystems.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed grape-paletulip" data-gradient-bottom="#77278B" data-gradient-top="#F1A9BC" id="global">
    <div class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/sonicare-sims_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We enjoy creating experiences for multiple markets with diverse partners.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed tulip-palepumpkin" data-gradient-bottom="#CB2853" data-gradient-top="#FFD4BF" id="details">
    <div class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/toicon_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We believe in getting the details absolutely perfect.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed pumpkin-paledandelion" data-gradient-bottom="#FF7632" data-gradient-top="#FFE5B2" id="possible">
    <div class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/3DS-consumer_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We have experience in all stages of business and software development.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed dandelion-paledandelion" data-gradient-bottom="#FFB626" data-gradient-top="#FFE5B2" id="scale">
    <div class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/knowledgesharing_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We work with clients of all sizes to create solutions that scale.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed grass-paleturquoise" data-gradient-bottom="#75CB49" data-gradient-top="#B6E4DC" id="fun">
    <div class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('laboratory/images/futureofcake_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We enjoy solving tough problems, but not taking ourselves too seriously.</h3>
        </div>
      </div>
    </div>
  </div>

</div>
