---
title: The Artificial
nofeed: true
---
<% content_for :json_ld do %>
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "The Artificial",
  "url": "https://theartificial.com/",
  "logo": "https://theartificial.com/images/img_default.png",
  "sameAs": [
    "https://twitter.com/VeryArtificial",
    "https://www.facebook.com/veryartificial/",
    "https://instagram.com/VeryArtificial/",
    "https://www.linkedin.com/company/the-artificial/"
  ]
}
<% end %>

<script>
  $( document ).ready(function() {
    scrollspy('#nav-panels', $(window).height()/2, tweenGradient);
    tweenGradient($('#day'),0);
    updatePagination($('#nav-panels a'), 'day');
    $('.slide-panel').css('background','none');
  });

  function tweenGradient(currentElement, offset) {
    var topColor = jQuery.Color(currentElement.data('gradient-top')),
        bottomColor = jQuery.Color(currentElement.data('gradient-bottom')),
        overlayColor = jQuery.Color(currentElement.data('overlay')),
        nextElement = currentElement.next('.slide-panel');
    if (nextElement.length > 0) {
      var nextTopColor = jQuery.Color(nextElement.data('gradient-top')),
          nextBottomColor = jQuery.Color(nextElement.data('gradient-bottom')),
          nextOverlayColor = jQuery.Color(nextElement.data('overlay'));
      topColor = topColor.transition(nextTopColor, offset);
      bottomColor = bottomColor.transition(nextBottomColor, offset);
      overlayColor = overlayColor.transition(nextOverlayColor, offset);
    }
    $('#background').css('background-image','linear-gradient('+topColor.toRgbaString()+', '+bottomColor.toRgbaString()+')');
    // $('body').css('background-color',currentElement.data('glitch'));
    $('#header').css('background-color',overlayColor.alpha(0.25).toRgbaString());
    $('#nav-panels li svg *').css('fill',overlayColor.toHexString());
  }

</script>

<section id="side-nav">
  <div class="flex container">
    <div class="col-1 left-11">
      <nav id="nav-panels" class="iconlist">
          <ul>
            <li class="disabled"><a class="prev"><svg class="arrow" version="1.1"
            	 width="24px" height="24px" viewBox="0 0 24 24"><polygon class="arrows" points="12,1.586 1.293,12.293 2.707,13.707 11,5.414 11,23 13,23 13,5.414 21.293,13.707 22.707,12.293 "/></svg></a></li>
            <li class="active"><a href="#day"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#dusk"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#twilight"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#night"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a class="next"><svg class="arrow" version="1.1"
            	 width="24px" height="24px" viewBox="0 0 24 24"><polygon points="21.293,10.293 13,18.586 13,1 11,1 11,18.586 2.707,10.293 1.293,11.707 12,22.414 22.707,11.707"/></svg></a></li>
          </ul>
      </nav>
    </div>
  </div>
</section>

<div id="background"> </div>

<div class="bleed slide-container">

  <div class="slide-panel bleed sunset-day" data-gradient-bottom="#FF9966" data-gradient-top="#FFE6B3" data-overlay="#FF9966" id="day">
    <div class="col-8 right-2 left-2 slide-panel-caption">
      <div class="padded center">
        <p>The Artificial has refocused and is now <a href="http://artificial.design">Artificial Design</a>.</p>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed sunset-dusk" data-gradient-bottom="#CC2954" data-gradient-top="#FF9966" data-overlay="#CC2954" id="dusk">
    <div class="flex container">

    <%
      events = data.events.sort_by{|e| e.date}
      last_year = 0
      events.each_with_index do |e, i|
        if i == 0
    %>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded center">
          <p>The Artificial was a boutique UX agency from 2013 to 2018. We did a lot of work and had a lot of fun. Here’s a brief timeline of our adventures.</p>
        </div>
      </div>
    <%
        end
        if (i % 2) == 0
    %>
      <div class="col-5 right-7">
    <%
        else
    %>
      <div class="col-5 left-7">
    <%
        end
        date = e.date
        year = date.year
        date_human = "#{date.day} #{Date::MONTHNAMES[date.month]} #{year}"
    %>
        <div class="padded">
          <p class="date"><%= date_human %></p>
          <p class="event"><%= e.content %></p>
        </div>
      </div>
    <%
      end
    %>
    </div>
  </div>

  <div class="slide-panel bleed sunset-twilight" data-gradient-bottom="#78288C" data-gradient-top="#CC2954" data-overlay="#581466" id="twilight">
  </div>

  <div class="slide-panel bleed sunset-night" data-gradient-bottom="#172872" data-gradient-top="#78288C" data-overlay="#172872" id="night">
  </div>

</div>
