---
title: The Artificial
nofeed: true
---
<% content_for :json_ld do %>
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "The Artificial",
  "url": "https://theartificial.com/",
  "logo": "https://theartificial.com/images/img_default.png",
  "sameAs": [
    "https://twitter.com/VeryArtificial",
    "https://www.facebook.com/veryartificial/",
    "https://instagram.com/VeryArtificial/",
    "https://www.linkedin.com/company/the-artificial/"
  ]
}
<% end %>

<script>
  $( document ).ready(function() {
    scrollspy('#nav-panels', $(window).height()/2, tweenGradient);
    tweenGradient($('#systems'),0);
    updatePagination($('#nav-panels a'), 'systems');
    $('.slide-panel').css('background','none');
  });

  function tweenGradient(currentElement, offset) {
    var topColor = jQuery.Color(currentElement.data('gradient-top')),
        bottomColor = jQuery.Color(currentElement.data('gradient-bottom')),
        overlayColor = jQuery.Color(currentElement.data('overlay')),
        nextElement = currentElement.next('.slide-panel');
    if (nextElement.length > 0) {
      var nextTopColor = jQuery.Color(nextElement.data('gradient-top')),
          nextBottomColor = jQuery.Color(nextElement.data('gradient-bottom')),
          nextOverlayColor = jQuery.Color(nextElement.data('overlay'));
      topColor = topColor.transition(nextTopColor, offset);
      bottomColor = bottomColor.transition(nextBottomColor, offset);
      overlayColor = overlayColor.transition(nextOverlayColor, offset);
    }
    $('#background').css('background-image','linear-gradient('+topColor.toRgbaString()+', '+bottomColor.toRgbaString()+')');
    // $('body').css('background-color',currentElement.data('glitch'));
    $('#header').css('background-color',overlayColor.alpha(0.25).toRgbaString());
    $('#nav-panels li svg *').css('fill',overlayColor.toHexString());

    // $('#logo').text(offset);
    // $('#logo').text(currentElement.attr('id') + ': ' + currentElement.data('gradient-top') + '-' + currentElement.data('gradient-bottom') + ': ' + $('#background').css('background-image'));
  }

</script>

<section id="side-nav">
  <div class="flex container">
    <div class="col-1 left-11">
      <nav id="nav-panels" class="iconlist">
          <ul>
            <li class="disabled"><a class="prev"><svg class="arrow" version="1.1"
            	 width="24px" height="24px" viewBox="0 0 24 24"><polygon class="arrows" points="12,1.586 1.293,12.293 2.707,13.707 11,5.414 11,23 13,23 13,5.414 21.293,13.707 22.707,12.293 "/></svg></a></li>
            <li class="active"><a href="#systems"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#integrated"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#global"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#details"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#possible"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a class="next"><svg class="arrow" version="1.1"
            	 width="24px" height="24px" viewBox="0 0 24 24"><polygon points="21.293,10.293 13,18.586 13,1 11,1 11,18.586 2.707,10.293 1.293,11.707 12,22.414 22.707,11.707"/></svg></a></li>
          </ul>
      </nav>
    </div>
  </div>
</section>

<div id="background"> </div>

<div class="bleed slide-container">

  <div class="slide-panel bleed sunset-day" data-gradient-bottom="#FF9966" data-gradient-top="#FFE6B3" data-overlay="#FF9966" id="systems">
    <div class="col-8 right-2 left-2 slide-panel-caption">
      <div class="padded center">
        <p>The Artificial has refocused and is now <a href="http://artificial.design">Artificial Design</a>.</p>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed sunset-dusk" data-gradient-bottom="#CC2954" data-gradient-top="#FF9966" data-overlay="#CC2954" id="integrated">
    <div class="flex container">
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded center">
          <p>The Artificial was an agency that existed for 5 years. We did a lot of work and had a lot of fun. Here’s a brief timeline of our adventures.</p>
        </div>
      </div>
      <div class="col-5 left-7">
        <div class="padded">
          <p class="date">4 April 2013</p>
          <p class="event">The company registers as Shannon E. Thomas VOF. Immediately, we begin collaborating with our friends at <a href="">Zigzag</a>.</p>
        </div>
      </div>
      <div class="col-5 right-7">
        <div class="padded">
          <p class="date">16 June 2013</p>
          <p class="event">The Artificial starts her first official project, an app with a <a href="">knowledge sharing startup</a>.</p>
        </div>
      </div>
      <div class="col-5 left-7">
        <div class="padded">
          <p class="date">1 August 2013</p>
          <p class="event"><a href="">Jo Szczepanska</a> joins the team. The next day, we move the garage on Houtmankade.</p>
        </div>
      </div>
      <div class="col-5 right-7">
        <div class="padded">
          <p class="date">12 August 2013</p>
          <p class="event">The Artificial starts work on <a href="">3D Systems Consumer Tools</a>.</p>
        </div>
      </div>
      <div class="col-5 left-7">
        <div class="padded">
          <p class="date">5 September 2013</p>
          <p class="event">The Artificial starts work on <a href="">3D Systems Professional Tools</a>.</p>
        </div>
      </div>
      <div class="col-5 right-7">
        <div class="padded">
          <p class="date">14 October 2013</p>
          <p class="event"><a href="">Hans Gerwitz</a> joins the team.</p>
        </div>
      </div>
      <div class="col-5 left-7">
        <div class="padded">
          <p class="date">25 November 2013</p>
          <p class="event">The Artificial starts work on the uGrow <a href="">Smart Baby Monitor</a>.</p>
        </div>
      </div>
      <div class="col-5 right-7">
        <div class="padded">
          <p class="date">3 March 2014</p>
          <p class="event"><a href="">Carol Liao</a> joins the team.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="slide-panel bleed sunset-twilight" data-gradient-bottom="#78288C" data-gradient-top="#CC2954" data-overlay="#581466" id="global">
  </div>

  <div class="slide-panel bleed sunset-night" data-gradient-bottom="#172872" data-gradient-top="#78288C" data-overlay="#172872" id="details">
  </div>

</div>
