<div class="bleed turquoise-palegrass">
  <div class="flex container">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="work/images/sonicare-breath_cover.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We design beautiful and rational experiences.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed sapphire-palegrape">
  <div class="flex container">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="work/images/avent-ugrow_cover.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We design integrated product and service ecosystems.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed grape-paletulip">
  <div class="flex container">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="work/images/sonicare-sims_cover.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We enjoy creating experiences for multiple markets with diverse partners.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed tulip-palepumpkin">
  <div class="flex container">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="work/images/toicon_cover.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We believe in getting the details absolutely perfect.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed pumpkin-paledandelion">
  <div class="flex container">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="work/images/3DS-consumer_cover.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We have experience in all stages of business and software development.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed dandelion-paledandelion">
  <div class="flex container">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="work/images/knowledgesharing_cover.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We work with clients of all sizes to create solutions that scale.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed grass-paleturquoise">
  <div class="flex container">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="laboratory/images/futureofcake_cover.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We enjoy solving tough problems, but not taking ourselves too seriously.</h1>
      </div>
    </div>
  </div>
</div>


</section>
