---
title: The Artificial
nofeed: true
---
<% content_for :json_ld do %>
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "The Artificial",
  "url": "https://theartificial.com/",
  "logo": "https://theartificial.com/images/img_default.png",
  "sameAs": [
    "https://twitter.com/VeryArtificial",
    "https://www.facebook.com/veryartificial/",
    "https://instagram.com/VeryArtificial/",
    "https://www.linkedin.com/company/the-artificial/"
  ]
}
<% end %>

<script>
  $( window ).on('load', function() {
    scrollspy('.slide-panel', 100, tweenGradient);
    tweenGradient($('#day'),0);
    $('.slide-panel').css('background','none');
    $( document ).one('scroll', function() {
      $('.teaser').fadeOut(250);
    });
  });

  function tweenGradient(currentElement, offset) {
    var topColor = jQuery.Color(currentElement.data('gradient-top')),
        bottomColor = jQuery.Color(currentElement.data('gradient-bottom')),
        overlayColor = jQuery.Color(currentElement.data('overlay')),
        nextElement = currentElement.next('.slide-panel');
    if (nextElement.length > 0) {
      var nextTopColor = jQuery.Color(nextElement.data('gradient-top')),
          nextBottomColor = jQuery.Color(nextElement.data('gradient-bottom')),
          nextOverlayColor = jQuery.Color(nextElement.data('overlay'));
      topColor = topColor.transition(nextTopColor, offset);
      bottomColor = bottomColor.transition(nextBottomColor, offset);
      overlayColor = overlayColor.transition(nextOverlayColor, offset);
    }
    $('#background').css('background-image','linear-gradient('+topColor.toRgbaString()+', '+bottomColor.toRgbaString()+')');
    $('#header').css('background-color',overlayColor.alpha(0.25).toRgbaString());
  }

</script>

<div id="background"> </div>

<div class="bleed slide-container">

  <div class="slide-panel bleed sunset-day" data-gradient-bottom="#FF9966" data-gradient-top="#FFE6B3" data-overlay="#FF9966" id="day">
    <div class="flex container">
      <div class="left-1 col-10 right-1">
        <div class="padded center">
          <h2>The Artificial has refocused and is now <a href="https://artificial.design/">Artificial Design</a>.</h2>
        </div>
      </div>
    </div>
    <div class="teaser">
      scroll
      <br>
      <svg class="arrow" version="1.1" width="24px" height="24px" viewBox="0 0 24 24"><polygon points="21.293,10.293 13,18.586 13,1 11,1 11,18.586 2.707,10.293 1.293,11.707 12,22.414 22.707,11.707"/></svg>
    </div>
  </div>
</div>

  <%
    events = data.events.sort_by{|e| e.date}
    last_year = 0
    events.each_with_index do |e, i|
      date = e.date
      year = date.year
      date_human = "#{date.day} #{Date::MONTHNAMES[date.month]}"
      if year != last_year
        last_year = year
        case year
        when 2013
  %>
  <div class="slide-panel bleed sunset-dusk timeline" data-gradient-bottom="#CC2954" data-gradient-top="#FF9966" data-overlay="#CC2954" id="dusk">
    <div class="flex container">
      <div class="left-2 col-8 right-2 slide-panel-caption">
        <div class="padded center">
          <p class="heading">The Artificial was a boutique UX agency from 2013 to 2018. We did a lot of work and had a lot of fun. Here’s a brief timeline of our adventures.</p>
        </div>
      </div>
    </div>
    <div class="timeline-year">2013</div>
    <div class="timeline-container container">
  <%
        when 2014
  %>
    </div>
    <div class="timeline-year">2014</div>
    <div class="timeline-container container">
  <%
        when 2015
  %>
    </div>
  </div>
  <div class="slide-panel bleed sunset-twilight timeline" data-gradient-bottom="#78288C" data-gradient-top="#CC2954" data-overlay="#581466" id="twilight">
    <div class="timeline-year">2015</div>
    <div class="timeline-container container">
  <%
        when 2016
  %>
    </div>
    <div class="timeline-year">2016</div>
    <div class="timeline-container container">
  <%
        when 2017
  %>
    </div>
  </div>
  <div class="slide-panel bleed sunset-night timeline" data-gradient-bottom="#172872" data-gradient-top="#78288C" data-overlay="#172872" id="night">
    <div class="timeline-year">2017</div>
    <div class="timeline-container container">
  <%
        when 2016
  %>
    </div>
    <div class="timeline-year">2018</div>
    <div class="timeline-container container">
  <%
        end
      end
  %>
      <div class="timeline-item">
        <div class="timeline-dot">
        </div>

        <div class="timeline-content">
          <p class="date"><%= date_human %></p>
          <p class="event"><%= e.content %></p>
        </div>
      </div>
  <%
    end
  %>
    </div>
  </div>

</div>
