---
layout: multiple_layout
---

<script type="text/javascript">
  // when the DOM is ready...
  $('document').ready(function(){
    // carousel
    $('#carousel').theArtificialCarousel({
      scrollingSelector: '.scrolling',
      overlaySelector: '.overlay',
      ga: true
    });
  });
</script>

<!-- page content -->
<section id="content">

	<!-- carousel -->
	<!-- sets the backgrounds for the carousel slides-->
	<style>
	    #slide-one, #f-slide-one {
	        background:url('images/carousel-3ds.jpg') no-repeat center center;
	        background-size: cover;
	    }
	    #slide-two, #f-slide-two {
	        background:url('images/carousel-startups.jpg') no-repeat center center;
	        background-size: cover;
	    }
	    #slide-three, #f-slide-three {
	        background:url('images/carousel-death.jpg') no-repeat center center;
	        background-size: cover;
	    }
			#slide-four, #f-slide-four {
	        background:url('images/carousel-icon.png') no-repeat center center;
	        background-size: cover;
	    }
			#slide-five, #f-slide-five {
	        background:url('images/carousel-pilogs.jpg') no-repeat center center;
	        background-size: cover;
	    }==

	/* Retina targeting */
	@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
	        #slide-3ds {
	            background:url('images/carousel-3ds@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
	        #slide-startups {
	            background:url('images/carousel-startups@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
	        #slide-death {
	            background:url('images/carousel-death@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
					#slide-icon {
			        background:url('images/carousel-icon@2x.png') no-repeat center center;
			        background-size: cover;
			    }
					#slide-pilogs {
			        background:url('images/carousel-pilogs@2x.jpg') no-repeat center center;
			        background-size: cover;
			    }
	    }
	</style>

	<div id="carousel">
		<div class="overlay-background">
			<div class="container">
				<div class="padded">
					<div class="overlay" id="overlay-one">
						<a href="work/3DSystems-professional.html"><h2>Designing tools for creators</h2></a>
						<a href="work/3DSystems-professional.html"><p>We worked with 3D Systems to transition a series of pointer interfaces into touch tools for both their professional and consumer product lines.</p></a>
					</div>
					<div class="overlay" id="overlay-two">
						<a href="work/knowledgesharing.html"><h2>Working with startups</h2></a>
						<a href="work/knowledgesharing.html"><p>We've helped a handful of startups make create delightful experiences and understandible products from complex ideas.</p></a>
					</div>
					<div class="overlay" id="overlay-three">
						<a href="laboratory/futureofdeath.html"><h2>Anticipating the future</h2></a>
						<a href="laboratory/futureofdeath.html"><p>We use today's technology to imagine potential futures, anticipating the needs of future humans and industries.</p></a>
					</div>
					<div class="overlay" id="overlay-four">
						<a href="work/toicon.html"><h2>Perfecting the details</h2></a>
						<a href="work/toicon.html"><p>We take pride in all we create. With to [icon] we've created hundreds of pixel-perftect icon sets which we share under the Crea n    tive Commons Attribution license.</p></a>
					</div>
					<div class="overlay" id="overlay-five">
						<a href="work/pilogs.html"><h2>Building tools for ourselves</h2></a>
						<a href="work/pilogs.html"><p>If it doesn't exist, we'll build it ourselves. Such is the case with PIlogs, a tool for making the quantified self beautiful.</p></a>
					</div>
				</div>
			</div>
		</div>
	  <div class="scrolling">
	    <ol class="scrolling-wrapper">
	      <li class="slide" id="slide-one"
	          data-overlay="#overlay-one"
	          >&nbsp;</li>
	      <li class="slide" id="slide-two"
	          data-overlay="#overlay-two"
	          >&nbsp;</li>
	      <li class="slide" id="slide-three"
	          data-overlay="#overlay-three"
	          >&nbsp;</li>
	      <li class="slide" id="slide-four"
	          data-overlay="#overlay-four"
	          >&nbsp;</li>
	      <li class="slide" id="slide-five"
	          data-overlay="#overlay-five"
	          >&nbsp;</li>
	    </ol>
	  </div>
	</div>

	<!-- cards -->
	<div class="container packery padded-bottom">

		<div class="col-4 packed">
			<div class="card center">
				<a href="work/sonicare-sims.html"><img src="work/images/sonicare_sims_max.jpg"></a>
				<div class="padded">
					<a href="work/sonicare-sims.html"><h4>Philips Sonicare in The Sims FreePlay</h4></a>
					<p>We worked with Philips Sonicare to capture new audiences through gaming.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/fandom"><img src="laboratory/images/toicon_fandom.png"></a>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="work/pilogs.html"><img src="work/images/pilogs_interface.jpg"></a>
				<div class="padded">
					<a href="work/pilogs.html"><h4>PI.logs</h4></a>
					<p>When the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="http://www.futureofcake.com"><img src="laboratory/images/cake_overview.jpg"></a>
				<div class="padded">
					<a href="http://www.futureofcake.com"><h4>The Future of Cake</h4></a>
					<p>The future is almost here, and it's delicious!</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="work/3DSystems-professional.html"><img src="work/images/3DS_professional_range.jpg"></a>
				<div class="padded">
					<a href="work/3DSystems-professional.html"><h4>3D Systems Professional Tools</h4></a>
					<p>We worked with 3D Systems to create a design language for their professional product line.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="work/monolith.html"><img src="work/images/monolith_workshop.jpg"></a>
				<div class="padded">
					<a href="work/monolith.html"><h4>Monolith</h4></a>
					<p>We did a series of short workshops with Monolith to evolve and refine their product.</p>
				</div>
			</div>
		</div>

    <!-- first post from blog -->
    <%= partial(:article_card, locals: { article: page_articles[0] }) %>

		<div class="col-4 packed">
			<div class="card center">
				<img src="images/img_dribbble.png">
				<div class="padded">
					<a href="https://dribbble.com/VeryArtificial"><h4>Catch our latest shots on dribbble</h4></a>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/flat-shadows"><img src="laboratory/images/toicon_flatshadows.png"></a>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="work/knowledgesharing.html"><img src="work/images/knowledgesharing_layers.jpg"></a>
				<div class="padded">
					<a href="work/knowledgesharing.html"><h4>Knowledge Sharing</h4></a>
					<p>Combining tried-and-true approaches with new ideas can lead to exciting results. We've worked with a handful of startups to form these unique ideas into designs that users can use without having to learn an entirely new set of interactions.</p>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<a href="laboratory/futureofdeath.html"><img src="laboratory/images/death_faceblimp.jpg"></a>
				<div class="padded">
					<a href="laboratory/futureofdeath.html"><h4>The Future of Death</h4></a>
					<p>Prompted by Design Boom's Design for Death competition, we spent a week exploring ideas for how we might treat death in the future.</p>
				</div>
			</div>
		</div>

    <!-- second post from blog -->
    <%= partial(:article_card, locals: { article: page_articles[1] }) %>

	</div>

</section>
