---
layout: multiple_layout
---

<script type="text/javascript">
  // when the DOM is ready...
  $('document').ready(function(){
    // carousel
    $('#carousel').theArtificialCarousel({
      scrollingSelector: '.scrolling',
      overlaySelector: '.overlay',
      ga: false
    });
  });
</script>

<!-- page content -->
<section id="content">
	
	<!-- carousel -->
	<!-- sets the backgrounds for the carousel slides-->
	<style>
	    #slide-one, #f-slide-one {
	        background:url('images/carousel-3ds.jpg') no-repeat center center;
	        background-size: cover;
	    }
	    #slide-two, #f-slide-two {
	        background:url('images/carousel-startups.jpg') no-repeat center center;
	        background-size: cover;
	    }
	    #slide-three, #f-slide-three {
	        background:url('images/carousel-death.jpg') no-repeat center center;
	        background-size: cover;
	    }
			#slide-four, #f-slide-four {
	        background:url('images/carousel-icon.png') no-repeat center center;
	        background-size: cover;
	    }
			#slide-five, #f-slide-five {
	        background:url('images/carousel-pilogs.jpg') no-repeat center center;
	        background-size: cover;
	    }==

	/* Retina targeting */
	@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
	        #slide-3ds {
	            background:url('images/carousel-3ds@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
	        #slide-startups {
	            background:url('images/carousel-startups@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
	        #slide-death {
	            background:url('images/carousel-death@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
					#slide-icon {
			        background:url('images/carousel-icon@2x.png') no-repeat center center;
			        background-size: cover;
			    }
					#slide-pilogs {
			        background:url('images/carousel-pilogs@2x.jpg') no-repeat center center;
			        background-size: cover;
			    }    
	    }
	</style>
	
	<div id="carousel">
		<div class="overlay-background">
			<div class="container">
				<div class="padded">
					<div class="overlay" id="overlay-one">
						<h2>Designing tools for creators</h2>
						<p>We worked with 3D Systems to transition a series of pointer interfaces into touch tools for both their professional and consumer product lines. </p>
					</div>
					<div class="overlay" id="overlay-two">
						<h2>Working with startups</h2>
						<p>We've helped a handful of startups make create delightful experiences and understandible products from complex ideas.</p>
					</div>
					<div class="overlay" id="overlay-three">
						<h2>Anticipating the future</h2>
						<p>We use today's technology to imagine potential futures, anticipating the needs of future humans and industries.</p>
					</div>
					<div class="overlay" id="overlay-four">
						<h2>Perfecting the details</h2>
						<p>We take pride in all we create. With to [icon] we've created hundreds of pixel-perftect icon sets which we share under the Creative Commons Attribution license.</p>
					</div>
					<div class="overlay" id="overlay-five">
						<h2>Building tools for ourselves</h2>
						<p>If it doesn't exist, we'll build it ourselves. Such is the case with PIlogs, a tool for making the quantified self beautiful.</p>
					</div>
				</div>
			</div>
		</div>
	  <div class="scrolling">
	    <ol class="scrolling-wrapper">
	      <li class="slide" id="slide-one"
	          data-overlay="#overlay-one"
	          >&nbsp;</li>
	      <li class="slide" id="slide-two"
	          data-overlay="#overlay-two"
	          >&nbsp;</li>
	      <li class="slide" id="slide-three"
	          data-overlay="#overlay-three"
	          >&nbsp;</li>
	      <li class="slide" id="slide-four"
	          data-overlay="#overlay-four"
	          >&nbsp;</li>
	      <li class="slide" id="slide-five"
	          data-overlay="#overlay-five"
	          >&nbsp;</li>
	    </ol>
	  </div>
	</div>
	
	<!-- cards -->
	<div class="container packery">

		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/fandom"><img src="/laboratory/images/toicon_fandom.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="/laboratory/images/cake_overview.jpg">
				<div class="padded">
					<h1>The Future of Cake</h1>
					<p>The future is almost here, and it's delicious!</p>
					<a href="futureofcake.html">Taste the future</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="work/images/3DS_consumer_layers.jpg">
				<div class="padded">
					<h4>Cube and Sense</h4>
					<p>We designed a series of tools for scanning and printing in three dimensions.</p>
					<a href="3dsystems.html">Learn more about this project</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center grey">
				<div class="padded">
					<h1>What's on our minds?</h1>
					<a href="/blog/">Read the latest from our blog</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="work/images/knowledgesharing_inuse.jpg">
				<div class="padded">
					<h4>Working with startups</h4>
					<p>Combining tried-and-true approaches with new ideas can lead to exciting results. We've worked with a handful of startups to form these unique ideas into designs that users can use without having to learn an entirely new set of interactions.</p>
					<a href="startups.html">Learn more about this project</a>
				</div>
			</div>
		</div>	
			
		<div class="col-4 packed">
			<div class="card center">
				<img src="laboratory/images/death_rooftops-01.jpg" alt="The future of death: buried on rooftops">
				<div class="padded">
					<h4>The Future of Death</h4>
					<p>Prompted by Design Boom's Design for Death competition, we spent a week exploring ideas for how we might treat death in the future.</p>
					<a href="startups.html">See what we came up with</a>
				</div>
			</div>
		</div>

		<div class="col-4 packed">
			<div class="card center">
				<div class="padded">
					<h1>to [icon]</h1>
					<p>Kata (方) is a honing exercise. Through repetition, the practice refines the basic skills necessary for mastery of a craft. We sought to better ourselves by creating sets of icons, not simply drawing things, but also exploring metaphors for visual communication.</p>
					<a href="startups.html">Learn more about this project</a>
				</div>
			</div>
		</div>		
			
		<div class="col-4 packed">
			<div class="card center">
				<img src="work/images/pilogs_interface.jpg">
				<div class="padded">
					<h2>PIlogs</h2>
					<p>When the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service.</p>
					<a href="pilogs.html">Read about our progress</a>
				</div>
			</div>
		</div>
			
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/img_dribbble.png">
				<div class="padded">
					<a href="https://dribbble.com/VeryArtificial">Catch our latest shots on dribbble</a>
				</div>
			</div>
		</div>
	</div>
		
</section>
