---
layout: multiple_layout
---

<div class="bleed turquoise-palegrass">
  <div class="flexcontainer">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="images/cover_breath.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We design beautiful and rational experiences.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed sapphire-palegrape">
  <div class="flexcontainer">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="images/cover_uGrow.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We design integrated product and service ecosystems.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed grape-paletulip">
  <div class="flexcontainer">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="images/cover_simsfreeplay.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We enjoy creating experiences for multiple markets with diverse partners.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed tulip-palepumpkin">
  <div class="flexcontainer">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="images/cover_toicon.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We believe in getting the details absolutely perfect.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed pumpkin-paledandelion">
  <div class="flexcontainer">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="images/cover_3dsconsumer.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We have experience in all stages of business and software development.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed dandelion-paledandelion">
  <div class="flexcontainer">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="images/cover_knowledgesharing.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We work with clients of all sizes to create solutions that scale.</h1>
      </div>
    </div>
  </div>
</div>

<div class="bleed grass-paleturquoise">
  <div class="flexcontainer">
    <div class="col-6 left-3 right-3">
      <div class="padded">
        <img src="images/cover_futureofcake.png">
      </div>
    </div>
    <div class="col-10 right-1 left-1">
      <div class="padded">
        <h1 class="caption">We enjoy solving tough problems, but not taking ourselves too seriously.</h1>
      </div>
    </div>
  </div>
</div>


</section>
