<script>
  $( document ).ready(function() {
    scrollspy('#nav-panels', $(window).height()/2, tweenGradient);
    tweenGradient($('#systems'),0);
    $('.slide-panel').css('background','none');
  });

  function tweenGradient(currentElement, offset) {
    var topColor = jQuery.Color(currentElement.data('gradient-top')),
        bottomColor = jQuery.Color(currentElement.data('gradient-bottom')),
        overlayColor = jQuery.Color(currentElement.data('overlay')),
        nextElement = currentElement.next('.slide-panel');
    if (nextElement.length > 0) {
      var nextTopColor = jQuery.Color(nextElement.data('gradient-top')),
          nextBottomColor = jQuery.Color(nextElement.data('gradient-bottom')),
          nextOverlayColor = jQuery.Color(nextElement.data('overlay'));
      topColor = topColor.transition(nextTopColor, offset);
      bottomColor = bottomColor.transition(nextBottomColor, offset);
      overlayColor = overlayColor.transition(nextOverlayColor, offset);
    }
    $('#background').css('background-image','linear-gradient('+topColor.toRgbaString()+', '+bottomColor.toRgbaString()+')');
    // $('body').css('background-color',currentElement.data('glitch'));
    $('#header').css('background-color',overlayColor.alpha(0.25).toRgbaString());
    $('#nav-panels li svg *').css('fill',overlayColor.toHexString());

    // $('#logo').text(offset);
    // $('#logo').text(currentElement.attr('id') + ': ' + currentElement.data('gradient-top') + '-' + currentElement.data('gradient-bottom') + ': ' + $('#background').css('background-image'));
  }

</script>

<section id="side-nav">
  <div class="flex container">
    <div class="col-1 left-11">
      <nav id="nav-panels" class="iconlist">
        <div class="padded">
          <ul>
            <li class="disabled"><a class="prev"><svg class="arrow" version="1.1"
            	 width="24px" height="24px" viewBox="0 0 24 24"><polygon class="arrows" points="12,1.586 1.293,12.293 2.707,13.707 11,5.414 11,23 13,23 13,5.414 21.293,13.707 22.707,12.293 "/></svg></a></li>
            <li class="active"><a href="#systems"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#integrated"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#global"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#details"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#possible"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#scale"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a href="#fun"><svg class="dot" version="1.1"
            	 width="2px" height="2px" viewBox="0 0 2 2"><rect x="0" y="0" width="2" height="2"/></svg></a></li>
            <li><a class="next"><svg class="arrow" version="1.1"
            	 width="24px" height="24px" viewBox="0 0 24 24"><polygon points="21.293,10.293 13,18.586 13,1 11,1 11,18.586 2.707,10.293 1.293,11.707 12,22.414 22.707,11.707"/></svg></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>

<div id="background"> </div>

<div class="bleed slide-container">

  <div class="slide-panel bleed turquoise-palegrass" data-gradient-bottom="#35B199" data-gradient-top="#C2F1A9" data-overlay="#0A6656" id="systems">
    <a href="/work/sonicare-breath.html" class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/sonicare-breath_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We design beautiful and rational experiences.</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="slide-panel bleed sapphire-palegrape" data-gradient-bottom="#2A3F98" data-gradient-top="#DCB6E4" data-overlay="#172872" id="integrated">
    <a href="/work/avent-ugrow.html" class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/avent-ugrow_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We design integrated product and service ecosystems.</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="slide-panel bleed grape-paletulip" data-gradient-bottom="#77278B" data-gradient-top="#F1A9BC" data-overlay="#78288C" id="global">
    <a href="/work/sonicare-sims.html" class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/sonicare-sims_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We enjoy creating experiences for multiple markets with diverse partners.</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="slide-panel bleed tulip-palepumpkin" data-gradient-bottom="#CB2853" data-gradient-top="#FFD4BF" data-overlay="#A51138" id="details">
    <a href="/work/toicon.html" class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/toicon_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We believe in getting the details absolutely perfect.</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="slide-panel bleed pumpkin-paledandelion" data-gradient-bottom="#FF7632" data-gradient-top="#FFE5B2" data-overlay="#CC5215" id="possible">
    <a href="/work/3DSystems-consumer.html" class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/3DS-consumer_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We have experience in all stages of business and software development.</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="slide-panel bleed dandelion-paledandelion" data-gradient-bottom="#FFB626" data-gradient-top="#FFE5B2" data-overlay="#B27200" id="scale">
    <a href="/work/knowledgesharing.html" class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('work/images/knowledgesharing_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We work with clients of all sizes to create solutions that scale.</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="slide-panel bleed grass-paleturquoise" data-gradient-bottom="#75CB49" data-gradient-top="#B6E4DC" data-overlay="#0A6656" id="fun">
    <a href="/laboratory/futureofcake.html" class="flex container">
      <div class="col-10 slide-panel-image" style="background-image: url('laboratory/images/futureofcake_cover.png');">
        &nbsp;
      </div>
      <div class="col-10 right-1 left-1 slide-panel-caption">
        <div class="padded">
          <h3>We enjoy solving tough problems, but not taking ourselves too seriously.</h3>
        </div>
      </div>
    </a>
  </div>

</div>
