---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<!-- cards -->
	<div class="flexcontainer">
		<div class="col-8">
			<div class="padded center">
				<h1>The Laboratory</h1>
			</div>
		</div>
	</div>
	
	<div class="container packery">

		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/fandom"><img src="images/img_toicon-fandom.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/img_futureofcake-01.jpg">
				<div class="padded">
					<h1>The Future of Cake</h1>
					<p>The future is almost here, and it's delicious!</p>
					<a href="futureofcake.html">Taste the future</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/lines-and-angles"><img src="images/img_toicon-linesandangles.png"></a>
			</div>
		</div>
			
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/death-city.jpg">
				<div class="padded">
					<h4>The Future of Death</h4>
					<p>Prompted by Design Boom's Design for Death competition, we spent a week exploring ideas for how we might treat death in the future.</p>
					<a href="startups.html">See what we came up with</a>
				</div>
			</div>
		</div>
			
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/flat-shadows"><img src="images/img_toicon-flatshadows.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/blueprint"><img src="images/img_toicon-blueprint.png"></a>
			</div>
		</div>
			
	</div>
		
</section>
