---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	<div id = "mission" class="flexcontainer">
		<div class="col-4">
			<div class="padded">
				<h1>We are The Artificial</h1>	
				<h5>01</h5>
				<h4>We are a digital product design agency.</h4>
				<p>We thrive in the intersection of aesthetics, behavior, business, and technology. We believe in making over talking and convey our ideas through sketches, pixels, and prototypes.</p>
				<h5>02</h5>
				<h4>Collaboration is at the core of what we do, and we know that we are better together than as individuals.</h4>
				<h5>03</h5>
				<h4>Our work is based in logic, but enlivened by emotion.</h4>
				<p>We are all generalists—artists who work in code and technologists with business strategy expertise. We approach problems from these many perspectives and find solutions in unexpected places.</p>
				<h5>04</h5>	
				<h4>We are insatiably curious and fearless in the face of the new.</h4> 
				<p>We're always looking for like-minded explorers to share our adventures, so if you're feeling courageous, drop us a line. Anything could happen!</p>
			</div>
		</div>
	</div>		
</section>
