---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<div class="bleed">
		<img src="images/img_monolith_ui.jpg" alt="interface design">
	</div>

	<div class="bleed white">
		<div id="casesummary" class="flexcontainer">
			<div class="col-10 right-2" >
				<div class="padded">
					<h1>Monolith:<br/>Sparring Sessions</h1>
					<p>When Monolith approached The Artificial, they were still at the early phases of developing their product, a tool for retailers to optimize their in-store conversion. A traditional project approach wasn't feasable, so we did a small series of sparring sessions instead.</p>
				</div>
			</div>
		</div>

		<div class="flexcontainer">
			<div class="col-5 right-1">
				<div class="padded">
					<h4>Supporting professional users with digital tools</h4>
					<p>Machine operators spend hours every day with these interfaces, the data they view is complex, and the controls are numerous to offer precise control. In addition to the complexity of the general interaction, the design also had to accomodate many procedural dependencies and safety restrictions. For these products, there were no edge cases, and the least likely scenerarios had to be given as much attention as the most common.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/img_monolith_explorations.jpg" alt="range of products">
				</div>
			</div>
		</div>
	
		<div class="flexcontainer">
			<div class="col-5 right-1">
				<div class="padded">
					<h4>Creating a solution of carefully interlocking pieces</h4>
					<p>We created a series of cards and tiles to hold the various visualizations and controls—a single system that could expand and reorganize depending on the type of machine and use scenario. Through this process, we worked closely with machine operators and developers to ensure no functionality was forgotten and that the nuances of each machine were appropriately captured.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/img_monolith_workshop.jpg" alt="interface flow diagram">
				</div>
			</div>
		</div>
	
		<div class="flexcontainer">
			<div class="col-5 right-1">
				<div class="padded">
					<h4>Documenting our learnings for consistency in future development</h4>
					<p>Having tested the design with two different products, we could confidently propose solutions to be carried forward to other professional- and production-grade 3D printing machines. Along with documenting solutions for controls and UI patterns, we also captured rules for visualizing 3D objects on screen.</p>
				</div>
			</div>
			<div class="col-6">
				<div class="padded">
					<img src="images/img_monolith_guidelines.jpg" alt="design guidelines documentation">
				</div>
			</div>
	 	</div>
	</div>
	
	

		
</section>
