---
title: "The Artificial & The Quantified Self"
---
    
<style>
    #logo {
        background:url('images/logo-lg-pilogs.png') no-repeat center center;
        background-size: 600px 300px;
    }
    #postit {
        background:url('images/pilogs-postit.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #inventory {
        background:url('images/pilogs-inventory.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #design {
        background:url('images/pilogs-design.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #code {
        background:url('images/pilogs-code.png') no-repeat center center;
        background-size: 600px 400px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {                 
        #logo {
            background:url('images/logo-lg-pilogs@2x.png') no-repeat center center;
            background-size: 600px 300px;
        }
        #postit {
            background:url('images/pilogs-postit@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #inventory {
            background:url('images/pilogs-inventory@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #design {
            background:url('images/pilogs-design@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #code {
            background:url('images/pilogs-code@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
    }
</style>

<div class="hero pilogs">
</div>

<div class="sectionlogo" id="logo"></div>

<div id="story">
  <div class="pale">

    <div class="row">
      <div class="image left" id="postit"></div>
      <div class="copy right">
        <p class="gigantic condensed text-daffodil">An itch to scratch</p>
        <p class="small">We have activity trackers, connected scales, and travel loggers. It's frustrating to learn from data across services, so we've envisioned an agnostic platform.</p>
        <p class="small">We looked through our data and tried to imagine both obvious and whimsical ways of visualizing it. It's easy to get lost in the possibilities, but we keep ourselves grounded by evaluating what will be helpful or inspiring to future users.</p>
      </div>
    </div>      
      
    <div class="row">
      <div class="image right" id="inventory"></div>
      <div class="copy left">
        <p class="large serif">A service of this magnitude overwhelms quickly, so we documented an inventory of the screens to show which interactions will take place on what screens.</p>
      </div>
    </div>    
    
    <div class="row">
      <div class="image left" id="design"></div>
      <div class="copy bg-daffodil right">
        <p class="gigantic condensed">Quantified needn't be ugly</p>
        <p class="medium">Similar services today are complicated and ugly. We strive for an accessible and beautiful view into our own data.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="image right" id="code"></div>
      <div class="copy left">
        <p class="medium"><span class="dropcap">W</span>hen the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service.</p>
      </div>
    </div>       
    
  </div>
</div>  