---
title: The Artificial measuring
---
    
<style>
    #slides {
        height: 600px;
    }
    
    #slide_intro {
        background:url('images/1x_pilogs-intro.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_sketch {
        background:url('images/1x_pilogs-sketch.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_screens {
        background:url('images/1x_pilogs-context.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_code {
        background:url('images/1x_pilogs-code.png') no-repeat center center;
        background-size: 1600px 600px;
    }
      }
    #slide_ixd {
        background:url('images/1x_pilogs-ixd.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {        
        #slide_intro {
        background:url('images/1x_pilogs-intro.png') no-repeat center center;
        background-size: 1600px 600px;
        }       
        #slide_sketch {
            background:url('images/2x_pilogs-sketch.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_screens {
            background:url('images/2x_pilogs-context.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_code {
            background:url('images/2x_pilogs-code.png') no-repeat center center;
            background-size: 1600px 600px;
        }
         #slide_ixd {
        background:url('images/2x_pilogs-ixd.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides"><ul class="slides-container">

   <li class="slide" id="slide_intro">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>An Itch to Scratch</h5>
                <p>We have activity trackers, connected scales, and travel loggers. It's frustrating to learn from data across services, so we've imagined an agnostic platform.</p>
            </div>
        </div>

    </li> 
    
    <li class="slide" id="slide_sketch">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>An Itch to Scratch</h5>
                <p>We have activity trackers, connected scales, and travel loggers. It's frustrating to learn from data across services, so we've imagined an agnostic platform.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_screens">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Quanitified Needn't be Ugly</h5>
                <p>Not content with the awkward and complicated options available today, we strive for a beautiful view into our own data.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_code">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>DIY</h5>
                <p>When the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service.</p>
            </div>
        </div>

    </li>
       <li class="slide" id="slide_ixd">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Big Picture</h5>
                <p>A quick screen inventory to show what interactions will take place, one step away from becoming a user flow.</p>
            </div>
        </div>

    </li>

</ul>
<nav class="slides-navigation">
    <a href="#" class="next">&gt;</a>
    <a href="#" class="prev">&lt;</a>
</nav>
</div>

</div>
