---
title: The Artificial measuring
---
    
<style>
    #slides {
        height: 600px;
    }
    
    #slide_intro {
        background:url('images/1x_pilogs-intro.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_sketch {
        background:url('images/1x_pilogs-sketch.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_screens {
        background:url('images/1x_pilogs-context.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_code {
        background:url('images/1x_pilogs-code.png') no-repeat center center;
        background-size: 1600px 600px;
    }
      }
    #slide_ixd {
        background:url('images/1x_pilogs-ixd.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {        
        #slide_intro {
        background:url('images/1x_pilogs-intro.png') no-repeat center center;
        background-size: 1600px 600px;
        }       
        #slide_sketch {
            background:url('images/2x_pilogs-sketch.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_screens {
            background:url('images/2x_pilogs-context.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_code {
            background:url('images/2x_pilogs-code.png') no-repeat center center;
            background-size: 1600px 600px;
        }
         #slide_ixd {
        background:url('images/2x_pilogs-ixd.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides"><ul class="slides-container">

   <li class="slide" id="slide_intro">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>An Itch to Scratch</h5>
                <p>We have activity trackers, connected scales, and travel loggers. It's frustrating to learn from data across services, so we've imagined an agnostic platform.</p>
            </div>
        </div>

    </li> 
    
    <li class="slide" id="slide_sketch">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>The Ideation Process</h5>
                <p>We looked through our data and tried to imagine both obvious and whimsical ways of visualizing it. It's easy to get lost in the possibilities, but we keep ourselves grounded by evaluating what will be helpful or inspiring to future users.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_ixd">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Making the Big Picture Small</h5>
                <p>A service of this magnitude overwhelms quickly, so we documented an inventory of the screens to show which interactions will take place on what screens.</p>
            </div>
        </div>

    </li>
    
    <li class="slide" id="slide_screens">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Quanitified Needn't be Ugly</h5>
                <p>Similar services today are complicated and ugly. We strive for an accessible and beautiful view into our own data.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_code">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>DIY</h5>
                <p>When the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service.</p>
            </div>
        </div>

    </li>

</ul>
<nav class="slides-navigation">
    <a href="#" class="next">&gt;</a>
    <a href="#" class="prev">&lt;</a>
</nav>
</div>

</div>
