---
title: "The Artificial & Startups"
---

<style>
    #logo {
        background:url('images/logo-lg-startups.png') no-repeat center center;
        background-size: 600px 300px;
    }
    #sketch {
        background:url('images/startups-sketch.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #workshop {
        background:url('images/startups-workshop.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #flows {
        background:url('images/startups-flows.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #design {
        background:url('images/startups-design.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #icons {
        background:url('images/startups-icons.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #use {
        background:url('images/startups-use.png') no-repeat center center;
        background-size: 600px 400px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {                 
        #logo {
            background:url('images/logo-lg-startups@2x.png') no-repeat center center;
            background-size: 600px 300px;
        }
        #sketch {
            background:url('images/startups-sketch@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #workshop {
            background:url('images/startups-workshop@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #flows {
            background:url('images/startups-flows@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #design {
            background:url('images/startups-design@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #icons {
            background:url('images/startups-icons@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #use {
            background:url('images/startups-use@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
    }
</style>

<div class="hero startups">
</div>

<div class="sectionlogo" id="logo"></div>

<div id="story">
  <div class="pale">

    <div class="row">
      <div class="image left" id="sketch"></div>
      <div class="copy right">
        <p class="gigantic condensed text-grey">Going from Nothing to Something</p>
        <p class="small">A London-based venture approached The Artificial with an idea for a knowledge-sharing application. We were all excited about the project, and agreed to an ambitious design approach to get that idea into a executable format for developers as quickly as possible.</p>
      </div>
    </div>      
    
    <div class="row">
      <div class="image right" id="workshop"></div>
      <div class="copy bg-grey left">
        <p class="large serif">We started by relating functionality to terminology, connecting the business case to the user experience.</p>
      </div>  
    </div>
  
    <div class="row">
      <div class="image left" id="flows"></div>
      <div class="copy right">
        <p class="small"><span class="dropcap">W</span>e documented the the system first through wireframes to help developers get started right away. We tested these wireframes through use cases to show how the many pieces of the application worked together to provide a cohesive experience.</p>
      </div>
    </div>    
    
    <div class="row">
      <div class="image right" id="design"></div>
      <div class="copy left">
        <p class="gigantic text-grey condensed">iOS 7, Before iOS 7</p>
        <p class="small">We began visual design just as iOS 7 was announced. Despite having only seen Apple's screenshots, we prepared an application with a look and feel appropriate for the new operating system.</p>
      </div>
    </div>        
    
    <div class="row">
      <div class="image left" id="icons"></div>
      <div class="copy right bg-grey">
        <p class="large serif">Every product has a life after its initial design. We documented our process to make building future versions of the application less intimidating.</p>
      </div>
    </div>
        
    <div class="row">
      <div class="image right" id="use"></div>
      <div class="copy left">
        <p class="small"><span class="dropcap">W</span>e're always excited to see our ideas become a reality. In just six months, we've watched our application move from static screens to a working application full of shared insights and inspiration.</p>
      </div>
    </div>  
  </div>
</div>  