---
title: The Artificial people
---
    
<style>
    #slides {
        height: 600px;
    }
    
    #slide_shannon {
        background:url('images/1x_team-shannon.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_hans {
        background:url('images/1x_team-hans.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_jo {
        background:url('images/1x_team-jo.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_petra {
        background:url('images/1x_team-petra.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
        #slide_shannon {
            background:url('images/2x_team-shannon.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_hans {
            background:url('images/2x_team-hans.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_jo {
            background:url('images/2x_team-jo.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_petra {
            background:url('images/2x_team-petra.png') no-repeat center center;
            background-size: 1600px 600px;
        }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides"><ul class="slides-container">

    <li class="slide" id="slide_shannon">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Shannon E. Thomas</h5>
                <p>Shannon's favorite things include cheese, avocado, and chocolate. She believes in leaving everything better than she found it, a principle The Artificial was founded upon.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_hans">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Hans Gerwitz</h5>
                <p>Hans is a computer geek, a cognitive scientist, and an armchair philospher. He brings twenty years of expertise in technology, business strategy, and interaction design to The Artificial.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_jo">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Jo Szczepanska</h5>
                <p>Jo maintains The Artificial cactus collection. She thinks in vectors and believes we should strive for equality amongst humans, regardless of class or geography.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_petra">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Petra Benach</h5>
                <p>Petra is the lovely voice you hear on the other end of The Artificial phone. She believes in unicorns above all else.</p>
            </div>
        </div>

    </li>
</ul>
<nav class="slides-navigation">
    <a href="#" class="next">&gt;</a>
    <a href="#" class="prev">&lt;</a>
</nav>
</div>

</div>
