---
title: The Artificial verbs
---

<style>
    #slides {
        height: 600px;
    }

    #slide_intro {
        background:url('images/1x_icon-intro.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_roundedfills {
        background:url('images/1x_icon-RoundedFills.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_illustrative {
        background:url('images/1x_icon-Illustraticons.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_angledfills {
        background:url('images/1x_icon-StraightFills.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_site {
        background:url('images/1x_icon-Site.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
    	#slide_intro {
            background:url('images/2x_icon-intro.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_roundedfills {
            background:url('images/2x_icon-RoundedFills.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_illustrative {
            background:url('images/2x_icon-Illustraticons.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_angledfills {
            background:url('images/2x_icon-StraightFills.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_site {
            background:url('images/2x_icon-Site.png') no-repeat center center;
            background-size: 1600px 600px;
        }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides">
  <ul class="slides-container">

    <li class="slide" id="slide_intro">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Icon Kata</h5>
                <p>A kata (方) is a honing exercise. Through repetition, the practice refines the basic skills necessary for mastery of a craft.</p>
            </div>
        </div>
    </li>

    <li class="slide" id="slide_angledfills">
        <div class="column">
            <div class="caption-top-right">
                <h5>Expressing Action</h5>
                <p>Our practice is not simply drawing things, but also exploring metaphors. As icons often are asked to do, we use visual hints to evoke actions.</p>
            </div>
        </div>
    </li>

    <li class="slide" id="slide_roundedfills">
        <div class="column">
            <div class="caption-bottom-right">
                <h5>Language and Dialects</h5>
                <p>A harmonious UX requires the iconography of an application support a consistent visual tone. So we accumulate a library of large, coherent sets.</p>
            </div>
        </div>
    </li>

    <li class="slide" id="slide_illustrative">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Not Always ISO</h5>
                <p>Professional quality doesn't mean boring. Creating styles that are delightful and appropriate means stretching into unexpected territory.</p>
            </div>
        </div>
    </li>
  
    <li class="slide" id="slide_site">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>We'd Like to Share</h5>
                <p>The site we're building to showcase some of our favorite results is coming soon.</p>
            </div>
        </div>
    </li>

  </ul>

  <nav class="slides-navigation">
    <a href="#" class="next"></a>
    <a href="#" class="prev"></a>
  </nav>  

  <nav class="slides-pagination">
    <div>
      <a href="#slide_intro"></a>
      <a href="#slide_angledfills"></a>
      <a href="#slide_roundedfills"></a>
      <a href="#slide_illustrative"></a>
      <a href="#slide_site"></a>
    </div>
  </nav>

</div>

</div>
