---
title: The Artificial verbs
---

<style>
    #slides {
        height: 600px;
    }
    
    #slide_outlines {
        background:url('images/1x_icon-LineIcons.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_roundedfills {
        background:url('images/1x_icon-RoundedFills.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_illustrative {
        background:url('images/1x_icon-Illustraticons.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_angledfills {
        background:url('images/1x_icon-StraightFills.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_site {
        background:url('images/1x_icon-Site.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    /* Retina targeting per http://www.w3.org/blog/CSS/2012/06/14/unprefix-webkit-device-pixel-ratio/ */
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
        #slide_outlines {
            background:url('images/2x_icon-LineIcons.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_roundedfills {
            background:url('images/2x_icon-RoundedFills.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_illustrative {
            background:url('images/2x_icon-Illustraticons.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_angledfills {
            background:url('images/2x_icon-StraightFills.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_site {
            background:url('images/2x_icon-Site.png') no-repeat center center;
            background-size: 1600px 600px;
        }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides"><ul class="slides-container">

    <li class="slide" id="slide_outlines">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Awful and Artificial</h5>
                <p>During the construction of the Cathedral of St Paul in London, the King of England was taken on a tour by Sir Christopher Wren, the chief architect. Afterwards, the King told Wren that the Cathedral was awful and artificial.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_roundedfills">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>What's in a name?</h5>
                <p>"Artificial" has been unfairly burdened with connotations of cheap inauthenticy. There is nothing cheap in the original meaning of the word; rather, when Christopher Wren heard this phrase, he would have taken it as a compliment.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_illustrative">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Making our mark</h5>
                <p>We each create our own mark for the company, with our unique logos representing our individual skills and contribution.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_angledfills">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>Pointing at things</h5>
                <p>No agency description would be complete without images of designers pointing at things. We staged this photo just for you.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_site">
        <div class="column">
            <div class="caption-bottom-right">
                <h5>Come say <i>hello</i></h5>
                <p>If you're in Amsterdam, pay us a visit. You'll recognize us by our window.</p>
            </div>
        </div>

    </li>
</ul>
<nav class="slides-navigation">
    <a href="#" class="next">&gt;</a>
    <a href="#" class="prev">&lt;</a>
</nav>
</div>

</div>
