---
title: "The Artificial & Verbs"
---

<style>
    #logo {
        background:url('images/logo-lg-icon.png') no-repeat center center;
        background-size: 600px 300px;
    }
    #series {
        background:url('images/icon-series.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #sketch {
        background:url('images/icon-sketch.jpg') no-repeat center center;
        background-size: 600px 400px;
    }
    #site {
        background:url('images/icon-site.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #wall {
        background:url('images/icon-wall.jpg') no-repeat center center;
        background-size: 600px 400px;
    }
    #pictogram {
        background:url('images/icon-pictogram.jpg') no-repeat center center;
        background-size: 600px 400px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {                 
        #logo {
            background:url('images/logo-lg-icon@2x.png') no-repeat center center;
            background-size: 600px 300px;
        }
        #series {
            background:url('images/icon-series@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #sketch {
            background:url('images/icon-sketch@2x.jpg') no-repeat center center;
            background-size: 600px 400px;
        }
        #site {
            background:url('images/icon-site@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #wall {
            background:url('images/icon-wall@2x.jpg') no-repeat center center;
            background-size: 600px 400px;
        }
        #pictogram {
            background:url('images/icon-pictogram@2x.jpg') no-repeat center center;
            background-size: 600px 400px;
        }
    }
</style>

<div class="hero toicon">
  <div class="sectionlogo" id="logo"></div>
</div>

<div id="story">
  <div class="pale">

    <div class="row">
      <div class="image right" id="series"></div>
      <div class="copy left">
        <p class="small"><span class="dropcap">K</span>ata (方) is a honing exercise. Through repetition, the practice refines the basic skills necessary for mastery of a craft. We sought to better ourselves by creating sets of icons, not simply drawing things, but also exploring metaphors for visual communication.</p>
        <p> This simple exercise of exploration turned into a passion for quality and fun, a passion we thought was worth sharing.</p>
      </div>
    </div>      
         
      <div class="row">
      <div class="image left" id="wall"></div>
      <div class="copy bg-grey right">
        <p class="gigantic condensed">We carefully crafted all our icons to pixel perfection, so they remain crisp and accurate in every size.</p>
      </div>
    </div>

    <div class="row">
      <div class="image right" id="pictogram"></div>
      <div class="copy left">
        <p class="gigantic condensed text-mint">Not always ISO</p>
        <p class="small">Professional quality doesn't mean boring. Creating styles that are delightful and appropriate means stretching into unexpected territory. We've launched to [icon] with 9 sets of very different styles.</p>
      </div>
    </div>    
    
    <div class="row">
      <div class="image left" id="sketch"></div>
      <div class="copy right">
        <p class="small"><span class="dropcap">W</span>e've also experimented with new processes for integrating design and development.</p><p> We started with rough sketches showing layout, and then moved straight into code. Rather than producing comps of all screens using PhotoShop or Illustrator, we styled the code-based "wireframes" using CSS.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="image right" id="site"></div>
      <div class="copy bg-grey left">
        <p class="large serif">We're proud to announce that <br><a href="http://www.toicon.com" target="_blank">to [icon]</a> is now live, and we have 1700 icons and counting availble free for download.</p>
      </div>
    </div>        
    
  </div>
</div>  

