---
title: The Artificial verbs
---

<style>
    #slides {
        height: 600px;
    }

    #slide_intro {
        background:url('images/1x_icon-intro.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_outlines {
        background:url('images/1x_icon-LineIcons.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_roundedfills {
        background:url('images/1x_icon-RoundedFills.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_illustrative {
        background:url('images/1x_icon-Illustraticons.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_angledfills {
        background:url('images/1x_icon-StraightFills.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    #slide_site {
        background:url('images/1x_icon-Site.png') no-repeat center center;
        background-size: 1600px 600px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
    	#slide_intro {
        background:url('images/1x_icon-intro.png') no-repeat center center;
        background-size: 1600px 600px;
        }
        #slide_outlines {
            background:url('images/2x_icon-LineIcons.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_roundedfills {
            background:url('images/2x_icon-RoundedFills.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_illustrative {
            background:url('images/2x_icon-Illustraticons.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_angledfills {
            background:url('images/2x_icon-StraightFills.png') no-repeat center center;
            background-size: 1600px 600px;
        }
        #slide_site {
            background:url('images/2x_icon-Site.png') no-repeat center center;
            background-size: 1600px 600px;
        }
    }
</style>

<!-- this div constrains the superslides carousel to its height. -->
<div id="carousel">

<div id="slides"><ul class="slides-container">

    <li class="slide" id="slide_intro">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Expressing Action</h5>
                <p>Software UI often requires icons. Though they represent things, the goal is often to convey an action.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_outlines">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Expressing Action</h5>
                <p>Software UI often requires icons. Though they represent things, the goal is often to convey an action.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_roundedfills">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Language and Dialects</h5>
                <p>A harmonious UX requires the iconography of an application support a consistency in visual tone. We believe this is so important we practice generating new sets.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_illustrative">

        <div class="column">
            <div class="caption-bottom-left">
                <h5>Not Always ISO</h5>
                <p>Professional quality isn't always boring. Finding the right metaphors and styles means stretching into unexpected territory.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_angledfills">
        <div class="column">
            <div class="caption-bottom-left">
                <h5>More and More</h5>
                <p>All of this practice means the library grows.</p>
            </div>
        </div>

    </li>

    <li class="slide" id="slide_site">
        <div class="column">
            <div class="caption-bottom-right">
                <h5>We'd Like to Share</h5>
                <p>The site we're building to showcase some of our favorites is coming soon.</p>
            </div>
        </div>

    </li>
</ul>
<nav class="slides-navigation">
    <a href="#" class="next">&gt;</a>
    <a href="#" class="prev">&lt;</a>
</nav>
</div>

</div>
