---
title: "The Artificial & Verbs"
---

<style>
    #logo {
        background:url('images/logo-lg-icon.png') no-repeat center center;
        background-size: 600px 300px;
    }
    #series {
        background:url('images/icon-series.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #sketch {
        background:url('images/icon-sketch.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #site {
        background:url('images/icon-site.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #buttons {
        background:url('images/icon-buttons.png') no-repeat center center;
        background-size: 600px 400px;
    }
    #poster {
        background:url('images/icon-poster.png') no-repeat center center;
        background-size: 600px 400px;
    }
    
    /* Retina targeting */
    @media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {                 
        #logo {
            background:url('images/logo-lg-icon@2x.png') no-repeat center center;
            background-size: 600px 300px;
        }
        #series {
            background:url('images/icon-series@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #sketch {
            background:url('images/icon-sketch@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #site {
            background:url('images/icon-site@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #buttons {
            background:url('images/icon-buttons@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
        #poster {
            background:url('images/icon-poster@2x.png') no-repeat center center;
            background-size: 600px 400px;
        }
    }
</style>

<div class="hero toicon">
</div>

<div class="sectionlogo" id="logo"></div>

<div id="story">
  <div class="pale">

    <div class="row">
      <div class="image right" id="series"></div>
      <div class="copy left">
        <p class="small"><span class="dropcap">K</span>ata (方) is a honing exercise. Through repetition, the practice refines the basic skills necessary for mastery of a craft. We sought to better ourselves by creating sets of icons, not simply drawing things, but also exploring metaphors for visual communication.</p>
        <p> This simple exercise of exploration turned into a passion for quality and fun, a passion we thought was worth sharing.</p>
      </div>
    </div>      
      
    <div class="row">
      <div class="image left" id="buttons"></div>
      <div class="copy right">
        <p class="gigantic condensed text-mint">Not always ISO</p>
        <p class="small">Professional quality doesn't mean boring. Creating styles that are delightful and appropriate means stretching into unexpected territory.</p>
      </div>
    </div>    
    
    <div class="row">
      <div class="image left" id="sketch"></div>
      <div class="copy bg-mint right">
        <p class="large serif">We're also experimenting with new processes for integrating design and development.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="image left" id="site"></div>
      <div class="copy right">
        <p class="small"><span class="dropcap">W</span>e've pushed the more intensive aspects of visual design to the end, instead starting with rough sketches showing layout, and then moving straight into code. Rather than producing comps of all screens using PhotoShop or Illustrator, we're styling the code-based "wireframes" using CSS.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="image right" id="poster"></div>
      <div class="copy bg-mint left">
        <p class="gigantic condensed">Now we're on Kickstarter, hoping to raise enough funding that we might share our icons freely.</p>
      </div>
    </div>        
    
  </div>
</div>  

