---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
	
	<div class="flexcontainer">
		<div class="col-8">
			<div class="padded center">
				<h1>Our work.</h1>
				<p>We've helped large corporations and startups.</p>
			</div>
		</div>
	</div>
	
	<!-- cards -->
	<div class="container packery">
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/3ds-layers.jpg">
				<div class="padded">
					<h4>Cube and Sense</h4>
					<p>We designed a series of tools for scanning and printing in three dimensions.</p>
					<a href="3dsystems.html">Learn more about this project</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/startups-use.jpg">
				<div class="padded">
					<h4>Working with startups</h4>
					<p>Combining tried-and-true approaches with new ideas can lead to exciting results. We've worked with a handful of startups to form these unique ideas into designs that users can use without having to learn an entirely new set of interactions.</p>
					<a href="startups.html">Learn more about this project</a>
				</div>
			</div>
		</div>	

		<div class="col-4 packed">
			<div class="card center">
				<div class="padded">
					<h1>to [icon]</h1>
					<p>Kata (方) is a honing exercise. Through repetition, the practice refines the basic skills necessary for mastery of a craft. We sought to better ourselves by creating sets of icons, not simply drawing things, but also exploring metaphors for visual communication.</p>
					<a href="startups.html">Learn more about this project</a>
				</div>
			</div>
		</div>		
			
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/img_pilogs-design.jpg">
				<div class="padded">
					<h2>PIlogs</h2>
					<p>When the product you desire doesn't exist, you have to build it yourself. So we're sharpening our web skills by developing our own service.</p>
					<a href="pilogs.html">Read about our progress</a>
				</div>
			</div>
		</div>
	</div>
		
</section>
