@import "_artificial-colors.scss";

.twisted {
  background-color: $cool-grey-90;
  
  #content {
		color: white;
		margin-bottom: 40px;

		.container.packery {
			margin-top: 0;
		}
	}
}

.introduction {
	margin: 60px 0 60px 0;

	h1 {
		color: white;
	}

	h2 {
		font-size: 1em;
		line-height: 1.4em;
		color: $cool-grey-20;
		font-weight: normal;

		a {
			color: $pumpkin;
		}
		a:hover {
			color: $dark-pumpkin;
		}
	}

	h5 {
		color: $cool-grey-20;
		margin-bottom: 20px;
		text-transform: none;
		font-family: "Droid Serif", Georgia, Times, serif;
		font-style: italic;

		a {
			text-decoration: underline;
			color: $cool-grey-20;
		}
	}
}


// originals //
.contentbox {
	h3 {
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-size: 1em;
		font-style: normal;
		text-align: center;
		color: white;
		position: relative;
		top: 40%;
		padding: 10px;
	}

	a.overlaybox {
		display: block;
		margin: auto;
		width: 80%;
		background-color: $cool-grey-90;
		position: relative;
		top: 35%;

		opacity: 0;
		transition: opacity .4s linear;

		h3 {
			padding-bottom: 5px;
		}

		h4 {
			color: white;
			font-size: .75em;
			text-align: center;
			padding-bottom: 12px;
		}
	}

	&:hover a.overlaybox {
		opacity: 1;
		transition: opacity .2s linear;
	}
}

// twists //

.contentbox {
	color: white;
	margin: 2px;
	background-size: 100% 100%;
}

@media only screen and (min-device-width: 768px) {
	.contentbox {
		height: 156px;
	}
}

@media (min-width: 960px) {
	.contentbox {
		height: 216px;
	}
}

.bg-pumpkin {
	background-color: $pumpkin;
}

.bg-tulip {
	background-color: $tulip;
}

.bg-grape {
	background-color: $grape;
}

.bg-sapphire {
	background-color: $sapphire;
}

.bg-turquoise {
	background-color: $turquoise;
}

.bg-grass {
	background-color: $grass;
}

.bg-lime {
	background-color: $lime;
}

.bg-dandelion {
	background-color: $dandelion;
}
