@import "../../../stylesheets/_artificial-colors.scss";

.twisted {
  background-color: $cool-grey-90;

  #content {
		color: white;
		margin-bottom: 40px;

		.container.packery {
			margin-top: 0;
		}
	}
}

.introduction {
	padding-bottom: 40px;
  color: $white;

	a {
		color: $pumpkin;
	}

	a:hover {
		color: $dark-pumpkin;
	}
}


// originals //
.contentbox {
  text-align: center;

	.small-subtitle {
		font-style: normal;
		color: white;
		position: relative;
		top: 40%;
    padding-bottom: 4px;
	}

	a.overlaybox {
		display: block;
		margin: auto;
    padding: 16px 0 16px 0;
		width: 80%;
		background-color: $cool-grey-90;
		position: relative;
		top: 35%;

		opacity: 0;
		transition: opacity .4s linear;

		.small-copy {
			color: white;
			text-align: center;
		}
	}

	&:hover a.overlaybox {
		opacity: 1;
		transition: opacity .2s linear;
	}
}

// twists //

.contentbox {
	color: white;
	margin: 2px;
	background-size: 100% 100%;
}

@media only screen and (min-device-width: 320px) {
	.contentbox {
    width: 284px;
		height: 216px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
	}
}

@media only screen and (min-device-width: 768px) {
	.contentbox {
    width: 204px;
		height: 156px;
	}
}

@media (min-width: 960px) {
	.contentbox {
    width: 284px;
		height: 216px;
	}
}

.bg-pumpkin { background-color: $pumpkin; }
.bg-tulip { background-color: $tulip; }
.bg-grape { background-color: $grape; }
.bg-sapphire { background-color: $sapphire; }
.bg-turquoise { background-color: $turquoise; }
.bg-grass { background-color: $grass; }
.bg-lime { background-color: $lime; }
.bg-dandelion { background-color: $dandelion; }
