.twisted-test {
  color: #409010;
}

.pumpkin .tulip .grape .sapphire .turquoise .grass .lime .dandelion {
	color: $white;
	height: 100%;
}

.pumpkin {
	background-color: $pumpkin;
}

.tulip {
	background-color: $tulip;
}

.grape {
	background-color: $grape;
}

.sapphire {
	background-color: $sapphire;
}

.turquoise {
	background-color: $turquoise;
}

.grass {
	background-color: $grass;
}

.lime {
	background-color: ;
}