<div id ="subnav" class="bleed">
  <div class="container">
    <div class="col-12">
      <div class="padded">
        <ul>
          <li><a href="amsterdam.html">Amsterdam</a></li>
          <li><a href="gdansk.html">Gdańsk</a></li>
          <li><a href="losangeles.html">Los Angeles</a></li>
          <li><a href="mexicocity.html">México City</a></li>
          <li><a href="mumbai.html">Mumbai</a></li>
          <li><a href="saintlouis.html">Saint Louis</a></li>
          <li><a href="seattle.html">Seattle</a></li>
          <li><a href="shanghai.html">Shanghai</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
