<div id ="subnav" class="bleed">
  <div class="container">
    <div class="col-12">
      <div class="padded">
        <ul>
          <li><a href="amsterdam.html">Amsterdam</a></li>
          <li><a href="gdansk.html">Gdańsk</a></li>
          <li><a href="losangeles.html">Los Angeles</a></li>
          <li><a href="mexicocity.html">México City</a></li>
          <li><a href="mumbai.html">Mumbai</a></li>
          <li><a href="saintlouis.html">Saint Louis</a></li>
          <li><a href="seattle.html">Seattle</a></li>
          <li><a href="shanghai.html">Shanghai</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bleed cover">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h1>Los Angeles</h1>
        <h3>United States</h3>
      </div>
    </div>
  </div>
</div>

<div id="neighborhood" class="bleed dark-grape">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Neighborhood Guide</h2>
        <div class="summary"><p>Just a handful of Los Angeles’s many neighborhoods will keep you busy for a week. Here are some of my favorites.</p></div>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Brentwood</h3>
        <p>An upscale neighborhood with boutique shopping and great restaurants. Also, they say it is one of the best places to spot celebrities, if that's your thing. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Culver City</h3>
        <p>Known for its movie-making history, this neighborhood has recently become one of the best nightlife scenes, with a variety of pubs and cocktail bars.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Downtown Los Angeles</h3>
        <p>Until recently, DTLA hasn't had much love. Now, it's home to a plethora of rooftop bars and unique restaurants, all intermingled with historic sites and cultural landmarks.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Ocean Park</h3>
        <p>Just a bit further down from the infamously crowded Santa Monica beach, you'll find a similar beach-side shopping vibe but built for locals. There are also some great restaurants. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Echo Park</h3>
        <p>Echo Park is another neighborhood that has recently undergone big changes. It's a great area to find local music and hasn't yet been completely gentrified.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Westwood</h3>
        <p>Commonly associated with UCLA, this neighborhood is a cozy college town. It's one of the rare places in LA where you can get around to almost anything easily on foot or by bike.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed feature"></div>

<div id="seedo" class="bleed palest-lime">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>See &amp; Do</h2>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>La Brea Tar Pits</h3>
        <p>The La Brea Tar Pits are a National Natural Landmark. Take a walk around the tar pits themselves and then visit the museum to see the fossils excavated from those very pits.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Venice Beach Bike Path</h3>
        <p>A beautiful and easy way to get between Santa Monica promenade and Venice boardwalk. Rent a bike and wind down the beach at your own pace.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Los Angeles County Museum of Art</h3>
        <p>The Los Angeles County Museum of Art (LACMA) is the largest art museum in LA. It's right next to the La Brea Tar Pits as well as a handful of other museums and galleries.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Self Realization Fellowship Lake Shrine</h3>
        <p>You don't need to be religious or spiritual to appreciate the beauty of this lake shrine. The fellowship is a peaceful place open for all, regardless of religion or belief.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Franklin Canyon Park</h3>
        <p>Skip the star-spotting crowds at Runyon park and head to one of the lesser-known, but equally beautiful hiking trails in the Santa Monica mountains where the view is great!</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Griffith Observatory</h3>
        <p>If you're a movie-buff, you'll probably recognize this iconic hill-top building. Visit the Griffith Observatory for the exhibits, the view, the architecture, or one of their many events.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Last Bookstore</h3>
        <p>Walking through this bookstore is an experience in itself. Tunnels made of used books and a second floor dedicated to art makes this unlike any bookstore you've ever visited. Be ready to enter fantasy land!</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Olvery Street</h3>
        <p>Olvera street is a colorful and festive historic district. The street is packed with Mexican craft and food shops. Don't leave without trying one of the many tamale stands!</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Pacific Coast Highway</h3>
        <p>If you're visiting LA, I'm assuming you did what most sane people would do and rented a car. If you get up early enough to avoid rush hour, the experience of driving along the coast with your windows down and music blaring is well worth it.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The Original Farmer's Market</h3>
        <p>A historic market with over 100 grocers, specialty shops, and restaurants. It is a favorite among the locals and tourists since 1934. There's something for everyone here! It is also easy to reach by public transport.</p>
      </div>
    </div>
  </div>
</div>

<div id="onething" class="bleed darkest-lime">
  <div class="flex container">
    <div class="col-6">
      <div class="padded">
        <img src="images/la_illustration.png" alt="Cricket">
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>One Thing</h3>
        <h2>Getty Center</h2>
        <p>If you have time for only one thing, make sure to visit the Getty Center. This famous art foundation is a museum, conservation institute, and research institute situated atop Brentwood hills. It boasts a vast collection of art housed in stunning architecture and surrounded by panoramic views of the city that rival the art itself.</p>
        <p>As a visitor, you'll arrive at the foot of the hill and take their cable-pulled tram up to the top of the hill – a great experience in itself. Be sure to wander the gardens and enjoy lunch on the grass between visits to their four pavilions. Oh, and did I mention admission is free?</p>
      </div>
    </div>
  </div>
</div>

<div id="fooddrink" class="bleed palest-grape">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Food &amp; Drink</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Upper West</h3>
        <p>Upper West is a great place for a nice dinner and cocktail that doesn't break the bank. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Varnish</h3>
        <p>My favorite speakeasy. Hidden in the back room of a well-known sandwich shop, the atmosphere and drinks are truly spectacular. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>ROC</h3>
        <p>For those familiar with Xiao-long-bao, a Taiwanese specialty, ROC's XLB rivals that of the global chain Din Tai Fung's. If you've never tried it before, now is the time!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Seven Grand</h3>
        <p>This whiskey bar has a great selection of whiskey and cocktails with an atmosphere to match. Live music, billiards, and old-school library decor make this one of the classiest watering holes.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Lula Cocina</h3>
        <p>This restaurant serves a variety of Mexican dishes and has a great bar and patio to enjoy margaritas at, after your day at the beach.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Perch</h3>
        <p>Downtown LA is famous for its rooftop bars. Perch is my favorite. Slightly less pretentious than some of it's neighbors – you can even show up in just jeans!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Baja Buds</h3>
        <p>Though LA has many competing Mexican fast food chains, this one is my personal favorite. Try something from the grill!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>LA Café</h3>
        <p>LA Café is a 24 hour café in the heart of Downtown LA. A great place to end the night, or start your morning. Their large menu has enough to satisfy munchies at any time of the day. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Fresh Corn Grill</h3>
        <p>What started as a neighborhood hole-in-the-wall has quickly grown to accommodate their hungry fans. A great spot for a fresh and healthy lunch, or get it to-go and have excellent picnic food.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>In-N-Out</h3>
        <p>No LA food list is complete without In-N-Out. Though it's a chain in a handful of states, if you've never had it, you can't leave without trying it!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Huckleberry</h3>
        <p>If there was any café that was "so LA", this is it. The bakery and café uses organic and farmer's-market ingredients in all their delicious pastries and dishes.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Reddi Chick BBQ</h3>
        <p>This walk-up stand is located in the Brentwood Country Mart and serves the best rotisserie chicken and fries. Order at the counter and sit out in the market's dining patio.</p>
      </div>
    </div>
  </div>
</div>

<div id="foursquare" class="bleed cool-grey-80">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <a href="https://foursquare.com/veryartificial/list/2017-city-guide-los-angeles"><p>Check out The Artificial's Los Angeles list on Foursquare</p></a>
      </div>
    </div>
  </div>
</div>
