<div class="bleed cover">
  <div class="flex container">
    <div class="col-6 right-6">
      <div class="padded">
        <h1>México City</h1>
        <h3>México</h3>
      </div>
    </div>
  </div>
</div>

<div class="bleed dark-grass neighborhood">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Neighborhood Guide</h2>
        <div class="summary"><p>Each neighborhood in México City provides a unique experience, and sometimes because of the traffic, it feels like you are in a completely different city.</p></div>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Downtown</h3>
        <p>The place where you don't want to be stuck in traffic. So, it is good to go during the day between rush hours or to make dinner plans in the area. This neighborhood is where most museums are and it is great to see. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>LA Cuahutemoc</h3>
        <p>It is the up-and-coming neighbor-hood in México City. It's gender friendly, and has a lot of new bars and restaurants. In the evenings there are a lot of things to do, like Korean Karaoke.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>La Roma</h3>
        <p>Full of young people, it’s where they moved when they stopped being able to afford La Condesa. In my opinion it's nicer, but both have their charm. It has great restaurants and bars.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>La Condesa</h3>
        <p>It's where the fancy hipsters live. There's always something going on in this area. It has a lot of small shops and restaurants – good for walking around and going bar hopping.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Coyoacán</h3>
        <p>Full of color, this is one of the nicest neighborhoods to walk around in México City. It has a lot of small markets and places to have snacks, coffee, and ice cream.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>San Angel</h3>
        <p>Walking around the alleys of this neighborhood is one of my favorite things to do. The houses in this neighborhood are really pretty, and there are churches and markets to wander in.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed feature"></div>

<div class="bleed pale-tulip seedo">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>See &amp; Do</h2>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Frida Kahlo's House</h3>
        <p>The house itself is beautiful, so it is worth taking a book and hanging out in the garden for a bit if it is not very crowded. My favorite part of the exhibition is Frida's dress collection.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Teotihuacan Pyramids</h3>
        <p>If you are in the mood for hiking and history, two of the biggest pyramids in México are about two hours away by car, or you can take a bus that brings you there and back.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Coyoacán Market</h3>
        <p>Any market in México is worth visiting, for the color explosion and combination of basically everything you could imagine finding in the same place. What makes this one special is its food, especially the tostadas. </p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Chapultepec Castle</h3>
        <p>It is located in the middle of Chapultepec Park at a height of 2,325 meters above sea level. It is the home of the National History Museum, but the nicest part is the gardens and, if there's a clear sky, the view of the city.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Lucha Libre</h3>
        <p>It's extremely funny to attend a match, even if you don't speak the language. The fighter’s masks and the way people behave make soap operas jealous. And if you are stressed, it is the best place to unwind.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Tamayo Museum</h3>
        <p>Rufino Tamayo founded this museum to give Mexicans access to twentieth-century art. It produces original exhibitions of the most representative aspects of the international contemporary art scene.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Anthropology Museum</h3>
        <p>It is one of the best museums in México. The collection includes giant stone Olmec heads, Aztec's Stone of the Sun, and treasures from the Mayan civilization. </p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Luis Barragán's House</h3>
        <p>As the name suggests, this was the home of this famous architect. It is one of my favorite places to go – the interaction between space and color makes it unique. </p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Bellas Artes Palace</h3>
        <p>The place is officially a concert hall and arts center, but you can go inside to check out the immense murals painted by famous Mexican artists.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Contemporary Art Museum</h3>
        <p>It is located in the national university (UNAM) campus. Inside the museum, you'll find cutting-edge temporary exhibitions.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed onething">
  <div class="flex container">
    <div class="col-6">
      <div class="padded">
        <img src="images/mexicocity_illustration.png" alt="Cricket">
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>One Thing</h3>
        <h2 class="tulip-text">Try Different Flavors</h2>
        <p>If you have time for only one thing, make sure to go to La Roma or La Cuahutemoc (neighborhoods). Walk around here or find a nice restaurant, eat and drink as much as you can, and enjoy observing the people passing by. México's cultural variety sure makes a statement in these neighborhoods. </p>
      </div>
    </div>
  </div>
</div>

<div class="bleed pale-grass fooddrink">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Food &amp; Drink</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Departamento</h3>
        <p>Get ready to dance! This bar/club is great for partying – they always have guest DJs, so the music depends on who's playing. They have a nice selection of mezcal and cocktails. It is really close to other bars so you can also bar-hop. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Chilakillers</h3>
        <p>My favorite place for breakfast. It is not a very fancy place but the decoration is very Mexican. They serve the best chilaquiles in town and you can choose the toppings and the kind of sauce you want with them. Perfect for hangovers. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Mn. Roy</h3>
        <p>Berlin style – only a few get in and no one has any idea why or how they pick the lucky ones. Inside, they have great techno music and amazing cocktails. They even have a swing!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Pujol</h3>
        <p>You have to book months in advance since this restaurant is always in the top 10 worldwide. It is quite fancy but completely worth it. The food and atmosphere are amazing. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Limantour</h3>
        <p>A small cocktail bar in the heart of one of the nicest neighborhoods. It is one of the top 10 cocktail bars worldwide, so expect it to be crowded! Try the Pernambuco and the Vicuña.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>La otilla</h3>
        <p>This place is owned by a good friend. It offers a variety of gluten-free treats. My personal favorite – the matcha pie and the burgers. Perfect for lunch! The taste is amazing because there's no evil in them.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>El Parnita</h3>
        <p>This place is just great. It is always quite crowded so you have to be patient. They serve traditional and not-so-traditional small dishes with freshly made ingredients and a bunch of salsas to choose from. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Rosetta</h3>
        <p>A French-Mexican fusion. The menu changes according to seasons, but everything is always really good. All the ingredients are unique and the chef is well aware of the role they play in every dish.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Café De Tacuba</h3>
        <p>Find traditional Mexican cuisine here. Perfect for when you are sightseeing in the city center. If it’s in season don't leave this place without trying the Chiles en nogada.</p>
      </div>
    </div>
    <div class="col-4 right-8">
      <div class="padded">
        <h3>Máximo Bistrot</h3>
        <p>The place is quite small so a reservation is a must. All dishes are amazing and you can also take a four course tasting menu. They also serve my favorite Mexican wine – Ensamble.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed cool-grey-80 foursquare">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <a href="https://foursquare.com/veryartificial/list/2017-city-guide-méxico-city"><p>Check out The Artificial's México City list on Foursquare</p></a>
      </div>
    </div>
  </div>
</div>
