<div class="bleed cover">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h1>Mumbai</h1>
        <h3>India</h3>
      </div>
    </div>
  </div>
</div>

<div class="bleed dark-sapphire neighborhood">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Neighborhood Guide</h2>
        <div class="summary"><p>Mumbai has many small neighborhoods, each one with their own unique charm. The best way to experience the city is by foot or by taking the famous Mumbai taxi. If you are feeling adventurous, try the local trains.</p></div>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Bandra</h3>
        <p>This colonial architecture-filled neighborhood is a great place for shopping, food, and amazing drinks. Try the roadside dim sum, and take a stroll to nearby churches. The neighborhood really comes alive in the evening!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Kala Ghoda</h3>
        <p>The art district of the city. Expect to see many artists selling their paintings on the roadside. Walk into any art gallery, and find India's most prominent artists displaying their art. You will find some of the city's best cafés in these cobbled streets.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Marine Drive</h3>
        <p>Walk around here to experience the salty sea breeze, with a great view of Mumbai's skyline. From the art deco buildings to high-rises, the view is breathtaking and the sound of the sea waves is mesmerizing.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Fort</h3>
        <p>This business district, built in the 18th century, was an architectural jewel of the Britishers. Apart from flagship bank buildings, you can expect to find hidden second hand bookstores, big brand showrooms, and street food.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Colaba</h3>
        <p>A part of the original seven islands that formed Mumbai. This neighbor-hood is rich in history. You will find decades-old cafés, hip modern restaurants, and outdoor stalls selling handcrafted souvenirs.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Lower Parel</h3>
        <p>This was originally the mill lands of Bombay. Lower Parel, now boasts itself as the entertainment district of Mumbai. Expect comedy clubs, nightclubs, shopping malls, and amazing food and drink places.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed feature"></div>

<div class="bleed pale-sapphire seedo">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>See &amp; Do</h2>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Horniman Circle</h3>
        <p>Walk around this financial district to view some historical architecture. Visit the Asiatic Library, the naval docklands, Bombay Stock Exchange, as well as the RBI Monetary Museum. </p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>CSMVS Museum</h3>
        <p>This 20th century building houses nearly 50,000 artifacts of art, archeology and natural history. They have a free audio guide which you can get from the information counter.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Gateway of India</h3>
        <p>This view never disappoints! Take a stroll around the monument or catch a ferry around the Arabian Sea. You can also take a day ferry to the Elephanta Caves or hire a private sunset sail. </p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>World Trade Centre</h3>
        <p>If you want to shop for authentic Indian handicrafts and arts, this is the place to visit! Here every state of
India has an emporium of handcrafts with government regulated prices. Visit Mrignanyee, Jammu and Kashmir emporium, and the Trimurti Maharashtra emporium.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Dr. Bhau Dhaji Lad Museum</h3>
        <p>Mumbai's first museum, it was originally known as the Victoria and Albert Museum. It showcases the city’s cultural heritage and history through photographs, maps, clay models, and historic artifacts. They offer free curatorial tours for visitors every weekend.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Babulnath Temple</h3>
        <p>An ancient Shiva temple in the heart of the city. It used to be the tallest structure of ancient Bombay, but is now hidden from the city's eyes. The main day of worship is Monday, and it's especially crowded then. Buy some sweets on the way up!</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Haji Ali Dargah</h3>
        <p>This mosque and dargah was built before Bombay even existed. Because it is situated off land, you can only access the dargah during low tides as the walkway is submerged most part of the day. Carry a scarf to cover your head!</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>The NCPA</h3>
        <p>The National Centre of Performing Arts has a year round calendar of best-selling plays, as well as music and dance performances. If you are lucky, you can catch one of the traditional Indian dance recitals. Make sure to reserve your tickets in advance, the place gets packed.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Banganga Tank</h3>
        <p>This is a sacred water tank, and temple, that dates back to the 12th century. The story is that Lord Ram, shot an arrow on this spot to source water for his wife Sita, calling for water from the holy Ganga. Therefore, its name Baan (arrow) and Ganga (Ganges).</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Holy Name Cathedral</h3>
        <p>This Roman Catholic cathedral is covered in beautiful frescoes and stained glass paintings. The Cathedral was granted the status of a Heritage Building in 1998, preserving an architectural treasure for the city.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed onething">
  <div class="flex container">
    <div class="col-6">
      <div class="padded">
        <img src="images/mumbai_illustration.png" alt="Cricket">
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>One Thing</h3>
        <h2 class="sapphire-text">XX</h2>
        <p>This is the city that never sleeps. And night-time is the best time to experience it in all its glory. </p>
        <p>The one thing you can't miss out in this city (apart from watching the sunset over Marine Drive) is going on a late night drive. If you see a crowd of cars parked around alleyways, and people munching near them, you've hit a late night jackpot. All the best food the city has to offer opens between 12 a.m. to 6 a.m., so try not to miss out on it. Watch out for the cops on cycles telling you to go home and sleep.</p>
        <p>Alternatively, you can go for a 5 a.m. walk to see Mumbai's beauty and have some refreshing coconut water.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed pale-dandelion fooddrink">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Food &amp; Drink</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Café Mondegar</h3>
        <p>Known for its corner jukebox and walls painted by India's famous cartoonist Mario de Miranda, this café offers a great place for escaping the city's heat. Grab a beer and try their famous Chicken Cordon Bleu.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Bar Stock Exchange</h3>
        <p>This unique bar follows the Bombay stock exchange where drink prices increase & decrease, depending on customer demand. They use apps and table screens to make sure you get the best experience - and quite drunk.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Status</h3>
        <p>This completly vegetarian restaurant, has been a local favorite for decades. If you find yourself there for brunch, go all out on their South Indian cuisine, and for dinner, you must try their Gujarati Thali.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Gaylord Bakery</h3>
        <p>One of Mumbai's oldest bakeries, they tend to be out of stock of all their goods by 4 pm. Come in early, and grab some cookies, croissants, and fresh fruit cakes. Best place for Christmas and Easter delicacies. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>NCPA Café</h3>
        <p>The perfect place to wine and dine. Straight up order a bottle of wine and relax here for a few hours, munching on some Indian delicacies. Situated right by the seaside, expect a lot of evening breeze. </p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Camy Wafer Co</h3>
        <p>Not exactly a restaurant, but a sweet and snack shop. It's a must visit for trying Indian sweets such as – kaju kathli, peda and barfi. Also, their Gujarati snacks are great for taking home and gifting.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Zaffran</h3>
        <p>For a complete North Indian food experience, this is the place to be. From their sought-after Butter Chicken and Garlic Naan, to their Murgh Chello Kababs – this place never disappoints.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Brittannia & Co</h3>
        <p>Mumbai is known for its Parsi cafés. These are small, mom & pop run places, with authentic Parsi cuisine. Make sure you go for evening chai, and bun maska (buttered bread buns) as well as some berry pulav.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Social</h3>
        <p>Café by day, High energy bar by night. They have various locations around Mumbai, but Todi Mills Social has the best service. They have experimental cocktails, and the perfect appetizers.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Woodside Inn</h3>
        <p>This small resto-pub has a lot to offer. Don't be surprised if there is a waiting list, because there are always people lining up for their sought after food. Best Moscow Mule in town.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Café Zoe</h3>
        <p>In one word - heaven. Their food, drinks and vibe are just perfect. Expect to be there from lunch till after closing time. Save some space for their mouth-watering desserts!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Theobroma</h3>
        <p>Food of the Gods. Literally. From heavenly chocolate desserts, to the most buttery quiches. Try their parsi breakfast menu, followed by a chocolate ganache tart.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed cool-grey-80 foursquare">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <a href=""><p>Check out The Artificial's Amsterdam list on Foursquare</p></a>
      </div>
    </div>
  </div>
</div>
