<div id ="subnav" class="bleed">
  <div class="container">
    <div class="col-12">
      <div class="padded">
        <ul>
          <li><a href="amsterdam.html">Amsterdam</a></li>
          <li><a href="gdansk.html">Gdańsk</a></li>
          <li><a href="losangeles.html">Los Angeles</a></li>
          <li><a href="mexicocity.html">México City</a></li>
          <li><a href="mumbai.html">Mumbai</a></li>
          <li><a href="saintlouis.html">Saint Louis</a></li>
          <li><a href="seattle.html">Seattle</a></li>
          <li><a href="shanghai.html">Shanghai</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bleed cover">
  <div class="flex container">
    <div class="col-6 left-6">
      <div class="padded">
        <h1>Seattle</h1>
        <h3>United States</h3>
      </div>
    </div>
  </div>
</div>

<div id="neighborhood" class="bleed darkest-lime">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Neighborhood Guide</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Downtown</h3>
        <p>The downtown area is more vibrant than in most American cities, but still too focused on office space and shopping. It can surprise you – 3rd Avenue is gritty, 5th Ave is posh. You’ll probably be staying here, which is fine. Just be sure to explore the rest of the city, too.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Waterfront</h3>
        <p>Seattle’s waterfront is pretty disconnected. Everyone likes to blame the Alaska Way viaduct, but the giant hill will always be a problem. You have to walk along some of the piers, of course, but know that everyone else there is also a tourist.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Ballard</h3>
        <p>Ask a local about gentrification, and they will tell you they are afraid of Seattle becoming like Ballard. By which they mean historic buildings like a Vietnam War-era Denny’s will be replaced with more condos for people like themselves to live in.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Pike Pine</h3>
        <p>These two streets are the backbone of central Seattle life, from the famous Pike Place Market through the downtown shopping district and up “Party Mountain” on Capitol Hill. Crossing I-5 is safe but unpleasant, let’s hope the lid gets built!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Fremont</h3>
        <p>This quirky neighborhood is really proud of its quirkiness. There’s a statue of Lenin, lots of quirky little shops, and the infamous Fremont Troll. He’s very large and quirky. You can also buy nice handmade quirky things.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>South Lake Union</h3>
        <p>This wasn’t even a neighborhood until the last decade, when Microsoft money met Amazon investment and instantly a small city happened. This led to the best place on earth to experience “hipster” minus the “authentic”.</p>
      </div>
    </div>
    <div class="col-4 right-8">
      <div class="padded">
        <h3>Capitol Hill</h3>
        <p>This used to be an edgy neighbor-hood dense with artists, LGBT residents, and local cafés. Now it’s a less-edgy neighborhood dense with Amazon workers, artists, LGBT residents, and local cafés. There are many micro-neighborhoods on the Hill, so you can find one that feels perfect and turn your nose up at the others.</p>
      </div>
    </div>
  </div>
</div>

<div class="bleed feature"></div>

<div id="seedo" class="bleed palest-grape">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>See &amp; Do</h2>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Ballard Locks</h3>
        <p>Where freshwater meets saltwater, there are nice hillsides to picnic and watch the boats go by, and a small botanical park on the grounds. The fish ladder gets quite busy during salmon season. This is also the best place to cross the water in the neighborhood, so please be kind to the runners and cyclists passing across the closed locks.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Neighborhood Farmers Markets</h3>
        <p>One of the most Seattle things about Seattle is the neighborhood farmers markets, where you can get groceries from local sources and often find small food stalls that might someday become restaurants. Ballard’s is the most famous, but there are many, so look for one that fits your schedule and location. Be warned that most web sites focus on a small subset of them.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Olympic Sculpture Park</h3>
        <p>At the north end of the central water-front, this free park is architecturally interesting and has some nice views of Elliott Bay. You can’t see it, but the park extends into the water to create salmon-friendly areas. Of course, it’s also full of nice sculptures. This is a very Instagram-ready place, but don’t forget to be there, too.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Ferry to Bainbridge</h3>
        <p>Technically a part of the highway system, the ferry from Pioneer Square to downtown Bainbridge Island gives you an excuse to visit both areas and the 30-minute ride across Puget Sound is an attraction of its own.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Gas Works Park</h3>
        <p>This retired coal gasification plant was converted to a park which is beautiful in its own right. It also has amazing views of the skyline over Lake Union, making it a great place to watch seaplanes come and go.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Ride a bike across I-90</h3>
        <p>Lake Washington is too deep for pylons, so both of the highways that cross it use floating bridges. The older one isn’t elevated above the water, which makes the views from the bike trail even more dramatic. On a clear day, you might see both volcanos: Mt. Rainer and Mt. Baker.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Freeway Park</h3>
        <p>At some point, you will want to cross I-5. The nicest way to do this is through Freeway Park, which sits atop the highway and uses waterfalls and trees to conceal the traffic noise. Don’t plan on it being easy to find your way through, though. Enjoy getting lost.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Monorail</h3>
        <p>It’s cheesy and only shuttles you between Seattle Center (at the needle) and the Downtown shopping district, but it’s good at doing that, and still retro-fun.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Space Needle</h3>
        <p>This is where the future lived 50 years ago. It still offers a nice view. Trivia: the needle is privately owned, and images of it are copyrighted. This is why you don’t see it on local business logos.</p>
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>Beneroya Hall</h3>
        <p>As a young city, Seattle doesn’t have many cultural buildings with deep history or the ornate architecture of bygone eras. But this hall where the Symphony performs is comfortable and has amazing acoustics. This is a building you go to hear, not see.</p>
      </div>
    </div>
    <div class="col-6 right-6">
      <div class="padded">
        <h3>Pike Place Market</h3>
        <p>Of course you have to go to the market. You haven’t really been until you get lost inside. Best to go hungry and have lunch on the east side of Pike Place. To establish yourself as a tourist, call it “Pike’s Place”.</p>
      </div>
    </div>
  </div>
</div>

<div id="onething" class="bleed">
  <div class="flex container">
    <div class="col-6">
      <div class="padded">
        <img src="images/seattle_illustration.png" alt="Cricket">
      </div>
    </div>
    <div class="col-6">
      <div class="padded">
        <h3>One Thing</h3>
        <h2 class="grape-text">Take a Hike</h2>
        <p>Don’t have time to get out to the Cascades or Olympic Peninsula for proper mountain forest hikes? The city can still serve you well. Starting from Eastlake Ave E, take Howe Street up to Capitol Hill. This will involve 388 stairs before you reach 10th Ave E, and you’ll pass locals using them in lieu of a gym.</p>
        <p>Then divert south to visit Volunteer Park, and see if the water tower is open. It’s more inviting than it looks from outside and the extra climb is worth the view.</p>
        <p>Head to the northeast corner and consider walking north on 15th Ave E to E Garfield St, where you’ll find a nice lookout over Lake Washington at Boren Park.</p>
        <p>You’ll want to take E Galer St from that corner of the park, though, down to 19th Ave E. There, you’ll find a trailhead for Interlaken Park. They don’t lead anywhere you need to go, but take the trails anyway. You need no more destination, just meander until you’ve forgotten you’re in the middle of a booming city.</p>
      </div>
    </div>
  </div>
</div>

<div id="fooddrink" class="bleed palest-lime">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <h2>Food &amp; Drink</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Bathtub Gin</h3>
        <p>It’s worth standing in an alley trying to convince the doorman to let you in. If they’re busy, you might have to sit in the “library” which is a small room with benches, but even that has a great vibe. Don’t be afraid to ask for help choosing a drink.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Plum Bistro</h3>
        <p>This is one of those vegan places that leaves carnivores questioning their lifestyle. The chef's family has spawned a number of restaurants off the success of Plum, and that success means you’ll want a reservation. Be sure to try the Mac and Yease.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Annapurna Café</h3>
        <p>If you love Indian food, you’ll enjoy Himalayan. And you owe yourself a visit to Annapurna. This basement restaurant has been richly decorated and the flavors match. If you don’t have the chance to eat here, at least drop by for a $1 cup of chai (masala tea) to go.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Dahlia Lounge</h3>
        <p>Tom Douglas is the local celebrity chef, and you’ll find he is behind many well-known eateries in town. Four of the restaurants on this corner are part of his empire, and support each other for diverse menus. This is the flagship, which is classy but unpretentious.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Tilth</h3>
        <p>This house has been converted to a restaurant, and the food is as good and charming as the environment. Everything is fresh, organic, local, and otherwise Seattle compliant. The 8- course tasting menu with wine pairings is the way to go.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Café Flora</h3>
        <p>What could be more yuppie than brunch in the yuppiest neighborhood of a yuppie city? Vegetarian brunch! With a menu full of favorites, filling dishes, and tempting daytime cocktails, it’s a good thing Sunday brunch only happens once a week.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Monorail Espresso</h3>
        <p>This little coffee window is a Seattle icon and where the bike messengers get their caffeine. Enough said.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Knee High Stocking Co.</h3>
        <p>They overplay the “speakeasy” thing a bit, so you’ll have to text them for a reservation and find an unmarked door. But the bartenders are top notch and the drink menu inspiring. Be sure to ask for the lower bar, which has much nicer ambiance than street level.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>The Pink Door</h3>
        <p>It’s a little over-the-top, but the trapeze show and waterview terrace aren’t the real reasons to find this place. The fresh seafood and pasta are. Despite the speakeasy mystique, it’s pretty easy to find the pink door.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>The Crumpet Shop</h3>
        <p>I learned to eat crumpets here. Then I was excited to spend time in London and have “proper” crumpets. I was misled. The Crumpet Shop makes the best crumpets anywhere. You don’t need any other breakfast spot.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Sun Liquor Lounge</h3>
        <p>A bit hidden, it looks like it should be a neighborhood bar. Within, though, you will find cocktail connoisseurs from all over town, in a comfortable space to chat with a few friends.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="padded">
        <h3>Top Pot Doughnuts</h3>
        <p>There’s nothing particularly “Seattle” about these doughnuts, except that they are really, really good. Order whatever is fresh, unless it’s pumpkin doughnut season. Then get those.</p>
      </div>
    </div>
    <div class="col-4 right-8">
      <div class="padded">
        <h3>Umi Sake House</h3>
        <p>Seattle has a lot of Japanese influence, and this is one of the best places to eat and drink it. Or try their other location, Momiji.</p>
      </div>
    </div>
  </div>
</div>

<div id="foursquare" class="bleed cool-grey-80">
  <div class="flex container">
    <div class="col-12">
      <div class="padded">
        <a href="https://foursquare.com/veryartificial/list/2017-city-guide-seattle"><p>Check out The Artificial's Seattle list on Foursquare</p></a>
      </div>
    </div>
  </div>
</div>
