---
layout: projects/connecting-things/_thing_layout
title: Olympus E-M10
preview: thing/thing.png
date: 2018-02-27
published: false
---
<p>
Olympus E-M10 is a 16 Megapixel camera using an Interactive Electronic ViewFinder, interchangeable lenses, a flash, and built-in Wi-Fi. Once connected, the camera can use geotagging from acquiring positioning information from a smartphone with GPS, perform wireless shooting from a device, and share pictures.
</p>

<h2 class="subtitle">
  <span class="sentence">The connection process is </span>terrible
</h2>
<p>
To connect the camera to a smartphone, the user first needs to download the OI.Share app. The user has to find out where to activate the Wi-Fi from the Olympus camera without directions. The functionality is called ‘Connection to Smartphone’ and it lives in the ‘Playback’ menu. This option makes the camera start a Wi-Fi ad-hoc connection and display the password of this network along with a QR code. With an Android device, the user just scans the QR code from OI.Share app ‘Easy setup’. Unfortunately, if the smartphone is running on iOS, the app requires the user to install a profile to connect and that is quite an adventure. A button opens up an external site. After tedious taps here and there to install the profile in the device settings, the user has to navigate back to the OI.Share app to read more instructions on how to connect. At a point in the instructions, the user is informed to navigate back to the OS setting again and to pick the camera ad-hoc network from the Wi-Fi available networks. Once selected, the password provided by the camera should be entered in the device. In the app, an icon shows that the camera is successfully connected. Finally.
</p>

<!-- <h2 class="subtitle">
  <span class="sentence">The security is </span>low
</h2>
<p>
Even if the ad-hoc network powered by the camera uses a password that makes it a verified connection, ad-hoc connections suffer from having less security against unwanted incoming connections than a Wi-Fi infrastructure connection. If a hacker gets within the signal range of the camera, connecting to its ad-hoc network can easily be done.
</p>

<h2 class="subtitle">
  <span class="sentence">The resilience is </span>okay
</h2>
<p>
If the camera and the device stay close to each other, the connection is stable.
</p> -->

<script>
var flowSteps = [
  {
    caption: "App logs in to account on Cloud",
    thingImg: "thing/thing.png",
    networkAnimations: ["Actors.json", "AppCloud.json"],
    screenImg: "screens/login.png"
  }
]
</script>
